// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package apacheairflowjob

import (
	"context"
	"errors"
	"io"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// FilesClient contains the methods for the Files group.
// Don't use this type directly, use a constructor function instead.
type FilesClient struct {
	internal *azcore.Client
	endpoint string
}

// CreateOrUpdateApacheAirflowJobFileBetaWithBinary - > [!NOTE] This API is part of a Beta release and is provided for evaluation
// and development purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have write permissions for the Apache Airflow job.
// REQUIRED DELEGATED SCOPES ApacheAirflowJob.ReadWrite.All or Item.ReadWrite.All
// LIMITATIONS
// * Files must be located within the dags/ or plugins/ folders.
// * The maximum supported file size is 2 MB.
// * Supported file types include binary files (sent as-is) and UTF-8 encoded text files such as Python, YAML, XML, JSON,
// and SQL.
// * Set the beta query parameter to true to call this API.
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - filePath - The file path relative to the Apache Airflow job root. It must begin with either 'dags/' or 'plugins/' (for
//     example, dags/example_dag.py).
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - fileContents - The file content. Text files must be UTF-8 encoded.
//   - options - FilesClientCreateOrUpdateApacheAirflowJobFileBetaWithBinaryOptions contains the optional parameters for the FilesClient.CreateOrUpdateApacheAirflowJobFileBetaWithBinary
//     method.
func (client *FilesClient) CreateOrUpdateApacheAirflowJobFileBetaWithBinary(ctx context.Context, workspaceID string, apacheAirflowJobID string, filePath string, beta bool, fileContents io.ReadSeekCloser, options *FilesClientCreateOrUpdateApacheAirflowJobFileBetaWithBinaryOptions) (FilesClientCreateOrUpdateApacheAirflowJobFileBetaWithBinaryResponse, error) {
	var err error
	const operationName = "apacheairflowjob.FilesClient.CreateOrUpdateApacheAirflowJobFileBetaWithBinary"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateApacheAirflowJobFileBetaWithBinaryCreateRequest(ctx, workspaceID, apacheAirflowJobID, filePath, beta, fileContents, options)
	if err != nil {
		return FilesClientCreateOrUpdateApacheAirflowJobFileBetaWithBinaryResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return FilesClientCreateOrUpdateApacheAirflowJobFileBetaWithBinaryResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return FilesClientCreateOrUpdateApacheAirflowJobFileBetaWithBinaryResponse{}, err
	}
	return FilesClientCreateOrUpdateApacheAirflowJobFileBetaWithBinaryResponse{}, nil
}

// createOrUpdateApacheAirflowJobFileBetaWithBinaryCreateRequest creates the CreateOrUpdateApacheAirflowJobFileBetaWithBinary request.
func (client *FilesClient) createOrUpdateApacheAirflowJobFileBetaWithBinaryCreateRequest(ctx context.Context, workspaceID string, apacheAirflowJobID string, filePath string, beta bool, fileContents io.ReadSeekCloser, _ *FilesClientCreateOrUpdateApacheAirflowJobFileBetaWithBinaryOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ApacheAirflowJobs/{ApacheAirflowJobId}/files/{filePath}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if apacheAirflowJobID == "" {
		return nil, errors.New("parameter apacheAirflowJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ApacheAirflowJobId}", url.PathEscape(apacheAirflowJobID))
	if filePath == "" {
		return nil, errors.New("parameter filePath cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{filePath}", url.PathEscape(filePath))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := req.SetBody(fileContents, "application/octet-stream"); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteApacheAirflowJobFileBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have write permissions for the Apache Airflow job.
// REQUIRED DELEGATED SCOPES ApacheAirflowJob.Read.All or ApacheAirflowJob.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// LIMITATIONS
// * Files must be located within the dags/ or plugins/ folders.
// * Set the beta query parameter to true to call this API.
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - filePath - The file path relative to the Apache Airflow job root. It must begin with either 'dags/' or 'plugins/' (for
//     example, dags/example_dag.py).
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - FilesClientDeleteApacheAirflowJobFileBetaOptions contains the optional parameters for the FilesClient.DeleteApacheAirflowJobFileBeta
//     method.
func (client *FilesClient) DeleteApacheAirflowJobFileBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, filePath string, beta bool, options *FilesClientDeleteApacheAirflowJobFileBetaOptions) (FilesClientDeleteApacheAirflowJobFileBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.FilesClient.DeleteApacheAirflowJobFileBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteApacheAirflowJobFileBetaCreateRequest(ctx, workspaceID, apacheAirflowJobID, filePath, beta, options)
	if err != nil {
		return FilesClientDeleteApacheAirflowJobFileBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return FilesClientDeleteApacheAirflowJobFileBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return FilesClientDeleteApacheAirflowJobFileBetaResponse{}, err
	}
	return FilesClientDeleteApacheAirflowJobFileBetaResponse{}, nil
}

// deleteApacheAirflowJobFileBetaCreateRequest creates the DeleteApacheAirflowJobFileBeta request.
func (client *FilesClient) deleteApacheAirflowJobFileBetaCreateRequest(ctx context.Context, workspaceID string, apacheAirflowJobID string, filePath string, beta bool, _ *FilesClientDeleteApacheAirflowJobFileBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ApacheAirflowJobs/{ApacheAirflowJobId}/files/{filePath}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if apacheAirflowJobID == "" {
		return nil, errors.New("parameter apacheAirflowJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ApacheAirflowJobId}", url.PathEscape(apacheAirflowJobID))
	if filePath == "" {
		return nil, errors.New("parameter filePath cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{filePath}", url.PathEscape(filePath))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetApacheAirflowJobFileBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have read permissions for the Apache Airflow job.
// REQUIRED DELEGATED SCOPES ApacheAirflowJob.Read.All or ApacheAirflowJob.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// LIMITATIONS
// * Files must be located within the dags/ or plugins/ folders.
// * The maximum supported file size is 2 MB.
// * Text files are returned using UTF-8 encoding; binary files are returned as-is.
// * Set the beta query parameter to true to call this API.
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - filePath - The file path relative to the Apache Airflow job root. It must begin with either 'dags/' or 'plugins/' (for
//     example, dags/example_dag.py).
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - FilesClientGetApacheAirflowJobFileBetaOptions contains the optional parameters for the FilesClient.GetApacheAirflowJobFileBeta
//     method.
func (client *FilesClient) GetApacheAirflowJobFileBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, filePath string, beta bool, options *FilesClientGetApacheAirflowJobFileBetaOptions) (FilesClientGetApacheAirflowJobFileBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.FilesClient.GetApacheAirflowJobFileBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getApacheAirflowJobFileBetaCreateRequest(ctx, workspaceID, apacheAirflowJobID, filePath, beta, options)
	if err != nil {
		return FilesClientGetApacheAirflowJobFileBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return FilesClientGetApacheAirflowJobFileBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return FilesClientGetApacheAirflowJobFileBetaResponse{}, err
	}
	return FilesClientGetApacheAirflowJobFileBetaResponse{Body: httpResp.Body}, nil
}

// getApacheAirflowJobFileBetaCreateRequest creates the GetApacheAirflowJobFileBeta request.
func (client *FilesClient) getApacheAirflowJobFileBetaCreateRequest(ctx context.Context, workspaceID string, apacheAirflowJobID string, filePath string, beta bool, _ *FilesClientGetApacheAirflowJobFileBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ApacheAirflowJobs/{ApacheAirflowJobId}/files/{filePath}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if apacheAirflowJobID == "" {
		return nil, errors.New("parameter apacheAirflowJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ApacheAirflowJobId}", url.PathEscape(apacheAirflowJobID))
	if filePath == "" {
		return nil, errors.New("parameter filePath cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{filePath}", url.PathEscape(filePath))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	runtime.SkipBodyDownload(req)
	req.Raw().Header["Accept"] = []string{"application/octet-stream"}
	return req, nil
}

// NewListApacheAirflowJobFilesBetaPager - > [!NOTE] This API is part of a Beta release and is provided for evaluation and
// development purposes only. It may change based on feedback and is not recommended for production use.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the Apache Airflow job.
// REQUIRED DELEGATED SCOPES ApacheAirflowJob.Read.All or ApacheAirflowJob.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// LIMITATIONS
// * Root path query parameter must start with dags/ or plugins/.
// * Listing files is not recursive; only the specified folder is returned.
// * Set the beta query parameter to true to call this API.
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - FilesClientListApacheAirflowJobFilesBetaOptions contains the optional parameters for the FilesClient.NewListApacheAirflowJobFilesBetaPager
//     method.
func (client *FilesClient) NewListApacheAirflowJobFilesBetaPager(workspaceID string, apacheAirflowJobID string, beta bool, options *FilesClientListApacheAirflowJobFilesBetaOptions) *runtime.Pager[FilesClientListApacheAirflowJobFilesBetaResponse] {
	return runtime.NewPager(runtime.PagingHandler[FilesClientListApacheAirflowJobFilesBetaResponse]{
		More: func(page FilesClientListApacheAirflowJobFilesBetaResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *FilesClientListApacheAirflowJobFilesBetaResponse) (FilesClientListApacheAirflowJobFilesBetaResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "apacheairflowjob.FilesClient.NewListApacheAirflowJobFilesBetaPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listApacheAirflowJobFilesBetaCreateRequest(ctx, workspaceID, apacheAirflowJobID, beta, options)
			}, nil)
			if err != nil {
				return FilesClientListApacheAirflowJobFilesBetaResponse{}, err
			}
			return client.listApacheAirflowJobFilesBetaHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listApacheAirflowJobFilesBetaCreateRequest creates the ListApacheAirflowJobFilesBeta request.
func (client *FilesClient) listApacheAirflowJobFilesBetaCreateRequest(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, options *FilesClientListApacheAirflowJobFilesBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ApacheAirflowJobs/{ApacheAirflowJobId}/files"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if apacheAirflowJobID == "" {
		return nil, errors.New("parameter apacheAirflowJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ApacheAirflowJobId}", url.PathEscape(apacheAirflowJobID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.RootPath != nil {
		reqQP.Set("rootPath", *options.RootPath)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listApacheAirflowJobFilesBetaHandleResponse handles the ListApacheAirflowJobFilesBeta response.
func (client *FilesClient) listApacheAirflowJobFilesBetaHandleResponse(resp *http.Response) (FilesClientListApacheAirflowJobFilesBetaResponse, error) {
	result := FilesClientListApacheAirflowJobFilesBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Files); err != nil {
		return FilesClientListApacheAirflowJobFilesBetaResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListApacheAirflowJobFilesBeta - returns array of FileMetadata from all pages.
// >  [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the Apache Airflow job.
//
// # REQUIRED DELEGATED SCOPES ApacheAirflowJob.Read.All or ApacheAirflowJob.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
//
// LIMITATIONS
//
//   - Root path query parameter must start with dags/ or plugins/.
//   - Listing files is not recursive; only the specified folder is returned.
//   - Set the beta query parameter to true to call this API.
//
// When calling this API, callers must specify true as the value for the query parameter beta.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - FilesClientListApacheAirflowJobFilesBetaOptions contains the optional parameters for the FilesClient.NewListApacheAirflowJobFilesBetaPager method.
func (client *FilesClient) ListApacheAirflowJobFilesBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, options *FilesClientListApacheAirflowJobFilesBetaOptions) ([]FileMetadata, error) {
	pager := client.NewListApacheAirflowJobFilesBetaPager(workspaceID, apacheAirflowJobID, beta, options)
	mapper := func(resp FilesClientListApacheAirflowJobFilesBetaResponse) []FileMetadata {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []FileMetadata{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []FileMetadata{}, err
	}
	return list, nil
}
