// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package apacheairflowjob

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// PoolManagementClient contains the methods for the PoolManagement group.
// Don't use this type directly, use a constructor function instead.
type PoolManagementClient struct {
	internal *azcore.Client
	endpoint string
}

// CreateAirflowPoolTemplateBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have admin workspace role.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - createAirflowPoolTemplateRequest - Create Apache Airflow pool template request payload.
//   - options - PoolManagementClientCreateAirflowPoolTemplateBetaOptions contains the optional parameters for the PoolManagementClient.CreateAirflowPoolTemplateBeta
//     method.
func (client *PoolManagementClient) CreateAirflowPoolTemplateBeta(ctx context.Context, workspaceID string, beta bool, createAirflowPoolTemplateRequest CreateAirflowPoolTemplateRequest, options *PoolManagementClientCreateAirflowPoolTemplateBetaOptions) (PoolManagementClientCreateAirflowPoolTemplateBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.PoolManagementClient.CreateAirflowPoolTemplateBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createAirflowPoolTemplateBetaCreateRequest(ctx, workspaceID, beta, createAirflowPoolTemplateRequest, options)
	if err != nil {
		return PoolManagementClientCreateAirflowPoolTemplateBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PoolManagementClientCreateAirflowPoolTemplateBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = core.NewResponseError(httpResp)
		return PoolManagementClientCreateAirflowPoolTemplateBetaResponse{}, err
	}
	resp, err := client.createAirflowPoolTemplateBetaHandleResponse(httpResp)
	return resp, err
}

// createAirflowPoolTemplateBetaCreateRequest creates the CreateAirflowPoolTemplateBeta request.
func (client *PoolManagementClient) createAirflowPoolTemplateBetaCreateRequest(ctx context.Context, workspaceID string, beta bool, createAirflowPoolTemplateRequest CreateAirflowPoolTemplateRequest, _ *PoolManagementClientCreateAirflowPoolTemplateBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/poolTemplates"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createAirflowPoolTemplateRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createAirflowPoolTemplateBetaHandleResponse handles the CreateAirflowPoolTemplateBeta response.
func (client *PoolManagementClient) createAirflowPoolTemplateBetaHandleResponse(resp *http.Response) (PoolManagementClientCreateAirflowPoolTemplateBetaResponse, error) {
	result := PoolManagementClientCreateAirflowPoolTemplateBetaResponse{}
	if val := resp.Header.Get("Location"); val != "" {
		result.Location = &val
	}
	if err := runtime.UnmarshalAsJSON(resp, &result.AirflowPoolTemplate); err != nil {
		return PoolManagementClientCreateAirflowPoolTemplateBetaResponse{}, err
	}
	return result, nil
}

// DeleteAirflowPoolTemplateBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// Deleting the default pool template will reset the workspace back to the starter pool.
// PERMISSIONS The caller must have admin workspace role.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - poolTemplateID - The Apache Airflow pool template ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - PoolManagementClientDeleteAirflowPoolTemplateBetaOptions contains the optional parameters for the PoolManagementClient.DeleteAirflowPoolTemplateBeta
//     method.
func (client *PoolManagementClient) DeleteAirflowPoolTemplateBeta(ctx context.Context, workspaceID string, poolTemplateID string, beta bool, options *PoolManagementClientDeleteAirflowPoolTemplateBetaOptions) (PoolManagementClientDeleteAirflowPoolTemplateBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.PoolManagementClient.DeleteAirflowPoolTemplateBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteAirflowPoolTemplateBetaCreateRequest(ctx, workspaceID, poolTemplateID, beta, options)
	if err != nil {
		return PoolManagementClientDeleteAirflowPoolTemplateBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PoolManagementClientDeleteAirflowPoolTemplateBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PoolManagementClientDeleteAirflowPoolTemplateBetaResponse{}, err
	}
	return PoolManagementClientDeleteAirflowPoolTemplateBetaResponse{}, nil
}

// deleteAirflowPoolTemplateBetaCreateRequest creates the DeleteAirflowPoolTemplateBeta request.
func (client *PoolManagementClient) deleteAirflowPoolTemplateBetaCreateRequest(ctx context.Context, workspaceID string, poolTemplateID string, beta bool, _ *PoolManagementClientDeleteAirflowPoolTemplateBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/poolTemplates/{poolTemplateId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if poolTemplateID == "" {
		return nil, errors.New("parameter poolTemplateID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{poolTemplateId}", url.PathEscape(poolTemplateID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetAirflowPoolTemplateBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have viewer or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - poolTemplateID - The Apache Airflow pool template ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - PoolManagementClientGetAirflowPoolTemplateBetaOptions contains the optional parameters for the PoolManagementClient.GetAirflowPoolTemplateBeta
//     method.
func (client *PoolManagementClient) GetAirflowPoolTemplateBeta(ctx context.Context, workspaceID string, poolTemplateID string, beta bool, options *PoolManagementClientGetAirflowPoolTemplateBetaOptions) (PoolManagementClientGetAirflowPoolTemplateBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.PoolManagementClient.GetAirflowPoolTemplateBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getAirflowPoolTemplateBetaCreateRequest(ctx, workspaceID, poolTemplateID, beta, options)
	if err != nil {
		return PoolManagementClientGetAirflowPoolTemplateBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PoolManagementClientGetAirflowPoolTemplateBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PoolManagementClientGetAirflowPoolTemplateBetaResponse{}, err
	}
	resp, err := client.getAirflowPoolTemplateBetaHandleResponse(httpResp)
	return resp, err
}

// getAirflowPoolTemplateBetaCreateRequest creates the GetAirflowPoolTemplateBeta request.
func (client *PoolManagementClient) getAirflowPoolTemplateBetaCreateRequest(ctx context.Context, workspaceID string, poolTemplateID string, beta bool, _ *PoolManagementClientGetAirflowPoolTemplateBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/poolTemplates/{poolTemplateId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if poolTemplateID == "" {
		return nil, errors.New("parameter poolTemplateID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{poolTemplateId}", url.PathEscape(poolTemplateID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getAirflowPoolTemplateBetaHandleResponse handles the GetAirflowPoolTemplateBeta response.
func (client *PoolManagementClient) getAirflowPoolTemplateBetaHandleResponse(resp *http.Response) (PoolManagementClientGetAirflowPoolTemplateBetaResponse, error) {
	result := PoolManagementClientGetAirflowPoolTemplateBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AirflowPoolTemplate); err != nil {
		return PoolManagementClientGetAirflowPoolTemplateBetaResponse{}, err
	}
	return result, nil
}

// NewListAirflowPoolTemplatesBetaPager - > [!NOTE] This API is part of a Beta release and is provided for evaluation and
// development purposes only. It may change based on feedback and is not recommended for production use.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have viewer or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - PoolManagementClientListAirflowPoolTemplatesBetaOptions contains the optional parameters for the PoolManagementClient.NewListAirflowPoolTemplatesBetaPager
//     method.
func (client *PoolManagementClient) NewListAirflowPoolTemplatesBetaPager(workspaceID string, beta bool, options *PoolManagementClientListAirflowPoolTemplatesBetaOptions) *runtime.Pager[PoolManagementClientListAirflowPoolTemplatesBetaResponse] {
	return runtime.NewPager(runtime.PagingHandler[PoolManagementClientListAirflowPoolTemplatesBetaResponse]{
		More: func(page PoolManagementClientListAirflowPoolTemplatesBetaResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *PoolManagementClientListAirflowPoolTemplatesBetaResponse) (PoolManagementClientListAirflowPoolTemplatesBetaResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "apacheairflowjob.PoolManagementClient.NewListAirflowPoolTemplatesBetaPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listAirflowPoolTemplatesBetaCreateRequest(ctx, workspaceID, beta, options)
			}, nil)
			if err != nil {
				return PoolManagementClientListAirflowPoolTemplatesBetaResponse{}, err
			}
			return client.listAirflowPoolTemplatesBetaHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listAirflowPoolTemplatesBetaCreateRequest creates the ListAirflowPoolTemplatesBeta request.
func (client *PoolManagementClient) listAirflowPoolTemplatesBetaCreateRequest(ctx context.Context, workspaceID string, beta bool, options *PoolManagementClientListAirflowPoolTemplatesBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/poolTemplates"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listAirflowPoolTemplatesBetaHandleResponse handles the ListAirflowPoolTemplatesBeta response.
func (client *PoolManagementClient) listAirflowPoolTemplatesBetaHandleResponse(resp *http.Response) (PoolManagementClientListAirflowPoolTemplatesBetaResponse, error) {
	result := PoolManagementClientListAirflowPoolTemplatesBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AirflowPoolTemplates); err != nil {
		return PoolManagementClientListAirflowPoolTemplatesBetaResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListAirflowPoolTemplatesBeta - returns array of AirflowPoolTemplate from all pages.
// >  [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have viewer or higher workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// When calling this API, callers must specify true as the value for the query parameter beta.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - PoolManagementClientListAirflowPoolTemplatesBetaOptions contains the optional parameters for the PoolManagementClient.NewListAirflowPoolTemplatesBetaPager method.
func (client *PoolManagementClient) ListAirflowPoolTemplatesBeta(ctx context.Context, workspaceID string, beta bool, options *PoolManagementClientListAirflowPoolTemplatesBetaOptions) ([]AirflowPoolTemplate, error) {
	pager := client.NewListAirflowPoolTemplatesBetaPager(workspaceID, beta, options)
	mapper := func(resp PoolManagementClientListAirflowPoolTemplatesBetaResponse) []AirflowPoolTemplate {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []AirflowPoolTemplate{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []AirflowPoolTemplate{}, err
	}
	return list, nil
}
