// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package apacheairflowjob

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// SettingsClient contains the methods for the Settings group.
// Don't use this type directly, use a constructor function instead.
type SettingsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetApacheAirflowJobSettingsBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have read permissions for the Apache Airflow job.
// REQUIRED DELEGATED SCOPES Airflow.Read.All or Item.Read.All
// Set the beta query parameter to true to call this API.
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - SettingsClientGetApacheAirflowJobSettingsBetaOptions contains the optional parameters for the SettingsClient.GetApacheAirflowJobSettingsBeta
//     method.
func (client *SettingsClient) GetApacheAirflowJobSettingsBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, options *SettingsClientGetApacheAirflowJobSettingsBetaOptions) (SettingsClientGetApacheAirflowJobSettingsBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.SettingsClient.GetApacheAirflowJobSettingsBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getApacheAirflowJobSettingsBetaCreateRequest(ctx, workspaceID, apacheAirflowJobID, beta, options)
	if err != nil {
		return SettingsClientGetApacheAirflowJobSettingsBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SettingsClientGetApacheAirflowJobSettingsBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return SettingsClientGetApacheAirflowJobSettingsBetaResponse{}, err
	}
	resp, err := client.getApacheAirflowJobSettingsBetaHandleResponse(httpResp)
	return resp, err
}

// getApacheAirflowJobSettingsBetaCreateRequest creates the GetApacheAirflowJobSettingsBeta request.
func (client *SettingsClient) getApacheAirflowJobSettingsBetaCreateRequest(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, _ *SettingsClientGetApacheAirflowJobSettingsBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/{apacheAirflowJobId}/environment/settings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if apacheAirflowJobID == "" {
		return nil, errors.New("parameter apacheAirflowJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{apacheAirflowJobId}", url.PathEscape(apacheAirflowJobID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getApacheAirflowJobSettingsBetaHandleResponse handles the GetApacheAirflowJobSettingsBeta response.
func (client *SettingsClient) getApacheAirflowJobSettingsBetaHandleResponse(resp *http.Response) (SettingsClientGetApacheAirflowJobSettingsBetaResponse, error) {
	result := SettingsClientGetApacheAirflowJobSettingsBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AirflowEnvironmentSettingsResponse); err != nil {
		return SettingsClientGetApacheAirflowJobSettingsBetaResponse{}, err
	}
	return result, nil
}

// BeginUpdateApacheAirflowJobSettingsBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and
// development purposes only. It may change based on feedback and is not recommended for production use.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have write permissions for the Apache Airflow job.
// REQUIRED DELEGATED SCOPES Airflow.Write.All or Item.Write.All
// Set the beta query parameter to true to call this API.
// When calling this API, callers must specify true as the value for the query parameter beta.
// When updating list values (environmentVariables, airflowConfigurationOverrides), users must submit the complete set of
// desired values; existing values will be replaced.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - airflowEnvironmentSettingsRequest - Update Apache Airflow environment settings request payload.
//   - options - SettingsClientBeginUpdateApacheAirflowJobSettingsBetaOptions contains the optional parameters for the SettingsClient.BeginUpdateApacheAirflowJobSettingsBeta
//     method.
func (client *SettingsClient) BeginUpdateApacheAirflowJobSettingsBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, airflowEnvironmentSettingsRequest AirflowEnvironmentSettingsRequest, options *SettingsClientBeginUpdateApacheAirflowJobSettingsBetaOptions) (*runtime.Poller[SettingsClientUpdateApacheAirflowJobSettingsBetaResponse], error) {
	return client.beginUpdateApacheAirflowJobSettingsBeta(ctx, workspaceID, apacheAirflowJobID, beta, airflowEnvironmentSettingsRequest, options)
}

// UpdateApacheAirflowJobSettingsBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have write permissions for the Apache Airflow job.
// REQUIRED DELEGATED SCOPES Airflow.Write.All or Item.Write.All
// Set the beta query parameter to true to call this API.
// When calling this API, callers must specify true as the value for the query parameter beta.
// When updating list values (environmentVariables, airflowConfigurationOverrides), users must submit the complete set of
// desired values; existing values will be replaced.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *SettingsClient) updateApacheAirflowJobSettingsBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, airflowEnvironmentSettingsRequest AirflowEnvironmentSettingsRequest, options *SettingsClientBeginUpdateApacheAirflowJobSettingsBetaOptions) (*http.Response, error) {
	var err error
	const operationName = "apacheairflowjob.SettingsClient.BeginUpdateApacheAirflowJobSettingsBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateApacheAirflowJobSettingsBetaCreateRequest(ctx, workspaceID, apacheAirflowJobID, beta, airflowEnvironmentSettingsRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateApacheAirflowJobSettingsBetaCreateRequest creates the UpdateApacheAirflowJobSettingsBeta request.
func (client *SettingsClient) updateApacheAirflowJobSettingsBetaCreateRequest(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, airflowEnvironmentSettingsRequest AirflowEnvironmentSettingsRequest, _ *SettingsClientBeginUpdateApacheAirflowJobSettingsBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/{apacheAirflowJobId}/environment/updateSettings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if apacheAirflowJobID == "" {
		return nil, errors.New("parameter apacheAirflowJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{apacheAirflowJobId}", url.PathEscape(apacheAirflowJobID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, airflowEnvironmentSettingsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// UpdateApacheAirflowJobSettingsBeta - returns SettingsClientUpdateApacheAirflowJobSettingsBetaResponse in sync mode.
// >  [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have write permissions for the Apache Airflow job.
//
// # REQUIRED DELEGATED SCOPES Airflow.Write.All or Item.Write.All
//
// Set the beta query parameter to true to call this API.
//
// When calling this API, callers must specify true as the value for the query parameter beta.
//
// When updating list values (environmentVariables, airflowConfigurationOverrides), users must submit the complete set of desired values; existing values will be replaced.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - airflowEnvironmentSettingsRequest - Update Apache Airflow environment settings request payload.
//   - options - SettingsClientBeginUpdateApacheAirflowJobSettingsBetaOptions contains the optional parameters for the SettingsClient.BeginUpdateApacheAirflowJobSettingsBeta method.
func (client *SettingsClient) UpdateApacheAirflowJobSettingsBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, airflowEnvironmentSettingsRequest AirflowEnvironmentSettingsRequest, options *SettingsClientBeginUpdateApacheAirflowJobSettingsBetaOptions) (SettingsClientUpdateApacheAirflowJobSettingsBetaResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateApacheAirflowJobSettingsBeta(ctx, workspaceID, apacheAirflowJobID, beta, airflowEnvironmentSettingsRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return SettingsClientUpdateApacheAirflowJobSettingsBetaResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return SettingsClientUpdateApacheAirflowJobSettingsBetaResponse{}, err
	}
	return result, err
}

// beginUpdateApacheAirflowJobSettingsBeta creates the updateApacheAirflowJobSettingsBeta request.
func (client *SettingsClient) beginUpdateApacheAirflowJobSettingsBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, airflowEnvironmentSettingsRequest AirflowEnvironmentSettingsRequest, options *SettingsClientBeginUpdateApacheAirflowJobSettingsBetaOptions) (*runtime.Poller[SettingsClientUpdateApacheAirflowJobSettingsBetaResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateApacheAirflowJobSettingsBeta(ctx, workspaceID, apacheAirflowJobID, beta, airflowEnvironmentSettingsRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[SettingsClientUpdateApacheAirflowJobSettingsBetaResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[SettingsClientUpdateApacheAirflowJobSettingsBetaResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[SettingsClientUpdateApacheAirflowJobSettingsBetaResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[SettingsClientUpdateApacheAirflowJobSettingsBetaResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}
