// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package apacheairflowjob

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// SettingsClient contains the methods for the Settings group.
// Don't use this type directly, use a constructor function instead.
type SettingsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetApacheAirflowJobSettingsBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have read permissions for the Apache Airflow job.
// REQUIRED DELEGATED SCOPES Airflow.Read.All or Item.Read.All
// Set the beta query parameter to true to call this API.
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - apacheAirflowJobID - The Apache Airflow job ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - SettingsClientGetApacheAirflowJobSettingsBetaOptions contains the optional parameters for the SettingsClient.GetApacheAirflowJobSettingsBeta
//     method.
func (client *SettingsClient) GetApacheAirflowJobSettingsBeta(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, options *SettingsClientGetApacheAirflowJobSettingsBetaOptions) (SettingsClientGetApacheAirflowJobSettingsBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.SettingsClient.GetApacheAirflowJobSettingsBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getApacheAirflowJobSettingsBetaCreateRequest(ctx, workspaceID, apacheAirflowJobID, beta, options)
	if err != nil {
		return SettingsClientGetApacheAirflowJobSettingsBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SettingsClientGetApacheAirflowJobSettingsBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return SettingsClientGetApacheAirflowJobSettingsBetaResponse{}, err
	}
	resp, err := client.getApacheAirflowJobSettingsBetaHandleResponse(httpResp)
	return resp, err
}

// getApacheAirflowJobSettingsBetaCreateRequest creates the GetApacheAirflowJobSettingsBeta request.
func (client *SettingsClient) getApacheAirflowJobSettingsBetaCreateRequest(ctx context.Context, workspaceID string, apacheAirflowJobID string, beta bool, _ *SettingsClientGetApacheAirflowJobSettingsBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/{apacheAirflowJobId}/environment/settings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if apacheAirflowJobID == "" {
		return nil, errors.New("parameter apacheAirflowJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{apacheAirflowJobId}", url.PathEscape(apacheAirflowJobID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getApacheAirflowJobSettingsBetaHandleResponse handles the GetApacheAirflowJobSettingsBeta response.
func (client *SettingsClient) getApacheAirflowJobSettingsBetaHandleResponse(resp *http.Response) (SettingsClientGetApacheAirflowJobSettingsBetaResponse, error) {
	result := SettingsClientGetApacheAirflowJobSettingsBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AirflowEnvironmentSettingsResponse); err != nil {
		return SettingsClientGetApacheAirflowJobSettingsBetaResponse{}, err
	}
	return result, nil
}

// Custom code starts below
