// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package apacheairflowjob

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// WorkspaceSettingsClient contains the methods for the WorkspaceSettings group.
// Don't use this type directly, use a constructor function instead.
type WorkspaceSettingsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetAirflowWorkspaceSettingsBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have viewer or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaOptions contains the optional parameters for the WorkspaceSettingsClient.GetAirflowWorkspaceSettingsBeta
//     method.
func (client *WorkspaceSettingsClient) GetAirflowWorkspaceSettingsBeta(ctx context.Context, workspaceID string, beta bool, options *WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaOptions) (WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.WorkspaceSettingsClient.GetAirflowWorkspaceSettingsBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getAirflowWorkspaceSettingsBetaCreateRequest(ctx, workspaceID, beta, options)
	if err != nil {
		return WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaResponse{}, err
	}
	resp, err := client.getAirflowWorkspaceSettingsBetaHandleResponse(httpResp)
	return resp, err
}

// getAirflowWorkspaceSettingsBetaCreateRequest creates the GetAirflowWorkspaceSettingsBeta request.
func (client *WorkspaceSettingsClient) getAirflowWorkspaceSettingsBetaCreateRequest(ctx context.Context, workspaceID string, beta bool, _ *WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/settings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getAirflowWorkspaceSettingsBetaHandleResponse handles the GetAirflowWorkspaceSettingsBeta response.
func (client *WorkspaceSettingsClient) getAirflowWorkspaceSettingsBetaHandleResponse(resp *http.Response) (WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaResponse, error) {
	result := WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AirflowWorkspaceSettings); err != nil {
		return WorkspaceSettingsClientGetAirflowWorkspaceSettingsBetaResponse{}, err
	}
	return result, nil
}

// UpdateAirflowWorkspaceSettingsBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have admin workspace role.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// When calling this API, callers must specify true as the value for the query parameter beta.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - updateAirflowWorkspaceSettingsRequest - Update Apache Airflow workspace settings request payload.
//   - options - WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaOptions contains the optional parameters for the WorkspaceSettingsClient.UpdateAirflowWorkspaceSettingsBeta
//     method.
func (client *WorkspaceSettingsClient) UpdateAirflowWorkspaceSettingsBeta(ctx context.Context, workspaceID string, beta bool, updateAirflowWorkspaceSettingsRequest UpdateAirflowWorkspaceSettingsRequest, options *WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaOptions) (WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaResponse, error) {
	var err error
	const operationName = "apacheairflowjob.WorkspaceSettingsClient.UpdateAirflowWorkspaceSettingsBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateAirflowWorkspaceSettingsBetaCreateRequest(ctx, workspaceID, beta, updateAirflowWorkspaceSettingsRequest, options)
	if err != nil {
		return WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaResponse{}, err
	}
	resp, err := client.updateAirflowWorkspaceSettingsBetaHandleResponse(httpResp)
	return resp, err
}

// updateAirflowWorkspaceSettingsBetaCreateRequest creates the UpdateAirflowWorkspaceSettingsBeta request.
func (client *WorkspaceSettingsClient) updateAirflowWorkspaceSettingsBetaCreateRequest(ctx context.Context, workspaceID string, beta bool, updateAirflowWorkspaceSettingsRequest UpdateAirflowWorkspaceSettingsRequest, _ *WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/apacheAirflowJobs/settings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateAirflowWorkspaceSettingsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateAirflowWorkspaceSettingsBetaHandleResponse handles the UpdateAirflowWorkspaceSettingsBeta response.
func (client *WorkspaceSettingsClient) updateAirflowWorkspaceSettingsBetaHandleResponse(resp *http.Response) (WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaResponse, error) {
	result := WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AirflowWorkspaceSettings); err != nil {
		return WorkspaceSettingsClientUpdateAirflowWorkspaceSettingsBetaResponse{}, err
	}
	return result, nil
}

// Custom code starts below
