// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package sqldatabase

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// MirroringClient contains the methods for the Mirroring group.
// Don't use this type directly, use a constructor function instead.
type MirroringClient struct {
	internal *azcore.Client
	endpoint string
}

// StartMirroring - PERMISSIONS The caller must have read and write permissions for the SQL database.
// REQUIRED DELEGATED SCOPES SQLDatabase.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - sqlDatabaseID - The SQL database ID.
//   - options - MirroringClientStartMirroringOptions contains the optional parameters for the MirroringClient.StartMirroring
//     method.
func (client *MirroringClient) StartMirroring(ctx context.Context, workspaceID string, sqlDatabaseID string, options *MirroringClientStartMirroringOptions) (MirroringClientStartMirroringResponse, error) {
	var err error
	const operationName = "sqldatabase.MirroringClient.StartMirroring"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.startMirroringCreateRequest(ctx, workspaceID, sqlDatabaseID, options)
	if err != nil {
		return MirroringClientStartMirroringResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MirroringClientStartMirroringResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return MirroringClientStartMirroringResponse{}, err
	}
	return MirroringClientStartMirroringResponse{}, nil
}

// startMirroringCreateRequest creates the StartMirroring request.
func (client *MirroringClient) startMirroringCreateRequest(ctx context.Context, workspaceID string, sqlDatabaseID string, _ *MirroringClientStartMirroringOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/sqlDatabases/{sqlDatabaseId}/startMirroring"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if sqlDatabaseID == "" {
		return nil, errors.New("parameter sqlDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseId}", url.PathEscape(sqlDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// StopMirroring - PERMISSIONS The caller must have read and write permissions for the SQL database.
// REQUIRED DELEGATED SCOPES SQLDatabase.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - sqlDatabaseID - The SQL database ID.
//   - options - MirroringClientStopMirroringOptions contains the optional parameters for the MirroringClient.StopMirroring method.
func (client *MirroringClient) StopMirroring(ctx context.Context, workspaceID string, sqlDatabaseID string, options *MirroringClientStopMirroringOptions) (MirroringClientStopMirroringResponse, error) {
	var err error
	const operationName = "sqldatabase.MirroringClient.StopMirroring"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.stopMirroringCreateRequest(ctx, workspaceID, sqlDatabaseID, options)
	if err != nil {
		return MirroringClientStopMirroringResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MirroringClientStopMirroringResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return MirroringClientStopMirroringResponse{}, err
	}
	return MirroringClientStopMirroringResponse{}, nil
}

// stopMirroringCreateRequest creates the StopMirroring request.
func (client *MirroringClient) stopMirroringCreateRequest(ctx context.Context, workspaceID string, sqlDatabaseID string, _ *MirroringClientStopMirroringOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/sqlDatabases/{sqlDatabaseId}/stopMirroring"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if sqlDatabaseID == "" {
		return nil, errors.New("parameter sqlDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseId}", url.PathEscape(sqlDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Custom code starts below
