// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package sqldatabase

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// SQLAuditSettingsClient contains the methods for the SQLAuditSettings group.
// Don't use this type directly, use a constructor function instead.
type SQLAuditSettingsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetSQLAuditSettings - PERMISSIONS The caller must have reader or higher item permission.
// REQUIRED DELEGATED SCOPES SQLDatabase.Read.All or SQLDatabase.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - sqlDatabaseID - The SQL database ID.
//   - options - SQLAuditSettingsClientGetSQLAuditSettingsOptions contains the optional parameters for the SQLAuditSettingsClient.GetSQLAuditSettings
//     method.
func (client *SQLAuditSettingsClient) GetSQLAuditSettings(ctx context.Context, workspaceID string, sqlDatabaseID string, options *SQLAuditSettingsClientGetSQLAuditSettingsOptions) (SQLAuditSettingsClientGetSQLAuditSettingsResponse, error) {
	var err error
	const operationName = "sqldatabase.SQLAuditSettingsClient.GetSQLAuditSettings"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSQLAuditSettingsCreateRequest(ctx, workspaceID, sqlDatabaseID, options)
	if err != nil {
		return SQLAuditSettingsClientGetSQLAuditSettingsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SQLAuditSettingsClientGetSQLAuditSettingsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return SQLAuditSettingsClientGetSQLAuditSettingsResponse{}, err
	}
	resp, err := client.getSQLAuditSettingsHandleResponse(httpResp)
	return resp, err
}

// getSQLAuditSettingsCreateRequest creates the GetSQLAuditSettings request.
func (client *SQLAuditSettingsClient) getSQLAuditSettingsCreateRequest(ctx context.Context, workspaceID string, sqlDatabaseID string, _ *SQLAuditSettingsClientGetSQLAuditSettingsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/sqlDatabases/{sqlDatabaseId}/settings/sqlAudit"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if sqlDatabaseID == "" {
		return nil, errors.New("parameter sqlDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseId}", url.PathEscape(sqlDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSQLAuditSettingsHandleResponse handles the GetSQLAuditSettings response.
func (client *SQLAuditSettingsClient) getSQLAuditSettingsHandleResponse(resp *http.Response) (SQLAuditSettingsClientGetSQLAuditSettingsResponse, error) {
	result := SQLAuditSettingsClientGetSQLAuditSettingsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AuditSettings); err != nil {
		return SQLAuditSettingsClientGetSQLAuditSettingsResponse{}, err
	}
	return result, nil
}

// UpdateSQLAuditSettings - PERMISSIONS The caller must have read and write permissions for the SQL database.
// REQUIRED DELEGATED SCOPES SQLDatabase.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - sqlDatabaseID - The SQL database ID.
//   - updateAuditSettingsRequest - Update SQL audit settings request payload.
//   - options - SQLAuditSettingsClientUpdateSQLAuditSettingsOptions contains the optional parameters for the SQLAuditSettingsClient.UpdateSQLAuditSettings
//     method.
func (client *SQLAuditSettingsClient) UpdateSQLAuditSettings(ctx context.Context, workspaceID string, sqlDatabaseID string, updateAuditSettingsRequest AuditSettingsUpdate, options *SQLAuditSettingsClientUpdateSQLAuditSettingsOptions) (SQLAuditSettingsClientUpdateSQLAuditSettingsResponse, error) {
	var err error
	const operationName = "sqldatabase.SQLAuditSettingsClient.UpdateSQLAuditSettings"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateSQLAuditSettingsCreateRequest(ctx, workspaceID, sqlDatabaseID, updateAuditSettingsRequest, options)
	if err != nil {
		return SQLAuditSettingsClientUpdateSQLAuditSettingsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SQLAuditSettingsClientUpdateSQLAuditSettingsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return SQLAuditSettingsClientUpdateSQLAuditSettingsResponse{}, err
	}
	resp, err := client.updateSQLAuditSettingsHandleResponse(httpResp)
	return resp, err
}

// updateSQLAuditSettingsCreateRequest creates the UpdateSQLAuditSettings request.
func (client *SQLAuditSettingsClient) updateSQLAuditSettingsCreateRequest(ctx context.Context, workspaceID string, sqlDatabaseID string, updateAuditSettingsRequest AuditSettingsUpdate, _ *SQLAuditSettingsClientUpdateSQLAuditSettingsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/sqlDatabases/{sqlDatabaseId}/settings/sqlAudit"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if sqlDatabaseID == "" {
		return nil, errors.New("parameter sqlDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseId}", url.PathEscape(sqlDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateAuditSettingsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateSQLAuditSettingsHandleResponse handles the UpdateSQLAuditSettings response.
func (client *SQLAuditSettingsClient) updateSQLAuditSettingsHandleResponse(resp *http.Response) (SQLAuditSettingsClientUpdateSQLAuditSettingsResponse, error) {
	result := SQLAuditSettingsClientUpdateSQLAuditSettingsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AuditSettings); err != nil {
		return SQLAuditSettingsClientUpdateSQLAuditSettingsResponse{}, err
	}
	return result, nil
}

// Custom code starts below
