// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package ontology

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateOntology - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create ontology with definition, refer to Ontology definition [/rest/api/fabric/articles/item-management/definitions/ontology-definition].
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an ontology the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createOntologyRequest - Create item request payload.
//   - options - ItemsClientBeginCreateOntologyOptions contains the optional parameters for the ItemsClient.BeginCreateOntology
//     method.
func (client *ItemsClient) BeginCreateOntology(ctx context.Context, workspaceID string, createOntologyRequest CreateOntologyRequest, options *ItemsClientBeginCreateOntologyOptions) (*runtime.Poller[ItemsClientCreateOntologyResponse], error) {
	return client.beginCreateOntology(ctx, workspaceID, createOntologyRequest, options)
}

// CreateOntology - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create ontology with definition, refer to Ontology definition [/rest/api/fabric/articles/item-management/definitions/ontology-definition].
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an ontology the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createOntology(ctx context.Context, workspaceID string, createOntologyRequest CreateOntologyRequest, options *ItemsClientBeginCreateOntologyOptions) (*http.Response, error) {
	var err error
	const operationName = "ontology.ItemsClient.BeginCreateOntology"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOntologyCreateRequest(ctx, workspaceID, createOntologyRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOntologyCreateRequest creates the CreateOntology request.
func (client *ItemsClient) createOntologyCreateRequest(ctx context.Context, workspaceID string, createOntologyRequest CreateOntologyRequest, _ *ItemsClientBeginCreateOntologyOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ontologies"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createOntologyRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteOntology - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the ontology item.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - ontologyID - The ontology ID.
//   - options - ItemsClientDeleteOntologyOptions contains the optional parameters for the ItemsClient.DeleteOntology method.
func (client *ItemsClient) DeleteOntology(ctx context.Context, workspaceID string, ontologyID string, options *ItemsClientDeleteOntologyOptions) (ItemsClientDeleteOntologyResponse, error) {
	var err error
	const operationName = "ontology.ItemsClient.DeleteOntology"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteOntologyCreateRequest(ctx, workspaceID, ontologyID, options)
	if err != nil {
		return ItemsClientDeleteOntologyResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteOntologyResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteOntologyResponse{}, err
	}
	return ItemsClientDeleteOntologyResponse{}, nil
}

// deleteOntologyCreateRequest creates the DeleteOntology request.
func (client *ItemsClient) deleteOntologyCreateRequest(ctx context.Context, workspaceID string, ontologyID string, _ *ItemsClientDeleteOntologyOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ontologies/{ontologyId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if ontologyID == "" {
		return nil, errors.New("parameter ontologyID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ontologyId}", url.PathEscape(ontologyID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetOntology - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the ontology.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - ontologyID - The ontology ID.
//   - options - ItemsClientGetOntologyOptions contains the optional parameters for the ItemsClient.GetOntology method.
func (client *ItemsClient) GetOntology(ctx context.Context, workspaceID string, ontologyID string, options *ItemsClientGetOntologyOptions) (ItemsClientGetOntologyResponse, error) {
	var err error
	const operationName = "ontology.ItemsClient.GetOntology"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getOntologyCreateRequest(ctx, workspaceID, ontologyID, options)
	if err != nil {
		return ItemsClientGetOntologyResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetOntologyResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetOntologyResponse{}, err
	}
	resp, err := client.getOntologyHandleResponse(httpResp)
	return resp, err
}

// getOntologyCreateRequest creates the GetOntology request.
func (client *ItemsClient) getOntologyCreateRequest(ctx context.Context, workspaceID string, ontologyID string, _ *ItemsClientGetOntologyOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ontologies/{ontologyId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if ontologyID == "" {
		return nil, errors.New("parameter ontologyID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ontologyId}", url.PathEscape(ontologyID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getOntologyHandleResponse handles the GetOntology response.
func (client *ItemsClient) getOntologyHandleResponse(resp *http.Response) (ItemsClientGetOntologyResponse, error) {
	result := ItemsClientGetOntologyResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Ontology); err != nil {
		return ItemsClientGetOntologyResponse{}, err
	}
	return result, nil
}

// BeginGetOntologyDefinition - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get an ontology public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the ontology.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS This API is blocked for an ontology with an encrypted sensitivity label.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - ontologyID - The ontology ID.
//   - options - ItemsClientBeginGetOntologyDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetOntologyDefinition
//     method.
func (client *ItemsClient) BeginGetOntologyDefinition(ctx context.Context, workspaceID string, ontologyID string, options *ItemsClientBeginGetOntologyDefinitionOptions) (*runtime.Poller[ItemsClientGetOntologyDefinitionResponse], error) {
	return client.beginGetOntologyDefinition(ctx, workspaceID, ontologyID, options)
}

// GetOntologyDefinition - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get an ontology public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the ontology.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS This API is blocked for an ontology with an encrypted sensitivity label.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getOntologyDefinition(ctx context.Context, workspaceID string, ontologyID string, options *ItemsClientBeginGetOntologyDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "ontology.ItemsClient.BeginGetOntologyDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getOntologyDefinitionCreateRequest(ctx, workspaceID, ontologyID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getOntologyDefinitionCreateRequest creates the GetOntologyDefinition request.
func (client *ItemsClient) getOntologyDefinitionCreateRequest(ctx context.Context, workspaceID string, ontologyID string, options *ItemsClientBeginGetOntologyDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ontologies/{ontologyId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if ontologyID == "" {
		return nil, errors.New("parameter ontologyID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ontologyId}", url.PathEscape(ontologyID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListOntologiesPager - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListOntologiesOptions contains the optional parameters for the ItemsClient.NewListOntologiesPager
//     method.
func (client *ItemsClient) NewListOntologiesPager(workspaceID string, options *ItemsClientListOntologiesOptions) *runtime.Pager[ItemsClientListOntologiesResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListOntologiesResponse]{
		More: func(page ItemsClientListOntologiesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListOntologiesResponse) (ItemsClientListOntologiesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ontology.ItemsClient.NewListOntologiesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listOntologiesCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListOntologiesResponse{}, err
			}
			return client.listOntologiesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listOntologiesCreateRequest creates the ListOntologies request.
func (client *ItemsClient) listOntologiesCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListOntologiesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ontologies"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listOntologiesHandleResponse handles the ListOntologies response.
func (client *ItemsClient) listOntologiesHandleResponse(resp *http.Response) (ItemsClientListOntologiesResponse, error) {
	result := ItemsClientListOntologiesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Ontologies); err != nil {
		return ItemsClientListOntologiesResponse{}, err
	}
	return result, nil
}

// UpdateOntology - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the ontology.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - ontologyID - The ontology ID.
//   - updateOntologyRequest - Update ontology request payload.
//   - options - ItemsClientUpdateOntologyOptions contains the optional parameters for the ItemsClient.UpdateOntology method.
func (client *ItemsClient) UpdateOntology(ctx context.Context, workspaceID string, ontologyID string, updateOntologyRequest UpdateOntologyRequest, options *ItemsClientUpdateOntologyOptions) (ItemsClientUpdateOntologyResponse, error) {
	var err error
	const operationName = "ontology.ItemsClient.UpdateOntology"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateOntologyCreateRequest(ctx, workspaceID, ontologyID, updateOntologyRequest, options)
	if err != nil {
		return ItemsClientUpdateOntologyResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateOntologyResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateOntologyResponse{}, err
	}
	resp, err := client.updateOntologyHandleResponse(httpResp)
	return resp, err
}

// updateOntologyCreateRequest creates the UpdateOntology request.
func (client *ItemsClient) updateOntologyCreateRequest(ctx context.Context, workspaceID string, ontologyID string, updateOntologyRequest UpdateOntologyRequest, _ *ItemsClientUpdateOntologyOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ontologies/{ontologyId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if ontologyID == "" {
		return nil, errors.New("parameter ontologyID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ontologyId}", url.PathEscape(ontologyID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateOntologyRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateOntologyHandleResponse handles the UpdateOntology response.
func (client *ItemsClient) updateOntologyHandleResponse(resp *http.Response) (ItemsClientUpdateOntologyResponse, error) {
	result := ItemsClientUpdateOntologyResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Ontology); err != nil {
		return ItemsClientUpdateOntologyResponse{}, err
	}
	return result, nil
}

// BeginUpdateOntologyDefinition - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the ontology definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the ontology.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - ontologyID - The ontology ID.
//   - updateOntologyDefinitionRequest - Update ontology definition request payload.
//   - options - ItemsClientBeginUpdateOntologyDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateOntologyDefinition
//     method.
func (client *ItemsClient) BeginUpdateOntologyDefinition(ctx context.Context, workspaceID string, ontologyID string, updateOntologyDefinitionRequest UpdateOntologyDefinitionRequest, options *ItemsClientBeginUpdateOntologyDefinitionOptions) (*runtime.Poller[ItemsClientUpdateOntologyDefinitionResponse], error) {
	return client.beginUpdateOntologyDefinition(ctx, workspaceID, ontologyID, updateOntologyDefinitionRequest, options)
}

// UpdateOntologyDefinition - > [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the ontology definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the ontology.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateOntologyDefinition(ctx context.Context, workspaceID string, ontologyID string, updateOntologyDefinitionRequest UpdateOntologyDefinitionRequest, options *ItemsClientBeginUpdateOntologyDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "ontology.ItemsClient.BeginUpdateOntologyDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateOntologyDefinitionCreateRequest(ctx, workspaceID, ontologyID, updateOntologyDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateOntologyDefinitionCreateRequest creates the UpdateOntologyDefinition request.
func (client *ItemsClient) updateOntologyDefinitionCreateRequest(ctx context.Context, workspaceID string, ontologyID string, updateOntologyDefinitionRequest UpdateOntologyDefinitionRequest, options *ItemsClientBeginUpdateOntologyDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/ontologies/{ontologyId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if ontologyID == "" {
		return nil, errors.New("parameter ontologyID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ontologyId}", url.PathEscape(ontologyID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateOntologyDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateOntology - returns ItemsClientCreateOntologyResponse in sync mode.
// >  [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create ontology with definition, refer to Ontology definition [/rest/api/fabric/articles/item-management/definitions/ontology-definition].
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create an ontology the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createOntologyRequest - Create item request payload.
//   - options - ItemsClientBeginCreateOntologyOptions contains the optional parameters for the ItemsClient.BeginCreateOntology method.
func (client *ItemsClient) CreateOntology(ctx context.Context, workspaceID string, createOntologyRequest CreateOntologyRequest, options *ItemsClientBeginCreateOntologyOptions) (ItemsClientCreateOntologyResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateOntology(ctx, workspaceID, createOntologyRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateOntologyResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateOntologyResponse{}, err
	}
	return result, err
}

// beginCreateOntology creates the createOntology request.
func (client *ItemsClient) beginCreateOntology(ctx context.Context, workspaceID string, createOntologyRequest CreateOntologyRequest, options *ItemsClientBeginCreateOntologyOptions) (*runtime.Poller[ItemsClientCreateOntologyResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOntology(ctx, workspaceID, createOntologyRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateOntologyResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateOntologyResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateOntologyResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateOntologyResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetOntologyDefinition - returns ItemsClientGetOntologyDefinitionResponse in sync mode.
// >  [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get an ontology public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the ontology.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS This API is blocked for an ontology with an encrypted sensitivity label.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - ontologyID - The ontology ID.
//   - options - ItemsClientBeginGetOntologyDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetOntologyDefinition method.
func (client *ItemsClient) GetOntologyDefinition(ctx context.Context, workspaceID string, ontologyID string, options *ItemsClientBeginGetOntologyDefinitionOptions) (ItemsClientGetOntologyDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetOntologyDefinition(ctx, workspaceID, ontologyID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetOntologyDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetOntologyDefinitionResponse{}, err
	}
	return result, err
}

// beginGetOntologyDefinition creates the getOntologyDefinition request.
func (client *ItemsClient) beginGetOntologyDefinition(ctx context.Context, workspaceID string, ontologyID string, options *ItemsClientBeginGetOntologyDefinitionOptions) (*runtime.Poller[ItemsClientGetOntologyDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getOntologyDefinition(ctx, workspaceID, ontologyID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetOntologyDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetOntologyDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetOntologyDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetOntologyDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateOntologyDefinition - returns ItemsClientUpdateOntologyDefinitionResponse in sync mode.
// >  [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the ontology definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the ontology.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - ontologyID - The ontology ID.
//   - updateOntologyDefinitionRequest - Update ontology definition request payload.
//   - options - ItemsClientBeginUpdateOntologyDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateOntologyDefinition method.
func (client *ItemsClient) UpdateOntologyDefinition(ctx context.Context, workspaceID string, ontologyID string, updateOntologyDefinitionRequest UpdateOntologyDefinitionRequest, options *ItemsClientBeginUpdateOntologyDefinitionOptions) (ItemsClientUpdateOntologyDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateOntologyDefinition(ctx, workspaceID, ontologyID, updateOntologyDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateOntologyDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateOntologyDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateOntologyDefinition creates the updateOntologyDefinition request.
func (client *ItemsClient) beginUpdateOntologyDefinition(ctx context.Context, workspaceID string, ontologyID string, updateOntologyDefinitionRequest UpdateOntologyDefinitionRequest, options *ItemsClientBeginUpdateOntologyDefinitionOptions) (*runtime.Poller[ItemsClientUpdateOntologyDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateOntologyDefinition(ctx, workspaceID, ontologyID, updateOntologyDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateOntologyDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateOntologyDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateOntologyDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateOntologyDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListOntologies - returns array of Ontology from all pages.
// >  [!NOTE] Ontology item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListOntologiesOptions contains the optional parameters for the ItemsClient.NewListOntologiesPager method.
func (client *ItemsClient) ListOntologies(ctx context.Context, workspaceID string, options *ItemsClientListOntologiesOptions) ([]Ontology, error) {
	pager := client.NewListOntologiesPager(workspaceID, options)
	mapper := func(resp ItemsClientListOntologiesResponse) []Ontology {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []Ontology{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []Ontology{}, err
	}
	return list, nil
}
