// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package datapipeline

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// BackgroundJobsClient contains the methods for the BackgroundJobs group.
// Don't use this type directly, use a constructor function instead.
type BackgroundJobsClient struct {
	internal *azcore.Client
	endpoint string
}

// RunOnDemandExecute - PERMISSIONS
// * The caller must have a member or higher workspace role.
// REQUIRED DELEGATED SCOPES
// * Specific scope: DataPipeline.Execute.All or Item.Execute.All
//
// for more information about scopes, see: scopes article [/rest/api/fabric/articles/scopes].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataPipelineID - The data pipeline ID.
//   - options - BackgroundJobsClientRunOnDemandExecuteOptions contains the optional parameters for the BackgroundJobsClient.RunOnDemandExecute
//     method.
func (client *BackgroundJobsClient) RunOnDemandExecute(ctx context.Context, workspaceID string, dataPipelineID string, options *BackgroundJobsClientRunOnDemandExecuteOptions) (BackgroundJobsClientRunOnDemandExecuteResponse, error) {
	var err error
	const operationName = "datapipeline.BackgroundJobsClient.RunOnDemandExecute"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.runOnDemandExecuteCreateRequest(ctx, workspaceID, dataPipelineID, options)
	if err != nil {
		return BackgroundJobsClientRunOnDemandExecuteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackgroundJobsClientRunOnDemandExecuteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return BackgroundJobsClientRunOnDemandExecuteResponse{}, err
	}
	return BackgroundJobsClientRunOnDemandExecuteResponse{}, nil
}

// runOnDemandExecuteCreateRequest creates the RunOnDemandExecute request.
func (client *BackgroundJobsClient) runOnDemandExecuteCreateRequest(ctx context.Context, workspaceID string, dataPipelineID string, _ *BackgroundJobsClientRunOnDemandExecuteOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataPipelines/{dataPipelineId}/jobs/execute/instances"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataPipelineID == "" {
		return nil, errors.New("parameter dataPipelineID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataPipelineId}", url.PathEscape(dataPipelineID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// ScheduleExecute - PERMISSIONS
// * The caller must have a member or higher workspace role.
// REQUIRED DELEGATED SCOPES: (DataPipeline.Execute.All or Item.Execute.All) and (DataPipeline.ReadWrite.All or Item.ReadWrite.All)
// LIMITATIONS A data pipeline can create maximum 20 schedulers.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataPipelineID - The data pipeline ID.
//   - createScheduleRequest - A data pipeline execute schedule create request.
//   - options - BackgroundJobsClientScheduleExecuteOptions contains the optional parameters for the BackgroundJobsClient.ScheduleExecute
//     method.
func (client *BackgroundJobsClient) ScheduleExecute(ctx context.Context, workspaceID string, dataPipelineID string, createScheduleRequest CreateDataPipelineExecuteScheduleRequest, options *BackgroundJobsClientScheduleExecuteOptions) (BackgroundJobsClientScheduleExecuteResponse, error) {
	var err error
	const operationName = "datapipeline.BackgroundJobsClient.ScheduleExecute"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.scheduleExecuteCreateRequest(ctx, workspaceID, dataPipelineID, createScheduleRequest, options)
	if err != nil {
		return BackgroundJobsClientScheduleExecuteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackgroundJobsClientScheduleExecuteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = core.NewResponseError(httpResp)
		return BackgroundJobsClientScheduleExecuteResponse{}, err
	}
	resp, err := client.scheduleExecuteHandleResponse(httpResp)
	return resp, err
}

// scheduleExecuteCreateRequest creates the ScheduleExecute request.
func (client *BackgroundJobsClient) scheduleExecuteCreateRequest(ctx context.Context, workspaceID string, dataPipelineID string, createScheduleRequest CreateDataPipelineExecuteScheduleRequest, _ *BackgroundJobsClientScheduleExecuteOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataPipelines/{dataPipelineId}/jobs/execute/schedules"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataPipelineID == "" {
		return nil, errors.New("parameter dataPipelineID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataPipelineId}", url.PathEscape(dataPipelineID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createScheduleRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// scheduleExecuteHandleResponse handles the ScheduleExecute response.
func (client *BackgroundJobsClient) scheduleExecuteHandleResponse(resp *http.Response) (BackgroundJobsClientScheduleExecuteResponse, error) {
	result := BackgroundJobsClientScheduleExecuteResponse{}
	if val := resp.Header.Get("Location"); val != "" {
		result.Location = &val
	}
	if err := runtime.UnmarshalAsJSON(resp, &result.ExecuteSchedule); err != nil {
		return BackgroundJobsClientScheduleExecuteResponse{}, err
	}
	return result, nil
}

// Custom code starts below
