// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package azuredatabricksstorage

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateAzureDatabricksStorage - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create an AzureDatabricksStorage with a public definition, refer to the AzureDatabricksStorage definition [/rest/api/fabric/articles/item-management/definitions/azure-databricks-storage-definition]
// article.
// PERMISSIONS The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an AzureDatabricksStorage, the workspace must be on a supported Fabric capacity. For more information, see:
// Microsoft Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createAzureDatabricksStorageRequest - Create item request payload.
//   - options - ItemsClientBeginCreateAzureDatabricksStorageOptions contains the optional parameters for the ItemsClient.BeginCreateAzureDatabricksStorage
//     method.
func (client *ItemsClient) BeginCreateAzureDatabricksStorage(ctx context.Context, workspaceID string, createAzureDatabricksStorageRequest CreateAzureDatabricksStorageRequest, options *ItemsClientBeginCreateAzureDatabricksStorageOptions) (*runtime.Poller[ItemsClientCreateAzureDatabricksStorageResponse], error) {
	return client.beginCreateAzureDatabricksStorage(ctx, workspaceID, createAzureDatabricksStorageRequest, options)
}

// CreateAzureDatabricksStorage - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create an AzureDatabricksStorage with a public definition, refer to the AzureDatabricksStorage definition [/rest/api/fabric/articles/item-management/definitions/azure-databricks-storage-definition]
// article.
// PERMISSIONS The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an AzureDatabricksStorage, the workspace must be on a supported Fabric capacity. For more information, see:
// Microsoft Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createAzureDatabricksStorage(ctx context.Context, workspaceID string, createAzureDatabricksStorageRequest CreateAzureDatabricksStorageRequest, options *ItemsClientBeginCreateAzureDatabricksStorageOptions) (*http.Response, error) {
	var err error
	const operationName = "azuredatabricksstorage.ItemsClient.BeginCreateAzureDatabricksStorage"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createAzureDatabricksStorageCreateRequest(ctx, workspaceID, createAzureDatabricksStorageRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createAzureDatabricksStorageCreateRequest creates the CreateAzureDatabricksStorage request.
func (client *ItemsClient) createAzureDatabricksStorageCreateRequest(ctx context.Context, workspaceID string, createAzureDatabricksStorageRequest CreateAzureDatabricksStorageRequest, _ *ItemsClientBeginCreateAzureDatabricksStorageOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/azureDatabricksStorages"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createAzureDatabricksStorageRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteAzureDatabricksStorage - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the AzureDatabricksStorage.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - azureDatabricksStorageID - The AzureDatabricksStorage ID.
//   - options - ItemsClientDeleteAzureDatabricksStorageOptions contains the optional parameters for the ItemsClient.DeleteAzureDatabricksStorage
//     method.
func (client *ItemsClient) DeleteAzureDatabricksStorage(ctx context.Context, workspaceID string, azureDatabricksStorageID string, options *ItemsClientDeleteAzureDatabricksStorageOptions) (ItemsClientDeleteAzureDatabricksStorageResponse, error) {
	var err error
	const operationName = "azuredatabricksstorage.ItemsClient.DeleteAzureDatabricksStorage"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteAzureDatabricksStorageCreateRequest(ctx, workspaceID, azureDatabricksStorageID, options)
	if err != nil {
		return ItemsClientDeleteAzureDatabricksStorageResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteAzureDatabricksStorageResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteAzureDatabricksStorageResponse{}, err
	}
	return ItemsClientDeleteAzureDatabricksStorageResponse{}, nil
}

// deleteAzureDatabricksStorageCreateRequest creates the DeleteAzureDatabricksStorage request.
func (client *ItemsClient) deleteAzureDatabricksStorageCreateRequest(ctx context.Context, workspaceID string, azureDatabricksStorageID string, options *ItemsClientDeleteAzureDatabricksStorageOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/azureDatabricksStorages/{azureDatabricksStorageId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if azureDatabricksStorageID == "" {
		return nil, errors.New("parameter azureDatabricksStorageID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureDatabricksStorageId}", url.PathEscape(azureDatabricksStorageID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.HardDelete != nil {
		reqQP.Set("hardDelete", strconv.FormatBool(*options.HardDelete))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetAzureDatabricksStorage - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the AzureDatabricksStorage.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - azureDatabricksStorageID - The AzureDatabricksStorage ID.
//   - options - ItemsClientGetAzureDatabricksStorageOptions contains the optional parameters for the ItemsClient.GetAzureDatabricksStorage
//     method.
func (client *ItemsClient) GetAzureDatabricksStorage(ctx context.Context, workspaceID string, azureDatabricksStorageID string, options *ItemsClientGetAzureDatabricksStorageOptions) (ItemsClientGetAzureDatabricksStorageResponse, error) {
	var err error
	const operationName = "azuredatabricksstorage.ItemsClient.GetAzureDatabricksStorage"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getAzureDatabricksStorageCreateRequest(ctx, workspaceID, azureDatabricksStorageID, options)
	if err != nil {
		return ItemsClientGetAzureDatabricksStorageResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetAzureDatabricksStorageResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetAzureDatabricksStorageResponse{}, err
	}
	resp, err := client.getAzureDatabricksStorageHandleResponse(httpResp)
	return resp, err
}

// getAzureDatabricksStorageCreateRequest creates the GetAzureDatabricksStorage request.
func (client *ItemsClient) getAzureDatabricksStorageCreateRequest(ctx context.Context, workspaceID string, azureDatabricksStorageID string, _ *ItemsClientGetAzureDatabricksStorageOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/azureDatabricksStorages/{azureDatabricksStorageId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if azureDatabricksStorageID == "" {
		return nil, errors.New("parameter azureDatabricksStorageID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureDatabricksStorageId}", url.PathEscape(azureDatabricksStorageID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getAzureDatabricksStorageHandleResponse handles the GetAzureDatabricksStorage response.
func (client *ItemsClient) getAzureDatabricksStorageHandleResponse(resp *http.Response) (ItemsClientGetAzureDatabricksStorageResponse, error) {
	result := ItemsClientGetAzureDatabricksStorageResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureDatabricksStorage); err != nil {
		return ItemsClientGetAzureDatabricksStorageResponse{}, err
	}
	return result, nil
}

// BeginGetAzureDatabricksStorageDefinition - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get an AzureDatabricksStorage's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the AzureDatabricksStorage.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - azureDatabricksStorageID - The AzureDatabricksStorage ID.
//   - options - ItemsClientBeginGetAzureDatabricksStorageDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetAzureDatabricksStorageDefinition
//     method.
func (client *ItemsClient) BeginGetAzureDatabricksStorageDefinition(ctx context.Context, workspaceID string, azureDatabricksStorageID string, options *ItemsClientBeginGetAzureDatabricksStorageDefinitionOptions) (*runtime.Poller[ItemsClientGetAzureDatabricksStorageDefinitionResponse], error) {
	return client.beginGetAzureDatabricksStorageDefinition(ctx, workspaceID, azureDatabricksStorageID, options)
}

// GetAzureDatabricksStorageDefinition - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get an AzureDatabricksStorage's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the AzureDatabricksStorage.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getAzureDatabricksStorageDefinition(ctx context.Context, workspaceID string, azureDatabricksStorageID string, options *ItemsClientBeginGetAzureDatabricksStorageDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "azuredatabricksstorage.ItemsClient.BeginGetAzureDatabricksStorageDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getAzureDatabricksStorageDefinitionCreateRequest(ctx, workspaceID, azureDatabricksStorageID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getAzureDatabricksStorageDefinitionCreateRequest creates the GetAzureDatabricksStorageDefinition request.
func (client *ItemsClient) getAzureDatabricksStorageDefinitionCreateRequest(ctx context.Context, workspaceID string, azureDatabricksStorageID string, options *ItemsClientBeginGetAzureDatabricksStorageDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/azureDatabricksStorages/{azureDatabricksStorageId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if azureDatabricksStorageID == "" {
		return nil, errors.New("parameter azureDatabricksStorageID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureDatabricksStorageId}", url.PathEscape(azureDatabricksStorageID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", string(*options.Format))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListAzureDatabricksStoragesPager - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListAzureDatabricksStoragesOptions contains the optional parameters for the ItemsClient.NewListAzureDatabricksStoragesPager
//     method.
func (client *ItemsClient) NewListAzureDatabricksStoragesPager(workspaceID string, options *ItemsClientListAzureDatabricksStoragesOptions) *runtime.Pager[ItemsClientListAzureDatabricksStoragesResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListAzureDatabricksStoragesResponse]{
		More: func(page ItemsClientListAzureDatabricksStoragesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListAzureDatabricksStoragesResponse) (ItemsClientListAzureDatabricksStoragesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "azuredatabricksstorage.ItemsClient.NewListAzureDatabricksStoragesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listAzureDatabricksStoragesCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListAzureDatabricksStoragesResponse{}, err
			}
			return client.listAzureDatabricksStoragesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listAzureDatabricksStoragesCreateRequest creates the ListAzureDatabricksStorages request.
func (client *ItemsClient) listAzureDatabricksStoragesCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListAzureDatabricksStoragesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/azureDatabricksStorages"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listAzureDatabricksStoragesHandleResponse handles the ListAzureDatabricksStorages response.
func (client *ItemsClient) listAzureDatabricksStoragesHandleResponse(resp *http.Response) (ItemsClientListAzureDatabricksStoragesResponse, error) {
	result := ItemsClientListAzureDatabricksStoragesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureDatabricksStorages); err != nil {
		return ItemsClientListAzureDatabricksStoragesResponse{}, err
	}
	return result, nil
}

// UpdateAzureDatabricksStorage - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the AzureDatabricksStorage.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - azureDatabricksStorageID - The AzureDatabricksStorage ID.
//   - updateAzureDatabricksStorageRequest - Update AzureDatabricksStorage request payload.
//   - options - ItemsClientUpdateAzureDatabricksStorageOptions contains the optional parameters for the ItemsClient.UpdateAzureDatabricksStorage
//     method.
func (client *ItemsClient) UpdateAzureDatabricksStorage(ctx context.Context, workspaceID string, azureDatabricksStorageID string, updateAzureDatabricksStorageRequest UpdateAzureDatabricksStorageRequest, options *ItemsClientUpdateAzureDatabricksStorageOptions) (ItemsClientUpdateAzureDatabricksStorageResponse, error) {
	var err error
	const operationName = "azuredatabricksstorage.ItemsClient.UpdateAzureDatabricksStorage"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateAzureDatabricksStorageCreateRequest(ctx, workspaceID, azureDatabricksStorageID, updateAzureDatabricksStorageRequest, options)
	if err != nil {
		return ItemsClientUpdateAzureDatabricksStorageResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateAzureDatabricksStorageResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateAzureDatabricksStorageResponse{}, err
	}
	resp, err := client.updateAzureDatabricksStorageHandleResponse(httpResp)
	return resp, err
}

// updateAzureDatabricksStorageCreateRequest creates the UpdateAzureDatabricksStorage request.
func (client *ItemsClient) updateAzureDatabricksStorageCreateRequest(ctx context.Context, workspaceID string, azureDatabricksStorageID string, updateAzureDatabricksStorageRequest UpdateAzureDatabricksStorageRequest, _ *ItemsClientUpdateAzureDatabricksStorageOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/azureDatabricksStorages/{azureDatabricksStorageId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if azureDatabricksStorageID == "" {
		return nil, errors.New("parameter azureDatabricksStorageID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureDatabricksStorageId}", url.PathEscape(azureDatabricksStorageID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateAzureDatabricksStorageRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateAzureDatabricksStorageHandleResponse handles the UpdateAzureDatabricksStorage response.
func (client *ItemsClient) updateAzureDatabricksStorageHandleResponse(resp *http.Response) (ItemsClientUpdateAzureDatabricksStorageResponse, error) {
	result := ItemsClientUpdateAzureDatabricksStorageResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureDatabricksStorage); err != nil {
		return ItemsClientUpdateAzureDatabricksStorageResponse{}, err
	}
	return result, nil
}

// BeginUpdateAzureDatabricksStorageDefinition - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more
// [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the AzureDatabricksStorage's definition does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the AzureDatabricksStorage.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - azureDatabricksStorageID - The AzureDatabricksStorage ID.
//   - updateAzureDatabricksStorageDefinitionRequest - Update AzureDatabricksStorage definition request payload.
//   - options - ItemsClientBeginUpdateAzureDatabricksStorageDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateAzureDatabricksStorageDefinition
//     method.
func (client *ItemsClient) BeginUpdateAzureDatabricksStorageDefinition(ctx context.Context, workspaceID string, azureDatabricksStorageID string, updateAzureDatabricksStorageDefinitionRequest UpdateAzureDatabricksStorageDefinitionRequest, options *ItemsClientBeginUpdateAzureDatabricksStorageDefinitionOptions) (*runtime.Poller[ItemsClientUpdateAzureDatabricksStorageDefinitionResponse], error) {
	return client.beginUpdateAzureDatabricksStorageDefinition(ctx, workspaceID, azureDatabricksStorageID, updateAzureDatabricksStorageDefinitionRequest, options)
}

// UpdateAzureDatabricksStorageDefinition - > [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the AzureDatabricksStorage's definition does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the AzureDatabricksStorage.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateAzureDatabricksStorageDefinition(ctx context.Context, workspaceID string, azureDatabricksStorageID string, updateAzureDatabricksStorageDefinitionRequest UpdateAzureDatabricksStorageDefinitionRequest, options *ItemsClientBeginUpdateAzureDatabricksStorageDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "azuredatabricksstorage.ItemsClient.BeginUpdateAzureDatabricksStorageDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateAzureDatabricksStorageDefinitionCreateRequest(ctx, workspaceID, azureDatabricksStorageID, updateAzureDatabricksStorageDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateAzureDatabricksStorageDefinitionCreateRequest creates the UpdateAzureDatabricksStorageDefinition request.
func (client *ItemsClient) updateAzureDatabricksStorageDefinitionCreateRequest(ctx context.Context, workspaceID string, azureDatabricksStorageID string, updateAzureDatabricksStorageDefinitionRequest UpdateAzureDatabricksStorageDefinitionRequest, options *ItemsClientBeginUpdateAzureDatabricksStorageDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/azureDatabricksStorages/{azureDatabricksStorageId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if azureDatabricksStorageID == "" {
		return nil, errors.New("parameter azureDatabricksStorageID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureDatabricksStorageId}", url.PathEscape(azureDatabricksStorageID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateAzureDatabricksStorageDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateAzureDatabricksStorage - returns ItemsClientCreateAzureDatabricksStorageResponse in sync mode.
// >  [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create an AzureDatabricksStorage with a public definition, refer to the AzureDatabricksStorage definition [/rest/api/fabric/articles/item-management/definitions/azure-databricks-storage-definition]
// article.
//
// PERMISSIONS The caller must have a contributor workspace role.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create an AzureDatabricksStorage, the workspace must be on a supported Fabric capacity. For more information, see: Microsoft Fabric license types
//     [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createAzureDatabricksStorageRequest - Create item request payload.
//   - options - ItemsClientBeginCreateAzureDatabricksStorageOptions contains the optional parameters for the ItemsClient.BeginCreateAzureDatabricksStorage method.
func (client *ItemsClient) CreateAzureDatabricksStorage(ctx context.Context, workspaceID string, createAzureDatabricksStorageRequest CreateAzureDatabricksStorageRequest, options *ItemsClientBeginCreateAzureDatabricksStorageOptions) (ItemsClientCreateAzureDatabricksStorageResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateAzureDatabricksStorage(ctx, workspaceID, createAzureDatabricksStorageRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateAzureDatabricksStorageResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateAzureDatabricksStorageResponse{}, err
	}
	return result, err
}

// beginCreateAzureDatabricksStorage creates the createAzureDatabricksStorage request.
func (client *ItemsClient) beginCreateAzureDatabricksStorage(ctx context.Context, workspaceID string, createAzureDatabricksStorageRequest CreateAzureDatabricksStorageRequest, options *ItemsClientBeginCreateAzureDatabricksStorageOptions) (*runtime.Poller[ItemsClientCreateAzureDatabricksStorageResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createAzureDatabricksStorage(ctx, workspaceID, createAzureDatabricksStorageRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateAzureDatabricksStorageResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateAzureDatabricksStorageResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateAzureDatabricksStorageResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateAzureDatabricksStorageResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetAzureDatabricksStorageDefinition - returns ItemsClientGetAzureDatabricksStorageDefinitionResponse in sync mode.
// >  [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get an AzureDatabricksStorage's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the AzureDatabricksStorage.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - azureDatabricksStorageID - The AzureDatabricksStorage ID.
//   - options - ItemsClientBeginGetAzureDatabricksStorageDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetAzureDatabricksStorageDefinition method.
func (client *ItemsClient) GetAzureDatabricksStorageDefinition(ctx context.Context, workspaceID string, azureDatabricksStorageID string, options *ItemsClientBeginGetAzureDatabricksStorageDefinitionOptions) (ItemsClientGetAzureDatabricksStorageDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetAzureDatabricksStorageDefinition(ctx, workspaceID, azureDatabricksStorageID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetAzureDatabricksStorageDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetAzureDatabricksStorageDefinitionResponse{}, err
	}
	return result, err
}

// beginGetAzureDatabricksStorageDefinition creates the getAzureDatabricksStorageDefinition request.
func (client *ItemsClient) beginGetAzureDatabricksStorageDefinition(ctx context.Context, workspaceID string, azureDatabricksStorageID string, options *ItemsClientBeginGetAzureDatabricksStorageDefinitionOptions) (*runtime.Poller[ItemsClientGetAzureDatabricksStorageDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getAzureDatabricksStorageDefinition(ctx, workspaceID, azureDatabricksStorageID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetAzureDatabricksStorageDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetAzureDatabricksStorageDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetAzureDatabricksStorageDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetAzureDatabricksStorageDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateAzureDatabricksStorageDefinition - returns ItemsClientUpdateAzureDatabricksStorageDefinitionResponse in sync mode.
// >  [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the AzureDatabricksStorage's definition does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the AzureDatabricksStorage.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - azureDatabricksStorageID - The AzureDatabricksStorage ID.
//   - updateAzureDatabricksStorageDefinitionRequest - Update AzureDatabricksStorage definition request payload.
//   - options - ItemsClientBeginUpdateAzureDatabricksStorageDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateAzureDatabricksStorageDefinition method.
func (client *ItemsClient) UpdateAzureDatabricksStorageDefinition(ctx context.Context, workspaceID string, azureDatabricksStorageID string, updateAzureDatabricksStorageDefinitionRequest UpdateAzureDatabricksStorageDefinitionRequest, options *ItemsClientBeginUpdateAzureDatabricksStorageDefinitionOptions) (ItemsClientUpdateAzureDatabricksStorageDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateAzureDatabricksStorageDefinition(ctx, workspaceID, azureDatabricksStorageID, updateAzureDatabricksStorageDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateAzureDatabricksStorageDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateAzureDatabricksStorageDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateAzureDatabricksStorageDefinition creates the updateAzureDatabricksStorageDefinition request.
func (client *ItemsClient) beginUpdateAzureDatabricksStorageDefinition(ctx context.Context, workspaceID string, azureDatabricksStorageID string, updateAzureDatabricksStorageDefinitionRequest UpdateAzureDatabricksStorageDefinitionRequest, options *ItemsClientBeginUpdateAzureDatabricksStorageDefinitionOptions) (*runtime.Poller[ItemsClientUpdateAzureDatabricksStorageDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateAzureDatabricksStorageDefinition(ctx, workspaceID, azureDatabricksStorageID, updateAzureDatabricksStorageDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateAzureDatabricksStorageDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateAzureDatabricksStorageDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateAzureDatabricksStorageDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateAzureDatabricksStorageDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListAzureDatabricksStorages - returns array of AzureDatabricksStorage from all pages.
// >  [!NOTE] AzureDatabricksStorage item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListAzureDatabricksStoragesOptions contains the optional parameters for the ItemsClient.NewListAzureDatabricksStoragesPager method.
func (client *ItemsClient) ListAzureDatabricksStorages(ctx context.Context, workspaceID string, options *ItemsClientListAzureDatabricksStoragesOptions) ([]AzureDatabricksStorage, error) {
	pager := client.NewListAzureDatabricksStoragesPager(workspaceID, options)
	mapper := func(resp ItemsClientListAzureDatabricksStoragesResponse) []AzureDatabricksStorage {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []AzureDatabricksStorage{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []AzureDatabricksStorage{}, err
	}
	return list, nil
}
