// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package anomalydetector

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateAnomalyDetector - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create AnomalyDetector with a definition, refer to AnomalyDetector [/rest/api/fabric/articles/item-management/definitions/anomalydetector-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a AnomalyDetector the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createAnomalyDetectorRequest - Create item request payload.
//   - options - ItemsClientBeginCreateAnomalyDetectorOptions contains the optional parameters for the ItemsClient.BeginCreateAnomalyDetector
//     method.
func (client *ItemsClient) BeginCreateAnomalyDetector(ctx context.Context, workspaceID string, createAnomalyDetectorRequest CreateAnomalyDetectorRequest, options *ItemsClientBeginCreateAnomalyDetectorOptions) (*runtime.Poller[ItemsClientCreateAnomalyDetectorResponse], error) {
	return client.beginCreateAnomalyDetector(ctx, workspaceID, createAnomalyDetectorRequest, options)
}

// CreateAnomalyDetector - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create AnomalyDetector with a definition, refer to AnomalyDetector [/rest/api/fabric/articles/item-management/definitions/anomalydetector-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a AnomalyDetector the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createAnomalyDetector(ctx context.Context, workspaceID string, createAnomalyDetectorRequest CreateAnomalyDetectorRequest, options *ItemsClientBeginCreateAnomalyDetectorOptions) (*http.Response, error) {
	var err error
	const operationName = "anomalydetector.ItemsClient.BeginCreateAnomalyDetector"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createAnomalyDetectorCreateRequest(ctx, workspaceID, createAnomalyDetectorRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createAnomalyDetectorCreateRequest creates the CreateAnomalyDetector request.
func (client *ItemsClient) createAnomalyDetectorCreateRequest(ctx context.Context, workspaceID string, createAnomalyDetectorRequest CreateAnomalyDetectorRequest, _ *ItemsClientBeginCreateAnomalyDetectorOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/anomalydetectors"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createAnomalyDetectorRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteAnomalyDetector - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the AnomalyDetector.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - anomalyDetectorID - The AnomalyDetector ID.
//   - options - ItemsClientDeleteAnomalyDetectorOptions contains the optional parameters for the ItemsClient.DeleteAnomalyDetector
//     method.
func (client *ItemsClient) DeleteAnomalyDetector(ctx context.Context, workspaceID string, anomalyDetectorID string, options *ItemsClientDeleteAnomalyDetectorOptions) (ItemsClientDeleteAnomalyDetectorResponse, error) {
	var err error
	const operationName = "anomalydetector.ItemsClient.DeleteAnomalyDetector"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteAnomalyDetectorCreateRequest(ctx, workspaceID, anomalyDetectorID, options)
	if err != nil {
		return ItemsClientDeleteAnomalyDetectorResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteAnomalyDetectorResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteAnomalyDetectorResponse{}, err
	}
	return ItemsClientDeleteAnomalyDetectorResponse{}, nil
}

// deleteAnomalyDetectorCreateRequest creates the DeleteAnomalyDetector request.
func (client *ItemsClient) deleteAnomalyDetectorCreateRequest(ctx context.Context, workspaceID string, anomalyDetectorID string, _ *ItemsClientDeleteAnomalyDetectorOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/anomalydetectors/{anomalyDetectorId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if anomalyDetectorID == "" {
		return nil, errors.New("parameter anomalyDetectorID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{anomalyDetectorId}", url.PathEscape(anomalyDetectorID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetAnomalyDetector - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the AnomalyDetector.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - anomalyDetectorID - The AnomalyDetector ID.
//   - options - ItemsClientGetAnomalyDetectorOptions contains the optional parameters for the ItemsClient.GetAnomalyDetector
//     method.
func (client *ItemsClient) GetAnomalyDetector(ctx context.Context, workspaceID string, anomalyDetectorID string, options *ItemsClientGetAnomalyDetectorOptions) (ItemsClientGetAnomalyDetectorResponse, error) {
	var err error
	const operationName = "anomalydetector.ItemsClient.GetAnomalyDetector"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getAnomalyDetectorCreateRequest(ctx, workspaceID, anomalyDetectorID, options)
	if err != nil {
		return ItemsClientGetAnomalyDetectorResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetAnomalyDetectorResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetAnomalyDetectorResponse{}, err
	}
	resp, err := client.getAnomalyDetectorHandleResponse(httpResp)
	return resp, err
}

// getAnomalyDetectorCreateRequest creates the GetAnomalyDetector request.
func (client *ItemsClient) getAnomalyDetectorCreateRequest(ctx context.Context, workspaceID string, anomalyDetectorID string, _ *ItemsClientGetAnomalyDetectorOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/anomalydetectors/{anomalyDetectorId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if anomalyDetectorID == "" {
		return nil, errors.New("parameter anomalyDetectorID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{anomalyDetectorId}", url.PathEscape(anomalyDetectorID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getAnomalyDetectorHandleResponse handles the GetAnomalyDetector response.
func (client *ItemsClient) getAnomalyDetectorHandleResponse(resp *http.Response) (ItemsClientGetAnomalyDetectorResponse, error) {
	result := ItemsClientGetAnomalyDetectorResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AnomalyDetector); err != nil {
		return ItemsClientGetAnomalyDetectorResponse{}, err
	}
	return result, nil
}

// BeginGetAnomalyDetectorDefinition - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a AnomalyDetector's definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the AnomalyDetector.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - anomalyDetectorID - The AnomalyDetector ID.
//   - options - ItemsClientBeginGetAnomalyDetectorDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetAnomalyDetectorDefinition
//     method.
func (client *ItemsClient) BeginGetAnomalyDetectorDefinition(ctx context.Context, workspaceID string, anomalyDetectorID string, options *ItemsClientBeginGetAnomalyDetectorDefinitionOptions) (*runtime.Poller[ItemsClientGetAnomalyDetectorDefinitionResponse], error) {
	return client.beginGetAnomalyDetectorDefinition(ctx, workspaceID, anomalyDetectorID, options)
}

// GetAnomalyDetectorDefinition - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a AnomalyDetector's definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the AnomalyDetector.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getAnomalyDetectorDefinition(ctx context.Context, workspaceID string, anomalyDetectorID string, options *ItemsClientBeginGetAnomalyDetectorDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "anomalydetector.ItemsClient.BeginGetAnomalyDetectorDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getAnomalyDetectorDefinitionCreateRequest(ctx, workspaceID, anomalyDetectorID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getAnomalyDetectorDefinitionCreateRequest creates the GetAnomalyDetectorDefinition request.
func (client *ItemsClient) getAnomalyDetectorDefinitionCreateRequest(ctx context.Context, workspaceID string, anomalyDetectorID string, options *ItemsClientBeginGetAnomalyDetectorDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/anomalydetectors/{anomalyDetectorId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if anomalyDetectorID == "" {
		return nil, errors.New("parameter anomalyDetectorID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{anomalyDetectorId}", url.PathEscape(anomalyDetectorID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", string(*options.Format))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListAnomalyDetectorsPager - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListAnomalyDetectorsOptions contains the optional parameters for the ItemsClient.NewListAnomalyDetectorsPager
//     method.
func (client *ItemsClient) NewListAnomalyDetectorsPager(workspaceID string, options *ItemsClientListAnomalyDetectorsOptions) *runtime.Pager[ItemsClientListAnomalyDetectorsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListAnomalyDetectorsResponse]{
		More: func(page ItemsClientListAnomalyDetectorsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListAnomalyDetectorsResponse) (ItemsClientListAnomalyDetectorsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "anomalydetector.ItemsClient.NewListAnomalyDetectorsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listAnomalyDetectorsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListAnomalyDetectorsResponse{}, err
			}
			return client.listAnomalyDetectorsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listAnomalyDetectorsCreateRequest creates the ListAnomalyDetectors request.
func (client *ItemsClient) listAnomalyDetectorsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListAnomalyDetectorsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/anomalydetectors"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listAnomalyDetectorsHandleResponse handles the ListAnomalyDetectors response.
func (client *ItemsClient) listAnomalyDetectorsHandleResponse(resp *http.Response) (ItemsClientListAnomalyDetectorsResponse, error) {
	result := ItemsClientListAnomalyDetectorsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AnomalyDetectors); err != nil {
		return ItemsClientListAnomalyDetectorsResponse{}, err
	}
	return result, nil
}

// UpdateAnomalyDetector - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the AnomalyDetector.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - anomalyDetectorID - The AnomalyDetector ID.
//   - updateAnomalyDetectorRequest - Update AnomalyDetector request payload.
//   - options - ItemsClientUpdateAnomalyDetectorOptions contains the optional parameters for the ItemsClient.UpdateAnomalyDetector
//     method.
func (client *ItemsClient) UpdateAnomalyDetector(ctx context.Context, workspaceID string, anomalyDetectorID string, updateAnomalyDetectorRequest UpdateAnomalyDetectorRequest, options *ItemsClientUpdateAnomalyDetectorOptions) (ItemsClientUpdateAnomalyDetectorResponse, error) {
	var err error
	const operationName = "anomalydetector.ItemsClient.UpdateAnomalyDetector"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateAnomalyDetectorCreateRequest(ctx, workspaceID, anomalyDetectorID, updateAnomalyDetectorRequest, options)
	if err != nil {
		return ItemsClientUpdateAnomalyDetectorResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateAnomalyDetectorResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateAnomalyDetectorResponse{}, err
	}
	resp, err := client.updateAnomalyDetectorHandleResponse(httpResp)
	return resp, err
}

// updateAnomalyDetectorCreateRequest creates the UpdateAnomalyDetector request.
func (client *ItemsClient) updateAnomalyDetectorCreateRequest(ctx context.Context, workspaceID string, anomalyDetectorID string, updateAnomalyDetectorRequest UpdateAnomalyDetectorRequest, _ *ItemsClientUpdateAnomalyDetectorOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/anomalydetectors/{anomalyDetectorId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if anomalyDetectorID == "" {
		return nil, errors.New("parameter anomalyDetectorID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{anomalyDetectorId}", url.PathEscape(anomalyDetectorID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateAnomalyDetectorRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateAnomalyDetectorHandleResponse handles the UpdateAnomalyDetector response.
func (client *ItemsClient) updateAnomalyDetectorHandleResponse(resp *http.Response) (ItemsClientUpdateAnomalyDetectorResponse, error) {
	result := ItemsClientUpdateAnomalyDetectorResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AnomalyDetector); err != nil {
		return ItemsClientUpdateAnomalyDetectorResponse{}, err
	}
	return result, nil
}

// BeginUpdateAnomalyDetectorDefinition - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the AnomalyDetector's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the AnomalyDetector.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - anomalyDetectorID - The AnomalyDetector ID.
//   - updateAnomalyDetectorDefinitionRequest - Update AnomalyDetector definition request payload.
//   - options - ItemsClientBeginUpdateAnomalyDetectorDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateAnomalyDetectorDefinition
//     method.
func (client *ItemsClient) BeginUpdateAnomalyDetectorDefinition(ctx context.Context, workspaceID string, anomalyDetectorID string, updateAnomalyDetectorDefinitionRequest UpdateAnomalyDetectorDefinitionRequest, options *ItemsClientBeginUpdateAnomalyDetectorDefinitionOptions) (*runtime.Poller[ItemsClientUpdateAnomalyDetectorDefinitionResponse], error) {
	return client.beginUpdateAnomalyDetectorDefinition(ctx, workspaceID, anomalyDetectorID, updateAnomalyDetectorDefinitionRequest, options)
}

// UpdateAnomalyDetectorDefinition - > [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the AnomalyDetector's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the AnomalyDetector.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateAnomalyDetectorDefinition(ctx context.Context, workspaceID string, anomalyDetectorID string, updateAnomalyDetectorDefinitionRequest UpdateAnomalyDetectorDefinitionRequest, options *ItemsClientBeginUpdateAnomalyDetectorDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "anomalydetector.ItemsClient.BeginUpdateAnomalyDetectorDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateAnomalyDetectorDefinitionCreateRequest(ctx, workspaceID, anomalyDetectorID, updateAnomalyDetectorDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateAnomalyDetectorDefinitionCreateRequest creates the UpdateAnomalyDetectorDefinition request.
func (client *ItemsClient) updateAnomalyDetectorDefinitionCreateRequest(ctx context.Context, workspaceID string, anomalyDetectorID string, updateAnomalyDetectorDefinitionRequest UpdateAnomalyDetectorDefinitionRequest, options *ItemsClientBeginUpdateAnomalyDetectorDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/anomalydetectors/{anomalyDetectorId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if anomalyDetectorID == "" {
		return nil, errors.New("parameter anomalyDetectorID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{anomalyDetectorId}", url.PathEscape(anomalyDetectorID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateAnomalyDetectorDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateAnomalyDetector - returns ItemsClientCreateAnomalyDetectorResponse in sync mode.
// >  [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create AnomalyDetector with a definition, refer to AnomalyDetector [/rest/api/fabric/articles/item-management/definitions/anomalydetector-definition] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a AnomalyDetector the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types
//     [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createAnomalyDetectorRequest - Create item request payload.
//   - options - ItemsClientBeginCreateAnomalyDetectorOptions contains the optional parameters for the ItemsClient.BeginCreateAnomalyDetector method.
func (client *ItemsClient) CreateAnomalyDetector(ctx context.Context, workspaceID string, createAnomalyDetectorRequest CreateAnomalyDetectorRequest, options *ItemsClientBeginCreateAnomalyDetectorOptions) (ItemsClientCreateAnomalyDetectorResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateAnomalyDetector(ctx, workspaceID, createAnomalyDetectorRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateAnomalyDetectorResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateAnomalyDetectorResponse{}, err
	}
	return result, err
}

// beginCreateAnomalyDetector creates the createAnomalyDetector request.
func (client *ItemsClient) beginCreateAnomalyDetector(ctx context.Context, workspaceID string, createAnomalyDetectorRequest CreateAnomalyDetectorRequest, options *ItemsClientBeginCreateAnomalyDetectorOptions) (*runtime.Poller[ItemsClientCreateAnomalyDetectorResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createAnomalyDetector(ctx, workspaceID, createAnomalyDetectorRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateAnomalyDetectorResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateAnomalyDetectorResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateAnomalyDetectorResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateAnomalyDetectorResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetAnomalyDetectorDefinition - returns ItemsClientGetAnomalyDetectorDefinitionResponse in sync mode.
// >  [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a AnomalyDetector's definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the AnomalyDetector.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - anomalyDetectorID - The AnomalyDetector ID.
//   - options - ItemsClientBeginGetAnomalyDetectorDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetAnomalyDetectorDefinition method.
func (client *ItemsClient) GetAnomalyDetectorDefinition(ctx context.Context, workspaceID string, anomalyDetectorID string, options *ItemsClientBeginGetAnomalyDetectorDefinitionOptions) (ItemsClientGetAnomalyDetectorDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetAnomalyDetectorDefinition(ctx, workspaceID, anomalyDetectorID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetAnomalyDetectorDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetAnomalyDetectorDefinitionResponse{}, err
	}
	return result, err
}

// beginGetAnomalyDetectorDefinition creates the getAnomalyDetectorDefinition request.
func (client *ItemsClient) beginGetAnomalyDetectorDefinition(ctx context.Context, workspaceID string, anomalyDetectorID string, options *ItemsClientBeginGetAnomalyDetectorDefinitionOptions) (*runtime.Poller[ItemsClientGetAnomalyDetectorDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getAnomalyDetectorDefinition(ctx, workspaceID, anomalyDetectorID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetAnomalyDetectorDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetAnomalyDetectorDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetAnomalyDetectorDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetAnomalyDetectorDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateAnomalyDetectorDefinition - returns ItemsClientUpdateAnomalyDetectorDefinitionResponse in sync mode.
// >  [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the AnomalyDetector's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the AnomalyDetector.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - anomalyDetectorID - The AnomalyDetector ID.
//   - updateAnomalyDetectorDefinitionRequest - Update AnomalyDetector definition request payload.
//   - options - ItemsClientBeginUpdateAnomalyDetectorDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateAnomalyDetectorDefinition method.
func (client *ItemsClient) UpdateAnomalyDetectorDefinition(ctx context.Context, workspaceID string, anomalyDetectorID string, updateAnomalyDetectorDefinitionRequest UpdateAnomalyDetectorDefinitionRequest, options *ItemsClientBeginUpdateAnomalyDetectorDefinitionOptions) (ItemsClientUpdateAnomalyDetectorDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateAnomalyDetectorDefinition(ctx, workspaceID, anomalyDetectorID, updateAnomalyDetectorDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateAnomalyDetectorDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateAnomalyDetectorDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateAnomalyDetectorDefinition creates the updateAnomalyDetectorDefinition request.
func (client *ItemsClient) beginUpdateAnomalyDetectorDefinition(ctx context.Context, workspaceID string, anomalyDetectorID string, updateAnomalyDetectorDefinitionRequest UpdateAnomalyDetectorDefinitionRequest, options *ItemsClientBeginUpdateAnomalyDetectorDefinitionOptions) (*runtime.Poller[ItemsClientUpdateAnomalyDetectorDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateAnomalyDetectorDefinition(ctx, workspaceID, anomalyDetectorID, updateAnomalyDetectorDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateAnomalyDetectorDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateAnomalyDetectorDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateAnomalyDetectorDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateAnomalyDetectorDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListAnomalyDetectors - returns array of AnomalyDetector from all pages.
// >  [!NOTE] AnomalyDetector item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListAnomalyDetectorsOptions contains the optional parameters for the ItemsClient.NewListAnomalyDetectorsPager method.
func (client *ItemsClient) ListAnomalyDetectors(ctx context.Context, workspaceID string, options *ItemsClientListAnomalyDetectorsOptions) ([]AnomalyDetector, error) {
	pager := client.NewListAnomalyDetectorsPager(workspaceID, options)
	mapper := func(resp ItemsClientListAnomalyDetectorsResponse) []AnomalyDetector {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []AnomalyDetector{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []AnomalyDetector{}, err
	}
	return list, nil
}
