// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package environment

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// PublishedClient contains the methods for the Published group.
// Don't use this type directly, use a constructor function instead.
type PublishedClient struct {
	internal *azcore.Client
	endpoint string
}

// ExportExternalLibraries - PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - options - PublishedClientExportExternalLibrariesOptions contains the optional parameters for the PublishedClient.ExportExternalLibraries
//     method.
func (client *PublishedClient) ExportExternalLibraries(ctx context.Context, workspaceID string, environmentID string, options *PublishedClientExportExternalLibrariesOptions) (PublishedClientExportExternalLibrariesResponse, error) {
	var err error
	const operationName = "environment.PublishedClient.ExportExternalLibraries"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.exportExternalLibrariesCreateRequest(ctx, workspaceID, environmentID, options)
	if err != nil {
		return PublishedClientExportExternalLibrariesResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PublishedClientExportExternalLibrariesResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PublishedClientExportExternalLibrariesResponse{}, err
	}
	return PublishedClientExportExternalLibrariesResponse{}, nil
}

// exportExternalLibrariesCreateRequest creates the ExportExternalLibraries request.
func (client *PublishedClient) exportExternalLibrariesCreateRequest(ctx context.Context, workspaceID string, environmentID string, _ *PublishedClientExportExternalLibrariesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/libraries/exportExternalLibraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	return req, nil
}

// GetSparkCompute - > [!NOTE] This API is a release version of a preview version due to be deprecated on March 1, 2026. When
// calling this API - callers must set the query parameter preview to the value false
// PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - preview - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - PublishedClientGetSparkComputeOptions contains the optional parameters for the PublishedClient.GetSparkCompute
//     method.
func (client *PublishedClient) GetSparkCompute(ctx context.Context, workspaceID string, environmentID string, preview bool, options *PublishedClientGetSparkComputeOptions) (PublishedClientGetSparkComputeResponse, error) {
	var err error
	const operationName = "environment.PublishedClient.GetSparkCompute"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSparkComputeCreateRequest(ctx, workspaceID, environmentID, preview, options)
	if err != nil {
		return PublishedClientGetSparkComputeResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PublishedClientGetSparkComputeResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PublishedClientGetSparkComputeResponse{}, err
	}
	resp, err := client.getSparkComputeHandleResponse(httpResp)
	return resp, err
}

// getSparkComputeCreateRequest creates the GetSparkCompute request.
func (client *PublishedClient) getSparkComputeCreateRequest(ctx context.Context, workspaceID string, environmentID string, preview bool, _ *PublishedClientGetSparkComputeOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/sparkcompute"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSparkComputeHandleResponse handles the GetSparkCompute response.
func (client *PublishedClient) getSparkComputeHandleResponse(resp *http.Response) (PublishedClientGetSparkComputeResponse, error) {
	result := PublishedClientGetSparkComputeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SparkCompute); err != nil {
		return PublishedClientGetSparkComputeResponse{}, err
	}
	return result, nil
}

// GetSparkComputePreview - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use. This preview API
// will be deprecated on March 1, 2026, and replaced by a stable version, available here [/rest/api/fabric/environment/published/get-spark-compute].
// The new version introduces breaking changes and is not
// backward compatible. When calling this API, callers must specify true as the value for the query parameter preview.
// DEPRECATION NOTICE A new query parameter preview has been introduced to facilitate this transition:
// * The preview query parameter currently defaults to true.
// * Set the value of the preview query parameter to false to use the stable Release version of this API.
// * Starting March 1, 2026, the default value for preview will change to false.
// To ensure compatibility, explicitly set the preview parameter to your desired value (true or false).
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// preview query parameter (the default value for the preview query parameter will
// be set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Response property sparkProperties's type was changed from object to the list of SparkProperty.
// PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - preview - This parameter specifies which version of the API to use. Set to true to use the preview version described on
//     this page, or to false to use the Release version detailed here
//     [/rest/api/fabric/environment/published/get-spark-compute]. Starting March 1, 2026, the default value for preview will
//     change to false.
//   - options - PublishedClientGetSparkComputePreviewOptions contains the optional parameters for the PublishedClient.GetSparkComputePreview
//     method.
func (client *PublishedClient) GetSparkComputePreview(ctx context.Context, workspaceID string, environmentID string, preview bool, options *PublishedClientGetSparkComputePreviewOptions) (PublishedClientGetSparkComputePreviewResponse, error) {
	var err error
	const operationName = "environment.PublishedClient.GetSparkComputePreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSparkComputePreviewCreateRequest(ctx, workspaceID, environmentID, preview, options)
	if err != nil {
		return PublishedClientGetSparkComputePreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PublishedClientGetSparkComputePreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PublishedClientGetSparkComputePreviewResponse{}, err
	}
	resp, err := client.getSparkComputePreviewHandleResponse(httpResp)
	return resp, err
}

// getSparkComputePreviewCreateRequest creates the GetSparkComputePreview request.
func (client *PublishedClient) getSparkComputePreviewCreateRequest(ctx context.Context, workspaceID string, environmentID string, preview bool, _ *PublishedClientGetSparkComputePreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/sparkcompute"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSparkComputePreviewHandleResponse handles the GetSparkComputePreview response.
func (client *PublishedClient) getSparkComputePreviewHandleResponse(resp *http.Response) (PublishedClientGetSparkComputePreviewResponse, error) {
	result := PublishedClientGetSparkComputePreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SparkComputePreview); err != nil {
		return PublishedClientGetSparkComputePreviewResponse{}, err
	}
	return result, nil
}

// NewListLibrariesPager - > [!NOTE] This API is a release version of a preview version due to be deprecated on March 1, 2026.
// When calling this API - callers must set the query parameter preview to the value false
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - preview - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - PublishedClientListLibrariesOptions contains the optional parameters for the PublishedClient.NewListLibrariesPager
//     method.
func (client *PublishedClient) NewListLibrariesPager(workspaceID string, environmentID string, preview bool, options *PublishedClientListLibrariesOptions) *runtime.Pager[PublishedClientListLibrariesResponse] {
	return runtime.NewPager(runtime.PagingHandler[PublishedClientListLibrariesResponse]{
		More: func(page PublishedClientListLibrariesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *PublishedClientListLibrariesResponse) (PublishedClientListLibrariesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "environment.PublishedClient.NewListLibrariesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listLibrariesCreateRequest(ctx, workspaceID, environmentID, preview, options)
			}, nil)
			if err != nil {
				return PublishedClientListLibrariesResponse{}, err
			}
			return client.listLibrariesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listLibrariesCreateRequest creates the ListLibraries request.
func (client *PublishedClient) listLibrariesCreateRequest(ctx context.Context, workspaceID string, environmentID string, preview bool, options *PublishedClientListLibrariesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/libraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listLibrariesHandleResponse handles the ListLibraries response.
func (client *PublishedClient) listLibrariesHandleResponse(resp *http.Response) (PublishedClientListLibrariesResponse, error) {
	result := PublishedClientListLibrariesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Libraries); err != nil {
		return PublishedClientListLibrariesResponse{}, err
	}
	return result, nil
}

// ListLibrariesPreview - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use. This preview API
// will be deprecated on March 1, 2026, and replaced by a stable version, available here [/rest/api/fabric/environment/published/list-libraries].
// The new version introduces breaking changes and is not
// backward compatible. When calling this API, callers must specify true as the value for the query parameter preview.
// DEPRECATION NOTICE A new query parameter preview has been introduced to facilitate this transition:
// * The preview query parameter currently defaults to true.
// * Set the value of the preview query parameter to false to use the stable Release version of this API.
// * Starting March 1, 2026, the default value for preview will change to false.
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// preview query parameter (the default value for the preview query parameter will
// be set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Different response format and schema structure
// * Enhanced library properties in the response
// * Updated field names and data types
// * Improved error handling and messages
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - preview - This parameter specifies which version of the API to use. Set to true to use the preview version described on
//     this page, or to false to use the Release version detailed here
//     [/rest/api/fabric/environment/published/list-libraries]. Starting March 1, 2026, the default value for preview will change
//     to false.
//   - options - PublishedClientListLibrariesPreviewOptions contains the optional parameters for the PublishedClient.ListLibrariesPreview
//     method.
func (client *PublishedClient) ListLibrariesPreview(ctx context.Context, workspaceID string, environmentID string, preview bool, options *PublishedClientListLibrariesPreviewOptions) (PublishedClientListLibrariesPreviewResponse, error) {
	var err error
	const operationName = "environment.PublishedClient.ListLibrariesPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listLibrariesPreviewCreateRequest(ctx, workspaceID, environmentID, preview, options)
	if err != nil {
		return PublishedClientListLibrariesPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PublishedClientListLibrariesPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PublishedClientListLibrariesPreviewResponse{}, err
	}
	resp, err := client.listLibrariesPreviewHandleResponse(httpResp)
	return resp, err
}

// listLibrariesPreviewCreateRequest creates the ListLibrariesPreview request.
func (client *PublishedClient) listLibrariesPreviewCreateRequest(ctx context.Context, workspaceID string, environmentID string, preview bool, _ *PublishedClientListLibrariesPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/libraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listLibrariesPreviewHandleResponse handles the ListLibrariesPreview response.
func (client *PublishedClient) listLibrariesPreviewHandleResponse(resp *http.Response) (PublishedClientListLibrariesPreviewResponse, error) {
	result := PublishedClientListLibrariesPreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.LibrariesPreview); err != nil {
		return PublishedClientListLibrariesPreviewResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListLibraries - returns array of LibraryClassification from all pages.
// >  [!NOTE] This API is a release version of a preview version due to be deprecated on March 1, 2026. When calling this API - callers must set the query parameter preview to the value false
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS Read permission for the environment item.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - preview - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - PublishedClientListLibrariesOptions contains the optional parameters for the PublishedClient.NewListLibrariesPager method.
func (client *PublishedClient) ListLibraries(ctx context.Context, workspaceID string, environmentID string, preview bool, options *PublishedClientListLibrariesOptions) ([]LibraryClassification, error) {
	pager := client.NewListLibrariesPager(workspaceID, environmentID, preview, options)
	mapper := func(resp PublishedClientListLibrariesResponse) []LibraryClassification {
		return resp.Libraries.Libraries
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []LibraryClassification{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []LibraryClassification{}, err
	}
	return list, nil
}
