// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package environment

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// StagingClient contains the methods for the Staging group.
// Don't use this type directly, use a constructor function instead.
type StagingClient struct {
	internal *azcore.Client
	endpoint string
}

// DeleteCustomLibrary - PERMISSIONS Write permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - libraryName - The library name to be deleted. The library name needs to include its extension if it is a custom library,
//     for example samplefile.jar.
//   - options - StagingClientDeleteCustomLibraryOptions contains the optional parameters for the StagingClient.DeleteCustomLibrary
//     method.
func (client *StagingClient) DeleteCustomLibrary(ctx context.Context, workspaceID string, environmentID string, libraryName string, options *StagingClientDeleteCustomLibraryOptions) (StagingClientDeleteCustomLibraryResponse, error) {
	var err error
	const operationName = "environment.StagingClient.DeleteCustomLibrary"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCustomLibraryCreateRequest(ctx, workspaceID, environmentID, libraryName, options)
	if err != nil {
		return StagingClientDeleteCustomLibraryResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientDeleteCustomLibraryResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientDeleteCustomLibraryResponse{}, err
	}
	return StagingClientDeleteCustomLibraryResponse{}, nil
}

// deleteCustomLibraryCreateRequest creates the DeleteCustomLibrary request.
func (client *StagingClient) deleteCustomLibraryCreateRequest(ctx context.Context, workspaceID string, environmentID string, libraryName string, _ *StagingClientDeleteCustomLibraryOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries/{libraryName}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	if libraryName == "" {
		return nil, errors.New("parameter libraryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{libraryName}", url.PathEscape(libraryName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// DeleteCustomLibraryPreview - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use. This beta API will
// be deprecated on March 1, 2026, and replaced by a stable version, available here [/rest/api/fabric/environment/staging/delete-custom-library].
// The new version introduces breaking changes and is not
// backward compatible.**
// DEPRECATION NOTICE It is recommended to migrate your integration to use the Release version.
// The following incompatible changes were introduced in the Release version:
// * The request URL structure has changed: the library name to be removed is now specified directly in the URL path, rather
// than as a query parameter in the libraries collection.
// PERMISSIONS Write permission for the environment item.
// REQUIRED DELEGATED SCOPES Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - libraryToDelete - The library file to be deleted. The library name needs to include its extension, for example samplefile.jar.
//   - options - StagingClientDeleteCustomLibraryPreviewOptions contains the optional parameters for the StagingClient.DeleteCustomLibraryPreview
//     method.
func (client *StagingClient) DeleteCustomLibraryPreview(ctx context.Context, workspaceID string, environmentID string, libraryToDelete string, options *StagingClientDeleteCustomLibraryPreviewOptions) (StagingClientDeleteCustomLibraryPreviewResponse, error) {
	var err error
	const operationName = "environment.StagingClient.DeleteCustomLibraryPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCustomLibraryPreviewCreateRequest(ctx, workspaceID, environmentID, libraryToDelete, options)
	if err != nil {
		return StagingClientDeleteCustomLibraryPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientDeleteCustomLibraryPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientDeleteCustomLibraryPreviewResponse{}, err
	}
	return StagingClientDeleteCustomLibraryPreviewResponse{}, nil
}

// deleteCustomLibraryPreviewCreateRequest creates the DeleteCustomLibraryPreview request.
func (client *StagingClient) deleteCustomLibraryPreviewCreateRequest(ctx context.Context, workspaceID string, environmentID string, libraryToDelete string, _ *StagingClientDeleteCustomLibraryPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("libraryToDelete", libraryToDelete)
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// ExportExternalLibraries - PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - options - StagingClientExportExternalLibrariesOptions contains the optional parameters for the StagingClient.ExportExternalLibraries
//     method.
func (client *StagingClient) ExportExternalLibraries(ctx context.Context, workspaceID string, environmentID string, options *StagingClientExportExternalLibrariesOptions) (StagingClientExportExternalLibrariesResponse, error) {
	var err error
	const operationName = "environment.StagingClient.ExportExternalLibraries"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.exportExternalLibrariesCreateRequest(ctx, workspaceID, environmentID, options)
	if err != nil {
		return StagingClientExportExternalLibrariesResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientExportExternalLibrariesResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientExportExternalLibrariesResponse{}, err
	}
	return StagingClientExportExternalLibrariesResponse{}, nil
}

// exportExternalLibrariesCreateRequest creates the ExportExternalLibraries request.
func (client *StagingClient) exportExternalLibrariesCreateRequest(ctx context.Context, workspaceID string, environmentID string, _ *StagingClientExportExternalLibrariesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries/exportExternalLibraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	return req, nil
}

// GetSparkCompute - > [!NOTE] This API is a release version of a beta version due to be deprecated on March 1, 2026. When
// calling this API - callers must set the query parameter beta to the value false.
// PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - beta - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - StagingClientGetSparkComputeOptions contains the optional parameters for the StagingClient.GetSparkCompute method.
func (client *StagingClient) GetSparkCompute(ctx context.Context, workspaceID string, environmentID string, beta bool, options *StagingClientGetSparkComputeOptions) (StagingClientGetSparkComputeResponse, error) {
	var err error
	const operationName = "environment.StagingClient.GetSparkCompute"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSparkComputeCreateRequest(ctx, workspaceID, environmentID, beta, options)
	if err != nil {
		return StagingClientGetSparkComputeResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientGetSparkComputeResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientGetSparkComputeResponse{}, err
	}
	resp, err := client.getSparkComputeHandleResponse(httpResp)
	return resp, err
}

// getSparkComputeCreateRequest creates the GetSparkCompute request.
func (client *StagingClient) getSparkComputeCreateRequest(ctx context.Context, workspaceID string, environmentID string, beta bool, _ *StagingClientGetSparkComputeOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/sparkcompute"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSparkComputeHandleResponse handles the GetSparkCompute response.
func (client *StagingClient) getSparkComputeHandleResponse(resp *http.Response) (StagingClientGetSparkComputeResponse, error) {
	result := StagingClientGetSparkComputeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SparkCompute); err != nil {
		return StagingClientGetSparkComputeResponse{}, err
	}
	return result, nil
}

// GetSparkComputePreview - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use. This beta API will
// be deprecated on March 1, 2026, and replaced by a stable version, available here [/rest/api/fabric/environment/staging/get-spark-compute].
// The new version introduces breaking changes and is not
// backward compatible. When calling this API, callers must specify true as the value for the query parameter beta (preview
// query parameter has been replaced by beta. For backward compatibility, beta is
// still supported and behaves the same as beta).
// DEPRECATION NOTICE A new query parameter beta has been introduced to facilitate this transition:
// * The beta query parameter currently defaults to true.
// * Set the value of the beta query parameter to false to use the stable Release version of this API.
// * Starting March 1, 2026, the default value for beta will change to false.
// To ensure compatibility, explicitly set the beta parameter to your desired value (true or false).
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// beta query parameter (the default value for the beta query parameter will be
// set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Response property sparkProperties's type was changed from object to the list of SparkProperty.
// PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - beta - This parameter specifies which version of the API to use. Set to true to use the beta version described on this
//     page, or to false to use the Release version detailed here
//     [/rest/api/fabric/environment/staging/get-spark-compute]. Starting March 1, 2026, the default value for beta will change
//     to false.
//   - options - StagingClientGetSparkComputePreviewOptions contains the optional parameters for the StagingClient.GetSparkComputePreview
//     method.
func (client *StagingClient) GetSparkComputePreview(ctx context.Context, workspaceID string, environmentID string, beta bool, options *StagingClientGetSparkComputePreviewOptions) (StagingClientGetSparkComputePreviewResponse, error) {
	var err error
	const operationName = "environment.StagingClient.GetSparkComputePreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSparkComputePreviewCreateRequest(ctx, workspaceID, environmentID, beta, options)
	if err != nil {
		return StagingClientGetSparkComputePreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientGetSparkComputePreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientGetSparkComputePreviewResponse{}, err
	}
	resp, err := client.getSparkComputePreviewHandleResponse(httpResp)
	return resp, err
}

// getSparkComputePreviewCreateRequest creates the GetSparkComputePreview request.
func (client *StagingClient) getSparkComputePreviewCreateRequest(ctx context.Context, workspaceID string, environmentID string, beta bool, _ *StagingClientGetSparkComputePreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/sparkcompute"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSparkComputePreviewHandleResponse handles the GetSparkComputePreview response.
func (client *StagingClient) getSparkComputePreviewHandleResponse(resp *http.Response) (StagingClientGetSparkComputePreviewResponse, error) {
	result := StagingClientGetSparkComputePreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SparkComputePreview); err != nil {
		return StagingClientGetSparkComputePreviewResponse{}, err
	}
	return result, nil
}

// ImportExternalLibraries - This API allows file upload at a time.
// PERMISSIONS Write permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - options - StagingClientImportExternalLibrariesOptions contains the optional parameters for the StagingClient.ImportExternalLibraries
//     method.
func (client *StagingClient) ImportExternalLibraries(ctx context.Context, workspaceID string, environmentID string, options *StagingClientImportExternalLibrariesOptions) (StagingClientImportExternalLibrariesResponse, error) {
	var err error
	const operationName = "environment.StagingClient.ImportExternalLibraries"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.importExternalLibrariesCreateRequest(ctx, workspaceID, environmentID, options)
	if err != nil {
		return StagingClientImportExternalLibrariesResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientImportExternalLibrariesResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientImportExternalLibrariesResponse{}, err
	}
	return StagingClientImportExternalLibrariesResponse{}, nil
}

// importExternalLibrariesCreateRequest creates the ImportExternalLibraries request.
func (client *StagingClient) importExternalLibrariesCreateRequest(ctx context.Context, workspaceID string, environmentID string, _ *StagingClientImportExternalLibrariesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries/importExternalLibraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListLibrariesPager - > [!NOTE] This API is a release version of a beta version due to be deprecated on March 1, 2026.
// When calling this API - callers must set the query parameter beta to the value false
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - beta - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - StagingClientListLibrariesOptions contains the optional parameters for the StagingClient.NewListLibrariesPager
//     method.
func (client *StagingClient) NewListLibrariesPager(workspaceID string, environmentID string, beta bool, options *StagingClientListLibrariesOptions) *runtime.Pager[StagingClientListLibrariesResponse] {
	return runtime.NewPager(runtime.PagingHandler[StagingClientListLibrariesResponse]{
		More: func(page StagingClientListLibrariesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *StagingClientListLibrariesResponse) (StagingClientListLibrariesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "environment.StagingClient.NewListLibrariesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listLibrariesCreateRequest(ctx, workspaceID, environmentID, beta, options)
			}, nil)
			if err != nil {
				return StagingClientListLibrariesResponse{}, err
			}
			return client.listLibrariesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listLibrariesCreateRequest creates the ListLibraries request.
func (client *StagingClient) listLibrariesCreateRequest(ctx context.Context, workspaceID string, environmentID string, beta bool, options *StagingClientListLibrariesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listLibrariesHandleResponse handles the ListLibraries response.
func (client *StagingClient) listLibrariesHandleResponse(resp *http.Response) (StagingClientListLibrariesResponse, error) {
	result := StagingClientListLibrariesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Libraries); err != nil {
		return StagingClientListLibrariesResponse{}, err
	}
	return result, nil
}

// ListLibrariesPreview - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use. This beta API will
// be deprecated on March 1, 2026, and replaced by a stable version, available here [/rest/api/fabric/environment/staging/list-libraries].
// The new version introduces breaking changes and is not backward
// compatible. When calling this API, callers must specify true as the value for the query parameter beta (preview query parameter
// has been replaced by beta. For backward compatibility, preview is still
// supported and behaves the same as beta).
// DEPRECATION NOTICE A new query parameter beta has been introduced to facilitate this transition:
// * The beta query parameter currently defaults to true.
// * Set the value of the beta query parameter to false to use the stable Release version of this API.
// * Starting March 1, 2026, the default value for beta will change to false.
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// beta query parameter (the default value for the beta query parameter will be
// set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Different response format and schema structure
// * Enhanced library properties in the response
// * Updated field names and data types
// * Improved error handling and messages
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS Read permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - beta - This parameter specifies which version of the API to use. Set to true to use the beta version described on this
//     page, or to false to use the Release version detailed here
//     [/rest/api/fabric/environment/staging/list-libraries]. Starting March 1, 2026, the default value for beta will change to
//     false.
//   - options - StagingClientListLibrariesPreviewOptions contains the optional parameters for the StagingClient.ListLibrariesPreview
//     method.
func (client *StagingClient) ListLibrariesPreview(ctx context.Context, workspaceID string, environmentID string, beta bool, options *StagingClientListLibrariesPreviewOptions) (StagingClientListLibrariesPreviewResponse, error) {
	var err error
	const operationName = "environment.StagingClient.ListLibrariesPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listLibrariesPreviewCreateRequest(ctx, workspaceID, environmentID, beta, options)
	if err != nil {
		return StagingClientListLibrariesPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientListLibrariesPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientListLibrariesPreviewResponse{}, err
	}
	resp, err := client.listLibrariesPreviewHandleResponse(httpResp)
	return resp, err
}

// listLibrariesPreviewCreateRequest creates the ListLibrariesPreview request.
func (client *StagingClient) listLibrariesPreviewCreateRequest(ctx context.Context, workspaceID string, environmentID string, beta bool, _ *StagingClientListLibrariesPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listLibrariesPreviewHandleResponse handles the ListLibrariesPreview response.
func (client *StagingClient) listLibrariesPreviewHandleResponse(resp *http.Response) (StagingClientListLibrariesPreviewResponse, error) {
	result := StagingClientListLibrariesPreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.LibrariesPreview); err != nil {
		return StagingClientListLibrariesPreviewResponse{}, err
	}
	return result, nil
}

// RemoveExternalLibrary - This API allows one library deletion at a time.
// PERMISSIONS Write permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - removeExternalLibraryRequest - The external library request payload.
//   - options - StagingClientRemoveExternalLibraryOptions contains the optional parameters for the StagingClient.RemoveExternalLibrary
//     method.
func (client *StagingClient) RemoveExternalLibrary(ctx context.Context, workspaceID string, environmentID string, removeExternalLibraryRequest RemoveExternalLibrariesRequest, options *StagingClientRemoveExternalLibraryOptions) (StagingClientRemoveExternalLibraryResponse, error) {
	var err error
	const operationName = "environment.StagingClient.RemoveExternalLibrary"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.removeExternalLibraryCreateRequest(ctx, workspaceID, environmentID, removeExternalLibraryRequest, options)
	if err != nil {
		return StagingClientRemoveExternalLibraryResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientRemoveExternalLibraryResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientRemoveExternalLibraryResponse{}, err
	}
	return StagingClientRemoveExternalLibraryResponse{}, nil
}

// removeExternalLibraryCreateRequest creates the RemoveExternalLibrary request.
func (client *StagingClient) removeExternalLibraryCreateRequest(ctx context.Context, workspaceID string, environmentID string, removeExternalLibraryRequest RemoveExternalLibrariesRequest, _ *StagingClientRemoveExternalLibraryOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries/removeExternalLibrary"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, removeExternalLibraryRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// UpdateSparkCompute - > [!NOTE] This API is a release version of a beta version due to be deprecated on March 1, 2026. When
// calling this API - callers must set the query parameter beta to the value false
// PERMISSIONS Write permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - beta - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - updateEnvironmentSparkComputeRequest - Update environment spark compute request payload.
//   - options - StagingClientUpdateSparkComputeOptions contains the optional parameters for the StagingClient.UpdateSparkCompute
//     method.
func (client *StagingClient) UpdateSparkCompute(ctx context.Context, workspaceID string, environmentID string, beta bool, updateEnvironmentSparkComputeRequest UpdateEnvironmentSparkComputeRequest, options *StagingClientUpdateSparkComputeOptions) (StagingClientUpdateSparkComputeResponse, error) {
	var err error
	const operationName = "environment.StagingClient.UpdateSparkCompute"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateSparkComputeCreateRequest(ctx, workspaceID, environmentID, beta, updateEnvironmentSparkComputeRequest, options)
	if err != nil {
		return StagingClientUpdateSparkComputeResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientUpdateSparkComputeResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientUpdateSparkComputeResponse{}, err
	}
	resp, err := client.updateSparkComputeHandleResponse(httpResp)
	return resp, err
}

// updateSparkComputeCreateRequest creates the UpdateSparkCompute request.
func (client *StagingClient) updateSparkComputeCreateRequest(ctx context.Context, workspaceID string, environmentID string, beta bool, updateEnvironmentSparkComputeRequest UpdateEnvironmentSparkComputeRequest, _ *StagingClientUpdateSparkComputeOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/sparkcompute"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateEnvironmentSparkComputeRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateSparkComputeHandleResponse handles the UpdateSparkCompute response.
func (client *StagingClient) updateSparkComputeHandleResponse(resp *http.Response) (StagingClientUpdateSparkComputeResponse, error) {
	result := StagingClientUpdateSparkComputeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SparkCompute); err != nil {
		return StagingClientUpdateSparkComputeResponse{}, err
	}
	return result, nil
}

// UpdateSparkComputePreview - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use. This beta API will
// be deprecated on March 1, 2026, and replaced by a stable version, available here [/rest/api/fabric/environment/staging/update-spark-compute].
// The new version introduces breaking changes and is not
// backward compatible. When calling this API, callers must specify true as the value for the query parameter beta (preview
// query parameter has been replaced by beta. For backward compatibility, preview
// is still supported and behaves the same as beta).
// DEPRECATION NOTICE A new query parameter beta has been introduced to facilitate this transition:
// * The beta query parameter currently defaults to true.
// * Set the value of the beta query parameter to false to use the stable Release version of this API.
// * Starting March 1, 2026, the default value for beta will change to false.
// To ensure compatibility, explicitly set the beta parameter to your desired value (true or false).
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// beta query parameter (the default value for the beta query parameter will be
// set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Request and response property sparkProperties's type was changed from object to the list of SparkProperty.
// PERMISSIONS Write permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - beta - This parameter specifies which version of the API to use. Set to true to use the beta version described on this
//     page, or to false to use the Release version detailed here
//     [/rest/api/fabric/environment/staging/update-spark-compute]. Starting March 1, 2026, the default value for beta will change
//     to false.
//   - updateEnvironmentSparkComputeRequest - Update environment spark compute request payload.
//   - options - StagingClientUpdateSparkComputePreviewOptions contains the optional parameters for the StagingClient.UpdateSparkComputePreview
//     method.
func (client *StagingClient) UpdateSparkComputePreview(ctx context.Context, workspaceID string, environmentID string, beta bool, updateEnvironmentSparkComputeRequest UpdateEnvironmentSparkComputeRequestPreview, options *StagingClientUpdateSparkComputePreviewOptions) (StagingClientUpdateSparkComputePreviewResponse, error) {
	var err error
	const operationName = "environment.StagingClient.UpdateSparkComputePreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateSparkComputePreviewCreateRequest(ctx, workspaceID, environmentID, beta, updateEnvironmentSparkComputeRequest, options)
	if err != nil {
		return StagingClientUpdateSparkComputePreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientUpdateSparkComputePreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientUpdateSparkComputePreviewResponse{}, err
	}
	resp, err := client.updateSparkComputePreviewHandleResponse(httpResp)
	return resp, err
}

// updateSparkComputePreviewCreateRequest creates the UpdateSparkComputePreview request.
func (client *StagingClient) updateSparkComputePreviewCreateRequest(ctx context.Context, workspaceID string, environmentID string, beta bool, updateEnvironmentSparkComputeRequest UpdateEnvironmentSparkComputeRequestPreview, _ *StagingClientUpdateSparkComputePreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/sparkcompute"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateEnvironmentSparkComputeRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateSparkComputePreviewHandleResponse handles the UpdateSparkComputePreview response.
func (client *StagingClient) updateSparkComputePreviewHandleResponse(resp *http.Response) (StagingClientUpdateSparkComputePreviewResponse, error) {
	result := StagingClientUpdateSparkComputePreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SparkComputePreview); err != nil {
		return StagingClientUpdateSparkComputePreviewResponse{}, err
	}
	return result, nil
}

// UploadCustomLibrary - This API allows one file upload at a time. The supported file formats are .jar, .py, .whl, and .tar.gz.
// LIMITATIONS The maximum request size allowed is 100MB.
// Network issues may impact the upload size and may result in timeouts.
// CONTENT-TYPE The library file needs to be upload using Content-Type as application/octet-stream.
// PERMISSIONS Write permission for the environment item.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - libraryName - The library name to be uploaded. The library name needs to include its extension, for example samplefile.jar.
//   - options - StagingClientUploadCustomLibraryOptions contains the optional parameters for the StagingClient.UploadCustomLibrary
//     method.
func (client *StagingClient) UploadCustomLibrary(ctx context.Context, workspaceID string, environmentID string, libraryName string, options *StagingClientUploadCustomLibraryOptions) (StagingClientUploadCustomLibraryResponse, error) {
	var err error
	const operationName = "environment.StagingClient.UploadCustomLibrary"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.uploadCustomLibraryCreateRequest(ctx, workspaceID, environmentID, libraryName, options)
	if err != nil {
		return StagingClientUploadCustomLibraryResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientUploadCustomLibraryResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientUploadCustomLibraryResponse{}, err
	}
	return StagingClientUploadCustomLibraryResponse{}, nil
}

// uploadCustomLibraryCreateRequest creates the UploadCustomLibrary request.
func (client *StagingClient) uploadCustomLibraryCreateRequest(ctx context.Context, workspaceID string, environmentID string, libraryName string, _ *StagingClientUploadCustomLibraryOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries/{libraryName}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	if libraryName == "" {
		return nil, errors.New("parameter libraryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{libraryName}", url.PathEscape(libraryName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// UploadCustomLibraryPreview - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use. This beta API will
// be deprecated on March 1, 2026, and replaced by a stable version, available here [/rest/api/fabric/environment/staging/upload-custom-library].
// The new version introduces breaking changes and is not
// backward compatible.**
// DEPRECATION NOTICE It is recommended to migrate your integration to use the Release version.
// The following incompatible changes were introduced in the Release version:
// * The request URL structure has changed: the library name to be added is now specified directly in the URL path.
// * The request now supports application/octet-stream as Content-Type instead of multipart/form-data.
// This API allows one file upload at a time. The supported file formats are .jar, .py, .whl, .tar.gz, or environment.yml.
// LIMITATIONS The maximum request size allowed is 100MB.
// Network issues may impact the upload size and may result in timeouts.
// CONTENT-TYPE The library file needs to be upload using Content-Type as multipart/form-data.
// PERMISSIONS Write permission for the environment item.
// REQUIRED DELEGATED SCOPES Environment.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - options - StagingClientUploadCustomLibraryPreviewOptions contains the optional parameters for the StagingClient.UploadCustomLibraryPreview
//     method.
func (client *StagingClient) UploadCustomLibraryPreview(ctx context.Context, workspaceID string, environmentID string, options *StagingClientUploadCustomLibraryPreviewOptions) (StagingClientUploadCustomLibraryPreviewResponse, error) {
	var err error
	const operationName = "environment.StagingClient.UploadCustomLibraryPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.uploadCustomLibraryPreviewCreateRequest(ctx, workspaceID, environmentID, options)
	if err != nil {
		return StagingClientUploadCustomLibraryPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientUploadCustomLibraryPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientUploadCustomLibraryPreviewResponse{}, err
	}
	return StagingClientUploadCustomLibraryPreviewResponse{}, nil
}

// uploadCustomLibraryPreviewCreateRequest creates the UploadCustomLibraryPreview request.
func (client *StagingClient) uploadCustomLibraryPreviewCreateRequest(ctx context.Context, workspaceID string, environmentID string, _ *StagingClientUploadCustomLibraryPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/environments/{environmentId}/staging/libraries"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if environmentID == "" {
		return nil, errors.New("parameter environmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentId}", url.PathEscape(environmentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Custom code starts below

// ListLibraries - returns array of LibraryClassification from all pages.
// >  [!NOTE] This API is a release version of a beta version due to be deprecated on March 1, 2026. When calling this API - callers must set the query parameter beta to the value false
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS Read permission for the environment item.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or Environment.Read.All or Environment.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - environmentID - The environment ID.
//   - beta - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - StagingClientListLibrariesOptions contains the optional parameters for the StagingClient.NewListLibrariesPager method.
func (client *StagingClient) ListLibraries(ctx context.Context, workspaceID string, environmentID string, beta bool, options *StagingClientListLibrariesOptions) ([]LibraryClassification, error) {
	pager := client.NewListLibrariesPager(workspaceID, environmentID, beta, options)
	mapper := func(resp StagingClientListLibrariesResponse) []LibraryClassification {
		return resp.Libraries.Libraries
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []LibraryClassification{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []LibraryClassification{}, err
	}
	return list, nil
}
