// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package operationsagent

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateOperationsAgent - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create OperationsAgent with a definition, refer to OperationsAgent [/rest/api/fabric/articles/item-management/definitions/operationsagent-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a OperationsAgent the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createOperationsAgentRequest - Create item request payload.
//   - options - ItemsClientBeginCreateOperationsAgentOptions contains the optional parameters for the ItemsClient.BeginCreateOperationsAgent
//     method.
func (client *ItemsClient) BeginCreateOperationsAgent(ctx context.Context, workspaceID string, createOperationsAgentRequest CreateOperationsAgentRequest, options *ItemsClientBeginCreateOperationsAgentOptions) (*runtime.Poller[ItemsClientCreateOperationsAgentResponse], error) {
	return client.beginCreateOperationsAgent(ctx, workspaceID, createOperationsAgentRequest, options)
}

// CreateOperationsAgent - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create OperationsAgent with a definition, refer to OperationsAgent [/rest/api/fabric/articles/item-management/definitions/operationsagent-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a OperationsAgent the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createOperationsAgent(ctx context.Context, workspaceID string, createOperationsAgentRequest CreateOperationsAgentRequest, options *ItemsClientBeginCreateOperationsAgentOptions) (*http.Response, error) {
	var err error
	const operationName = "operationsagent.ItemsClient.BeginCreateOperationsAgent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOperationsAgentCreateRequest(ctx, workspaceID, createOperationsAgentRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOperationsAgentCreateRequest creates the CreateOperationsAgent request.
func (client *ItemsClient) createOperationsAgentCreateRequest(ctx context.Context, workspaceID string, createOperationsAgentRequest CreateOperationsAgentRequest, _ *ItemsClientBeginCreateOperationsAgentOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/OperationsAgents"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createOperationsAgentRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteOperationsAgent - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the OperationsAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - operationsAgentID - The OperationsAgent ID.
//   - options - ItemsClientDeleteOperationsAgentOptions contains the optional parameters for the ItemsClient.DeleteOperationsAgent
//     method.
func (client *ItemsClient) DeleteOperationsAgent(ctx context.Context, workspaceID string, operationsAgentID string, options *ItemsClientDeleteOperationsAgentOptions) (ItemsClientDeleteOperationsAgentResponse, error) {
	var err error
	const operationName = "operationsagent.ItemsClient.DeleteOperationsAgent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteOperationsAgentCreateRequest(ctx, workspaceID, operationsAgentID, options)
	if err != nil {
		return ItemsClientDeleteOperationsAgentResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteOperationsAgentResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteOperationsAgentResponse{}, err
	}
	return ItemsClientDeleteOperationsAgentResponse{}, nil
}

// deleteOperationsAgentCreateRequest creates the DeleteOperationsAgent request.
func (client *ItemsClient) deleteOperationsAgentCreateRequest(ctx context.Context, workspaceID string, operationsAgentID string, _ *ItemsClientDeleteOperationsAgentOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/OperationsAgents/{OperationsAgentId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if operationsAgentID == "" {
		return nil, errors.New("parameter operationsAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{OperationsAgentId}", url.PathEscape(operationsAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetOperationsAgent - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the OperationsAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - operationsAgentID - The OperationsAgent ID.
//   - options - ItemsClientGetOperationsAgentOptions contains the optional parameters for the ItemsClient.GetOperationsAgent
//     method.
func (client *ItemsClient) GetOperationsAgent(ctx context.Context, workspaceID string, operationsAgentID string, options *ItemsClientGetOperationsAgentOptions) (ItemsClientGetOperationsAgentResponse, error) {
	var err error
	const operationName = "operationsagent.ItemsClient.GetOperationsAgent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getOperationsAgentCreateRequest(ctx, workspaceID, operationsAgentID, options)
	if err != nil {
		return ItemsClientGetOperationsAgentResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetOperationsAgentResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetOperationsAgentResponse{}, err
	}
	resp, err := client.getOperationsAgentHandleResponse(httpResp)
	return resp, err
}

// getOperationsAgentCreateRequest creates the GetOperationsAgent request.
func (client *ItemsClient) getOperationsAgentCreateRequest(ctx context.Context, workspaceID string, operationsAgentID string, _ *ItemsClientGetOperationsAgentOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/OperationsAgents/{OperationsAgentId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if operationsAgentID == "" {
		return nil, errors.New("parameter operationsAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{OperationsAgentId}", url.PathEscape(operationsAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getOperationsAgentHandleResponse handles the GetOperationsAgent response.
func (client *ItemsClient) getOperationsAgentHandleResponse(resp *http.Response) (ItemsClientGetOperationsAgentResponse, error) {
	result := ItemsClientGetOperationsAgentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationsAgent); err != nil {
		return ItemsClientGetOperationsAgentResponse{}, err
	}
	return result, nil
}

// BeginGetOperationsAgentDefinition - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a OperationsAgent's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the OperationsAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - operationsAgentID - The OperationsAgent ID.
//   - options - ItemsClientBeginGetOperationsAgentDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetOperationsAgentDefinition
//     method.
func (client *ItemsClient) BeginGetOperationsAgentDefinition(ctx context.Context, workspaceID string, operationsAgentID string, options *ItemsClientBeginGetOperationsAgentDefinitionOptions) (*runtime.Poller[ItemsClientGetOperationsAgentDefinitionResponse], error) {
	return client.beginGetOperationsAgentDefinition(ctx, workspaceID, operationsAgentID, options)
}

// GetOperationsAgentDefinition - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a OperationsAgent's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the OperationsAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getOperationsAgentDefinition(ctx context.Context, workspaceID string, operationsAgentID string, options *ItemsClientBeginGetOperationsAgentDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "operationsagent.ItemsClient.BeginGetOperationsAgentDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getOperationsAgentDefinitionCreateRequest(ctx, workspaceID, operationsAgentID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getOperationsAgentDefinitionCreateRequest creates the GetOperationsAgentDefinition request.
func (client *ItemsClient) getOperationsAgentDefinitionCreateRequest(ctx context.Context, workspaceID string, operationsAgentID string, options *ItemsClientBeginGetOperationsAgentDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/OperationsAgents/{OperationsAgentId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if operationsAgentID == "" {
		return nil, errors.New("parameter operationsAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{OperationsAgentId}", url.PathEscape(operationsAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", string(*options.Format))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListOperationsAgentsPager - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListOperationsAgentsOptions contains the optional parameters for the ItemsClient.NewListOperationsAgentsPager
//     method.
func (client *ItemsClient) NewListOperationsAgentsPager(workspaceID string, options *ItemsClientListOperationsAgentsOptions) *runtime.Pager[ItemsClientListOperationsAgentsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListOperationsAgentsResponse]{
		More: func(page ItemsClientListOperationsAgentsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListOperationsAgentsResponse) (ItemsClientListOperationsAgentsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "operationsagent.ItemsClient.NewListOperationsAgentsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listOperationsAgentsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListOperationsAgentsResponse{}, err
			}
			return client.listOperationsAgentsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listOperationsAgentsCreateRequest creates the ListOperationsAgents request.
func (client *ItemsClient) listOperationsAgentsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListOperationsAgentsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/OperationsAgents"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listOperationsAgentsHandleResponse handles the ListOperationsAgents response.
func (client *ItemsClient) listOperationsAgentsHandleResponse(resp *http.Response) (ItemsClientListOperationsAgentsResponse, error) {
	result := ItemsClientListOperationsAgentsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationsAgents); err != nil {
		return ItemsClientListOperationsAgentsResponse{}, err
	}
	return result, nil
}

// UpdateOperationsAgent - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the OperationsAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - operationsAgentID - The OperationsAgent ID.
//   - updateOperationsAgentRequest - Update OperationsAgent request payload.
//   - options - ItemsClientUpdateOperationsAgentOptions contains the optional parameters for the ItemsClient.UpdateOperationsAgent
//     method.
func (client *ItemsClient) UpdateOperationsAgent(ctx context.Context, workspaceID string, operationsAgentID string, updateOperationsAgentRequest UpdateOperationsAgentRequest, options *ItemsClientUpdateOperationsAgentOptions) (ItemsClientUpdateOperationsAgentResponse, error) {
	var err error
	const operationName = "operationsagent.ItemsClient.UpdateOperationsAgent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateOperationsAgentCreateRequest(ctx, workspaceID, operationsAgentID, updateOperationsAgentRequest, options)
	if err != nil {
		return ItemsClientUpdateOperationsAgentResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateOperationsAgentResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateOperationsAgentResponse{}, err
	}
	resp, err := client.updateOperationsAgentHandleResponse(httpResp)
	return resp, err
}

// updateOperationsAgentCreateRequest creates the UpdateOperationsAgent request.
func (client *ItemsClient) updateOperationsAgentCreateRequest(ctx context.Context, workspaceID string, operationsAgentID string, updateOperationsAgentRequest UpdateOperationsAgentRequest, _ *ItemsClientUpdateOperationsAgentOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/OperationsAgents/{OperationsAgentId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if operationsAgentID == "" {
		return nil, errors.New("parameter operationsAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{OperationsAgentId}", url.PathEscape(operationsAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateOperationsAgentRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateOperationsAgentHandleResponse handles the UpdateOperationsAgent response.
func (client *ItemsClient) updateOperationsAgentHandleResponse(resp *http.Response) (ItemsClientUpdateOperationsAgentResponse, error) {
	result := ItemsClientUpdateOperationsAgentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationsAgent); err != nil {
		return ItemsClientUpdateOperationsAgentResponse{}, err
	}
	return result, nil
}

// BeginUpdateOperationsAgentDefinition - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the OperationsAgent's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the OperationsAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - operationsAgentID - The OperationsAgent ID.
//   - updateOperationsAgentDefinitionRequest - Update OperationsAgent definition request payload.
//   - options - ItemsClientBeginUpdateOperationsAgentDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateOperationsAgentDefinition
//     method.
func (client *ItemsClient) BeginUpdateOperationsAgentDefinition(ctx context.Context, workspaceID string, operationsAgentID string, updateOperationsAgentDefinitionRequest UpdateOperationsAgentDefinitionRequest, options *ItemsClientBeginUpdateOperationsAgentDefinitionOptions) (*runtime.Poller[ItemsClientUpdateOperationsAgentDefinitionResponse], error) {
	return client.beginUpdateOperationsAgentDefinition(ctx, workspaceID, operationsAgentID, updateOperationsAgentDefinitionRequest, options)
}

// UpdateOperationsAgentDefinition - > [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the OperationsAgent's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the OperationsAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateOperationsAgentDefinition(ctx context.Context, workspaceID string, operationsAgentID string, updateOperationsAgentDefinitionRequest UpdateOperationsAgentDefinitionRequest, options *ItemsClientBeginUpdateOperationsAgentDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "operationsagent.ItemsClient.BeginUpdateOperationsAgentDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateOperationsAgentDefinitionCreateRequest(ctx, workspaceID, operationsAgentID, updateOperationsAgentDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateOperationsAgentDefinitionCreateRequest creates the UpdateOperationsAgentDefinition request.
func (client *ItemsClient) updateOperationsAgentDefinitionCreateRequest(ctx context.Context, workspaceID string, operationsAgentID string, updateOperationsAgentDefinitionRequest UpdateOperationsAgentDefinitionRequest, options *ItemsClientBeginUpdateOperationsAgentDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/OperationsAgents/{OperationsAgentId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if operationsAgentID == "" {
		return nil, errors.New("parameter operationsAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{OperationsAgentId}", url.PathEscape(operationsAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateOperationsAgentDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateOperationsAgent - returns ItemsClientCreateOperationsAgentResponse in sync mode.
// >  [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create OperationsAgent with a definition, refer to OperationsAgent [/rest/api/fabric/articles/item-management/definitions/operationsagent-definition] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a OperationsAgent the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types
//     [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createOperationsAgentRequest - Create item request payload.
//   - options - ItemsClientBeginCreateOperationsAgentOptions contains the optional parameters for the ItemsClient.BeginCreateOperationsAgent method.
func (client *ItemsClient) CreateOperationsAgent(ctx context.Context, workspaceID string, createOperationsAgentRequest CreateOperationsAgentRequest, options *ItemsClientBeginCreateOperationsAgentOptions) (ItemsClientCreateOperationsAgentResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateOperationsAgent(ctx, workspaceID, createOperationsAgentRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateOperationsAgentResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateOperationsAgentResponse{}, err
	}
	return result, err
}

// beginCreateOperationsAgent creates the createOperationsAgent request.
func (client *ItemsClient) beginCreateOperationsAgent(ctx context.Context, workspaceID string, createOperationsAgentRequest CreateOperationsAgentRequest, options *ItemsClientBeginCreateOperationsAgentOptions) (*runtime.Poller[ItemsClientCreateOperationsAgentResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOperationsAgent(ctx, workspaceID, createOperationsAgentRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateOperationsAgentResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateOperationsAgentResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateOperationsAgentResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateOperationsAgentResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetOperationsAgentDefinition - returns ItemsClientGetOperationsAgentDefinitionResponse in sync mode.
// >  [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a OperationsAgent's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the OperationsAgent.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - operationsAgentID - The OperationsAgent ID.
//   - options - ItemsClientBeginGetOperationsAgentDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetOperationsAgentDefinition method.
func (client *ItemsClient) GetOperationsAgentDefinition(ctx context.Context, workspaceID string, operationsAgentID string, options *ItemsClientBeginGetOperationsAgentDefinitionOptions) (ItemsClientGetOperationsAgentDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetOperationsAgentDefinition(ctx, workspaceID, operationsAgentID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetOperationsAgentDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetOperationsAgentDefinitionResponse{}, err
	}
	return result, err
}

// beginGetOperationsAgentDefinition creates the getOperationsAgentDefinition request.
func (client *ItemsClient) beginGetOperationsAgentDefinition(ctx context.Context, workspaceID string, operationsAgentID string, options *ItemsClientBeginGetOperationsAgentDefinitionOptions) (*runtime.Poller[ItemsClientGetOperationsAgentDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getOperationsAgentDefinition(ctx, workspaceID, operationsAgentID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetOperationsAgentDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetOperationsAgentDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetOperationsAgentDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetOperationsAgentDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateOperationsAgentDefinition - returns ItemsClientUpdateOperationsAgentDefinitionResponse in sync mode.
// >  [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the OperationsAgent's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the OperationsAgent.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - operationsAgentID - The OperationsAgent ID.
//   - updateOperationsAgentDefinitionRequest - Update OperationsAgent definition request payload.
//   - options - ItemsClientBeginUpdateOperationsAgentDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateOperationsAgentDefinition method.
func (client *ItemsClient) UpdateOperationsAgentDefinition(ctx context.Context, workspaceID string, operationsAgentID string, updateOperationsAgentDefinitionRequest UpdateOperationsAgentDefinitionRequest, options *ItemsClientBeginUpdateOperationsAgentDefinitionOptions) (ItemsClientUpdateOperationsAgentDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateOperationsAgentDefinition(ctx, workspaceID, operationsAgentID, updateOperationsAgentDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateOperationsAgentDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateOperationsAgentDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateOperationsAgentDefinition creates the updateOperationsAgentDefinition request.
func (client *ItemsClient) beginUpdateOperationsAgentDefinition(ctx context.Context, workspaceID string, operationsAgentID string, updateOperationsAgentDefinitionRequest UpdateOperationsAgentDefinitionRequest, options *ItemsClientBeginUpdateOperationsAgentDefinitionOptions) (*runtime.Poller[ItemsClientUpdateOperationsAgentDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateOperationsAgentDefinition(ctx, workspaceID, operationsAgentID, updateOperationsAgentDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateOperationsAgentDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateOperationsAgentDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateOperationsAgentDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateOperationsAgentDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListOperationsAgents - returns array of OperationsAgent from all pages.
// >  [!NOTE] OperationsAgent item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListOperationsAgentsOptions contains the optional parameters for the ItemsClient.NewListOperationsAgentsPager method.
func (client *ItemsClient) ListOperationsAgents(ctx context.Context, workspaceID string, options *ItemsClientListOperationsAgentsOptions) ([]OperationsAgent, error) {
	pager := client.NewListOperationsAgentsPager(workspaceID, options)
	mapper := func(resp ItemsClientListOperationsAgentsResponse) []OperationsAgent {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []OperationsAgent{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []OperationsAgent{}, err
	}
	return list, nil
}
