// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package mirroredcatalog

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// DiscoveryClient contains the methods for the Discovery group.
// Don't use this type directly, use a constructor function instead.
type DiscoveryClient struct {
	internal *azcore.Client
	endpoint string
}

// NewListScopesBetaPager - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use.
// When calling this API, callers must specify true as the value for the query parameter beta.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// Returns a hierarchical list of namespaces from the source catalog. This API is used to browse and select the scope when
// creating or updating a MirroredCatalog.
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All or CatalogMirroring.Read.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - connectionID - The connection ID to the catalog.
//   - options - DiscoveryClientListScopesBetaOptions contains the optional parameters for the DiscoveryClient.NewListScopesBetaPager
//     method.
func (client *DiscoveryClient) NewListScopesBetaPager(workspaceID string, beta bool, connectionID string, options *DiscoveryClientListScopesBetaOptions) *runtime.Pager[DiscoveryClientListScopesBetaResponse] {
	return runtime.NewPager(runtime.PagingHandler[DiscoveryClientListScopesBetaResponse]{
		More: func(page DiscoveryClientListScopesBetaResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *DiscoveryClientListScopesBetaResponse) (DiscoveryClientListScopesBetaResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "mirroredcatalog.DiscoveryClient.NewListScopesBetaPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listScopesBetaCreateRequest(ctx, workspaceID, beta, connectionID, options)
			}, nil)
			if err != nil {
				return DiscoveryClientListScopesBetaResponse{}, err
			}
			return client.listScopesBetaHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listScopesBetaCreateRequest creates the ListScopesBeta request.
func (client *DiscoveryClient) listScopesBetaCreateRequest(ctx context.Context, workspaceID string, beta bool, connectionID string, options *DiscoveryClientListScopesBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/catalogmirroring/scopes"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	reqQP.Set("connectionId", connectionID)
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Parent != nil {
		for _, qv := range options.Parent {
			reqQP.Add("parent", qv)
		}
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listScopesBetaHandleResponse handles the ListScopesBeta response.
func (client *DiscoveryClient) listScopesBetaHandleResponse(resp *http.Response) (DiscoveryClientListScopesBetaResponse, error) {
	result := DiscoveryClientListScopesBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ScopesResponse); err != nil {
		return DiscoveryClientListScopesBetaResponse{}, err
	}
	return result, nil
}

// NewListTablesBetaPager - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use.
// When calling this API, callers must specify true as the value for the query parameter beta.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// Returns a list of tables within a specified namespace scope from the source catalog. This API is used to browse tables
// when configuring partial mirroring with table-level selection.
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All or CatalogMirroring.Read.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - connectionID - The connection ID to the catalog.
//   - options - DiscoveryClientListTablesBetaOptions contains the optional parameters for the DiscoveryClient.NewListTablesBetaPager
//     method.
func (client *DiscoveryClient) NewListTablesBetaPager(workspaceID string, beta bool, connectionID string, options *DiscoveryClientListTablesBetaOptions) *runtime.Pager[DiscoveryClientListTablesBetaResponse] {
	return runtime.NewPager(runtime.PagingHandler[DiscoveryClientListTablesBetaResponse]{
		More: func(page DiscoveryClientListTablesBetaResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *DiscoveryClientListTablesBetaResponse) (DiscoveryClientListTablesBetaResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "mirroredcatalog.DiscoveryClient.NewListTablesBetaPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listTablesBetaCreateRequest(ctx, workspaceID, beta, connectionID, options)
			}, nil)
			if err != nil {
				return DiscoveryClientListTablesBetaResponse{}, err
			}
			return client.listTablesBetaHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listTablesBetaCreateRequest creates the ListTablesBeta request.
func (client *DiscoveryClient) listTablesBetaCreateRequest(ctx context.Context, workspaceID string, beta bool, connectionID string, options *DiscoveryClientListTablesBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/catalogmirroring/tables"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	reqQP.Set("connectionId", connectionID)
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Scope != nil {
		for _, qv := range options.Scope {
			reqQP.Add("scope", qv)
		}
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listTablesBetaHandleResponse handles the ListTablesBeta response.
func (client *DiscoveryClient) listTablesBetaHandleResponse(resp *http.Response) (DiscoveryClientListTablesBetaResponse, error) {
	result := DiscoveryClientListTablesBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TablesResponse); err != nil {
		return DiscoveryClientListTablesBetaResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListScopesBeta - returns array of Scope from all pages.
// >  [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// When calling this API, callers must specify true as the value for the query parameter beta.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// Returns a hierarchical list of namespaces from the source catalog. This API is used to browse and select the scope when creating or updating a MirroredCatalog.
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All or CatalogMirroring.Read.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - connectionID - The connection ID to the catalog.
//   - options - DiscoveryClientListScopesBetaOptions contains the optional parameters for the DiscoveryClient.NewListScopesBetaPager method.
func (client *DiscoveryClient) ListScopesBeta(ctx context.Context, workspaceID string, beta bool, connectionID string, options *DiscoveryClientListScopesBetaOptions) ([]Scope, error) {
	pager := client.NewListScopesBetaPager(workspaceID, beta, connectionID, options)
	mapper := func(resp DiscoveryClientListScopesBetaResponse) []Scope {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []Scope{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []Scope{}, err
	}
	return list, nil
}

// ListTablesBeta - returns array of TableInfo from all pages.
// >  [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// When calling this API, callers must specify true as the value for the query parameter beta.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// Returns a list of tables within a specified namespace scope from the source catalog. This API is used to browse tables when configuring partial mirroring with table-level selection.
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All or CatalogMirroring.Read.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - connectionID - The connection ID to the catalog.
//   - options - DiscoveryClientListTablesBetaOptions contains the optional parameters for the DiscoveryClient.NewListTablesBetaPager method.
func (client *DiscoveryClient) ListTablesBeta(ctx context.Context, workspaceID string, beta bool, connectionID string, options *DiscoveryClientListTablesBetaOptions) ([]TableInfo, error) {
	pager := client.NewListTablesBetaPager(workspaceID, beta, connectionID, options)
	mapper := func(resp DiscoveryClientListTablesBetaResponse) []TableInfo {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []TableInfo{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []TableInfo{}, err
	}
	return list, nil
}
