// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package mirroredcatalog

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateMirroredCatalog - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create MirroredCatalog with a public definition, refer to MirroredCatalog [/rest/api/fabric/articles/item-management/definitions/mirrored-catalog]
// article.
// PERMISSIONS
// The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// LIMITATIONS
// * To create a MirroredCatalog the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// * The scope in the definition payload must be a Selectable namespace as returned by the List Scopes API.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createMirroredCatalogRequest - Create item request payload.
//   - options - ItemsClientBeginCreateMirroredCatalogOptions contains the optional parameters for the ItemsClient.BeginCreateMirroredCatalog
//     method.
func (client *ItemsClient) BeginCreateMirroredCatalog(ctx context.Context, workspaceID string, createMirroredCatalogRequest CreateMirroredCatalogRequest, options *ItemsClientBeginCreateMirroredCatalogOptions) (*runtime.Poller[ItemsClientCreateMirroredCatalogResponse], error) {
	return client.beginCreateMirroredCatalog(ctx, workspaceID, createMirroredCatalogRequest, options)
}

// CreateMirroredCatalog - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create MirroredCatalog with a public definition, refer to MirroredCatalog [/rest/api/fabric/articles/item-management/definitions/mirrored-catalog]
// article.
// PERMISSIONS
// The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// LIMITATIONS
// * To create a MirroredCatalog the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// * The scope in the definition payload must be a Selectable namespace as returned by the List Scopes API.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createMirroredCatalog(ctx context.Context, workspaceID string, createMirroredCatalogRequest CreateMirroredCatalogRequest, options *ItemsClientBeginCreateMirroredCatalogOptions) (*http.Response, error) {
	var err error
	const operationName = "mirroredcatalog.ItemsClient.BeginCreateMirroredCatalog"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createMirroredCatalogCreateRequest(ctx, workspaceID, createMirroredCatalogRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createMirroredCatalogCreateRequest creates the CreateMirroredCatalog request.
func (client *ItemsClient) createMirroredCatalogCreateRequest(ctx context.Context, workspaceID string, createMirroredCatalogRequest CreateMirroredCatalogRequest, _ *ItemsClientBeginCreateMirroredCatalogOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createMirroredCatalogRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteMirroredCatalog - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - options - ItemsClientDeleteMirroredCatalogOptions contains the optional parameters for the ItemsClient.DeleteMirroredCatalog
//     method.
func (client *ItemsClient) DeleteMirroredCatalog(ctx context.Context, workspaceID string, mirroredCatalogID string, options *ItemsClientDeleteMirroredCatalogOptions) (ItemsClientDeleteMirroredCatalogResponse, error) {
	var err error
	const operationName = "mirroredcatalog.ItemsClient.DeleteMirroredCatalog"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteMirroredCatalogCreateRequest(ctx, workspaceID, mirroredCatalogID, options)
	if err != nil {
		return ItemsClientDeleteMirroredCatalogResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteMirroredCatalogResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteMirroredCatalogResponse{}, err
	}
	return ItemsClientDeleteMirroredCatalogResponse{}, nil
}

// deleteMirroredCatalogCreateRequest creates the DeleteMirroredCatalog request.
func (client *ItemsClient) deleteMirroredCatalogCreateRequest(ctx context.Context, workspaceID string, mirroredCatalogID string, _ *ItemsClientDeleteMirroredCatalogOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs/{mirroredCatalogId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mirroredCatalogID == "" {
		return nil, errors.New("parameter mirroredCatalogID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mirroredCatalogId}", url.PathEscape(mirroredCatalogID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetMirroredCatalog - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or MirroredCatalog.Read.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - options - ItemsClientGetMirroredCatalogOptions contains the optional parameters for the ItemsClient.GetMirroredCatalog
//     method.
func (client *ItemsClient) GetMirroredCatalog(ctx context.Context, workspaceID string, mirroredCatalogID string, options *ItemsClientGetMirroredCatalogOptions) (ItemsClientGetMirroredCatalogResponse, error) {
	var err error
	const operationName = "mirroredcatalog.ItemsClient.GetMirroredCatalog"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getMirroredCatalogCreateRequest(ctx, workspaceID, mirroredCatalogID, options)
	if err != nil {
		return ItemsClientGetMirroredCatalogResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetMirroredCatalogResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetMirroredCatalogResponse{}, err
	}
	resp, err := client.getMirroredCatalogHandleResponse(httpResp)
	return resp, err
}

// getMirroredCatalogCreateRequest creates the GetMirroredCatalog request.
func (client *ItemsClient) getMirroredCatalogCreateRequest(ctx context.Context, workspaceID string, mirroredCatalogID string, _ *ItemsClientGetMirroredCatalogOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs/{mirroredCatalogId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mirroredCatalogID == "" {
		return nil, errors.New("parameter mirroredCatalogID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mirroredCatalogId}", url.PathEscape(mirroredCatalogID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getMirroredCatalogHandleResponse handles the GetMirroredCatalog response.
func (client *ItemsClient) getMirroredCatalogHandleResponse(resp *http.Response) (ItemsClientGetMirroredCatalogResponse, error) {
	result := ItemsClientGetMirroredCatalogResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MirroredCatalog); err != nil {
		return ItemsClientGetMirroredCatalogResponse{}, err
	}
	return result, nil
}

// BeginGetMirroredCatalogDefinition - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a MirroredCatalog's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - options - ItemsClientBeginGetMirroredCatalogDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetMirroredCatalogDefinition
//     method.
func (client *ItemsClient) BeginGetMirroredCatalogDefinition(ctx context.Context, workspaceID string, mirroredCatalogID string, options *ItemsClientBeginGetMirroredCatalogDefinitionOptions) (*runtime.Poller[ItemsClientGetMirroredCatalogDefinitionResponse], error) {
	return client.beginGetMirroredCatalogDefinition(ctx, workspaceID, mirroredCatalogID, options)
}

// GetMirroredCatalogDefinition - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a MirroredCatalog's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getMirroredCatalogDefinition(ctx context.Context, workspaceID string, mirroredCatalogID string, options *ItemsClientBeginGetMirroredCatalogDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "mirroredcatalog.ItemsClient.BeginGetMirroredCatalogDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getMirroredCatalogDefinitionCreateRequest(ctx, workspaceID, mirroredCatalogID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getMirroredCatalogDefinitionCreateRequest creates the GetMirroredCatalogDefinition request.
func (client *ItemsClient) getMirroredCatalogDefinitionCreateRequest(ctx context.Context, workspaceID string, mirroredCatalogID string, options *ItemsClientBeginGetMirroredCatalogDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs/{mirroredCatalogId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mirroredCatalogID == "" {
		return nil, errors.New("parameter mirroredCatalogID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mirroredCatalogId}", url.PathEscape(mirroredCatalogID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListMirroredCatalogsPager - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListMirroredCatalogsOptions contains the optional parameters for the ItemsClient.NewListMirroredCatalogsPager
//     method.
func (client *ItemsClient) NewListMirroredCatalogsPager(workspaceID string, options *ItemsClientListMirroredCatalogsOptions) *runtime.Pager[ItemsClientListMirroredCatalogsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListMirroredCatalogsResponse]{
		More: func(page ItemsClientListMirroredCatalogsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListMirroredCatalogsResponse) (ItemsClientListMirroredCatalogsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "mirroredcatalog.ItemsClient.NewListMirroredCatalogsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listMirroredCatalogsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListMirroredCatalogsResponse{}, err
			}
			return client.listMirroredCatalogsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listMirroredCatalogsCreateRequest creates the ListMirroredCatalogs request.
func (client *ItemsClient) listMirroredCatalogsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListMirroredCatalogsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listMirroredCatalogsHandleResponse handles the ListMirroredCatalogs response.
func (client *ItemsClient) listMirroredCatalogsHandleResponse(resp *http.Response) (ItemsClientListMirroredCatalogsResponse, error) {
	result := ItemsClientListMirroredCatalogsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MirroredCatalogs); err != nil {
		return ItemsClientListMirroredCatalogsResponse{}, err
	}
	return result, nil
}

// UpdateMirroredCatalog - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - updateMirroredCatalogRequest - Update MirroredCatalog request payload.
//   - options - ItemsClientUpdateMirroredCatalogOptions contains the optional parameters for the ItemsClient.UpdateMirroredCatalog
//     method.
func (client *ItemsClient) UpdateMirroredCatalog(ctx context.Context, workspaceID string, mirroredCatalogID string, updateMirroredCatalogRequest UpdateMirroredCatalogRequest, options *ItemsClientUpdateMirroredCatalogOptions) (ItemsClientUpdateMirroredCatalogResponse, error) {
	var err error
	const operationName = "mirroredcatalog.ItemsClient.UpdateMirroredCatalog"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateMirroredCatalogCreateRequest(ctx, workspaceID, mirroredCatalogID, updateMirroredCatalogRequest, options)
	if err != nil {
		return ItemsClientUpdateMirroredCatalogResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateMirroredCatalogResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateMirroredCatalogResponse{}, err
	}
	resp, err := client.updateMirroredCatalogHandleResponse(httpResp)
	return resp, err
}

// updateMirroredCatalogCreateRequest creates the UpdateMirroredCatalog request.
func (client *ItemsClient) updateMirroredCatalogCreateRequest(ctx context.Context, workspaceID string, mirroredCatalogID string, updateMirroredCatalogRequest UpdateMirroredCatalogRequest, _ *ItemsClientUpdateMirroredCatalogOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs/{mirroredCatalogId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mirroredCatalogID == "" {
		return nil, errors.New("parameter mirroredCatalogID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mirroredCatalogId}", url.PathEscape(mirroredCatalogID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateMirroredCatalogRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateMirroredCatalogHandleResponse handles the UpdateMirroredCatalog response.
func (client *ItemsClient) updateMirroredCatalogHandleResponse(resp *http.Response) (ItemsClientUpdateMirroredCatalogResponse, error) {
	result := ItemsClientUpdateMirroredCatalogResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MirroredCatalog); err != nil {
		return ItemsClientUpdateMirroredCatalogResponse{}, err
	}
	return result, nil
}

// BeginUpdateMirroredCatalogDefinition - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the MirroredCatalog's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// LIMITATIONS
// * The scope in the definition payload must be a Selectable namespace as returned by the List Scopes API.
// * The sourceType and connectionId properties are immutable and cannot be changed after item creation.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - updateMirroredCatalogDefinitionRequest - Update MirroredCatalog definition request payload.
//   - options - ItemsClientBeginUpdateMirroredCatalogDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateMirroredCatalogDefinition
//     method.
func (client *ItemsClient) BeginUpdateMirroredCatalogDefinition(ctx context.Context, workspaceID string, mirroredCatalogID string, updateMirroredCatalogDefinitionRequest UpdateMirroredCatalogDefinitionRequest, options *ItemsClientBeginUpdateMirroredCatalogDefinitionOptions) (*runtime.Poller[ItemsClientUpdateMirroredCatalogDefinitionResponse], error) {
	return client.beginUpdateMirroredCatalogDefinition(ctx, workspaceID, mirroredCatalogID, updateMirroredCatalogDefinitionRequest, options)
}

// UpdateMirroredCatalogDefinition - > [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the MirroredCatalog's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// LIMITATIONS
// * The scope in the definition payload must be a Selectable namespace as returned by the List Scopes API.
// * The sourceType and connectionId properties are immutable and cannot be changed after item creation.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateMirroredCatalogDefinition(ctx context.Context, workspaceID string, mirroredCatalogID string, updateMirroredCatalogDefinitionRequest UpdateMirroredCatalogDefinitionRequest, options *ItemsClientBeginUpdateMirroredCatalogDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "mirroredcatalog.ItemsClient.BeginUpdateMirroredCatalogDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateMirroredCatalogDefinitionCreateRequest(ctx, workspaceID, mirroredCatalogID, updateMirroredCatalogDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateMirroredCatalogDefinitionCreateRequest creates the UpdateMirroredCatalogDefinition request.
func (client *ItemsClient) updateMirroredCatalogDefinitionCreateRequest(ctx context.Context, workspaceID string, mirroredCatalogID string, updateMirroredCatalogDefinitionRequest UpdateMirroredCatalogDefinitionRequest, options *ItemsClientBeginUpdateMirroredCatalogDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs/{mirroredCatalogId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mirroredCatalogID == "" {
		return nil, errors.New("parameter mirroredCatalogID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mirroredCatalogId}", url.PathEscape(mirroredCatalogID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateMirroredCatalogDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateMirroredCatalog - returns ItemsClientCreateMirroredCatalogResponse in sync mode.
// >  [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create MirroredCatalog with a public definition, refer to MirroredCatalog [/rest/api/fabric/articles/item-management/definitions/mirrored-catalog] article.
//
// PERMISSIONS
// The caller must have a contributor workspace role.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a MirroredCatalog the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types
//     [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//   - The scope in the definition payload must be a Selectable namespace as returned by the List Scopes API.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createMirroredCatalogRequest - Create item request payload.
//   - options - ItemsClientBeginCreateMirroredCatalogOptions contains the optional parameters for the ItemsClient.BeginCreateMirroredCatalog method.
func (client *ItemsClient) CreateMirroredCatalog(ctx context.Context, workspaceID string, createMirroredCatalogRequest CreateMirroredCatalogRequest, options *ItemsClientBeginCreateMirroredCatalogOptions) (ItemsClientCreateMirroredCatalogResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateMirroredCatalog(ctx, workspaceID, createMirroredCatalogRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateMirroredCatalogResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateMirroredCatalogResponse{}, err
	}
	return result, err
}

// beginCreateMirroredCatalog creates the createMirroredCatalog request.
func (client *ItemsClient) beginCreateMirroredCatalog(ctx context.Context, workspaceID string, createMirroredCatalogRequest CreateMirroredCatalogRequest, options *ItemsClientBeginCreateMirroredCatalogOptions) (*runtime.Poller[ItemsClientCreateMirroredCatalogResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createMirroredCatalog(ctx, workspaceID, createMirroredCatalogRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateMirroredCatalogResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateMirroredCatalogResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateMirroredCatalogResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateMirroredCatalogResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetMirroredCatalogDefinition - returns ItemsClientGetMirroredCatalogDefinitionResponse in sync mode.
// >  [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a MirroredCatalog's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - options - ItemsClientBeginGetMirroredCatalogDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetMirroredCatalogDefinition method.
func (client *ItemsClient) GetMirroredCatalogDefinition(ctx context.Context, workspaceID string, mirroredCatalogID string, options *ItemsClientBeginGetMirroredCatalogDefinitionOptions) (ItemsClientGetMirroredCatalogDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetMirroredCatalogDefinition(ctx, workspaceID, mirroredCatalogID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetMirroredCatalogDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetMirroredCatalogDefinitionResponse{}, err
	}
	return result, err
}

// beginGetMirroredCatalogDefinition creates the getMirroredCatalogDefinition request.
func (client *ItemsClient) beginGetMirroredCatalogDefinition(ctx context.Context, workspaceID string, mirroredCatalogID string, options *ItemsClientBeginGetMirroredCatalogDefinitionOptions) (*runtime.Poller[ItemsClientGetMirroredCatalogDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getMirroredCatalogDefinition(ctx, workspaceID, mirroredCatalogID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetMirroredCatalogDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetMirroredCatalogDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetMirroredCatalogDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetMirroredCatalogDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateMirroredCatalogDefinition - returns ItemsClientUpdateMirroredCatalogDefinitionResponse in sync mode.
// >  [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the MirroredCatalog's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
//
// LIMITATIONS
//
//   - The scope in the definition payload must be a Selectable namespace as returned by the List Scopes API.
//   - The sourceType and connectionId properties are immutable and cannot be changed after item creation.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - updateMirroredCatalogDefinitionRequest - Update MirroredCatalog definition request payload.
//   - options - ItemsClientBeginUpdateMirroredCatalogDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateMirroredCatalogDefinition method.
func (client *ItemsClient) UpdateMirroredCatalogDefinition(ctx context.Context, workspaceID string, mirroredCatalogID string, updateMirroredCatalogDefinitionRequest UpdateMirroredCatalogDefinitionRequest, options *ItemsClientBeginUpdateMirroredCatalogDefinitionOptions) (ItemsClientUpdateMirroredCatalogDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateMirroredCatalogDefinition(ctx, workspaceID, mirroredCatalogID, updateMirroredCatalogDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateMirroredCatalogDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateMirroredCatalogDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateMirroredCatalogDefinition creates the updateMirroredCatalogDefinition request.
func (client *ItemsClient) beginUpdateMirroredCatalogDefinition(ctx context.Context, workspaceID string, mirroredCatalogID string, updateMirroredCatalogDefinitionRequest UpdateMirroredCatalogDefinitionRequest, options *ItemsClientBeginUpdateMirroredCatalogDefinitionOptions) (*runtime.Poller[ItemsClientUpdateMirroredCatalogDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateMirroredCatalogDefinition(ctx, workspaceID, mirroredCatalogID, updateMirroredCatalogDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateMirroredCatalogDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateMirroredCatalogDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateMirroredCatalogDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateMirroredCatalogDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListMirroredCatalogs - returns array of MirroredCatalog from all pages.
// >  [!NOTE] MirroredCatalog item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListMirroredCatalogsOptions contains the optional parameters for the ItemsClient.NewListMirroredCatalogsPager method.
func (client *ItemsClient) ListMirroredCatalogs(ctx context.Context, workspaceID string, options *ItemsClientListMirroredCatalogsOptions) ([]MirroredCatalog, error) {
	pager := client.NewListMirroredCatalogsPager(workspaceID, options)
	mapper := func(resp ItemsClientListMirroredCatalogsResponse) []MirroredCatalog {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []MirroredCatalog{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []MirroredCatalog{}, err
	}
	return list, nil
}
