// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package mirroredcatalog

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// MonitoringClient contains the methods for the Monitoring group.
// Don't use this type directly, use a constructor function instead.
type MonitoringClient struct {
	internal *azcore.Client
	endpoint string
}

// MirroringStatusBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use.
// When calling this API, callers must specify true as the value for the query parameter beta.
// Returns the overall mirroring status of the MirroredCatalog.
// PERMISSIONS The caller must have read permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or MirroredCatalog.Read.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - MonitoringClientMirroringStatusBetaOptions contains the optional parameters for the MonitoringClient.MirroringStatusBeta
//     method.
func (client *MonitoringClient) MirroringStatusBeta(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, options *MonitoringClientMirroringStatusBetaOptions) (MonitoringClientMirroringStatusBetaResponse, error) {
	var err error
	const operationName = "mirroredcatalog.MonitoringClient.MirroringStatusBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.mirroringStatusBetaCreateRequest(ctx, workspaceID, mirroredCatalogID, beta, options)
	if err != nil {
		return MonitoringClientMirroringStatusBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MonitoringClientMirroringStatusBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return MonitoringClientMirroringStatusBetaResponse{}, err
	}
	resp, err := client.mirroringStatusBetaHandleResponse(httpResp)
	return resp, err
}

// mirroringStatusBetaCreateRequest creates the MirroringStatusBeta request.
func (client *MonitoringClient) mirroringStatusBetaCreateRequest(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, _ *MonitoringClientMirroringStatusBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs/{mirroredCatalogId}/mirroringStatus"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mirroredCatalogID == "" {
		return nil, errors.New("parameter mirroredCatalogID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mirroredCatalogId}", url.PathEscape(mirroredCatalogID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// mirroringStatusBetaHandleResponse handles the MirroringStatusBeta response.
func (client *MonitoringClient) mirroringStatusBetaHandleResponse(resp *http.Response) (MonitoringClientMirroringStatusBetaResponse, error) {
	result := MonitoringClientMirroringStatusBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MirroringStatusResponse); err != nil {
		return MonitoringClientMirroringStatusBetaResponse{}, err
	}
	return result, nil
}

// NewTablesMirroringStatusBetaPager - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// When calling this API, callers must specify true as the value for the query parameter beta.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// Returns the per-table mirroring status for the MirroredCatalog. This API shows the mirroring status of each table in the
// source catalog.
// PERMISSIONS The caller must have read permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or MirroredCatalog.Read.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - MonitoringClientTablesMirroringStatusBetaOptions contains the optional parameters for the MonitoringClient.NewTablesMirroringStatusBetaPager
//     method.
func (client *MonitoringClient) NewTablesMirroringStatusBetaPager(workspaceID string, mirroredCatalogID string, beta bool, options *MonitoringClientTablesMirroringStatusBetaOptions) *runtime.Pager[MonitoringClientTablesMirroringStatusBetaResponse] {
	return runtime.NewPager(runtime.PagingHandler[MonitoringClientTablesMirroringStatusBetaResponse]{
		More: func(page MonitoringClientTablesMirroringStatusBetaResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *MonitoringClientTablesMirroringStatusBetaResponse) (MonitoringClientTablesMirroringStatusBetaResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "mirroredcatalog.MonitoringClient.NewTablesMirroringStatusBetaPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.tablesMirroringStatusBetaCreateRequest(ctx, workspaceID, mirroredCatalogID, beta, options)
			}, nil)
			if err != nil {
				return MonitoringClientTablesMirroringStatusBetaResponse{}, err
			}
			return client.tablesMirroringStatusBetaHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// tablesMirroringStatusBetaCreateRequest creates the TablesMirroringStatusBeta request.
func (client *MonitoringClient) tablesMirroringStatusBetaCreateRequest(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, options *MonitoringClientTablesMirroringStatusBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs/{mirroredCatalogId}/tablesMirroringStatus"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mirroredCatalogID == "" {
		return nil, errors.New("parameter mirroredCatalogID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mirroredCatalogId}", url.PathEscape(mirroredCatalogID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// tablesMirroringStatusBetaHandleResponse handles the TablesMirroringStatusBeta response.
func (client *MonitoringClient) tablesMirroringStatusBetaHandleResponse(resp *http.Response) (MonitoringClientTablesMirroringStatusBetaResponse, error) {
	result := MonitoringClientTablesMirroringStatusBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TablesMirroringStatusResponse); err != nil {
		return MonitoringClientTablesMirroringStatusBetaResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// TablesMirroringStatusBeta - returns array of TableMirroringStatus from all pages.
// >  [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// When calling this API, callers must specify true as the value for the query parameter beta.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// Returns the per-table mirroring status for the MirroredCatalog. This API shows the mirroring status of each table in the source catalog.
//
// PERMISSIONS The caller must have read permissions for the mirrored catalog.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or MirroredCatalog.Read.All or MirroredCatalog.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - MonitoringClientTablesMirroringStatusBetaOptions contains the optional parameters for the MonitoringClient.NewTablesMirroringStatusBetaPager method.
func (client *MonitoringClient) TablesMirroringStatusBeta(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, options *MonitoringClientTablesMirroringStatusBetaOptions) ([]TableMirroringStatus, error) {
	pager := client.NewTablesMirroringStatusBetaPager(workspaceID, mirroredCatalogID, beta, options)
	mapper := func(resp MonitoringClientTablesMirroringStatusBetaResponse) []TableMirroringStatus {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []TableMirroringStatus{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []TableMirroringStatus{}, err
	}
	return list, nil
}
