// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package mirroredcatalog

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// RefreshClient contains the methods for the Refresh group.
// Don't use this type directly, use a constructor function instead.
type RefreshClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginRefreshCatalogMetadataBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// When calling this API, callers must specify true as the value for the query parameter beta.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Refreshes the catalog metadata from the source Iceberg REST Catalog, synchronizing namespace and table changes.
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - RefreshClientBeginRefreshCatalogMetadataBetaOptions contains the optional parameters for the RefreshClient.BeginRefreshCatalogMetadataBeta
//     method.
func (client *RefreshClient) BeginRefreshCatalogMetadataBeta(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, options *RefreshClientBeginRefreshCatalogMetadataBetaOptions) (*runtime.Poller[RefreshClientRefreshCatalogMetadataBetaResponse], error) {
	return client.beginRefreshCatalogMetadataBeta(ctx, workspaceID, mirroredCatalogID, beta, options)
}

// RefreshCatalogMetadataBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// When calling this API, callers must specify true as the value for the query parameter beta.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Refreshes the catalog metadata from the source Iceberg REST Catalog, synchronizing namespace and table changes.
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *RefreshClient) refreshCatalogMetadataBeta(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, options *RefreshClientBeginRefreshCatalogMetadataBetaOptions) (*http.Response, error) {
	var err error
	const operationName = "mirroredcatalog.RefreshClient.BeginRefreshCatalogMetadataBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.refreshCatalogMetadataBetaCreateRequest(ctx, workspaceID, mirroredCatalogID, beta, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// refreshCatalogMetadataBetaCreateRequest creates the RefreshCatalogMetadataBeta request.
func (client *RefreshClient) refreshCatalogMetadataBetaCreateRequest(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, _ *RefreshClientBeginRefreshCatalogMetadataBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/mirroredCatalogs/{mirroredCatalogId}/refreshCatalogMetadata"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mirroredCatalogID == "" {
		return nil, errors.New("parameter mirroredCatalogID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mirroredCatalogId}", url.PathEscape(mirroredCatalogID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Custom code starts below

// RefreshCatalogMetadataBeta - returns RefreshClientRefreshCatalogMetadataBetaResponse in sync mode.
// >  [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// When calling this API, callers must specify true as the value for the query parameter beta.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Refreshes the catalog metadata from the source Iceberg REST Catalog, synchronizing namespace and table changes.
//
// PERMISSIONS The caller must have read and write permissions for the mirrored catalog.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All or MirroredCatalog.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mirroredCatalogID - The MirroredCatalog ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - RefreshClientBeginRefreshCatalogMetadataBetaOptions contains the optional parameters for the RefreshClient.BeginRefreshCatalogMetadataBeta method.
func (client *RefreshClient) RefreshCatalogMetadataBeta(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, options *RefreshClientBeginRefreshCatalogMetadataBetaOptions) (RefreshClientRefreshCatalogMetadataBetaResponse, error) {
	result, err := iruntime.NewLRO(client.BeginRefreshCatalogMetadataBeta(ctx, workspaceID, mirroredCatalogID, beta, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return RefreshClientRefreshCatalogMetadataBetaResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return RefreshClientRefreshCatalogMetadataBetaResponse{}, err
	}
	return result, err
}

// beginRefreshCatalogMetadataBeta creates the refreshCatalogMetadataBeta request.
func (client *RefreshClient) beginRefreshCatalogMetadataBeta(ctx context.Context, workspaceID string, mirroredCatalogID string, beta bool, options *RefreshClientBeginRefreshCatalogMetadataBetaOptions) (*runtime.Poller[RefreshClientRefreshCatalogMetadataBetaResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.refreshCatalogMetadataBeta(ctx, workspaceID, mirroredCatalogID, beta, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[RefreshClientRefreshCatalogMetadataBetaResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[RefreshClientRefreshCatalogMetadataBetaResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[RefreshClientRefreshCatalogMetadataBetaResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[RefreshClientRefreshCatalogMetadataBetaResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}
