// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package cosmosdbdatabase

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateCosmosDBDatabase - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a Cosmos DB database the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createCosmosDBDatabaseRequest - Create item request payload.
//   - options - ItemsClientBeginCreateCosmosDBDatabaseOptions contains the optional parameters for the ItemsClient.BeginCreateCosmosDBDatabase
//     method.
func (client *ItemsClient) BeginCreateCosmosDBDatabase(ctx context.Context, workspaceID string, createCosmosDBDatabaseRequest CreateCosmosDBDatabaseRequest, options *ItemsClientBeginCreateCosmosDBDatabaseOptions) (*runtime.Poller[ItemsClientCreateCosmosDBDatabaseResponse], error) {
	return client.beginCreateCosmosDBDatabase(ctx, workspaceID, createCosmosDBDatabaseRequest, options)
}

// CreateCosmosDBDatabase - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a Cosmos DB database the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createCosmosDBDatabase(ctx context.Context, workspaceID string, createCosmosDBDatabaseRequest CreateCosmosDBDatabaseRequest, options *ItemsClientBeginCreateCosmosDBDatabaseOptions) (*http.Response, error) {
	var err error
	const operationName = "cosmosdbdatabase.ItemsClient.BeginCreateCosmosDBDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createCosmosDBDatabaseCreateRequest(ctx, workspaceID, createCosmosDBDatabaseRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createCosmosDBDatabaseCreateRequest creates the CreateCosmosDBDatabase request.
func (client *ItemsClient) createCosmosDBDatabaseCreateRequest(ctx context.Context, workspaceID string, createCosmosDBDatabaseRequest CreateCosmosDBDatabaseRequest, _ *ItemsClientBeginCreateCosmosDBDatabaseOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/cosmosDbDatabases"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createCosmosDBDatabaseRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteCosmosDBDatabase - PERMISSIONS The caller must have write permissions for the Cosmos DB database.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - cosmosDbDatabaseID - The Cosmos DB database ID.
//   - options - ItemsClientDeleteCosmosDBDatabaseOptions contains the optional parameters for the ItemsClient.DeleteCosmosDBDatabase
//     method.
func (client *ItemsClient) DeleteCosmosDBDatabase(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, options *ItemsClientDeleteCosmosDBDatabaseOptions) (ItemsClientDeleteCosmosDBDatabaseResponse, error) {
	var err error
	const operationName = "cosmosdbdatabase.ItemsClient.DeleteCosmosDBDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCosmosDBDatabaseCreateRequest(ctx, workspaceID, cosmosDbDatabaseID, options)
	if err != nil {
		return ItemsClientDeleteCosmosDBDatabaseResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteCosmosDBDatabaseResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteCosmosDBDatabaseResponse{}, err
	}
	return ItemsClientDeleteCosmosDBDatabaseResponse{}, nil
}

// deleteCosmosDBDatabaseCreateRequest creates the DeleteCosmosDBDatabase request.
func (client *ItemsClient) deleteCosmosDBDatabaseCreateRequest(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, _ *ItemsClientDeleteCosmosDBDatabaseOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/cosmosDbDatabases/{cosmosDbDatabaseId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if cosmosDbDatabaseID == "" {
		return nil, errors.New("parameter cosmosDbDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cosmosDbDatabaseId}", url.PathEscape(cosmosDbDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetCosmosDBDatabase - PERMISSIONS The caller must have read permissions for the Cosmos DB database.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - cosmosDbDatabaseID - The Cosmos DB database ID.
//   - options - ItemsClientGetCosmosDBDatabaseOptions contains the optional parameters for the ItemsClient.GetCosmosDBDatabase
//     method.
func (client *ItemsClient) GetCosmosDBDatabase(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, options *ItemsClientGetCosmosDBDatabaseOptions) (ItemsClientGetCosmosDBDatabaseResponse, error) {
	var err error
	const operationName = "cosmosdbdatabase.ItemsClient.GetCosmosDBDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCosmosDBDatabaseCreateRequest(ctx, workspaceID, cosmosDbDatabaseID, options)
	if err != nil {
		return ItemsClientGetCosmosDBDatabaseResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetCosmosDBDatabaseResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetCosmosDBDatabaseResponse{}, err
	}
	resp, err := client.getCosmosDBDatabaseHandleResponse(httpResp)
	return resp, err
}

// getCosmosDBDatabaseCreateRequest creates the GetCosmosDBDatabase request.
func (client *ItemsClient) getCosmosDBDatabaseCreateRequest(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, _ *ItemsClientGetCosmosDBDatabaseOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/cosmosDbDatabases/{cosmosDbDatabaseId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if cosmosDbDatabaseID == "" {
		return nil, errors.New("parameter cosmosDbDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cosmosDbDatabaseId}", url.PathEscape(cosmosDbDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getCosmosDBDatabaseHandleResponse handles the GetCosmosDBDatabase response.
func (client *ItemsClient) getCosmosDBDatabaseHandleResponse(resp *http.Response) (ItemsClientGetCosmosDBDatabaseResponse, error) {
	result := ItemsClientGetCosmosDBDatabaseResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CosmosDBDatabase); err != nil {
		return ItemsClientGetCosmosDBDatabaseResponse{}, err
	}
	return result, nil
}

// BeginGetCosmosDBDatabaseDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a Cosmos DB database's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the CosmosDBDatabase.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS This API is blocked for a notebook with an encrypted sensitivity label.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - cosmosDbDatabaseID - The Cosmos DB database ID.
//   - options - ItemsClientBeginGetCosmosDBDatabaseDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetCosmosDBDatabaseDefinition
//     method.
func (client *ItemsClient) BeginGetCosmosDBDatabaseDefinition(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, options *ItemsClientBeginGetCosmosDBDatabaseDefinitionOptions) (*runtime.Poller[ItemsClientGetCosmosDBDatabaseDefinitionResponse], error) {
	return client.beginGetCosmosDBDatabaseDefinition(ctx, workspaceID, cosmosDbDatabaseID, options)
}

// GetCosmosDBDatabaseDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a Cosmos DB database's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the CosmosDBDatabase.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS This API is blocked for a notebook with an encrypted sensitivity label.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getCosmosDBDatabaseDefinition(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, options *ItemsClientBeginGetCosmosDBDatabaseDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "cosmosdbdatabase.ItemsClient.BeginGetCosmosDBDatabaseDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCosmosDBDatabaseDefinitionCreateRequest(ctx, workspaceID, cosmosDbDatabaseID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getCosmosDBDatabaseDefinitionCreateRequest creates the GetCosmosDBDatabaseDefinition request.
func (client *ItemsClient) getCosmosDBDatabaseDefinitionCreateRequest(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, _ *ItemsClientBeginGetCosmosDBDatabaseDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/cosmosDbDatabases/{cosmosDbDatabaseId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if cosmosDbDatabaseID == "" {
		return nil, errors.New("parameter cosmosDbDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cosmosDbDatabaseId}", url.PathEscape(cosmosDbDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListCosmosDBDatabasesPager - PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListCosmosDBDatabasesOptions contains the optional parameters for the ItemsClient.NewListCosmosDBDatabasesPager
//     method.
func (client *ItemsClient) NewListCosmosDBDatabasesPager(workspaceID string, options *ItemsClientListCosmosDBDatabasesOptions) *runtime.Pager[ItemsClientListCosmosDBDatabasesResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListCosmosDBDatabasesResponse]{
		More: func(page ItemsClientListCosmosDBDatabasesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListCosmosDBDatabasesResponse) (ItemsClientListCosmosDBDatabasesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "cosmosdbdatabase.ItemsClient.NewListCosmosDBDatabasesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCosmosDBDatabasesCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListCosmosDBDatabasesResponse{}, err
			}
			return client.listCosmosDBDatabasesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCosmosDBDatabasesCreateRequest creates the ListCosmosDBDatabases request.
func (client *ItemsClient) listCosmosDBDatabasesCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListCosmosDBDatabasesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/cosmosDbDatabases"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listCosmosDBDatabasesHandleResponse handles the ListCosmosDBDatabases response.
func (client *ItemsClient) listCosmosDBDatabasesHandleResponse(resp *http.Response) (ItemsClientListCosmosDBDatabasesResponse, error) {
	result := ItemsClientListCosmosDBDatabasesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CosmosDBDatabases); err != nil {
		return ItemsClientListCosmosDBDatabasesResponse{}, err
	}
	return result, nil
}

// UpdateCosmosDBDatabase - PERMISSIONS The caller must have read and write permissions for the Cosmos DB database.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - cosmosDbDatabaseID - The Cosmos DB database ID.
//   - updateCosmosDBDatabaseRequest - Update Cosmos DB database request payload.
//   - options - ItemsClientUpdateCosmosDBDatabaseOptions contains the optional parameters for the ItemsClient.UpdateCosmosDBDatabase
//     method.
func (client *ItemsClient) UpdateCosmosDBDatabase(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, updateCosmosDBDatabaseRequest UpdateCosmosDBDatabaseRequest, options *ItemsClientUpdateCosmosDBDatabaseOptions) (ItemsClientUpdateCosmosDBDatabaseResponse, error) {
	var err error
	const operationName = "cosmosdbdatabase.ItemsClient.UpdateCosmosDBDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCosmosDBDatabaseCreateRequest(ctx, workspaceID, cosmosDbDatabaseID, updateCosmosDBDatabaseRequest, options)
	if err != nil {
		return ItemsClientUpdateCosmosDBDatabaseResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateCosmosDBDatabaseResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateCosmosDBDatabaseResponse{}, err
	}
	resp, err := client.updateCosmosDBDatabaseHandleResponse(httpResp)
	return resp, err
}

// updateCosmosDBDatabaseCreateRequest creates the UpdateCosmosDBDatabase request.
func (client *ItemsClient) updateCosmosDBDatabaseCreateRequest(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, updateCosmosDBDatabaseRequest UpdateCosmosDBDatabaseRequest, _ *ItemsClientUpdateCosmosDBDatabaseOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/cosmosDbDatabases/{cosmosDbDatabaseId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if cosmosDbDatabaseID == "" {
		return nil, errors.New("parameter cosmosDbDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cosmosDbDatabaseId}", url.PathEscape(cosmosDbDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateCosmosDBDatabaseRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateCosmosDBDatabaseHandleResponse handles the UpdateCosmosDBDatabase response.
func (client *ItemsClient) updateCosmosDBDatabaseHandleResponse(resp *http.Response) (ItemsClientUpdateCosmosDBDatabaseResponse, error) {
	result := ItemsClientUpdateCosmosDBDatabaseResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CosmosDBDatabase); err != nil {
		return ItemsClientUpdateCosmosDBDatabaseResponse{}, err
	}
	return result, nil
}

// BeginUpdateCosmosDBDatabaseDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the Cosmos DB database's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the CosmosDBDatabase.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - cosmosDbDatabaseID - The Cosmos DB database ID.
//   - updateCosmosDBDatabaseDefinitionRequest - Update Cosmos DB database request payload.
//   - options - ItemsClientBeginUpdateCosmosDBDatabaseDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateCosmosDBDatabaseDefinition
//     method.
func (client *ItemsClient) BeginUpdateCosmosDBDatabaseDefinition(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, updateCosmosDBDatabaseDefinitionRequest UpdateCosmosDBDatabaseDefinitionRequest, options *ItemsClientBeginUpdateCosmosDBDatabaseDefinitionOptions) (*runtime.Poller[ItemsClientUpdateCosmosDBDatabaseDefinitionResponse], error) {
	return client.beginUpdateCosmosDBDatabaseDefinition(ctx, workspaceID, cosmosDbDatabaseID, updateCosmosDBDatabaseDefinitionRequest, options)
}

// UpdateCosmosDBDatabaseDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the Cosmos DB database's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the CosmosDBDatabase.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateCosmosDBDatabaseDefinition(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, updateCosmosDBDatabaseDefinitionRequest UpdateCosmosDBDatabaseDefinitionRequest, options *ItemsClientBeginUpdateCosmosDBDatabaseDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "cosmosdbdatabase.ItemsClient.BeginUpdateCosmosDBDatabaseDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCosmosDBDatabaseDefinitionCreateRequest(ctx, workspaceID, cosmosDbDatabaseID, updateCosmosDBDatabaseDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateCosmosDBDatabaseDefinitionCreateRequest creates the UpdateCosmosDBDatabaseDefinition request.
func (client *ItemsClient) updateCosmosDBDatabaseDefinitionCreateRequest(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, updateCosmosDBDatabaseDefinitionRequest UpdateCosmosDBDatabaseDefinitionRequest, options *ItemsClientBeginUpdateCosmosDBDatabaseDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/cosmosDbDatabases/{cosmosDbDatabaseId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if cosmosDbDatabaseID == "" {
		return nil, errors.New("parameter cosmosDbDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cosmosDbDatabaseId}", url.PathEscape(cosmosDbDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateCosmosDBDatabaseDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateCosmosDBDatabase - returns ItemsClientCreateCosmosDBDatabaseResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a Cosmos DB database the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types
//     [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createCosmosDBDatabaseRequest - Create item request payload.
//   - options - ItemsClientBeginCreateCosmosDBDatabaseOptions contains the optional parameters for the ItemsClient.BeginCreateCosmosDBDatabase method.
func (client *ItemsClient) CreateCosmosDBDatabase(ctx context.Context, workspaceID string, createCosmosDBDatabaseRequest CreateCosmosDBDatabaseRequest, options *ItemsClientBeginCreateCosmosDBDatabaseOptions) (ItemsClientCreateCosmosDBDatabaseResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateCosmosDBDatabase(ctx, workspaceID, createCosmosDBDatabaseRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateCosmosDBDatabaseResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateCosmosDBDatabaseResponse{}, err
	}
	return result, err
}

// beginCreateCosmosDBDatabase creates the createCosmosDBDatabase request.
func (client *ItemsClient) beginCreateCosmosDBDatabase(ctx context.Context, workspaceID string, createCosmosDBDatabaseRequest CreateCosmosDBDatabaseRequest, options *ItemsClientBeginCreateCosmosDBDatabaseOptions) (*runtime.Poller[ItemsClientCreateCosmosDBDatabaseResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createCosmosDBDatabase(ctx, workspaceID, createCosmosDBDatabaseRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateCosmosDBDatabaseResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateCosmosDBDatabaseResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateCosmosDBDatabaseResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateCosmosDBDatabaseResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetCosmosDBDatabaseDefinition - returns ItemsClientGetCosmosDBDatabaseDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a Cosmos DB database's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the CosmosDBDatabase.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS This API is blocked for a notebook with an encrypted sensitivity label.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - cosmosDbDatabaseID - The Cosmos DB database ID.
//   - options - ItemsClientBeginGetCosmosDBDatabaseDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetCosmosDBDatabaseDefinition method.
func (client *ItemsClient) GetCosmosDBDatabaseDefinition(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, options *ItemsClientBeginGetCosmosDBDatabaseDefinitionOptions) (ItemsClientGetCosmosDBDatabaseDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetCosmosDBDatabaseDefinition(ctx, workspaceID, cosmosDbDatabaseID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetCosmosDBDatabaseDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetCosmosDBDatabaseDefinitionResponse{}, err
	}
	return result, err
}

// beginGetCosmosDBDatabaseDefinition creates the getCosmosDBDatabaseDefinition request.
func (client *ItemsClient) beginGetCosmosDBDatabaseDefinition(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, options *ItemsClientBeginGetCosmosDBDatabaseDefinitionOptions) (*runtime.Poller[ItemsClientGetCosmosDBDatabaseDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getCosmosDBDatabaseDefinition(ctx, workspaceID, cosmosDbDatabaseID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetCosmosDBDatabaseDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetCosmosDBDatabaseDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetCosmosDBDatabaseDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetCosmosDBDatabaseDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateCosmosDBDatabaseDefinition - returns ItemsClientUpdateCosmosDBDatabaseDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the Cosmos DB database's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the CosmosDBDatabase.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - cosmosDbDatabaseID - The Cosmos DB database ID.
//   - updateCosmosDBDatabaseDefinitionRequest - Update Cosmos DB database request payload.
//   - options - ItemsClientBeginUpdateCosmosDBDatabaseDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateCosmosDBDatabaseDefinition method.
func (client *ItemsClient) UpdateCosmosDBDatabaseDefinition(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, updateCosmosDBDatabaseDefinitionRequest UpdateCosmosDBDatabaseDefinitionRequest, options *ItemsClientBeginUpdateCosmosDBDatabaseDefinitionOptions) (ItemsClientUpdateCosmosDBDatabaseDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateCosmosDBDatabaseDefinition(ctx, workspaceID, cosmosDbDatabaseID, updateCosmosDBDatabaseDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateCosmosDBDatabaseDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateCosmosDBDatabaseDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateCosmosDBDatabaseDefinition creates the updateCosmosDBDatabaseDefinition request.
func (client *ItemsClient) beginUpdateCosmosDBDatabaseDefinition(ctx context.Context, workspaceID string, cosmosDbDatabaseID string, updateCosmosDBDatabaseDefinitionRequest UpdateCosmosDBDatabaseDefinitionRequest, options *ItemsClientBeginUpdateCosmosDBDatabaseDefinitionOptions) (*runtime.Poller[ItemsClientUpdateCosmosDBDatabaseDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateCosmosDBDatabaseDefinition(ctx, workspaceID, cosmosDbDatabaseID, updateCosmosDBDatabaseDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateCosmosDBDatabaseDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateCosmosDBDatabaseDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateCosmosDBDatabaseDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateCosmosDBDatabaseDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListCosmosDBDatabases - returns array of CosmosDBDatabase from all pages.
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListCosmosDBDatabasesOptions contains the optional parameters for the ItemsClient.NewListCosmosDBDatabasesPager method.
func (client *ItemsClient) ListCosmosDBDatabases(ctx context.Context, workspaceID string, options *ItemsClientListCosmosDBDatabasesOptions) ([]CosmosDBDatabase, error) {
	pager := client.NewListCosmosDBDatabasesPager(workspaceID, options)
	mapper := func(resp ItemsClientListCosmosDBDatabasesResponse) []CosmosDBDatabase {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []CosmosDBDatabase{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []CosmosDBDatabase{}, err
	}
	return list, nil
}
