// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package orgapp

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateOrgApp - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create an OrgApp with a public definition, refer to OrgApp [/rest/api/fabric/articles/item-management/definitions/orgapp-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an OrgApp, the user must have the appropriate license. For more information see: Microsoft Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createOrgAppRequest - Create item request payload.
//   - options - ItemsClientBeginCreateOrgAppOptions contains the optional parameters for the ItemsClient.BeginCreateOrgApp method.
func (client *ItemsClient) BeginCreateOrgApp(ctx context.Context, workspaceID string, createOrgAppRequest CreateOrgAppRequest, options *ItemsClientBeginCreateOrgAppOptions) (*runtime.Poller[ItemsClientCreateOrgAppResponse], error) {
	return client.beginCreateOrgApp(ctx, workspaceID, createOrgAppRequest, options)
}

// CreateOrgApp - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create an OrgApp with a public definition, refer to OrgApp [/rest/api/fabric/articles/item-management/definitions/orgapp-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an OrgApp, the user must have the appropriate license. For more information see: Microsoft Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createOrgApp(ctx context.Context, workspaceID string, createOrgAppRequest CreateOrgAppRequest, options *ItemsClientBeginCreateOrgAppOptions) (*http.Response, error) {
	var err error
	const operationName = "orgapp.ItemsClient.BeginCreateOrgApp"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrgAppCreateRequest(ctx, workspaceID, createOrgAppRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrgAppCreateRequest creates the CreateOrgApp request.
func (client *ItemsClient) createOrgAppCreateRequest(ctx context.Context, workspaceID string, createOrgAppRequest CreateOrgAppRequest, _ *ItemsClientBeginCreateOrgAppOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgApps"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createOrgAppRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteOrgApp - PERMISSIONS The caller must have write permissions for the OrgApp.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppID - The OrgApp ID.
//   - options - ItemsClientDeleteOrgAppOptions contains the optional parameters for the ItemsClient.DeleteOrgApp method.
func (client *ItemsClient) DeleteOrgApp(ctx context.Context, workspaceID string, orgAppID string, options *ItemsClientDeleteOrgAppOptions) (ItemsClientDeleteOrgAppResponse, error) {
	var err error
	const operationName = "orgapp.ItemsClient.DeleteOrgApp"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteOrgAppCreateRequest(ctx, workspaceID, orgAppID, options)
	if err != nil {
		return ItemsClientDeleteOrgAppResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteOrgAppResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteOrgAppResponse{}, err
	}
	return ItemsClientDeleteOrgAppResponse{}, nil
}

// deleteOrgAppCreateRequest creates the DeleteOrgApp request.
func (client *ItemsClient) deleteOrgAppCreateRequest(ctx context.Context, workspaceID string, orgAppID string, _ *ItemsClientDeleteOrgAppOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgApps/{orgAppId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppID == "" {
		return nil, errors.New("parameter orgAppID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppId}", url.PathEscape(orgAppID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetOrgApp - PERMISSIONS The caller must have read permissions for the OrgApp.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppID - The OrgApp ID.
//   - options - ItemsClientGetOrgAppOptions contains the optional parameters for the ItemsClient.GetOrgApp method.
func (client *ItemsClient) GetOrgApp(ctx context.Context, workspaceID string, orgAppID string, options *ItemsClientGetOrgAppOptions) (ItemsClientGetOrgAppResponse, error) {
	var err error
	const operationName = "orgapp.ItemsClient.GetOrgApp"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getOrgAppCreateRequest(ctx, workspaceID, orgAppID, options)
	if err != nil {
		return ItemsClientGetOrgAppResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetOrgAppResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetOrgAppResponse{}, err
	}
	resp, err := client.getOrgAppHandleResponse(httpResp)
	return resp, err
}

// getOrgAppCreateRequest creates the GetOrgApp request.
func (client *ItemsClient) getOrgAppCreateRequest(ctx context.Context, workspaceID string, orgAppID string, _ *ItemsClientGetOrgAppOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgApps/{orgAppId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppID == "" {
		return nil, errors.New("parameter orgAppID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppId}", url.PathEscape(orgAppID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getOrgAppHandleResponse handles the GetOrgApp response.
func (client *ItemsClient) getOrgAppHandleResponse(resp *http.Response) (ItemsClientGetOrgAppResponse, error) {
	result := ItemsClientGetOrgAppResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OrgApp); err != nil {
		return ItemsClientGetOrgAppResponse{}, err
	}
	return result, nil
}

// BeginGetOrgAppDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get an OrgApp's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the OrgApp.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppID - The OrgApp ID.
//   - options - ItemsClientBeginGetOrgAppDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetOrgAppDefinition
//     method.
func (client *ItemsClient) BeginGetOrgAppDefinition(ctx context.Context, workspaceID string, orgAppID string, options *ItemsClientBeginGetOrgAppDefinitionOptions) (*runtime.Poller[ItemsClientGetOrgAppDefinitionResponse], error) {
	return client.beginGetOrgAppDefinition(ctx, workspaceID, orgAppID, options)
}

// GetOrgAppDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get an OrgApp's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the OrgApp.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getOrgAppDefinition(ctx context.Context, workspaceID string, orgAppID string, options *ItemsClientBeginGetOrgAppDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "orgapp.ItemsClient.BeginGetOrgAppDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getOrgAppDefinitionCreateRequest(ctx, workspaceID, orgAppID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getOrgAppDefinitionCreateRequest creates the GetOrgAppDefinition request.
func (client *ItemsClient) getOrgAppDefinitionCreateRequest(ctx context.Context, workspaceID string, orgAppID string, options *ItemsClientBeginGetOrgAppDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgApps/{orgAppId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppID == "" {
		return nil, errors.New("parameter orgAppID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppId}", url.PathEscape(orgAppID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListOrgAppsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListOrgAppsOptions contains the optional parameters for the ItemsClient.NewListOrgAppsPager method.
func (client *ItemsClient) NewListOrgAppsPager(workspaceID string, options *ItemsClientListOrgAppsOptions) *runtime.Pager[ItemsClientListOrgAppsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListOrgAppsResponse]{
		More: func(page ItemsClientListOrgAppsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListOrgAppsResponse) (ItemsClientListOrgAppsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "orgapp.ItemsClient.NewListOrgAppsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listOrgAppsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListOrgAppsResponse{}, err
			}
			return client.listOrgAppsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listOrgAppsCreateRequest creates the ListOrgApps request.
func (client *ItemsClient) listOrgAppsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListOrgAppsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgApps"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listOrgAppsHandleResponse handles the ListOrgApps response.
func (client *ItemsClient) listOrgAppsHandleResponse(resp *http.Response) (ItemsClientListOrgAppsResponse, error) {
	result := ItemsClientListOrgAppsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OrgApps); err != nil {
		return ItemsClientListOrgAppsResponse{}, err
	}
	return result, nil
}

// UpdateOrgApp - PERMISSIONS The caller must have read and write permissions for the OrgApp.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppID - The OrgApp ID.
//   - updateOrgAppRequest - Update OrgApp request payload.
//   - options - ItemsClientUpdateOrgAppOptions contains the optional parameters for the ItemsClient.UpdateOrgApp method.
func (client *ItemsClient) UpdateOrgApp(ctx context.Context, workspaceID string, orgAppID string, updateOrgAppRequest UpdateOrgAppRequest, options *ItemsClientUpdateOrgAppOptions) (ItemsClientUpdateOrgAppResponse, error) {
	var err error
	const operationName = "orgapp.ItemsClient.UpdateOrgApp"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateOrgAppCreateRequest(ctx, workspaceID, orgAppID, updateOrgAppRequest, options)
	if err != nil {
		return ItemsClientUpdateOrgAppResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateOrgAppResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateOrgAppResponse{}, err
	}
	resp, err := client.updateOrgAppHandleResponse(httpResp)
	return resp, err
}

// updateOrgAppCreateRequest creates the UpdateOrgApp request.
func (client *ItemsClient) updateOrgAppCreateRequest(ctx context.Context, workspaceID string, orgAppID string, updateOrgAppRequest UpdateOrgAppRequest, _ *ItemsClientUpdateOrgAppOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgApps/{orgAppId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppID == "" {
		return nil, errors.New("parameter orgAppID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppId}", url.PathEscape(orgAppID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateOrgAppRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateOrgAppHandleResponse handles the UpdateOrgApp response.
func (client *ItemsClient) updateOrgAppHandleResponse(resp *http.Response) (ItemsClientUpdateOrgAppResponse, error) {
	result := ItemsClientUpdateOrgAppResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OrgApp); err != nil {
		return ItemsClientUpdateOrgAppResponse{}, err
	}
	return result, nil
}

// BeginUpdateOrgAppDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the OrgApp's definition does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the OrgApp.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppID - The OrgApp ID.
//   - updateOrgAppDefinitionRequest - Update OrgApp definition request payload.
//   - options - ItemsClientBeginUpdateOrgAppDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateOrgAppDefinition
//     method.
func (client *ItemsClient) BeginUpdateOrgAppDefinition(ctx context.Context, workspaceID string, orgAppID string, updateOrgAppDefinitionRequest UpdateOrgAppDefinitionRequest, options *ItemsClientBeginUpdateOrgAppDefinitionOptions) (*runtime.Poller[ItemsClientUpdateOrgAppDefinitionResponse], error) {
	return client.beginUpdateOrgAppDefinition(ctx, workspaceID, orgAppID, updateOrgAppDefinitionRequest, options)
}

// UpdateOrgAppDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the OrgApp's definition does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the OrgApp.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateOrgAppDefinition(ctx context.Context, workspaceID string, orgAppID string, updateOrgAppDefinitionRequest UpdateOrgAppDefinitionRequest, options *ItemsClientBeginUpdateOrgAppDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "orgapp.ItemsClient.BeginUpdateOrgAppDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateOrgAppDefinitionCreateRequest(ctx, workspaceID, orgAppID, updateOrgAppDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateOrgAppDefinitionCreateRequest creates the UpdateOrgAppDefinition request.
func (client *ItemsClient) updateOrgAppDefinitionCreateRequest(ctx context.Context, workspaceID string, orgAppID string, updateOrgAppDefinitionRequest UpdateOrgAppDefinitionRequest, options *ItemsClientBeginUpdateOrgAppDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgApps/{orgAppId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppID == "" {
		return nil, errors.New("parameter orgAppID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppId}", url.PathEscape(orgAppID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateOrgAppDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateOrgApp - returns ItemsClientCreateOrgAppResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create an OrgApp with a public definition, refer to OrgApp [/rest/api/fabric/articles/item-management/definitions/orgapp-definition] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create an OrgApp, the user must have the appropriate license. For more information see: Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createOrgAppRequest - Create item request payload.
//   - options - ItemsClientBeginCreateOrgAppOptions contains the optional parameters for the ItemsClient.BeginCreateOrgApp method.
func (client *ItemsClient) CreateOrgApp(ctx context.Context, workspaceID string, createOrgAppRequest CreateOrgAppRequest, options *ItemsClientBeginCreateOrgAppOptions) (ItemsClientCreateOrgAppResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateOrgApp(ctx, workspaceID, createOrgAppRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateOrgAppResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateOrgAppResponse{}, err
	}
	return result, err
}

// beginCreateOrgApp creates the createOrgApp request.
func (client *ItemsClient) beginCreateOrgApp(ctx context.Context, workspaceID string, createOrgAppRequest CreateOrgAppRequest, options *ItemsClientBeginCreateOrgAppOptions) (*runtime.Poller[ItemsClientCreateOrgAppResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrgApp(ctx, workspaceID, createOrgAppRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateOrgAppResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateOrgAppResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateOrgAppResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateOrgAppResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetOrgAppDefinition - returns ItemsClientGetOrgAppDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get an OrgApp's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the OrgApp.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppID - The OrgApp ID.
//   - options - ItemsClientBeginGetOrgAppDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetOrgAppDefinition method.
func (client *ItemsClient) GetOrgAppDefinition(ctx context.Context, workspaceID string, orgAppID string, options *ItemsClientBeginGetOrgAppDefinitionOptions) (ItemsClientGetOrgAppDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetOrgAppDefinition(ctx, workspaceID, orgAppID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetOrgAppDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetOrgAppDefinitionResponse{}, err
	}
	return result, err
}

// beginGetOrgAppDefinition creates the getOrgAppDefinition request.
func (client *ItemsClient) beginGetOrgAppDefinition(ctx context.Context, workspaceID string, orgAppID string, options *ItemsClientBeginGetOrgAppDefinitionOptions) (*runtime.Poller[ItemsClientGetOrgAppDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getOrgAppDefinition(ctx, workspaceID, orgAppID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetOrgAppDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetOrgAppDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetOrgAppDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetOrgAppDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateOrgAppDefinition - returns ItemsClientUpdateOrgAppDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the OrgApp's definition does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the OrgApp.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppID - The OrgApp ID.
//   - updateOrgAppDefinitionRequest - Update OrgApp definition request payload.
//   - options - ItemsClientBeginUpdateOrgAppDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateOrgAppDefinition method.
func (client *ItemsClient) UpdateOrgAppDefinition(ctx context.Context, workspaceID string, orgAppID string, updateOrgAppDefinitionRequest UpdateOrgAppDefinitionRequest, options *ItemsClientBeginUpdateOrgAppDefinitionOptions) (ItemsClientUpdateOrgAppDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateOrgAppDefinition(ctx, workspaceID, orgAppID, updateOrgAppDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateOrgAppDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateOrgAppDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateOrgAppDefinition creates the updateOrgAppDefinition request.
func (client *ItemsClient) beginUpdateOrgAppDefinition(ctx context.Context, workspaceID string, orgAppID string, updateOrgAppDefinitionRequest UpdateOrgAppDefinitionRequest, options *ItemsClientBeginUpdateOrgAppDefinitionOptions) (*runtime.Poller[ItemsClientUpdateOrgAppDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateOrgAppDefinition(ctx, workspaceID, orgAppID, updateOrgAppDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateOrgAppDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateOrgAppDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateOrgAppDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateOrgAppDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListOrgApps - returns array of OrgApp from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListOrgAppsOptions contains the optional parameters for the ItemsClient.NewListOrgAppsPager method.
func (client *ItemsClient) ListOrgApps(ctx context.Context, workspaceID string, options *ItemsClientListOrgAppsOptions) ([]OrgApp, error) {
	pager := client.NewListOrgAppsPager(workspaceID, options)
	mapper := func(resp ItemsClientListOrgAppsResponse) []OrgApp {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []OrgApp{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []OrgApp{}, err
	}
	return list, nil
}
