// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package sqlendpoint

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetConnectionString - PERMISSIONS The caller must have read permissions for the warehouse. The caller must have viewer
// or higher workspace role.
// REQUIRED DELEGATED SCOPES SqlEndpoint.Read.All or SqlEndpoint.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - sqlEndpointID - The SQL endpoint ID.
//   - options - ItemsClientGetConnectionStringOptions contains the optional parameters for the ItemsClient.GetConnectionString
//     method.
func (client *ItemsClient) GetConnectionString(ctx context.Context, workspaceID string, sqlEndpointID string, options *ItemsClientGetConnectionStringOptions) (ItemsClientGetConnectionStringResponse, error) {
	var err error
	const operationName = "sqlendpoint.ItemsClient.GetConnectionString"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getConnectionStringCreateRequest(ctx, workspaceID, sqlEndpointID, options)
	if err != nil {
		return ItemsClientGetConnectionStringResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetConnectionStringResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetConnectionStringResponse{}, err
	}
	resp, err := client.getConnectionStringHandleResponse(httpResp)
	return resp, err
}

// getConnectionStringCreateRequest creates the GetConnectionString request.
func (client *ItemsClient) getConnectionStringCreateRequest(ctx context.Context, workspaceID string, sqlEndpointID string, options *ItemsClientGetConnectionStringOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/sqlEndpoints/{sqlEndpointId}/connectionString"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if sqlEndpointID == "" {
		return nil, errors.New("parameter sqlEndpointID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlEndpointId}", url.PathEscape(sqlEndpointID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.GuestTenantID != nil {
		reqQP.Set("guestTenantId", *options.GuestTenantID)
	}
	if options != nil && options.PrivateLinkType != nil {
		reqQP.Set("privateLinkType", string(*options.PrivateLinkType))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getConnectionStringHandleResponse handles the GetConnectionString response.
func (client *ItemsClient) getConnectionStringHandleResponse(resp *http.Response) (ItemsClientGetConnectionStringResponse, error) {
	result := ItemsClientGetConnectionStringResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ConnectionStringResponse); err != nil {
		return ItemsClientGetConnectionStringResponse{}, err
	}
	return result, nil
}

// NewListSQLEndpointsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListSQLEndpointsOptions contains the optional parameters for the ItemsClient.NewListSQLEndpointsPager
//     method.
func (client *ItemsClient) NewListSQLEndpointsPager(workspaceID string, options *ItemsClientListSQLEndpointsOptions) *runtime.Pager[ItemsClientListSQLEndpointsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListSQLEndpointsResponse]{
		More: func(page ItemsClientListSQLEndpointsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListSQLEndpointsResponse) (ItemsClientListSQLEndpointsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "sqlendpoint.ItemsClient.NewListSQLEndpointsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listSQLEndpointsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListSQLEndpointsResponse{}, err
			}
			return client.listSQLEndpointsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listSQLEndpointsCreateRequest creates the ListSQLEndpoints request.
func (client *ItemsClient) listSQLEndpointsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListSQLEndpointsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/sqlEndpoints"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listSQLEndpointsHandleResponse handles the ListSQLEndpoints response.
func (client *ItemsClient) listSQLEndpointsHandleResponse(resp *http.Response) (ItemsClientListSQLEndpointsResponse, error) {
	result := ItemsClientListSQLEndpointsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLEndpoints); err != nil {
		return ItemsClientListSQLEndpointsResponse{}, err
	}
	return result, nil
}

// BeginRefreshSQLEndpointMetadata - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - sqlEndpointID - The SQL analytics endpoint ID.
//   - options - ItemsClientBeginRefreshSQLEndpointMetadataOptions contains the optional parameters for the ItemsClient.BeginRefreshSQLEndpointMetadata
//     method.
func (client *ItemsClient) BeginRefreshSQLEndpointMetadata(ctx context.Context, workspaceID string, sqlEndpointID string, options *ItemsClientBeginRefreshSQLEndpointMetadataOptions) (*runtime.Poller[ItemsClientRefreshSQLEndpointMetadataResponse], error) {
	return client.beginRefreshSQLEndpointMetadata(ctx, workspaceID, sqlEndpointID, options)
}

// RefreshSQLEndpointMetadata - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) refreshSQLEndpointMetadata(ctx context.Context, workspaceID string, sqlEndpointID string, options *ItemsClientBeginRefreshSQLEndpointMetadataOptions) (*http.Response, error) {
	var err error
	const operationName = "sqlendpoint.ItemsClient.BeginRefreshSQLEndpointMetadata"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.refreshSQLEndpointMetadataCreateRequest(ctx, workspaceID, sqlEndpointID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// refreshSQLEndpointMetadataCreateRequest creates the RefreshSQLEndpointMetadata request.
func (client *ItemsClient) refreshSQLEndpointMetadataCreateRequest(ctx context.Context, workspaceID string, sqlEndpointID string, options *ItemsClientBeginRefreshSQLEndpointMetadataOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/sqlEndpoints/{sqlEndpointId}/refreshMetadata"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if sqlEndpointID == "" {
		return nil, errors.New("parameter sqlEndpointID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlEndpointId}", url.PathEscape(sqlEndpointID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.SQLEndpointRefreshMetadataRequest != nil {
		if err := runtime.MarshalAsJSON(req, *options.SQLEndpointRefreshMetadataRequest); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// Custom code starts below

// RefreshSQLEndpointMetadata - returns ItemsClientRefreshSQLEndpointMetadataResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have contributor or higher workspace role.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - sqlEndpointID - The SQL analytics endpoint ID.
//   - options - ItemsClientBeginRefreshSQLEndpointMetadataOptions contains the optional parameters for the ItemsClient.BeginRefreshSQLEndpointMetadata method.
func (client *ItemsClient) RefreshSQLEndpointMetadata(ctx context.Context, workspaceID string, sqlEndpointID string, options *ItemsClientBeginRefreshSQLEndpointMetadataOptions) (ItemsClientRefreshSQLEndpointMetadataResponse, error) {
	result, err := iruntime.NewLRO(client.BeginRefreshSQLEndpointMetadata(ctx, workspaceID, sqlEndpointID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientRefreshSQLEndpointMetadataResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientRefreshSQLEndpointMetadataResponse{}, err
	}
	return result, err
}

// beginRefreshSQLEndpointMetadata creates the refreshSQLEndpointMetadata request.
func (client *ItemsClient) beginRefreshSQLEndpointMetadata(ctx context.Context, workspaceID string, sqlEndpointID string, options *ItemsClientBeginRefreshSQLEndpointMetadataOptions) (*runtime.Poller[ItemsClientRefreshSQLEndpointMetadataResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.refreshSQLEndpointMetadata(ctx, workspaceID, sqlEndpointID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientRefreshSQLEndpointMetadataResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientRefreshSQLEndpointMetadataResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientRefreshSQLEndpointMetadataResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientRefreshSQLEndpointMetadataResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListSQLEndpoints - returns array of SQLEndpoint from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListSQLEndpointsOptions contains the optional parameters for the ItemsClient.NewListSQLEndpointsPager method.
func (client *ItemsClient) ListSQLEndpoints(ctx context.Context, workspaceID string, options *ItemsClientListSQLEndpointsOptions) ([]SQLEndpoint, error) {
	pager := client.NewListSQLEndpointsPager(workspaceID, options)
	mapper := func(resp ItemsClientListSQLEndpointsResponse) []SQLEndpoint {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []SQLEndpoint{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []SQLEndpoint{}, err
	}
	return list, nil
}
