// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package admin

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// DomainsClient contains the methods for the Domains group.
// Don't use this type directly, use a constructor function instead.
type DomainsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginAssignDomainWorkspacesByCapacities - Preexisting domain assignments will be overridden unless bulk reassignment is
// blocked by domain management tenant settings.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 10 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - assignDomainWorkspacesByCapacitiesRequest - The request payload for assigning workspaces to the domain by capacity.
//   - options - DomainsClientBeginAssignDomainWorkspacesByCapacitiesOptions contains the optional parameters for the DomainsClient.BeginAssignDomainWorkspacesByCapacities
//     method.
func (client *DomainsClient) BeginAssignDomainWorkspacesByCapacities(ctx context.Context, domainID string, assignDomainWorkspacesByCapacitiesRequest AssignDomainWorkspacesByCapacitiesRequest, options *DomainsClientBeginAssignDomainWorkspacesByCapacitiesOptions) (*runtime.Poller[DomainsClientAssignDomainWorkspacesByCapacitiesResponse], error) {
	return client.beginAssignDomainWorkspacesByCapacities(ctx, domainID, assignDomainWorkspacesByCapacitiesRequest, options)
}

// AssignDomainWorkspacesByCapacities - Preexisting domain assignments will be overridden unless bulk reassignment is blocked
// by domain management tenant settings.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 10 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *DomainsClient) assignDomainWorkspacesByCapacities(ctx context.Context, domainID string, assignDomainWorkspacesByCapacitiesRequest AssignDomainWorkspacesByCapacitiesRequest, options *DomainsClientBeginAssignDomainWorkspacesByCapacitiesOptions) (*http.Response, error) {
	var err error
	const operationName = "admin.DomainsClient.BeginAssignDomainWorkspacesByCapacities"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.assignDomainWorkspacesByCapacitiesCreateRequest(ctx, domainID, assignDomainWorkspacesByCapacitiesRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// assignDomainWorkspacesByCapacitiesCreateRequest creates the AssignDomainWorkspacesByCapacities request.
func (client *DomainsClient) assignDomainWorkspacesByCapacitiesCreateRequest(ctx context.Context, domainID string, assignDomainWorkspacesByCapacitiesRequest AssignDomainWorkspacesByCapacitiesRequest, _ *DomainsClientBeginAssignDomainWorkspacesByCapacitiesOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/assignWorkspacesByCapacities"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, assignDomainWorkspacesByCapacitiesRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// AssignDomainWorkspacesByIDs - Preexisting domain assignments will be overridden unless bulk reassignment is blocked by
// domain management tenant settings.
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 10 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - assignDomainWorkspacesByIDsRequest - The request payload for assigning workspaces to the domain by workspace ID.
//   - options - DomainsClientAssignDomainWorkspacesByIDsOptions contains the optional parameters for the DomainsClient.AssignDomainWorkspacesByIDs
//     method.
func (client *DomainsClient) AssignDomainWorkspacesByIDs(ctx context.Context, domainID string, assignDomainWorkspacesByIDsRequest AssignDomainWorkspacesByIDsRequest, options *DomainsClientAssignDomainWorkspacesByIDsOptions) (DomainsClientAssignDomainWorkspacesByIDsResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.AssignDomainWorkspacesByIDs"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.assignDomainWorkspacesByIDsCreateRequest(ctx, domainID, assignDomainWorkspacesByIDsRequest, options)
	if err != nil {
		return DomainsClientAssignDomainWorkspacesByIDsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientAssignDomainWorkspacesByIDsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientAssignDomainWorkspacesByIDsResponse{}, err
	}
	return DomainsClientAssignDomainWorkspacesByIDsResponse{}, nil
}

// assignDomainWorkspacesByIDsCreateRequest creates the AssignDomainWorkspacesByIDs request.
func (client *DomainsClient) assignDomainWorkspacesByIDsCreateRequest(ctx context.Context, domainID string, assignDomainWorkspacesByIDsRequest AssignDomainWorkspacesByIDsRequest, _ *DomainsClientAssignDomainWorkspacesByIDsOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/assignWorkspaces"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, assignDomainWorkspacesByIDsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginAssignDomainWorkspacesByPrincipals - Preexisting domain assignments will be overridden unless bulk reassignment is
// blocked by domain management tenant settings.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 10 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - assignDomainWorkspacesByPrincipalsRequest - The request payload for assigning workspaces to the domain by principal.
//   - options - DomainsClientBeginAssignDomainWorkspacesByPrincipalsOptions contains the optional parameters for the DomainsClient.BeginAssignDomainWorkspacesByPrincipals
//     method.
func (client *DomainsClient) BeginAssignDomainWorkspacesByPrincipals(ctx context.Context, domainID string, assignDomainWorkspacesByPrincipalsRequest AssignDomainWorkspacesByPrincipalsRequest, options *DomainsClientBeginAssignDomainWorkspacesByPrincipalsOptions) (*runtime.Poller[DomainsClientAssignDomainWorkspacesByPrincipalsResponse], error) {
	return client.beginAssignDomainWorkspacesByPrincipals(ctx, domainID, assignDomainWorkspacesByPrincipalsRequest, options)
}

// AssignDomainWorkspacesByPrincipals - Preexisting domain assignments will be overridden unless bulk reassignment is blocked
// by domain management tenant settings.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 10 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *DomainsClient) assignDomainWorkspacesByPrincipals(ctx context.Context, domainID string, assignDomainWorkspacesByPrincipalsRequest AssignDomainWorkspacesByPrincipalsRequest, options *DomainsClientBeginAssignDomainWorkspacesByPrincipalsOptions) (*http.Response, error) {
	var err error
	const operationName = "admin.DomainsClient.BeginAssignDomainWorkspacesByPrincipals"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.assignDomainWorkspacesByPrincipalsCreateRequest(ctx, domainID, assignDomainWorkspacesByPrincipalsRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// assignDomainWorkspacesByPrincipalsCreateRequest creates the AssignDomainWorkspacesByPrincipals request.
func (client *DomainsClient) assignDomainWorkspacesByPrincipalsCreateRequest(ctx context.Context, domainID string, assignDomainWorkspacesByPrincipalsRequest AssignDomainWorkspacesByPrincipalsRequest, _ *DomainsClientBeginAssignDomainWorkspacesByPrincipalsOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/assignWorkspacesByPrincipals"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, assignDomainWorkspacesByPrincipalsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// CreateDomain - > [!NOTE] This API is a release version of a preview version due to be deprecated on March 31, 2026. When
// calling this API - callers must set the query parameter preview to the value false
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - preview - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - createDomainRequest - The request payload for creating the domain.
//   - options - DomainsClientCreateDomainOptions contains the optional parameters for the DomainsClient.CreateDomain method.
func (client *DomainsClient) CreateDomain(ctx context.Context, preview bool, createDomainRequest CreateDomainRequest, options *DomainsClientCreateDomainOptions) (DomainsClientCreateDomainResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.CreateDomain"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createDomainCreateRequest(ctx, preview, createDomainRequest, options)
	if err != nil {
		return DomainsClientCreateDomainResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientCreateDomainResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = core.NewResponseError(httpResp)
		return DomainsClientCreateDomainResponse{}, err
	}
	resp, err := client.createDomainHandleResponse(httpResp)
	return resp, err
}

// createDomainCreateRequest creates the CreateDomain request.
func (client *DomainsClient) createDomainCreateRequest(ctx context.Context, preview bool, createDomainRequest CreateDomainRequest, _ *DomainsClientCreateDomainOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createDomainRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createDomainHandleResponse handles the CreateDomain response.
func (client *DomainsClient) createDomainHandleResponse(resp *http.Response) (DomainsClientCreateDomainResponse, error) {
	result := DomainsClientCreateDomainResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Domain); err != nil {
		return DomainsClientCreateDomainResponse{}, err
	}
	return result, nil
}

// CreateDomainPreview - > [!NOTE] This preview API will be deprecated on March 31, 2026, and replaced by a stable version,
// available here [/rest/api/fabric/admin/domains/create-domain]. The new version introduces breaking
// changes and is not backward compatible. When calling this API, callers must specify true as the value for the query parameter
// preview.
// DEPRECATION NOTICE A new query parameter preview has been introduced to facilitate this transition:
// * The preview query parameter currently defaults to true.
// * Set the value of the preview query parameter to false to use the Release version of this API.
// * Starting March 31, 2026, the default value for preview will change to false.
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// preview query parameter (the default value for the preview query parameter will
// be set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Response property contributorsScope was removed.
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - preview - This parameter specifies which version of the API to use. Set to true to use the preview version described on
//     this page, or to false to use the Release version detailed here
//     [/rest/api/fabric/admin/domains/create-domain]. Starting March 31, 2026, the default value for preview will change to false.
//   - createDomainRequest - The request payload for creating the domain.
//   - options - DomainsClientCreateDomainPreviewOptions contains the optional parameters for the DomainsClient.CreateDomainPreview
//     method.
func (client *DomainsClient) CreateDomainPreview(ctx context.Context, preview bool, createDomainRequest CreateDomainRequest, options *DomainsClientCreateDomainPreviewOptions) (DomainsClientCreateDomainPreviewResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.CreateDomainPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createDomainPreviewCreateRequest(ctx, preview, createDomainRequest, options)
	if err != nil {
		return DomainsClientCreateDomainPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientCreateDomainPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = core.NewResponseError(httpResp)
		return DomainsClientCreateDomainPreviewResponse{}, err
	}
	resp, err := client.createDomainPreviewHandleResponse(httpResp)
	return resp, err
}

// createDomainPreviewCreateRequest creates the CreateDomainPreview request.
func (client *DomainsClient) createDomainPreviewCreateRequest(ctx context.Context, preview bool, createDomainRequest CreateDomainRequest, _ *DomainsClientCreateDomainPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createDomainRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createDomainPreviewHandleResponse handles the CreateDomainPreview response.
func (client *DomainsClient) createDomainPreviewHandleResponse(resp *http.Response) (DomainsClientCreateDomainPreviewResponse, error) {
	result := DomainsClientCreateDomainPreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DomainPreview); err != nil {
		return DomainsClientCreateDomainPreviewResponse{}, err
	}
	return result, nil
}

// DeleteDomain - PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - options - DomainsClientDeleteDomainOptions contains the optional parameters for the DomainsClient.DeleteDomain method.
func (client *DomainsClient) DeleteDomain(ctx context.Context, domainID string, options *DomainsClientDeleteDomainOptions) (DomainsClientDeleteDomainResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.DeleteDomain"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteDomainCreateRequest(ctx, domainID, options)
	if err != nil {
		return DomainsClientDeleteDomainResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientDeleteDomainResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientDeleteDomainResponse{}, err
	}
	return DomainsClientDeleteDomainResponse{}, nil
}

// deleteDomainCreateRequest creates the DeleteDomain request.
func (client *DomainsClient) deleteDomainCreateRequest(ctx context.Context, domainID string, _ *DomainsClientDeleteDomainOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetDomain - > [!NOTE] This API is a release version of a preview version due to be deprecated on March 31, 2026. When calling
// this API - callers must set the query parameter preview to the value false
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - preview - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - DomainsClientGetDomainOptions contains the optional parameters for the DomainsClient.GetDomain method.
func (client *DomainsClient) GetDomain(ctx context.Context, domainID string, preview bool, options *DomainsClientGetDomainOptions) (DomainsClientGetDomainResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.GetDomain"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDomainCreateRequest(ctx, domainID, preview, options)
	if err != nil {
		return DomainsClientGetDomainResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientGetDomainResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientGetDomainResponse{}, err
	}
	resp, err := client.getDomainHandleResponse(httpResp)
	return resp, err
}

// getDomainCreateRequest creates the GetDomain request.
func (client *DomainsClient) getDomainCreateRequest(ctx context.Context, domainID string, preview bool, _ *DomainsClientGetDomainOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDomainHandleResponse handles the GetDomain response.
func (client *DomainsClient) getDomainHandleResponse(resp *http.Response) (DomainsClientGetDomainResponse, error) {
	result := DomainsClientGetDomainResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Domain); err != nil {
		return DomainsClientGetDomainResponse{}, err
	}
	return result, nil
}

// GetDomainPreview - > [!NOTE] This preview API will be deprecated on March 31, 2026, and replaced by a stable version, available
// here [/rest/api/fabric/admin/domains/get-domain]. The new version introduces breaking
// changes and is not backward compatible. When calling this API, callers must specify true as the value for the query parameter
// preview.
// DEPRECATION NOTICE A new query parameter preview has been introduced to facilitate this transition:
// * The preview query parameter currently defaults to true.
// * Set the value of the preview query parameter to false to use the Release version of this API.
// * Starting March 31, 2026, the default value for preview will change to false.
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// preview query parameter (the default value for the preview query parameter will
// be set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Response property contributorsScope was removed.
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - preview - This parameter specifies which version of the API to use. Set to true to use the preview version described on
//     this page, or to false to use the Release version detailed here
//     [/rest/api/fabric/admin/domains/get-domain]. Starting March 31, 2026, the default value for preview will change to false.
//   - options - DomainsClientGetDomainPreviewOptions contains the optional parameters for the DomainsClient.GetDomainPreview
//     method.
func (client *DomainsClient) GetDomainPreview(ctx context.Context, domainID string, preview bool, options *DomainsClientGetDomainPreviewOptions) (DomainsClientGetDomainPreviewResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.GetDomainPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDomainPreviewCreateRequest(ctx, domainID, preview, options)
	if err != nil {
		return DomainsClientGetDomainPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientGetDomainPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientGetDomainPreviewResponse{}, err
	}
	resp, err := client.getDomainPreviewHandleResponse(httpResp)
	return resp, err
}

// getDomainPreviewCreateRequest creates the GetDomainPreview request.
func (client *DomainsClient) getDomainPreviewCreateRequest(ctx context.Context, domainID string, preview bool, _ *DomainsClientGetDomainPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDomainPreviewHandleResponse handles the GetDomainPreview response.
func (client *DomainsClient) getDomainPreviewHandleResponse(resp *http.Response) (DomainsClientGetDomainPreviewResponse, error) {
	result := DomainsClientGetDomainPreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DomainPreview); err != nil {
		return DomainsClientGetDomainPreviewResponse{}, err
	}
	return result, nil
}

// NewListDomainWorkspacesPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - options - DomainsClientListDomainWorkspacesOptions contains the optional parameters for the DomainsClient.NewListDomainWorkspacesPager
//     method.
func (client *DomainsClient) NewListDomainWorkspacesPager(domainID string, options *DomainsClientListDomainWorkspacesOptions) *runtime.Pager[DomainsClientListDomainWorkspacesResponse] {
	return runtime.NewPager(runtime.PagingHandler[DomainsClientListDomainWorkspacesResponse]{
		More: func(page DomainsClientListDomainWorkspacesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *DomainsClientListDomainWorkspacesResponse) (DomainsClientListDomainWorkspacesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "admin.DomainsClient.NewListDomainWorkspacesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDomainWorkspacesCreateRequest(ctx, domainID, options)
			}, nil)
			if err != nil {
				return DomainsClientListDomainWorkspacesResponse{}, err
			}
			return client.listDomainWorkspacesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDomainWorkspacesCreateRequest creates the ListDomainWorkspaces request.
func (client *DomainsClient) listDomainWorkspacesCreateRequest(ctx context.Context, domainID string, options *DomainsClientListDomainWorkspacesOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/workspaces"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDomainWorkspacesHandleResponse handles the ListDomainWorkspaces response.
func (client *DomainsClient) listDomainWorkspacesHandleResponse(resp *http.Response) (DomainsClientListDomainWorkspacesResponse, error) {
	result := DomainsClientListDomainWorkspacesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DomainWorkspaces); err != nil {
		return DomainsClientListDomainWorkspacesResponse{}, err
	}
	return result, nil
}

// ListDomains - > [!NOTE] This API is a release version of a preview version due to be deprecated on March 31, 2026. When
// calling this API - callers must set the query parameter preview to the value false
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - preview - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - DomainsClientListDomainsOptions contains the optional parameters for the DomainsClient.ListDomains method.
func (client *DomainsClient) ListDomains(ctx context.Context, preview bool, options *DomainsClientListDomainsOptions) (DomainsClientListDomainsResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.ListDomains"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listDomainsCreateRequest(ctx, preview, options)
	if err != nil {
		return DomainsClientListDomainsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientListDomainsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientListDomainsResponse{}, err
	}
	resp, err := client.listDomainsHandleResponse(httpResp)
	return resp, err
}

// listDomainsCreateRequest creates the ListDomains request.
func (client *DomainsClient) listDomainsCreateRequest(ctx context.Context, preview bool, options *DomainsClientListDomainsOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.NonEmptyOnly != nil {
		reqQP.Set("nonEmptyOnly", strconv.FormatBool(*options.NonEmptyOnly))
	}
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDomainsHandleResponse handles the ListDomains response.
func (client *DomainsClient) listDomainsHandleResponse(resp *http.Response) (DomainsClientListDomainsResponse, error) {
	result := DomainsClientListDomainsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DomainsResponse); err != nil {
		return DomainsClientListDomainsResponse{}, err
	}
	return result, nil
}

// ListDomainsPreview - > [!NOTE] This preview API will be deprecated on March 31, 2026, and replaced by a stable version,
// available here [/rest/api/fabric/admin/domains/list-domains]. The new version introduces breaking
// changes and is not backward compatible. When calling this API, callers must specify true as the value for the query parameter
// preview.
// DEPRECATION NOTICE A new query parameter preview has been introduced to facilitate this transition:
// * The preview query parameter currently defaults to true.
// * Set the value of the preview query parameter to false to use the Release version of this API.
// * Starting March 31, 2026, the default value for preview will change to false.
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// preview query parameter (the default value for the preview query parameter will
// be set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Response property contributorsScope was removed.
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - preview - This parameter specifies which version of the API to use. Set to true to use the preview version described on
//     this page, or to false to use the Release version detailed here
//     [/rest/api/fabric/admin/domains/list-domains]. Starting March 31, 2026, the default value for preview will change to false.
//   - options - DomainsClientListDomainsPreviewOptions contains the optional parameters for the DomainsClient.ListDomainsPreview
//     method.
func (client *DomainsClient) ListDomainsPreview(ctx context.Context, preview bool, options *DomainsClientListDomainsPreviewOptions) (DomainsClientListDomainsPreviewResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.ListDomainsPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listDomainsPreviewCreateRequest(ctx, preview, options)
	if err != nil {
		return DomainsClientListDomainsPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientListDomainsPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientListDomainsPreviewResponse{}, err
	}
	resp, err := client.listDomainsPreviewHandleResponse(httpResp)
	return resp, err
}

// listDomainsPreviewCreateRequest creates the ListDomainsPreview request.
func (client *DomainsClient) listDomainsPreviewCreateRequest(ctx context.Context, preview bool, options *DomainsClientListDomainsPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.NonEmptyOnly != nil {
		reqQP.Set("nonEmptyOnly", strconv.FormatBool(*options.NonEmptyOnly))
	}
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDomainsPreviewHandleResponse handles the ListDomainsPreview response.
func (client *DomainsClient) listDomainsPreviewHandleResponse(resp *http.Response) (DomainsClientListDomainsPreviewResponse, error) {
	result := DomainsClientListDomainsPreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DomainsResponsePreview); err != nil {
		return DomainsClientListDomainsPreviewResponse{}, err
	}
	return result, nil
}

// NewListRoleAssignmentsPager - PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - options - DomainsClientListRoleAssignmentsOptions contains the optional parameters for the DomainsClient.NewListRoleAssignmentsPager
//     method.
func (client *DomainsClient) NewListRoleAssignmentsPager(domainID string, options *DomainsClientListRoleAssignmentsOptions) *runtime.Pager[DomainsClientListRoleAssignmentsResponse] {
	return runtime.NewPager(runtime.PagingHandler[DomainsClientListRoleAssignmentsResponse]{
		More: func(page DomainsClientListRoleAssignmentsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *DomainsClientListRoleAssignmentsResponse) (DomainsClientListRoleAssignmentsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "admin.DomainsClient.NewListRoleAssignmentsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listRoleAssignmentsCreateRequest(ctx, domainID, options)
			}, nil)
			if err != nil {
				return DomainsClientListRoleAssignmentsResponse{}, err
			}
			return client.listRoleAssignmentsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listRoleAssignmentsCreateRequest creates the ListRoleAssignments request.
func (client *DomainsClient) listRoleAssignmentsCreateRequest(ctx context.Context, domainID string, options *DomainsClientListRoleAssignmentsOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/roleAssignments"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listRoleAssignmentsHandleResponse handles the ListRoleAssignments response.
func (client *DomainsClient) listRoleAssignmentsHandleResponse(resp *http.Response) (DomainsClientListRoleAssignmentsResponse, error) {
	result := DomainsClientListRoleAssignmentsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DomainRoleAssignments); err != nil {
		return DomainsClientListRoleAssignmentsResponse{}, err
	}
	return result, nil
}

// RoleAssignmentsBulkAssign - PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - domainRoleAssignmentRequest - The request payload for assigning domain members to the domain by principal.
//   - options - DomainsClientRoleAssignmentsBulkAssignOptions contains the optional parameters for the DomainsClient.RoleAssignmentsBulkAssign
//     method.
func (client *DomainsClient) RoleAssignmentsBulkAssign(ctx context.Context, domainID string, domainRoleAssignmentRequest DomainRoleAssignmentRequest, options *DomainsClientRoleAssignmentsBulkAssignOptions) (DomainsClientRoleAssignmentsBulkAssignResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.RoleAssignmentsBulkAssign"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.roleAssignmentsBulkAssignCreateRequest(ctx, domainID, domainRoleAssignmentRequest, options)
	if err != nil {
		return DomainsClientRoleAssignmentsBulkAssignResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientRoleAssignmentsBulkAssignResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientRoleAssignmentsBulkAssignResponse{}, err
	}
	return DomainsClientRoleAssignmentsBulkAssignResponse{}, nil
}

// roleAssignmentsBulkAssignCreateRequest creates the RoleAssignmentsBulkAssign request.
func (client *DomainsClient) roleAssignmentsBulkAssignCreateRequest(ctx context.Context, domainID string, domainRoleAssignmentRequest DomainRoleAssignmentRequest, _ *DomainsClientRoleAssignmentsBulkAssignOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/roleAssignments/bulkAssign"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, domainRoleAssignmentRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// RoleAssignmentsBulkUnassign - PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - domainRoleUnassignmentRequest - The request payload for unassigning domain members from the domain by principal.
//   - options - DomainsClientRoleAssignmentsBulkUnassignOptions contains the optional parameters for the DomainsClient.RoleAssignmentsBulkUnassign
//     method.
func (client *DomainsClient) RoleAssignmentsBulkUnassign(ctx context.Context, domainID string, domainRoleUnassignmentRequest DomainRoleUnassignmentRequest, options *DomainsClientRoleAssignmentsBulkUnassignOptions) (DomainsClientRoleAssignmentsBulkUnassignResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.RoleAssignmentsBulkUnassign"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.roleAssignmentsBulkUnassignCreateRequest(ctx, domainID, domainRoleUnassignmentRequest, options)
	if err != nil {
		return DomainsClientRoleAssignmentsBulkUnassignResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientRoleAssignmentsBulkUnassignResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientRoleAssignmentsBulkUnassignResponse{}, err
	}
	return DomainsClientRoleAssignmentsBulkUnassignResponse{}, nil
}

// roleAssignmentsBulkUnassignCreateRequest creates the RoleAssignmentsBulkUnassign request.
func (client *DomainsClient) roleAssignmentsBulkUnassignCreateRequest(ctx context.Context, domainID string, domainRoleUnassignmentRequest DomainRoleUnassignmentRequest, _ *DomainsClientRoleAssignmentsBulkUnassignOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/roleAssignments/bulkUnassign"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, domainRoleUnassignmentRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// SyncRoleAssignmentsToSubdomains - PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - syncRoleAssignmentsToSubdomainsRequest - The request payload for syncing domain members to its subdomains.
//   - options - DomainsClientSyncRoleAssignmentsToSubdomainsOptions contains the optional parameters for the DomainsClient.SyncRoleAssignmentsToSubdomains
//     method.
func (client *DomainsClient) SyncRoleAssignmentsToSubdomains(ctx context.Context, domainID string, syncRoleAssignmentsToSubdomainsRequest SyncRoleAssignmentsToSubdomainsRequest, options *DomainsClientSyncRoleAssignmentsToSubdomainsOptions) (DomainsClientSyncRoleAssignmentsToSubdomainsResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.SyncRoleAssignmentsToSubdomains"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.syncRoleAssignmentsToSubdomainsCreateRequest(ctx, domainID, syncRoleAssignmentsToSubdomainsRequest, options)
	if err != nil {
		return DomainsClientSyncRoleAssignmentsToSubdomainsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientSyncRoleAssignmentsToSubdomainsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientSyncRoleAssignmentsToSubdomainsResponse{}, err
	}
	return DomainsClientSyncRoleAssignmentsToSubdomainsResponse{}, nil
}

// syncRoleAssignmentsToSubdomainsCreateRequest creates the SyncRoleAssignmentsToSubdomains request.
func (client *DomainsClient) syncRoleAssignmentsToSubdomainsCreateRequest(ctx context.Context, domainID string, syncRoleAssignmentsToSubdomainsRequest SyncRoleAssignmentsToSubdomainsRequest, _ *DomainsClientSyncRoleAssignmentsToSubdomainsOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/roleAssignments/syncToSubdomains"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, syncRoleAssignmentsToSubdomainsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// UnassignAllDomainWorkspaces - PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 10 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - options - DomainsClientUnassignAllDomainWorkspacesOptions contains the optional parameters for the DomainsClient.UnassignAllDomainWorkspaces
//     method.
func (client *DomainsClient) UnassignAllDomainWorkspaces(ctx context.Context, domainID string, options *DomainsClientUnassignAllDomainWorkspacesOptions) (DomainsClientUnassignAllDomainWorkspacesResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.UnassignAllDomainWorkspaces"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.unassignAllDomainWorkspacesCreateRequest(ctx, domainID, options)
	if err != nil {
		return DomainsClientUnassignAllDomainWorkspacesResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientUnassignAllDomainWorkspacesResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientUnassignAllDomainWorkspacesResponse{}, err
	}
	return DomainsClientUnassignAllDomainWorkspacesResponse{}, nil
}

// unassignAllDomainWorkspacesCreateRequest creates the UnassignAllDomainWorkspaces request.
func (client *DomainsClient) unassignAllDomainWorkspacesCreateRequest(ctx context.Context, domainID string, _ *DomainsClientUnassignAllDomainWorkspacesOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/unassignAllWorkspaces"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// UnassignDomainWorkspacesByIDs - PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - options - DomainsClientUnassignDomainWorkspacesByIDsOptions contains the optional parameters for the DomainsClient.UnassignDomainWorkspacesByIDs
//     method.
func (client *DomainsClient) UnassignDomainWorkspacesByIDs(ctx context.Context, domainID string, options *DomainsClientUnassignDomainWorkspacesByIDsOptions) (DomainsClientUnassignDomainWorkspacesByIDsResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.UnassignDomainWorkspacesByIDs"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.unassignDomainWorkspacesByIDsCreateRequest(ctx, domainID, options)
	if err != nil {
		return DomainsClientUnassignDomainWorkspacesByIDsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientUnassignDomainWorkspacesByIDsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientUnassignDomainWorkspacesByIDsResponse{}, err
	}
	return DomainsClientUnassignDomainWorkspacesByIDsResponse{}, nil
}

// unassignDomainWorkspacesByIDsCreateRequest creates the UnassignDomainWorkspacesByIDs request.
func (client *DomainsClient) unassignDomainWorkspacesByIDsCreateRequest(ctx context.Context, domainID string, options *DomainsClientUnassignDomainWorkspacesByIDsOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}/unassignWorkspaces"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.UnassignDomainWorkspacesByIDsRequest != nil {
		if err := runtime.MarshalAsJSON(req, *options.UnassignDomainWorkspacesByIDsRequest); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// UpdateDomain - > [!NOTE] This API is a release version of a preview version due to be deprecated on March 31, 2026. When
// calling this API - callers must set the query parameter preview to the value false
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - preview - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - updateDomainRequest - The request payload for updating the domain.
//   - options - DomainsClientUpdateDomainOptions contains the optional parameters for the DomainsClient.UpdateDomain method.
func (client *DomainsClient) UpdateDomain(ctx context.Context, domainID string, preview bool, updateDomainRequest UpdateDomainRequest, options *DomainsClientUpdateDomainOptions) (DomainsClientUpdateDomainResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.UpdateDomain"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDomainCreateRequest(ctx, domainID, preview, updateDomainRequest, options)
	if err != nil {
		return DomainsClientUpdateDomainResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientUpdateDomainResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientUpdateDomainResponse{}, err
	}
	resp, err := client.updateDomainHandleResponse(httpResp)
	return resp, err
}

// updateDomainCreateRequest creates the UpdateDomain request.
func (client *DomainsClient) updateDomainCreateRequest(ctx context.Context, domainID string, preview bool, updateDomainRequest UpdateDomainRequest, _ *DomainsClientUpdateDomainOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDomainRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateDomainHandleResponse handles the UpdateDomain response.
func (client *DomainsClient) updateDomainHandleResponse(resp *http.Response) (DomainsClientUpdateDomainResponse, error) {
	result := DomainsClientUpdateDomainResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Domain); err != nil {
		return DomainsClientUpdateDomainResponse{}, err
	}
	return result, nil
}

// UpdateDomainPreview - > [!NOTE] This preview API will be deprecated on March 31, 2026, and replaced by a stable version,
// available here [/rest/api/fabric/admin/domains/update-domain]. The new version introduces breaking
// changes and is not backward compatible. When calling this API, callers must specify true as the value for the query parameter
// preview.
// DEPRECATION NOTICE A new query parameter preview has been introduced to facilitate this transition:
// * The preview query parameter currently defaults to true.
// * Set the value of the preview query parameter to false to use the Release version of this API.
// * Starting March 31, 2026, the default value for preview will change to false.
// It is recommended to migrate your integration to use the Release version as soon as possible by specifying false for the
// preview query parameter (the default value for the preview query parameter will
// be set to false on API's deprecation date).
// The following incompatible changes were introduced in the Release version:
// * Request property contributorsScope was removed.
// * Response property contributorsScope was removed.
// PERMISSIONS The caller must be a Fabric administrator.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
// LIMITATIONS Maximum 25 requests per one minute per principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - domainID - The domain ID.
//   - preview - This parameter specifies which version of the API to use. Set to true to use the preview version described on
//     this page, or to false to use the Release version detailed here
//     [/rest/api/fabric/admin/domains/update-domain]. Starting March 31, 2026, the default value for preview will change to false.
//   - updateDomainRequest - The request payload for updating the domain.
//   - options - DomainsClientUpdateDomainPreviewOptions contains the optional parameters for the DomainsClient.UpdateDomainPreview
//     method.
func (client *DomainsClient) UpdateDomainPreview(ctx context.Context, domainID string, preview bool, updateDomainRequest UpdateDomainRequestPreview, options *DomainsClientUpdateDomainPreviewOptions) (DomainsClientUpdateDomainPreviewResponse, error) {
	var err error
	const operationName = "admin.DomainsClient.UpdateDomainPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDomainPreviewCreateRequest(ctx, domainID, preview, updateDomainRequest, options)
	if err != nil {
		return DomainsClientUpdateDomainPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DomainsClientUpdateDomainPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return DomainsClientUpdateDomainPreviewResponse{}, err
	}
	resp, err := client.updateDomainPreviewHandleResponse(httpResp)
	return resp, err
}

// updateDomainPreviewCreateRequest creates the UpdateDomainPreview request.
func (client *DomainsClient) updateDomainPreviewCreateRequest(ctx context.Context, domainID string, preview bool, updateDomainRequest UpdateDomainRequestPreview, _ *DomainsClientUpdateDomainPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/domains/{domainId}"
	if domainID == "" {
		return nil, errors.New("parameter domainID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{domainId}", url.PathEscape(domainID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("preview", strconv.FormatBool(preview))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDomainRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateDomainPreviewHandleResponse handles the UpdateDomainPreview response.
func (client *DomainsClient) updateDomainPreviewHandleResponse(resp *http.Response) (DomainsClientUpdateDomainPreviewResponse, error) {
	result := DomainsClientUpdateDomainPreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DomainPreview); err != nil {
		return DomainsClientUpdateDomainPreviewResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// AssignDomainWorkspacesByCapacities - returns DomainsClientAssignDomainWorkspacesByCapacitiesResponse in sync mode.
// Preexisting domain assignments will be overridden unless bulk reassignment is blocked by domain management tenant settings.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must be a Fabric administrator.
//
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
//
// LIMITATIONS Maximum 10 requests per one minute per principal.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - domainID - The domain ID.
//   - assignDomainWorkspacesByCapacitiesRequest - The request payload for assigning workspaces to the domain by capacity.
//   - options - DomainsClientBeginAssignDomainWorkspacesByCapacitiesOptions contains the optional parameters for the DomainsClient.BeginAssignDomainWorkspacesByCapacities method.
func (client *DomainsClient) AssignDomainWorkspacesByCapacities(ctx context.Context, domainID string, assignDomainWorkspacesByCapacitiesRequest AssignDomainWorkspacesByCapacitiesRequest, options *DomainsClientBeginAssignDomainWorkspacesByCapacitiesOptions) (DomainsClientAssignDomainWorkspacesByCapacitiesResponse, error) {
	result, err := iruntime.NewLRO(client.BeginAssignDomainWorkspacesByCapacities(ctx, domainID, assignDomainWorkspacesByCapacitiesRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return DomainsClientAssignDomainWorkspacesByCapacitiesResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return DomainsClientAssignDomainWorkspacesByCapacitiesResponse{}, err
	}
	return result, err
}

// beginAssignDomainWorkspacesByCapacities creates the assignDomainWorkspacesByCapacities request.
func (client *DomainsClient) beginAssignDomainWorkspacesByCapacities(ctx context.Context, domainID string, assignDomainWorkspacesByCapacitiesRequest AssignDomainWorkspacesByCapacitiesRequest, options *DomainsClientBeginAssignDomainWorkspacesByCapacitiesOptions) (*runtime.Poller[DomainsClientAssignDomainWorkspacesByCapacitiesResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.assignDomainWorkspacesByCapacities(ctx, domainID, assignDomainWorkspacesByCapacitiesRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[DomainsClientAssignDomainWorkspacesByCapacitiesResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[DomainsClientAssignDomainWorkspacesByCapacitiesResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[DomainsClientAssignDomainWorkspacesByCapacitiesResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[DomainsClientAssignDomainWorkspacesByCapacitiesResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// AssignDomainWorkspacesByPrincipals - returns DomainsClientAssignDomainWorkspacesByPrincipalsResponse in sync mode.
// Preexisting domain assignments will be overridden unless bulk reassignment is blocked by domain management tenant settings.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must be a Fabric administrator.
//
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All.
//
// LIMITATIONS Maximum 10 requests per one minute per principal.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - domainID - The domain ID.
//   - assignDomainWorkspacesByPrincipalsRequest - The request payload for assigning workspaces to the domain by principal.
//   - options - DomainsClientBeginAssignDomainWorkspacesByPrincipalsOptions contains the optional parameters for the DomainsClient.BeginAssignDomainWorkspacesByPrincipals method.
func (client *DomainsClient) AssignDomainWorkspacesByPrincipals(ctx context.Context, domainID string, assignDomainWorkspacesByPrincipalsRequest AssignDomainWorkspacesByPrincipalsRequest, options *DomainsClientBeginAssignDomainWorkspacesByPrincipalsOptions) (DomainsClientAssignDomainWorkspacesByPrincipalsResponse, error) {
	result, err := iruntime.NewLRO(client.BeginAssignDomainWorkspacesByPrincipals(ctx, domainID, assignDomainWorkspacesByPrincipalsRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return DomainsClientAssignDomainWorkspacesByPrincipalsResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return DomainsClientAssignDomainWorkspacesByPrincipalsResponse{}, err
	}
	return result, err
}

// beginAssignDomainWorkspacesByPrincipals creates the assignDomainWorkspacesByPrincipals request.
func (client *DomainsClient) beginAssignDomainWorkspacesByPrincipals(ctx context.Context, domainID string, assignDomainWorkspacesByPrincipalsRequest AssignDomainWorkspacesByPrincipalsRequest, options *DomainsClientBeginAssignDomainWorkspacesByPrincipalsOptions) (*runtime.Poller[DomainsClientAssignDomainWorkspacesByPrincipalsResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.assignDomainWorkspacesByPrincipals(ctx, domainID, assignDomainWorkspacesByPrincipalsRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[DomainsClientAssignDomainWorkspacesByPrincipalsResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[DomainsClientAssignDomainWorkspacesByPrincipalsResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[DomainsClientAssignDomainWorkspacesByPrincipalsResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[DomainsClientAssignDomainWorkspacesByPrincipalsResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListDomainWorkspaces - returns array of DomainWorkspace from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must be a Fabric administrator.
//
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
//
// LIMITATIONS Maximum 25 requests per one minute per principal.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - domainID - The domain ID.
//   - options - DomainsClientListDomainWorkspacesOptions contains the optional parameters for the DomainsClient.NewListDomainWorkspacesPager method.
func (client *DomainsClient) ListDomainWorkspaces(ctx context.Context, domainID string, options *DomainsClientListDomainWorkspacesOptions) ([]DomainWorkspace, error) {
	pager := client.NewListDomainWorkspacesPager(domainID, options)
	mapper := func(resp DomainsClientListDomainWorkspacesResponse) []DomainWorkspace {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []DomainWorkspace{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []DomainWorkspace{}, err
	}
	return list, nil
}

// ListRoleAssignments - returns array of DomainRoleAssignment from all pages.
// PERMISSIONS The caller must be a Fabric administrator.
//
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - domainID - The domain ID.
//   - options - DomainsClientListRoleAssignmentsOptions contains the optional parameters for the DomainsClient.NewListRoleAssignmentsPager method.
func (client *DomainsClient) ListRoleAssignments(ctx context.Context, domainID string, options *DomainsClientListRoleAssignmentsOptions) ([]DomainRoleAssignment, error) {
	pager := client.NewListRoleAssignmentsPager(domainID, options)
	mapper := func(resp DomainsClientListRoleAssignmentsResponse) []DomainRoleAssignment {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []DomainRoleAssignment{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []DomainRoleAssignment{}, err
	}
	return list, nil
}
