// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package admin

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// WorkloadsClient contains the methods for the Workloads group.
// Don't use this type directly, use a constructor function instead.
type WorkloadsClient struct {
	internal *azcore.Client
	endpoint string
}

// CreateWorkloadAssignment - PERMISSIONS The caller must be a Fabric administrator or authenticate using a service principal.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All
// LIMITATIONS Maximum 200 requests per hour.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - createWorkloadAssignmentRequest - The request payload for creating workload assignment.
//   - options - WorkloadsClientCreateWorkloadAssignmentOptions contains the optional parameters for the WorkloadsClient.CreateWorkloadAssignment
//     method.
func (client *WorkloadsClient) CreateWorkloadAssignment(ctx context.Context, createWorkloadAssignmentRequest CreateWorkloadBaseAssignmentRequestClassification, options *WorkloadsClientCreateWorkloadAssignmentOptions) (WorkloadsClientCreateWorkloadAssignmentResponse, error) {
	var err error
	const operationName = "admin.WorkloadsClient.CreateWorkloadAssignment"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createWorkloadAssignmentCreateRequest(ctx, createWorkloadAssignmentRequest, options)
	if err != nil {
		return WorkloadsClientCreateWorkloadAssignmentResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkloadsClientCreateWorkloadAssignmentResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = core.NewResponseError(httpResp)
		return WorkloadsClientCreateWorkloadAssignmentResponse{}, err
	}
	resp, err := client.createWorkloadAssignmentHandleResponse(httpResp)
	return resp, err
}

// createWorkloadAssignmentCreateRequest creates the CreateWorkloadAssignment request.
func (client *WorkloadsClient) createWorkloadAssignmentCreateRequest(ctx context.Context, createWorkloadAssignmentRequest CreateWorkloadBaseAssignmentRequestClassification, _ *WorkloadsClientCreateWorkloadAssignmentOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/workloads/assignments"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createWorkloadAssignmentRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createWorkloadAssignmentHandleResponse handles the CreateWorkloadAssignment response.
func (client *WorkloadsClient) createWorkloadAssignmentHandleResponse(resp *http.Response) (WorkloadsClientCreateWorkloadAssignmentResponse, error) {
	result := WorkloadsClientCreateWorkloadAssignmentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result); err != nil {
		return WorkloadsClientCreateWorkloadAssignmentResponse{}, err
	}
	return result, nil
}

// DeleteWorkloadAssignment - PERMISSIONS The caller must be a Fabric administrator or authenticate using a service principal.
// REQUIRED DELEGATED SCOPES Tenant.ReadWrite.All
// LIMITATIONS Maximum 200 requests per hour.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - assignmentID - Assignment ID.
//   - options - WorkloadsClientDeleteWorkloadAssignmentOptions contains the optional parameters for the WorkloadsClient.DeleteWorkloadAssignment
//     method.
func (client *WorkloadsClient) DeleteWorkloadAssignment(ctx context.Context, assignmentID string, options *WorkloadsClientDeleteWorkloadAssignmentOptions) (WorkloadsClientDeleteWorkloadAssignmentResponse, error) {
	var err error
	const operationName = "admin.WorkloadsClient.DeleteWorkloadAssignment"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteWorkloadAssignmentCreateRequest(ctx, assignmentID, options)
	if err != nil {
		return WorkloadsClientDeleteWorkloadAssignmentResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkloadsClientDeleteWorkloadAssignmentResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return WorkloadsClientDeleteWorkloadAssignmentResponse{}, err
	}
	return WorkloadsClientDeleteWorkloadAssignmentResponse{}, nil
}

// deleteWorkloadAssignmentCreateRequest creates the DeleteWorkloadAssignment request.
func (client *WorkloadsClient) deleteWorkloadAssignmentCreateRequest(ctx context.Context, assignmentID string, _ *WorkloadsClientDeleteWorkloadAssignmentOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/workloads/assignments/{assignmentId}"
	if assignmentID == "" {
		return nil, errors.New("parameter assignmentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assignmentId}", url.PathEscape(assignmentID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListWorkloadAssignmentsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// Note: Only published workloads are visible.
// PERMISSIONS The caller must be a Fabric administrator or authenticate using a service principal.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All
// LIMITATIONS Maximum 200 requests per hour.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - options - WorkloadsClientListWorkloadAssignmentsOptions contains the optional parameters for the WorkloadsClient.NewListWorkloadAssignmentsPager
//     method.
func (client *WorkloadsClient) NewListWorkloadAssignmentsPager(options *WorkloadsClientListWorkloadAssignmentsOptions) *runtime.Pager[WorkloadsClientListWorkloadAssignmentsResponse] {
	return runtime.NewPager(runtime.PagingHandler[WorkloadsClientListWorkloadAssignmentsResponse]{
		More: func(page WorkloadsClientListWorkloadAssignmentsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *WorkloadsClientListWorkloadAssignmentsResponse) (WorkloadsClientListWorkloadAssignmentsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "admin.WorkloadsClient.NewListWorkloadAssignmentsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listWorkloadAssignmentsCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return WorkloadsClientListWorkloadAssignmentsResponse{}, err
			}
			return client.listWorkloadAssignmentsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listWorkloadAssignmentsCreateRequest creates the ListWorkloadAssignments request.
func (client *WorkloadsClient) listWorkloadAssignmentsCreateRequest(ctx context.Context, options *WorkloadsClientListWorkloadAssignmentsOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/workloads/assignments"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Type != nil {
		reqQP.Set("Type", string(*options.Type))
	}
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.WorkloadID != nil {
		reqQP.Set("workloadId", *options.WorkloadID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listWorkloadAssignmentsHandleResponse handles the ListWorkloadAssignments response.
func (client *WorkloadsClient) listWorkloadAssignmentsHandleResponse(resp *http.Response) (WorkloadsClientListWorkloadAssignmentsResponse, error) {
	result := WorkloadsClientListWorkloadAssignmentsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WorkloadAssignments); err != nil {
		return WorkloadsClientListWorkloadAssignmentsResponse{}, err
	}
	return result, nil
}

// NewListWorkloadsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// Note: Only published workloads are visible.
// PERMISSIONS The caller must be a Fabric administrator or authenticate using a service principal.
// REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All
// LIMITATIONS Maximum 200 requests per hour.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - options - WorkloadsClientListWorkloadsOptions contains the optional parameters for the WorkloadsClient.NewListWorkloadsPager
//     method.
func (client *WorkloadsClient) NewListWorkloadsPager(options *WorkloadsClientListWorkloadsOptions) *runtime.Pager[WorkloadsClientListWorkloadsResponse] {
	return runtime.NewPager(runtime.PagingHandler[WorkloadsClientListWorkloadsResponse]{
		More: func(page WorkloadsClientListWorkloadsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *WorkloadsClientListWorkloadsResponse) (WorkloadsClientListWorkloadsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "admin.WorkloadsClient.NewListWorkloadsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listWorkloadsCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return WorkloadsClientListWorkloadsResponse{}, err
			}
			return client.listWorkloadsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listWorkloadsCreateRequest creates the ListWorkloads request.
func (client *WorkloadsClient) listWorkloadsCreateRequest(ctx context.Context, options *WorkloadsClientListWorkloadsOptions) (*policy.Request, error) {
	urlPath := "/v1/admin/workloads"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.AssignmentStatus != nil {
		reqQP.Set("assignmentStatus", string(*options.AssignmentStatus))
	}
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listWorkloadsHandleResponse handles the ListWorkloads response.
func (client *WorkloadsClient) listWorkloadsHandleResponse(resp *http.Response) (WorkloadsClientListWorkloadsResponse, error) {
	result := WorkloadsClientListWorkloadsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WorkloadAssignmentInfos); err != nil {
		return WorkloadsClientListWorkloadsResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListWorkloadAssignments - returns array of BaseWorkloadAssignmentClassification from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// Note: Only published workloads are visible.
//
// PERMISSIONS The caller must be a Fabric administrator or authenticate using a service principal.
//
// # REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All
//
// LIMITATIONS Maximum 200 requests per hour.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - options - WorkloadsClientListWorkloadAssignmentsOptions contains the optional parameters for the WorkloadsClient.NewListWorkloadAssignmentsPager method.
func (client *WorkloadsClient) ListWorkloadAssignments(ctx context.Context, options *WorkloadsClientListWorkloadAssignmentsOptions) ([]BaseWorkloadAssignmentClassification, error) {
	pager := client.NewListWorkloadAssignmentsPager(options)
	mapper := func(resp WorkloadsClientListWorkloadAssignmentsResponse) []BaseWorkloadAssignmentClassification {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []BaseWorkloadAssignmentClassification{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []BaseWorkloadAssignmentClassification{}, err
	}
	return list, nil
}

// ListWorkloads - returns array of WorkloadAssignmentInfo from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// Note: Only published workloads are visible.
//
// PERMISSIONS The caller must be a Fabric administrator or authenticate using a service principal.
//
// # REQUIRED DELEGATED SCOPES Tenant.Read.All or Tenant.ReadWrite.All
//
// LIMITATIONS Maximum 200 requests per hour.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - options - WorkloadsClientListWorkloadsOptions contains the optional parameters for the WorkloadsClient.NewListWorkloadsPager method.
func (client *WorkloadsClient) ListWorkloads(ctx context.Context, options *WorkloadsClientListWorkloadsOptions) ([]WorkloadAssignmentInfo, error) {
	pager := client.NewListWorkloadsPager(options)
	mapper := func(resp WorkloadsClientListWorkloadsResponse) []WorkloadAssignmentInfo {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []WorkloadAssignmentInfo{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []WorkloadAssignmentInfo{}, err
	}
	return list, nil
}
