// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package core

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// CapacitiesClient contains the methods for the Capacities group.
// Don't use this type directly, use a constructor function instead.
type CapacitiesClient struct {
	internal *azcore.Client
	endpoint string
}

// GetCapacity - PERMISSIONS The caller must have administrator or contributor permissions on the capacity.
// REQUIRED DELEGATED SCOPES Capacity.Read.All or Capacity.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - capacityID - The capacity ID.
//   - options - CapacitiesClientGetCapacityOptions contains the optional parameters for the CapacitiesClient.GetCapacity method.
func (client *CapacitiesClient) GetCapacity(ctx context.Context, capacityID string, options *CapacitiesClientGetCapacityOptions) (CapacitiesClientGetCapacityResponse, error) {
	var err error
	const operationName = "core.CapacitiesClient.GetCapacity"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCapacityCreateRequest(ctx, capacityID, options)
	if err != nil {
		return CapacitiesClientGetCapacityResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CapacitiesClientGetCapacityResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return CapacitiesClientGetCapacityResponse{}, err
	}
	resp, err := client.getCapacityHandleResponse(httpResp)
	return resp, err
}

// getCapacityCreateRequest creates the GetCapacity request.
func (client *CapacitiesClient) getCapacityCreateRequest(ctx context.Context, capacityID string, _ *CapacitiesClientGetCapacityOptions) (*policy.Request, error) {
	urlPath := "/v1/capacities/{capacityId}"
	if capacityID == "" {
		return nil, errors.New("parameter capacityID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{capacityId}", url.PathEscape(capacityID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getCapacityHandleResponse handles the GetCapacity response.
func (client *CapacitiesClient) getCapacityHandleResponse(resp *http.Response) (CapacitiesClientGetCapacityResponse, error) {
	result := CapacitiesClientGetCapacityResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Capacity); err != nil {
		return CapacitiesClientGetCapacityResponse{}, err
	}
	return result, nil
}

// NewListCapacitiesPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// REQUIRED DELEGATED SCOPES Capacity.Read.All or Capacity.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - options - CapacitiesClientListCapacitiesOptions contains the optional parameters for the CapacitiesClient.NewListCapacitiesPager
//     method.
func (client *CapacitiesClient) NewListCapacitiesPager(options *CapacitiesClientListCapacitiesOptions) *runtime.Pager[CapacitiesClientListCapacitiesResponse] {
	return runtime.NewPager(runtime.PagingHandler[CapacitiesClientListCapacitiesResponse]{
		More: func(page CapacitiesClientListCapacitiesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *CapacitiesClientListCapacitiesResponse) (CapacitiesClientListCapacitiesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "core.CapacitiesClient.NewListCapacitiesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCapacitiesCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return CapacitiesClientListCapacitiesResponse{}, err
			}
			return client.listCapacitiesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCapacitiesCreateRequest creates the ListCapacities request.
func (client *CapacitiesClient) listCapacitiesCreateRequest(ctx context.Context, options *CapacitiesClientListCapacitiesOptions) (*policy.Request, error) {
	urlPath := "/v1/capacities"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listCapacitiesHandleResponse handles the ListCapacities response.
func (client *CapacitiesClient) listCapacitiesHandleResponse(resp *http.Response) (CapacitiesClientListCapacitiesResponse, error) {
	result := CapacitiesClientListCapacitiesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Capacities); err != nil {
		return CapacitiesClientListCapacitiesResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListCapacities - returns array of Capacity from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// # REQUIRED DELEGATED SCOPES Capacity.Read.All or Capacity.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - options - CapacitiesClientListCapacitiesOptions contains the optional parameters for the CapacitiesClient.NewListCapacitiesPager method.
func (client *CapacitiesClient) ListCapacities(ctx context.Context, options *CapacitiesClientListCapacitiesOptions) ([]Capacity, error) {
	pager := client.NewListCapacitiesPager(options)
	mapper := func(resp CapacitiesClientListCapacitiesResponse) []Capacity {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []Capacity{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return []Capacity{}, err
	}
	return list, nil
}
