// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package core

import (
	"context"
	"net/http"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// CatalogClient contains the methods for the Catalog group.
// Don't use this type directly, use a constructor function instead.
type CatalogClient struct {
	internal *azcore.Client
	endpoint string
}

// Search - > [!NOTE] Catalog search is currently in Preview (learn more [/fabric/fundamentals/preview]).
// A CatalogEntry is a discoverable metadata representation of a Microsoft Fabric entity, currently scoped to workspace items.
// Catalog entries are intended for metadata discovery only and do not grant
// access to underlying data or item content.
// REQUIRED DELEGATED SCOPES Catalog.Read.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// LIMITATIONS
// * The search functionality is currently scoped to specific Fabric item types. The following item types are not supported:
// Dashboard, Dataflow (Gen1), Dataflow (Gen2).
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - catalogQueryRequest - The search query request payload.
//   - options - CatalogClientSearchOptions contains the optional parameters for the CatalogClient.Search method.
func (client *CatalogClient) Search(ctx context.Context, catalogQueryRequest CatalogQueryRequest, options *CatalogClientSearchOptions) (CatalogClientSearchResponse, error) {
	var err error
	const operationName = "core.CatalogClient.Search"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.searchCreateRequest(ctx, catalogQueryRequest, options)
	if err != nil {
		return CatalogClientSearchResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CatalogClientSearchResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return CatalogClientSearchResponse{}, err
	}
	resp, err := client.searchHandleResponse(httpResp)
	return resp, err
}

// searchCreateRequest creates the Search request.
func (client *CatalogClient) searchCreateRequest(ctx context.Context, catalogQueryRequest CatalogQueryRequest, _ *CatalogClientSearchOptions) (*policy.Request, error) {
	urlPath := "/v1/catalog/search"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, catalogQueryRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// searchHandleResponse handles the Search response.
func (client *CatalogClient) searchHandleResponse(resp *http.Response) (CatalogClientSearchResponse, error) {
	result := CatalogClientSearchResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CatalogQueryResponse); err != nil {
		return CatalogClientSearchResponse{}, err
	}
	return result, nil
}

// Custom code starts below
