// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package core

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// GitClient contains the methods for the Git group.
// Don't use this type directly, use a constructor function instead.
type GitClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCommitToGit - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials]
// API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
// You can choose to commit all changes or only specific changed items. To sync the workspace for the first time, use this
// API after the Connect [/rest/api/fabric/core/git/connect] and Initialize
// Connection [/rest/api/fabric/core/git/initialize-connection] APIs.
// PERMISSIONS The caller must have a contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.GitCommit.All.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Only supported when all the items [/rest/api/fabric/articles/item-management/item-management-overview]
// involved in the operation support
// service principals |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - commitToGitRequest - Commit to the Git request payload.
//   - options - GitClientBeginCommitToGitOptions contains the optional parameters for the GitClient.BeginCommitToGit method.
func (client *GitClient) BeginCommitToGit(ctx context.Context, workspaceID string, commitToGitRequest CommitToGitRequest, options *GitClientBeginCommitToGitOptions) (*runtime.Poller[GitClientCommitToGitResponse], error) {
	return client.beginCommitToGit(ctx, workspaceID, commitToGitRequest, options)
}

// CommitToGit - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials]
// API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
// You can choose to commit all changes or only specific changed items. To sync the workspace for the first time, use this
// API after the Connect [/rest/api/fabric/core/git/connect] and Initialize
// Connection [/rest/api/fabric/core/git/initialize-connection] APIs.
// PERMISSIONS The caller must have a contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.GitCommit.All.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Only supported when all the items [/rest/api/fabric/articles/item-management/item-management-overview]
// involved in the operation support
// service principals |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *GitClient) commitToGit(ctx context.Context, workspaceID string, commitToGitRequest CommitToGitRequest, options *GitClientBeginCommitToGitOptions) (*http.Response, error) {
	var err error
	const operationName = "core.GitClient.BeginCommitToGit"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.commitToGitCreateRequest(ctx, workspaceID, commitToGitRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// commitToGitCreateRequest creates the CommitToGit request.
func (client *GitClient) commitToGitCreateRequest(ctx context.Context, workspaceID string, commitToGitRequest CommitToGitRequest, _ *GitClientBeginCommitToGitOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/commitToGit"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, commitToGitRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Connect - This operation does not sync between the workspace and the connected branch. To complete the sync, use the Initialize
// Connection [/rest/api/fabric/core/git/initialize-connection] operation and follow
// with either the Commit To Git [/rest/api/fabric/core/git/commit-to-git] or the Update From Git [/rest/api/fabric/core/git/update-from-git]
// operation.
// To get started with GitHub, see: Get started with Git integration [/fabric/cicd/git-integration/git-get-started?tabs=github].
// To get the connection ID, see Automate Git integration [/fabric/cicd/git-integration/git-automation#get-or-create-git-provider-credentials-connection].
// PERMISSIONS The caller must have an admin role for the workspace.
// For configured connection Git credentials, the caller must have permission for the connection.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// LIMITATIONS When using Automatic credentials source, this API is blocked for GitHub provider and for Service Principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Supported only when myGitCredentials.source is ConfiguredConnection
// |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - gitConnectRequest - Connect to the Git request payload.
//   - options - GitClientConnectOptions contains the optional parameters for the GitClient.Connect method.
func (client *GitClient) Connect(ctx context.Context, workspaceID string, gitConnectRequest GitConnectRequest, options *GitClientConnectOptions) (GitClientConnectResponse, error) {
	var err error
	const operationName = "core.GitClient.Connect"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.connectCreateRequest(ctx, workspaceID, gitConnectRequest, options)
	if err != nil {
		return GitClientConnectResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GitClientConnectResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return GitClientConnectResponse{}, err
	}
	return GitClientConnectResponse{}, nil
}

// connectCreateRequest creates the Connect request.
func (client *GitClient) connectCreateRequest(ctx context.Context, workspaceID string, gitConnectRequest GitConnectRequest, _ *GitClientConnectOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/connect"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, gitConnectRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// CreateWorkspaceRelation - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// Creates a branching relation between a branch workspace and its base workspace.
// PERMISSIONS The caller must have an admin role on the branch workspace and a contributor or higher role on the base workspace.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createWorkspaceRelationRequest - Create workspace relation request payload.
//   - options - GitClientCreateWorkspaceRelationOptions contains the optional parameters for the GitClient.CreateWorkspaceRelation
//     method.
func (client *GitClient) CreateWorkspaceRelation(ctx context.Context, workspaceID string, createWorkspaceRelationRequest CreateWorkspaceRelationRequest, options *GitClientCreateWorkspaceRelationOptions) (GitClientCreateWorkspaceRelationResponse, error) {
	var err error
	const operationName = "core.GitClient.CreateWorkspaceRelation"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createWorkspaceRelationCreateRequest(ctx, workspaceID, createWorkspaceRelationRequest, options)
	if err != nil {
		return GitClientCreateWorkspaceRelationResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GitClientCreateWorkspaceRelationResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = NewResponseError(httpResp)
		return GitClientCreateWorkspaceRelationResponse{}, err
	}
	resp, err := client.createWorkspaceRelationHandleResponse(httpResp)
	return resp, err
}

// createWorkspaceRelationCreateRequest creates the CreateWorkspaceRelation request.
func (client *GitClient) createWorkspaceRelationCreateRequest(ctx context.Context, workspaceID string, createWorkspaceRelationRequest CreateWorkspaceRelationRequest, _ *GitClientCreateWorkspaceRelationOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/workspaceRelations"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createWorkspaceRelationRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createWorkspaceRelationHandleResponse handles the CreateWorkspaceRelation response.
func (client *GitClient) createWorkspaceRelationHandleResponse(resp *http.Response) (GitClientCreateWorkspaceRelationResponse, error) {
	result := GitClientCreateWorkspaceRelationResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WorkspaceRelation); err != nil {
		return GitClientCreateWorkspaceRelationResponse{}, err
	}
	return result, nil
}

// DeleteWorkspaceRelation - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// Deletes an existing workspace relation between two workspaces, identified by the relation ID. The provided workspace ID
// can be either a base workspace or a branch workspace.
// PERMISSIONS The caller must have an admin workspace role on the specified workspace.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - workspaceRelationID - The workspace relation ID.
//   - options - GitClientDeleteWorkspaceRelationOptions contains the optional parameters for the GitClient.DeleteWorkspaceRelation
//     method.
func (client *GitClient) DeleteWorkspaceRelation(ctx context.Context, workspaceID string, workspaceRelationID string, options *GitClientDeleteWorkspaceRelationOptions) (GitClientDeleteWorkspaceRelationResponse, error) {
	var err error
	const operationName = "core.GitClient.DeleteWorkspaceRelation"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteWorkspaceRelationCreateRequest(ctx, workspaceID, workspaceRelationID, options)
	if err != nil {
		return GitClientDeleteWorkspaceRelationResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GitClientDeleteWorkspaceRelationResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return GitClientDeleteWorkspaceRelationResponse{}, err
	}
	return GitClientDeleteWorkspaceRelationResponse{}, nil
}

// deleteWorkspaceRelationCreateRequest creates the DeleteWorkspaceRelation request.
func (client *GitClient) deleteWorkspaceRelationCreateRequest(ctx context.Context, workspaceID string, workspaceRelationID string, _ *GitClientDeleteWorkspaceRelationOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/workspaceRelations/{workspaceRelationId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if workspaceRelationID == "" {
		return nil, errors.New("parameter workspaceRelationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceRelationId}", url.PathEscape(workspaceRelationID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Disconnect - PERMISSIONS The caller must have an admin workspace role.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientDisconnectOptions contains the optional parameters for the GitClient.Disconnect method.
func (client *GitClient) Disconnect(ctx context.Context, workspaceID string, options *GitClientDisconnectOptions) (GitClientDisconnectResponse, error) {
	var err error
	const operationName = "core.GitClient.Disconnect"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.disconnectCreateRequest(ctx, workspaceID, options)
	if err != nil {
		return GitClientDisconnectResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GitClientDisconnectResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return GitClientDisconnectResponse{}, err
	}
	return GitClientDisconnectResponse{}, nil
}

// disconnectCreateRequest creates the Disconnect request.
func (client *GitClient) disconnectCreateRequest(ctx context.Context, workspaceID string, _ *GitClientDisconnectOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/disconnect"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetConnection - PERMISSIONS The caller must have a contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientGetConnectionOptions contains the optional parameters for the GitClient.GetConnection method.
func (client *GitClient) GetConnection(ctx context.Context, workspaceID string, options *GitClientGetConnectionOptions) (GitClientGetConnectionResponse, error) {
	var err error
	const operationName = "core.GitClient.GetConnection"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getConnectionCreateRequest(ctx, workspaceID, options)
	if err != nil {
		return GitClientGetConnectionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GitClientGetConnectionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return GitClientGetConnectionResponse{}, err
	}
	resp, err := client.getConnectionHandleResponse(httpResp)
	return resp, err
}

// getConnectionCreateRequest creates the GetConnection request.
func (client *GitClient) getConnectionCreateRequest(ctx context.Context, workspaceID string, _ *GitClientGetConnectionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/connection"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getConnectionHandleResponse handles the GetConnection response.
func (client *GitClient) getConnectionHandleResponse(resp *http.Response) (GitClientGetConnectionResponse, error) {
	result := GitClientGetConnectionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GitConnection); err != nil {
		return GitClientGetConnectionResponse{}, err
	}
	return result, nil
}

// GetMyGitCredentials - Indicates how the user's credentials are obtained for accessing the relevant Git provider, automatically
// or through configured connection. If the user's credentials aren't configured, go to Update My
// Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials] API.
// PERMISSIONS The caller must have a contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientGetMyGitCredentialsOptions contains the optional parameters for the GitClient.GetMyGitCredentials method.
func (client *GitClient) GetMyGitCredentials(ctx context.Context, workspaceID string, options *GitClientGetMyGitCredentialsOptions) (GitClientGetMyGitCredentialsResponse, error) {
	var err error
	const operationName = "core.GitClient.GetMyGitCredentials"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getMyGitCredentialsCreateRequest(ctx, workspaceID, options)
	if err != nil {
		return GitClientGetMyGitCredentialsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GitClientGetMyGitCredentialsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return GitClientGetMyGitCredentialsResponse{}, err
	}
	resp, err := client.getMyGitCredentialsHandleResponse(httpResp)
	return resp, err
}

// getMyGitCredentialsCreateRequest creates the GetMyGitCredentials request.
func (client *GitClient) getMyGitCredentialsCreateRequest(ctx context.Context, workspaceID string, _ *GitClientGetMyGitCredentialsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/myGitCredentials"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getMyGitCredentialsHandleResponse handles the GetMyGitCredentials response.
func (client *GitClient) getMyGitCredentialsHandleResponse(resp *http.Response) (GitClientGetMyGitCredentialsResponse, error) {
	result := GitClientGetMyGitCredentialsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result); err != nil {
		return GitClientGetMyGitCredentialsResponse{}, err
	}
	return result, nil
}

// BeginGetStatus - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// The status indicates changes to items since the last workspace and remote branch sync. If the remote and workspace items
// were both modified, the API flags a conflict. The API should not be called
// while Update From Git [/rest/api/fabric/core/git/update-from-git] operation is executing.
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials]
// API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
// PERMISSIONS The caller must have a contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.GitUpdate.All or Workspace.GitCommit.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientBeginGetStatusOptions contains the optional parameters for the GitClient.BeginGetStatus method.
func (client *GitClient) BeginGetStatus(ctx context.Context, workspaceID string, options *GitClientBeginGetStatusOptions) (*runtime.Poller[GitClientGetStatusResponse], error) {
	return client.beginGetStatus(ctx, workspaceID, options)
}

// GetStatus - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// The status indicates changes to items since the last workspace and remote branch sync. If the remote and workspace items
// were both modified, the API flags a conflict. The API should not be called
// while Update From Git [/rest/api/fabric/core/git/update-from-git] operation is executing.
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials]
// API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
// PERMISSIONS The caller must have a contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.GitUpdate.All or Workspace.GitCommit.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *GitClient) getStatus(ctx context.Context, workspaceID string, options *GitClientBeginGetStatusOptions) (*http.Response, error) {
	var err error
	const operationName = "core.GitClient.BeginGetStatus"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getStatusCreateRequest(ctx, workspaceID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getStatusCreateRequest creates the GetStatus request.
func (client *GitClient) getStatusCreateRequest(ctx context.Context, workspaceID string, _ *GitClientBeginGetStatusOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/status"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// BeginInitializeConnection - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials]
// API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
// This API should be called after a successful call to the Connect [/rest/api/fabric/core/git/connect] API. To complete a
// full sync of the workspace, use the Required Action
// [initialize-connection#requiredaction] operation to call the relevant sync operation, either Commit To Git [/rest/api/fabric/core/git/commit-to-git]
// or Update From Git
// [/rest/api/fabric/core/git/update-from-git].
// PERMISSIONS The caller must have an admin workspace role.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientBeginInitializeConnectionOptions contains the optional parameters for the GitClient.BeginInitializeConnection
//     method.
func (client *GitClient) BeginInitializeConnection(ctx context.Context, workspaceID string, options *GitClientBeginInitializeConnectionOptions) (*runtime.Poller[GitClientInitializeConnectionResponse], error) {
	return client.beginInitializeConnection(ctx, workspaceID, options)
}

// InitializeConnection - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials]
// API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
// This API should be called after a successful call to the Connect [/rest/api/fabric/core/git/connect] API. To complete a
// full sync of the workspace, use the Required Action
// [initialize-connection#requiredaction] operation to call the relevant sync operation, either Commit To Git [/rest/api/fabric/core/git/commit-to-git]
// or Update From Git
// [/rest/api/fabric/core/git/update-from-git].
// PERMISSIONS The caller must have an admin workspace role.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *GitClient) initializeConnection(ctx context.Context, workspaceID string, options *GitClientBeginInitializeConnectionOptions) (*http.Response, error) {
	var err error
	const operationName = "core.GitClient.BeginInitializeConnection"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.initializeConnectionCreateRequest(ctx, workspaceID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// initializeConnectionCreateRequest creates the InitializeConnection request.
func (client *GitClient) initializeConnectionCreateRequest(ctx context.Context, workspaceID string, options *GitClientBeginInitializeConnectionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/initializeConnection"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.GitInitializeConnectionRequest != nil {
		if err := runtime.MarshalAsJSON(req, *options.GitInitializeConnectionRequest); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// NewListWorkspaceRelationsPager - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientListWorkspaceRelationsOptions contains the optional parameters for the GitClient.NewListWorkspaceRelationsPager
//     method.
func (client *GitClient) NewListWorkspaceRelationsPager(workspaceID string, options *GitClientListWorkspaceRelationsOptions) *runtime.Pager[GitClientListWorkspaceRelationsResponse] {
	return runtime.NewPager(runtime.PagingHandler[GitClientListWorkspaceRelationsResponse]{
		More: func(page GitClientListWorkspaceRelationsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *GitClientListWorkspaceRelationsResponse) (GitClientListWorkspaceRelationsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "core.GitClient.NewListWorkspaceRelationsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listWorkspaceRelationsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return GitClientListWorkspaceRelationsResponse{}, err
			}
			return client.listWorkspaceRelationsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listWorkspaceRelationsCreateRequest creates the ListWorkspaceRelations request.
func (client *GitClient) listWorkspaceRelationsCreateRequest(ctx context.Context, workspaceID string, options *GitClientListWorkspaceRelationsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/workspaceRelations"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listWorkspaceRelationsHandleResponse handles the ListWorkspaceRelations response.
func (client *GitClient) listWorkspaceRelationsHandleResponse(resp *http.Response) (GitClientListWorkspaceRelationsResponse, error) {
	result := GitClientListWorkspaceRelationsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WorkspaceRelations); err != nil {
		return GitClientListWorkspaceRelationsResponse{}, err
	}
	return result, nil
}

// BeginUpdateFromGit - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials]
// API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
// The update only affects items in the workspace that were changed in those commits. If called after the Connect [/rest/api/fabric/core/git/connect]
// and Initialize Connection
// [/rest/api/fabric/core/git/initialize-connection] APIs, it will perform a full update of the entire workspace.
// PERMISSIONS The caller must have a contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.GitUpdate.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Only supported when all the items [/rest/api/fabric/articles/item-management/item-management-overview]
// involved in the operation support
// service principals |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - updateFromGitRequest - Update from a Git request payload.
//   - options - GitClientBeginUpdateFromGitOptions contains the optional parameters for the GitClient.BeginUpdateFromGit method.
func (client *GitClient) BeginUpdateFromGit(ctx context.Context, workspaceID string, updateFromGitRequest UpdateFromGitRequest, options *GitClientBeginUpdateFromGitOptions) (*runtime.Poller[GitClientUpdateFromGitResponse], error) {
	return client.beginUpdateFromGit(ctx, workspaceID, updateFromGitRequest, options)
}

// UpdateFromGit - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials]
// API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
// The update only affects items in the workspace that were changed in those commits. If called after the Connect [/rest/api/fabric/core/git/connect]
// and Initialize Connection
// [/rest/api/fabric/core/git/initialize-connection] APIs, it will perform a full update of the entire workspace.
// PERMISSIONS The caller must have a contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.GitUpdate.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Only supported when all the items [/rest/api/fabric/articles/item-management/item-management-overview]
// involved in the operation support
// service principals |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *GitClient) updateFromGit(ctx context.Context, workspaceID string, updateFromGitRequest UpdateFromGitRequest, options *GitClientBeginUpdateFromGitOptions) (*http.Response, error) {
	var err error
	const operationName = "core.GitClient.BeginUpdateFromGit"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateFromGitCreateRequest(ctx, workspaceID, updateFromGitRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateFromGitCreateRequest creates the UpdateFromGit request.
func (client *GitClient) updateFromGitCreateRequest(ctx context.Context, workspaceID string, updateFromGitRequest UpdateFromGitRequest, _ *GitClientBeginUpdateFromGitOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/updateFromGit"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateFromGitRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// UpdateMyGitCredentials - Each user in the workspace has their own configured Git credentials. You can use Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to get the Git credentials configuration.
// To get the connection ID, see Automate Git integration [/fabric/cicd/git-integration/git-automation#get-or-create-git-provider-credentials-connection].
// PERMISSIONS The caller must have a contributor or higher workspace role.
// For configured connection Git credentials, the caller must have permission for the connection.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// LIMITATIONS When using Automatic credentials source, this API is blocked for GitHub provider and for Service Principal.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Supported only when source is ConfiguredConnection or None
// |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - updateGitCredentialsRequest - Updates the user's Git credentials request payload.
//   - options - GitClientUpdateMyGitCredentialsOptions contains the optional parameters for the GitClient.UpdateMyGitCredentials
//     method.
func (client *GitClient) UpdateMyGitCredentials(ctx context.Context, workspaceID string, updateGitCredentialsRequest UpdateGitCredentialsRequestClassification, options *GitClientUpdateMyGitCredentialsOptions) (GitClientUpdateMyGitCredentialsResponse, error) {
	var err error
	const operationName = "core.GitClient.UpdateMyGitCredentials"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateMyGitCredentialsCreateRequest(ctx, workspaceID, updateGitCredentialsRequest, options)
	if err != nil {
		return GitClientUpdateMyGitCredentialsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GitClientUpdateMyGitCredentialsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return GitClientUpdateMyGitCredentialsResponse{}, err
	}
	resp, err := client.updateMyGitCredentialsHandleResponse(httpResp)
	return resp, err
}

// updateMyGitCredentialsCreateRequest creates the UpdateMyGitCredentials request.
func (client *GitClient) updateMyGitCredentialsCreateRequest(ctx context.Context, workspaceID string, updateGitCredentialsRequest UpdateGitCredentialsRequestClassification, _ *GitClientUpdateMyGitCredentialsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/myGitCredentials"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateGitCredentialsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateMyGitCredentialsHandleResponse handles the UpdateMyGitCredentials response.
func (client *GitClient) updateMyGitCredentialsHandleResponse(resp *http.Response) (GitClientUpdateMyGitCredentialsResponse, error) {
	result := GitClientUpdateMyGitCredentialsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result); err != nil {
		return GitClientUpdateMyGitCredentialsResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// CommitToGit - returns GitClientCommitToGitResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials] API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
//
// You can choose to commit all changes or only specific changed items. To sync the workspace for the first time, use this API after the Connect [/rest/api/fabric/core/git/connect] and Initialize
// Connection [/rest/api/fabric/core/git/initialize-connection] APIs.
//
// PERMISSIONS The caller must have a contributor or higher workspace role.
//
// REQUIRED DELEGATED SCOPES Workspace.GitCommit.All.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Only supported when all the items [/rest/api/fabric/articles/item-management/item-management-overview] involved in the operation support
// service principals |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - commitToGitRequest - Commit to the Git request payload.
//   - options - GitClientBeginCommitToGitOptions contains the optional parameters for the GitClient.BeginCommitToGit method.
func (client *GitClient) CommitToGit(ctx context.Context, workspaceID string, commitToGitRequest CommitToGitRequest, options *GitClientBeginCommitToGitOptions) (GitClientCommitToGitResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCommitToGit(ctx, workspaceID, commitToGitRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return GitClientCommitToGitResponse{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return GitClientCommitToGitResponse{}, err
	}
	return result, err
}

// beginCommitToGit creates the commitToGit request.
func (client *GitClient) beginCommitToGit(ctx context.Context, workspaceID string, commitToGitRequest CommitToGitRequest, options *GitClientBeginCommitToGitOptions) (*runtime.Poller[GitClientCommitToGitResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.commitToGit(ctx, workspaceID, commitToGitRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[GitClientCommitToGitResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GitClientCommitToGitResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[GitClientCommitToGitResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GitClientCommitToGitResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetStatus - returns GitClientGetStatusResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// The status indicates changes to items since the last workspace and remote branch sync. If the remote and workspace items were both modified, the API flags a conflict. The API should not be called
// while Update From Git [/rest/api/fabric/core/git/update-from-git] operation is executing.
//
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials] API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
//
// PERMISSIONS The caller must have a contributor or higher workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.GitUpdate.All or Workspace.GitCommit.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientBeginGetStatusOptions contains the optional parameters for the GitClient.BeginGetStatus method.
func (client *GitClient) GetStatus(ctx context.Context, workspaceID string, options *GitClientBeginGetStatusOptions) (GitClientGetStatusResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetStatus(ctx, workspaceID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return GitClientGetStatusResponse{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return GitClientGetStatusResponse{}, err
	}
	return result, err
}

// beginGetStatus creates the getStatus request.
func (client *GitClient) beginGetStatus(ctx context.Context, workspaceID string, options *GitClientBeginGetStatusOptions) (*runtime.Poller[GitClientGetStatusResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getStatus(ctx, workspaceID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[GitClientGetStatusResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GitClientGetStatusResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[GitClientGetStatusResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GitClientGetStatusResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// InitializeConnection - returns GitClientInitializeConnectionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials] API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
//
// This API should be called after a successful call to the Connect [/rest/api/fabric/core/git/connect] API. To complete a full sync of the workspace, use the Required Action
// [initialize-connection#requiredaction] operation to call the relevant sync operation, either Commit To Git [/rest/api/fabric/core/git/commit-to-git] or Update From Git
// [/rest/api/fabric/core/git/update-from-git].
//
// PERMISSIONS The caller must have an admin workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientBeginInitializeConnectionOptions contains the optional parameters for the GitClient.BeginInitializeConnection method.
func (client *GitClient) InitializeConnection(ctx context.Context, workspaceID string, options *GitClientBeginInitializeConnectionOptions) (GitClientInitializeConnectionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginInitializeConnection(ctx, workspaceID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return GitClientInitializeConnectionResponse{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return GitClientInitializeConnectionResponse{}, err
	}
	return result, err
}

// beginInitializeConnection creates the initializeConnection request.
func (client *GitClient) beginInitializeConnection(ctx context.Context, workspaceID string, options *GitClientBeginInitializeConnectionOptions) (*runtime.Poller[GitClientInitializeConnectionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.initializeConnection(ctx, workspaceID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[GitClientInitializeConnectionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GitClientInitializeConnectionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[GitClientInitializeConnectionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GitClientInitializeConnectionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateFromGit - returns GitClientUpdateFromGitResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To use this API, the caller's Git credentials must be configured using Update My Git Credentials [/rest/api/fabric/core/git/update-my-git-credentials] API. You can use the Get My Git Credentials
// [/rest/api/fabric/core/git/get-my-git-credentials] API to check the Git credentials configuration.
//
// The update only affects items in the workspace that were changed in those commits. If called after the Connect [/rest/api/fabric/core/git/connect] and Initialize Connection
// [/rest/api/fabric/core/git/initialize-connection] APIs, it will perform a full update of the entire workspace.
//
// PERMISSIONS The caller must have a contributor or higher workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.GitUpdate.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Only supported when all the items [/rest/api/fabric/articles/item-management/item-management-overview] involved in the operation support
// service principals |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - updateFromGitRequest - Update from a Git request payload.
//   - options - GitClientBeginUpdateFromGitOptions contains the optional parameters for the GitClient.BeginUpdateFromGit method.
func (client *GitClient) UpdateFromGit(ctx context.Context, workspaceID string, updateFromGitRequest UpdateFromGitRequest, options *GitClientBeginUpdateFromGitOptions) (GitClientUpdateFromGitResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateFromGit(ctx, workspaceID, updateFromGitRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return GitClientUpdateFromGitResponse{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return GitClientUpdateFromGitResponse{}, err
	}
	return result, err
}

// beginUpdateFromGit creates the updateFromGit request.
func (client *GitClient) beginUpdateFromGit(ctx context.Context, workspaceID string, updateFromGitRequest UpdateFromGitRequest, options *GitClientBeginUpdateFromGitOptions) (*runtime.Poller[GitClientUpdateFromGitResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateFromGit(ctx, workspaceID, updateFromGitRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[GitClientUpdateFromGitResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GitClientUpdateFromGitResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[GitClientUpdateFromGitResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GitClientUpdateFromGitResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListWorkspaceRelations - returns array of WorkspaceRelation from all pages.
// >  [!NOTE] This API is part of a Preview release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer or higher workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - GitClientListWorkspaceRelationsOptions contains the optional parameters for the GitClient.NewListWorkspaceRelationsPager method.
func (client *GitClient) ListWorkspaceRelations(ctx context.Context, workspaceID string, options *GitClientListWorkspaceRelationsOptions) ([]WorkspaceRelation, error) {
	pager := client.NewListWorkspaceRelationsPager(workspaceID, options)
	mapper := func(resp GitClientListWorkspaceRelationsResponse) []WorkspaceRelation {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []WorkspaceRelation{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return []WorkspaceRelation{}, err
	}
	return list, nil
}
