// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package core

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// OneLakeSettingsClient contains the methods for the OneLakeSettings group.
// Don't use this type directly, use a constructor function instead.
type OneLakeSettingsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetSettings - PERMISSIONS The caller must have an admin workspace role.
// REQUIRED DELEGATED SCOPES
// OneLake.Read.All or OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - OneLakeSettingsClientGetSettingsOptions contains the optional parameters for the OneLakeSettingsClient.GetSettings
//     method.
func (client *OneLakeSettingsClient) GetSettings(ctx context.Context, workspaceID string, options *OneLakeSettingsClientGetSettingsOptions) (OneLakeSettingsClientGetSettingsResponse, error) {
	var err error
	const operationName = "core.OneLakeSettingsClient.GetSettings"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSettingsCreateRequest(ctx, workspaceID, options)
	if err != nil {
		return OneLakeSettingsClientGetSettingsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return OneLakeSettingsClientGetSettingsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return OneLakeSettingsClientGetSettingsResponse{}, err
	}
	resp, err := client.getSettingsHandleResponse(httpResp)
	return resp, err
}

// getSettingsCreateRequest creates the GetSettings request.
func (client *OneLakeSettingsClient) getSettingsCreateRequest(ctx context.Context, workspaceID string, _ *OneLakeSettingsClientGetSettingsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/onelake/settings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSettingsHandleResponse handles the GetSettings response.
func (client *OneLakeSettingsClient) getSettingsHandleResponse(resp *http.Response) (OneLakeSettingsClientGetSettingsResponse, error) {
	result := OneLakeSettingsClientGetSettingsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GetOneLakeSettingsResponse); err != nil {
		return OneLakeSettingsClientGetSettingsResponse{}, err
	}
	return result, nil
}

// BeginModifyDiagnostics - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS
// * The caller must have an admin workspace role on the source workspace.
//
// * The caller must have contributor or above workspace role on the destination workspace.
//
// # REQUIRED DELEGATED SCOPES
//
// OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - OneLakeSettingsClientBeginModifyDiagnosticsOptions contains the optional parameters for the OneLakeSettingsClient.BeginModifyDiagnostics
//     method.
func (client *OneLakeSettingsClient) BeginModifyDiagnostics(ctx context.Context, workspaceID string, options *OneLakeSettingsClientBeginModifyDiagnosticsOptions) (*runtime.Poller[OneLakeSettingsClientModifyDiagnosticsResponse], error) {
	return client.beginModifyDiagnostics(ctx, workspaceID, options)
}

// ModifyDiagnostics - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS
// * The caller must have an admin workspace role on the source workspace.
//
// * The caller must have contributor or above workspace role on the destination workspace.
//
// # REQUIRED DELEGATED SCOPES
//
// OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *OneLakeSettingsClient) modifyDiagnostics(ctx context.Context, workspaceID string, options *OneLakeSettingsClientBeginModifyDiagnosticsOptions) (*http.Response, error) {
	var err error
	const operationName = "core.OneLakeSettingsClient.BeginModifyDiagnostics"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.modifyDiagnosticsCreateRequest(ctx, workspaceID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// modifyDiagnosticsCreateRequest creates the ModifyDiagnostics request.
func (client *OneLakeSettingsClient) modifyDiagnosticsCreateRequest(ctx context.Context, workspaceID string, options *OneLakeSettingsClientBeginModifyDiagnosticsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/onelake/settings/modifyDiagnostics"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.ModifyOneLakeDiagnosticSettingRequest != nil {
		if err := runtime.MarshalAsJSON(req, *options.ModifyOneLakeDiagnosticSettingRequest); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// ModifyImmutabilityPolicy - Set immutability policy for data stored in OneLake. Currently, this feature supports configuring
// a retention period specifically for diagnostic logs within a workspace, ensuring they remain unaltered
// once written.
// PERMISSIONS The caller must have an admin workspace role.
// REQUIRED DELEGATED SCOPES OneLake.ReadWrite.All
// LIMITATIONS Can be applied only if:
// * The current workspace is storing diagnostic logs from other workspaces.
// * There is already a retention period applied to the diagnostics logs in the workspace
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - immutabilityPolicyRequest - The immutability policy request object.
//   - options - OneLakeSettingsClientModifyImmutabilityPolicyOptions contains the optional parameters for the OneLakeSettingsClient.ModifyImmutabilityPolicy
//     method.
func (client *OneLakeSettingsClient) ModifyImmutabilityPolicy(ctx context.Context, workspaceID string, immutabilityPolicyRequest ImmutabilityPolicyRequest, options *OneLakeSettingsClientModifyImmutabilityPolicyOptions) (OneLakeSettingsClientModifyImmutabilityPolicyResponse, error) {
	var err error
	const operationName = "core.OneLakeSettingsClient.ModifyImmutabilityPolicy"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.modifyImmutabilityPolicyCreateRequest(ctx, workspaceID, immutabilityPolicyRequest, options)
	if err != nil {
		return OneLakeSettingsClientModifyImmutabilityPolicyResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return OneLakeSettingsClientModifyImmutabilityPolicyResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return OneLakeSettingsClientModifyImmutabilityPolicyResponse{}, err
	}
	return OneLakeSettingsClientModifyImmutabilityPolicyResponse{}, nil
}

// modifyImmutabilityPolicyCreateRequest creates the ModifyImmutabilityPolicy request.
func (client *OneLakeSettingsClient) modifyImmutabilityPolicyCreateRequest(ctx context.Context, workspaceID string, immutabilityPolicyRequest ImmutabilityPolicyRequest, _ *OneLakeSettingsClientModifyImmutabilityPolicyOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/onelake/settings/modifyImmutabilityPolicy"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, immutabilityPolicyRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// ModifyDiagnostics - returns OneLakeSettingsClientModifyDiagnosticsResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS
//
//   - The caller must have an admin workspace role on the source workspace.
//
//   - The caller must have contributor or above workspace role on the destination workspace.
//
//     REQUIRED DELEGATED SCOPES
//
// # OneLake.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - OneLakeSettingsClientBeginModifyDiagnosticsOptions contains the optional parameters for the OneLakeSettingsClient.BeginModifyDiagnostics method.
func (client *OneLakeSettingsClient) ModifyDiagnostics(ctx context.Context, workspaceID string, options *OneLakeSettingsClientBeginModifyDiagnosticsOptions) (OneLakeSettingsClientModifyDiagnosticsResponse, error) {
	result, err := iruntime.NewLRO(client.BeginModifyDiagnostics(ctx, workspaceID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return OneLakeSettingsClientModifyDiagnosticsResponse{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return OneLakeSettingsClientModifyDiagnosticsResponse{}, err
	}
	return result, err
}

// beginModifyDiagnostics creates the modifyDiagnostics request.
func (client *OneLakeSettingsClient) beginModifyDiagnostics(ctx context.Context, workspaceID string, options *OneLakeSettingsClientBeginModifyDiagnosticsOptions) (*runtime.Poller[OneLakeSettingsClientModifyDiagnosticsResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.modifyDiagnostics(ctx, workspaceID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[OneLakeSettingsClientModifyDiagnosticsResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[OneLakeSettingsClientModifyDiagnosticsResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[OneLakeSettingsClientModifyDiagnosticsResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[OneLakeSettingsClientModifyDiagnosticsResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}
