// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package core

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// OneLakeLifecyclePolicyClient contains the methods for the OneLakeLifecyclePolicy group.
// Don't use this type directly, use a constructor function instead.
type OneLakeLifecyclePolicyClient struct {
	internal *azcore.Client
	endpoint string
}

// ExportPolicy - Returns the lifecycle management policy for a workspace. A lifecycle policy is made up of rules, which are
// made up of filters, actions, and conditions. A prefixMatch of "*/diagnosticLogs" applies the
// rule to all diagnostic events routed to that workspace.
// OneLake supports the same lifecycle policy structure as Azure Storage lifecycle management [https://learn.microsoft.com/azure/storage/blobs/lifecycle-management-overview],
// with the following
// exceptions:
// * OneLake does not support the TierToArchive action.
// * OneLake does not support the Delete action.
// * OneLake does not support the blobIndexMatch filter.
// For more information, see OneLake lifecycle management [https://aka.ms/OneLakeLCM].
// PERMISSIONS The caller must have an admin workspace role.
// REQUIRED DELEGATED SCOPES OneLake.Read.All or OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - OneLakeLifecyclePolicyClientExportPolicyOptions contains the optional parameters for the OneLakeLifecyclePolicyClient.ExportPolicy
//     method.
func (client *OneLakeLifecyclePolicyClient) ExportPolicy(ctx context.Context, workspaceID string, options *OneLakeLifecyclePolicyClientExportPolicyOptions) (OneLakeLifecyclePolicyClientExportPolicyResponse, error) {
	var err error
	const operationName = "core.OneLakeLifecyclePolicyClient.ExportPolicy"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.exportPolicyCreateRequest(ctx, workspaceID, options)
	if err != nil {
		return OneLakeLifecyclePolicyClientExportPolicyResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return OneLakeLifecyclePolicyClientExportPolicyResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return OneLakeLifecyclePolicyClientExportPolicyResponse{}, err
	}
	resp, err := client.exportPolicyHandleResponse(httpResp)
	return resp, err
}

// exportPolicyCreateRequest creates the ExportPolicy request.
func (client *OneLakeLifecyclePolicyClient) exportPolicyCreateRequest(ctx context.Context, workspaceID string, _ *OneLakeLifecyclePolicyClientExportPolicyOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/onelake/lifecycle/exportPolicy"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// exportPolicyHandleResponse handles the ExportPolicy response.
func (client *OneLakeLifecyclePolicyClient) exportPolicyHandleResponse(resp *http.Response) (OneLakeLifecyclePolicyClientExportPolicyResponse, error) {
	result := OneLakeLifecyclePolicyClientExportPolicyResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OneLakeWorkspaceLifecyclePolicyResponse); err != nil {
		return OneLakeLifecyclePolicyClientExportPolicyResponse{}, err
	}
	return result, nil
}

// ImportPolicy - Creates or replaces the OneLake lifecycle management policy for a workspace. The policy must be sent in
// full as a complete replacement. To delete an existing policy, send a request with an empty rules
// array.
// In OneLake, lifecycle rules are scoped to the workspace. The prefixMatch filter starts at the item level, so prefixMatch
// values must begin with a valid item name or item ID (for example,
// "MyLakehouse.Lakehouse/Files/data"). Setting the prefixMatch to "*/diagnosticLogs" applies the rule to all diagnostic events
// routed to that workspace.
// OneLake supports the same lifecycle policy structure as Azure Storage lifecycle management [https://learn.microsoft.com/azure/storage/blobs/lifecycle-management-overview],
// with the following
// exceptions:
// * OneLake does not support the TierToArchive action.
// * OneLake does not support the Delete action.
// * OneLake does not support the blobIndexMatch filter.
// For more information, see OneLake lifecycle management [https://aka.ms/OneLakeLCM].
// PERMISSIONS The caller must have an admin workspace role.
// REQUIRED DELEGATED SCOPES OneLake.ReadWrite.All
// LIMITATIONS
// * The tierToArchive action is not supported.
// * The delete action is not supported.
// * The blobIndexMatch filter is not supported.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - importOneLakeWorkspaceLifecyclePolicyRequest - The lifecycle policy to import.
//   - options - OneLakeLifecyclePolicyClientImportPolicyOptions contains the optional parameters for the OneLakeLifecyclePolicyClient.ImportPolicy
//     method.
func (client *OneLakeLifecyclePolicyClient) ImportPolicy(ctx context.Context, workspaceID string, importOneLakeWorkspaceLifecyclePolicyRequest ImportOneLakeWorkspaceLifecyclePolicyRequest, options *OneLakeLifecyclePolicyClientImportPolicyOptions) (OneLakeLifecyclePolicyClientImportPolicyResponse, error) {
	var err error
	const operationName = "core.OneLakeLifecyclePolicyClient.ImportPolicy"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.importPolicyCreateRequest(ctx, workspaceID, importOneLakeWorkspaceLifecyclePolicyRequest, options)
	if err != nil {
		return OneLakeLifecyclePolicyClientImportPolicyResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return OneLakeLifecyclePolicyClientImportPolicyResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return OneLakeLifecyclePolicyClientImportPolicyResponse{}, err
	}
	resp, err := client.importPolicyHandleResponse(httpResp)
	return resp, err
}

// importPolicyCreateRequest creates the ImportPolicy request.
func (client *OneLakeLifecyclePolicyClient) importPolicyCreateRequest(ctx context.Context, workspaceID string, importOneLakeWorkspaceLifecyclePolicyRequest ImportOneLakeWorkspaceLifecyclePolicyRequest, _ *OneLakeLifecyclePolicyClientImportPolicyOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/onelake/lifecycle/importPolicy"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, importOneLakeWorkspaceLifecyclePolicyRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// importPolicyHandleResponse handles the ImportPolicy response.
func (client *OneLakeLifecyclePolicyClient) importPolicyHandleResponse(resp *http.Response) (OneLakeLifecyclePolicyClientImportPolicyResponse, error) {
	result := OneLakeLifecyclePolicyClientImportPolicyResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OneLakeWorkspaceLifecyclePolicyResponse); err != nil {
		return OneLakeLifecyclePolicyClientImportPolicyResponse{}, err
	}
	return result, nil
}

// Custom code starts below
