// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package core

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// RecoverableItemsClient contains the methods for the RecoverableItems group.
// Don't use this type directly, use a constructor function instead.
type RecoverableItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// DeleteRecoverableItem - PERMISSIONS The caller must have write permissions for the workspace.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - itemID - The recoverable item ID.
//   - options - RecoverableItemsClientDeleteRecoverableItemOptions contains the optional parameters for the RecoverableItemsClient.DeleteRecoverableItem
//     method.
func (client *RecoverableItemsClient) DeleteRecoverableItem(ctx context.Context, workspaceID string, itemID string, options *RecoverableItemsClientDeleteRecoverableItemOptions) (RecoverableItemsClientDeleteRecoverableItemResponse, error) {
	var err error
	const operationName = "core.RecoverableItemsClient.DeleteRecoverableItem"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteRecoverableItemCreateRequest(ctx, workspaceID, itemID, options)
	if err != nil {
		return RecoverableItemsClientDeleteRecoverableItemResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return RecoverableItemsClientDeleteRecoverableItemResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return RecoverableItemsClientDeleteRecoverableItemResponse{}, err
	}
	return RecoverableItemsClientDeleteRecoverableItemResponse{}, nil
}

// deleteRecoverableItemCreateRequest creates the DeleteRecoverableItem request.
func (client *RecoverableItemsClient) deleteRecoverableItemCreateRequest(ctx context.Context, workspaceID string, itemID string, _ *RecoverableItemsClientDeleteRecoverableItemOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/recoverableItems/{itemId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if itemID == "" {
		return nil, errors.New("parameter itemID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{itemId}", url.PathEscape(itemID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListRecoverableItemsPager - PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - RecoverableItemsClientListRecoverableItemsOptions contains the optional parameters for the RecoverableItemsClient.NewListRecoverableItemsPager
//     method.
func (client *RecoverableItemsClient) NewListRecoverableItemsPager(workspaceID string, options *RecoverableItemsClientListRecoverableItemsOptions) *runtime.Pager[RecoverableItemsClientListRecoverableItemsResponse] {
	return runtime.NewPager(runtime.PagingHandler[RecoverableItemsClientListRecoverableItemsResponse]{
		More: func(page RecoverableItemsClientListRecoverableItemsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *RecoverableItemsClientListRecoverableItemsResponse) (RecoverableItemsClientListRecoverableItemsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "core.RecoverableItemsClient.NewListRecoverableItemsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listRecoverableItemsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return RecoverableItemsClientListRecoverableItemsResponse{}, err
			}
			return client.listRecoverableItemsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listRecoverableItemsCreateRequest creates the ListRecoverableItems request.
func (client *RecoverableItemsClient) listRecoverableItemsCreateRequest(ctx context.Context, workspaceID string, options *RecoverableItemsClientListRecoverableItemsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/recoverableItems"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.RecoverableByMe != nil {
		reqQP.Set("recoverableByMe", strconv.FormatBool(*options.RecoverableByMe))
	}
	if options != nil && options.Type != nil {
		reqQP.Set("type", *options.Type)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listRecoverableItemsHandleResponse handles the ListRecoverableItems response.
func (client *RecoverableItemsClient) listRecoverableItemsHandleResponse(resp *http.Response) (RecoverableItemsClientListRecoverableItemsResponse, error) {
	result := RecoverableItemsClientListRecoverableItemsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecoverableItems); err != nil {
		return RecoverableItemsClientListRecoverableItemsResponse{}, err
	}
	return result, nil
}

// BeginRecoverItem - Recovers a soft-deleted Fabric item to the Active provision state in the specified workspace. If the
// item has child items, all of them are recovered as well.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have one of the workspace roles: Admin, Member or Contributor.
// REQUIRED DELEGATED SCOPES For item APIs use these scope types:
// * Generic scope: Item.ReadWrite.All
// * Specific scope: itemType.ReadWrite.All (for example: Notebook.ReadWrite.All)
// For more information about scopes, see scopes article [/rest/api/fabric/articles/scopes].
// > [!NOTE]
// * This operation supports partial success. If, during the recovery operation, a child item fails to be recovered, that
// child item and all its descendants won't be recovered and will stay in the
// soft-deleted state. The other items that are not descendants of this failed child item will be recovered regardless.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | When the item type in the call is supported. Check the
// corresponding API for the item type you're calling, to see if your call is
// supported. For example, semantic models are supported. |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - itemID - The recoverable item ID.
//   - options - RecoverableItemsClientBeginRecoverItemOptions contains the optional parameters for the RecoverableItemsClient.BeginRecoverItem
//     method.
func (client *RecoverableItemsClient) BeginRecoverItem(ctx context.Context, workspaceID string, itemID string, options *RecoverableItemsClientBeginRecoverItemOptions) (*runtime.Poller[RecoverableItemsClientRecoverItemResponse], error) {
	return client.beginRecoverItem(ctx, workspaceID, itemID, options)
}

// RecoverItem - Recovers a soft-deleted Fabric item to the Active provision state in the specified workspace. If the item
// has child items, all of them are recovered as well.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have one of the workspace roles: Admin, Member or Contributor.
// REQUIRED DELEGATED SCOPES For item APIs use these scope types:
// * Generic scope: Item.ReadWrite.All
// * Specific scope: itemType.ReadWrite.All (for example: Notebook.ReadWrite.All)
// For more information about scopes, see scopes article [/rest/api/fabric/articles/scopes].
// > [!NOTE]
// * This operation supports partial success. If, during the recovery operation, a child item fails to be recovered, that
// child item and all its descendants won't be recovered and will stay in the
// soft-deleted state. The other items that are not descendants of this failed child item will be recovered regardless.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | When the item type in the call is supported. Check the
// corresponding API for the item type you're calling, to see if your call is
// supported. For example, semantic models are supported. |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *RecoverableItemsClient) recoverItem(ctx context.Context, workspaceID string, itemID string, options *RecoverableItemsClientBeginRecoverItemOptions) (*http.Response, error) {
	var err error
	const operationName = "core.RecoverableItemsClient.BeginRecoverItem"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.recoverItemCreateRequest(ctx, workspaceID, itemID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// recoverItemCreateRequest creates the RecoverItem request.
func (client *RecoverableItemsClient) recoverItemCreateRequest(ctx context.Context, workspaceID string, itemID string, _ *RecoverableItemsClientBeginRecoverItemOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/recoverableItems/{itemId}/recover"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if itemID == "" {
		return nil, errors.New("parameter itemID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{itemId}", url.PathEscape(itemID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Custom code starts below

// RecoverItem - returns RecoverableItemsClientRecoverItemResponse in sync mode.
// Recovers a soft-deleted Fabric item to the Active provision state in the specified workspace. If the item has child items, all of them are recovered as well.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have one of the workspace roles: Admin, Member or Contributor.
//
// REQUIRED DELEGATED SCOPES For item APIs use these scope types:
//
//   - Generic scope: Item.ReadWrite.All
//   - Specific scope: itemType.ReadWrite.All (for example: Notebook.ReadWrite.All)
//
// For more information about scopes, see scopes article [/rest/api/fabric/articles/scopes].
//
// >  [!NOTE]
//
//   - This operation supports partial success. If, during the recovery operation, a child item fails to be recovered, that child item and all its descendants won't be recovered and will stay in the
//     soft-deleted state. The other items that are not descendants of this failed child item will be recovered regardless.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | When the item type in the call is supported. Check the corresponding API for the item type you're calling, to see if your call is
// supported. For example, semantic models are supported. |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - itemID - The recoverable item ID.
//   - options - RecoverableItemsClientBeginRecoverItemOptions contains the optional parameters for the RecoverableItemsClient.BeginRecoverItem method.
func (client *RecoverableItemsClient) RecoverItem(ctx context.Context, workspaceID string, itemID string, options *RecoverableItemsClientBeginRecoverItemOptions) (RecoverableItemsClientRecoverItemResponse, error) {
	result, err := iruntime.NewLRO(client.BeginRecoverItem(ctx, workspaceID, itemID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return RecoverableItemsClientRecoverItemResponse{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return RecoverableItemsClientRecoverItemResponse{}, err
	}
	return result, err
}

// beginRecoverItem creates the recoverItem request.
func (client *RecoverableItemsClient) beginRecoverItem(ctx context.Context, workspaceID string, itemID string, options *RecoverableItemsClientBeginRecoverItemOptions) (*runtime.Poller[RecoverableItemsClientRecoverItemResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.recoverItem(ctx, workspaceID, itemID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[RecoverableItemsClientRecoverItemResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[RecoverableItemsClientRecoverItemResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[RecoverableItemsClientRecoverItemResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[RecoverableItemsClientRecoverItemResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListRecoverableItems - returns array of RecoverableItem from all pages.
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - RecoverableItemsClientListRecoverableItemsOptions contains the optional parameters for the RecoverableItemsClient.NewListRecoverableItemsPager method.
func (client *RecoverableItemsClient) ListRecoverableItems(ctx context.Context, workspaceID string, options *RecoverableItemsClientListRecoverableItemsOptions) ([]RecoverableItem, error) {
	pager := client.NewListRecoverableItemsPager(workspaceID, options)
	mapper := func(resp RecoverableItemsClientListRecoverableItemsResponse) []RecoverableItem {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []RecoverableItem{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return []RecoverableItem{}, err
	}
	return list, nil
}
