// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package core

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// WorkspaceRelationsClient contains the methods for the WorkspaceRelations group.
// Don't use this type directly, use a constructor function instead.
type WorkspaceRelationsClient struct {
	internal *azcore.Client
	endpoint string
}

// CreateWorkspaceRelation - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// Creates a branching relation between a branch workspace and its base workspace.
// PERMISSIONS The caller must have an admin role on the branch workspace and a contributor or higher role on the base workspace.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createWorkspaceRelationRequest - Create workspace relation request payload.
//   - options - WorkspaceRelationsClientCreateWorkspaceRelationOptions contains the optional parameters for the WorkspaceRelationsClient.CreateWorkspaceRelation
//     method.
func (client *WorkspaceRelationsClient) CreateWorkspaceRelation(ctx context.Context, workspaceID string, createWorkspaceRelationRequest CreateWorkspaceRelationRequest, options *WorkspaceRelationsClientCreateWorkspaceRelationOptions) (WorkspaceRelationsClientCreateWorkspaceRelationResponse, error) {
	var err error
	const operationName = "core.WorkspaceRelationsClient.CreateWorkspaceRelation"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createWorkspaceRelationCreateRequest(ctx, workspaceID, createWorkspaceRelationRequest, options)
	if err != nil {
		return WorkspaceRelationsClientCreateWorkspaceRelationResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkspaceRelationsClientCreateWorkspaceRelationResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = NewResponseError(httpResp)
		return WorkspaceRelationsClientCreateWorkspaceRelationResponse{}, err
	}
	resp, err := client.createWorkspaceRelationHandleResponse(httpResp)
	return resp, err
}

// createWorkspaceRelationCreateRequest creates the CreateWorkspaceRelation request.
func (client *WorkspaceRelationsClient) createWorkspaceRelationCreateRequest(ctx context.Context, workspaceID string, createWorkspaceRelationRequest CreateWorkspaceRelationRequest, _ *WorkspaceRelationsClientCreateWorkspaceRelationOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/workspaceRelations"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createWorkspaceRelationRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createWorkspaceRelationHandleResponse handles the CreateWorkspaceRelation response.
func (client *WorkspaceRelationsClient) createWorkspaceRelationHandleResponse(resp *http.Response) (WorkspaceRelationsClientCreateWorkspaceRelationResponse, error) {
	result := WorkspaceRelationsClientCreateWorkspaceRelationResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WorkspaceRelation); err != nil {
		return WorkspaceRelationsClientCreateWorkspaceRelationResponse{}, err
	}
	return result, nil
}

// DeleteWorkspaceRelation - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// Deletes an existing workspace relation between two workspaces, identified by the relation ID. The provided workspace ID
// can be either a base workspace or a branch workspace.
// PERMISSIONS The caller must have an admin workspace role on the specified workspace.
// REQUIRED DELEGATED SCOPES Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - workspaceRelationID - The workspace relation ID.
//   - options - WorkspaceRelationsClientDeleteWorkspaceRelationOptions contains the optional parameters for the WorkspaceRelationsClient.DeleteWorkspaceRelation
//     method.
func (client *WorkspaceRelationsClient) DeleteWorkspaceRelation(ctx context.Context, workspaceID string, workspaceRelationID string, options *WorkspaceRelationsClientDeleteWorkspaceRelationOptions) (WorkspaceRelationsClientDeleteWorkspaceRelationResponse, error) {
	var err error
	const operationName = "core.WorkspaceRelationsClient.DeleteWorkspaceRelation"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteWorkspaceRelationCreateRequest(ctx, workspaceID, workspaceRelationID, options)
	if err != nil {
		return WorkspaceRelationsClientDeleteWorkspaceRelationResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkspaceRelationsClientDeleteWorkspaceRelationResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = NewResponseError(httpResp)
		return WorkspaceRelationsClientDeleteWorkspaceRelationResponse{}, err
	}
	return WorkspaceRelationsClientDeleteWorkspaceRelationResponse{}, nil
}

// deleteWorkspaceRelationCreateRequest creates the DeleteWorkspaceRelation request.
func (client *WorkspaceRelationsClient) deleteWorkspaceRelationCreateRequest(ctx context.Context, workspaceID string, workspaceRelationID string, _ *WorkspaceRelationsClientDeleteWorkspaceRelationOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/workspaceRelations/{workspaceRelationId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if workspaceRelationID == "" {
		return nil, errors.New("parameter workspaceRelationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceRelationId}", url.PathEscape(workspaceRelationID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListWorkspaceRelationsPager - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - WorkspaceRelationsClientListWorkspaceRelationsOptions contains the optional parameters for the WorkspaceRelationsClient.NewListWorkspaceRelationsPager
//     method.
func (client *WorkspaceRelationsClient) NewListWorkspaceRelationsPager(workspaceID string, options *WorkspaceRelationsClientListWorkspaceRelationsOptions) *runtime.Pager[WorkspaceRelationsClientListWorkspaceRelationsResponse] {
	return runtime.NewPager(runtime.PagingHandler[WorkspaceRelationsClientListWorkspaceRelationsResponse]{
		More: func(page WorkspaceRelationsClientListWorkspaceRelationsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *WorkspaceRelationsClientListWorkspaceRelationsResponse) (WorkspaceRelationsClientListWorkspaceRelationsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "core.WorkspaceRelationsClient.NewListWorkspaceRelationsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listWorkspaceRelationsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return WorkspaceRelationsClientListWorkspaceRelationsResponse{}, err
			}
			return client.listWorkspaceRelationsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listWorkspaceRelationsCreateRequest creates the ListWorkspaceRelations request.
func (client *WorkspaceRelationsClient) listWorkspaceRelationsCreateRequest(ctx context.Context, workspaceID string, options *WorkspaceRelationsClientListWorkspaceRelationsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/git/workspaceRelations"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listWorkspaceRelationsHandleResponse handles the ListWorkspaceRelations response.
func (client *WorkspaceRelationsClient) listWorkspaceRelationsHandleResponse(resp *http.Response) (WorkspaceRelationsClientListWorkspaceRelationsResponse, error) {
	result := WorkspaceRelationsClientListWorkspaceRelationsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WorkspaceRelations); err != nil {
		return WorkspaceRelationsClientListWorkspaceRelationsResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListWorkspaceRelations - returns array of WorkspaceRelation from all pages.
// >  [!NOTE] This API is part of a Preview release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer or higher workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - WorkspaceRelationsClientListWorkspaceRelationsOptions contains the optional parameters for the WorkspaceRelationsClient.NewListWorkspaceRelationsPager method.
func (client *WorkspaceRelationsClient) ListWorkspaceRelations(ctx context.Context, workspaceID string, options *WorkspaceRelationsClientListWorkspaceRelationsOptions) ([]WorkspaceRelation, error) {
	pager := client.NewListWorkspaceRelationsPager(workspaceID, options)
	mapper := func(resp WorkspaceRelationsClientListWorkspaceRelationsResponse) []WorkspaceRelation {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []WorkspaceRelation{}, NewResponseError(azcoreRespError.RawResponse)
		}
		return []WorkspaceRelation{}, err
	}
	return list, nil
}
