// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package databuildtooljob

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// BackgroundJobsClient contains the methods for the BackgroundJobs group.
// Don't use this type directly, use a constructor function instead.
type BackgroundJobsClient struct {
	internal *azcore.Client
	endpoint string
}

// RunOnDemandExecute - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS
// * The caller must have a member or higher workspace role.
// REQUIRED DELEGATED SCOPES Item.Execute.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob item ID.
//   - options - BackgroundJobsClientRunOnDemandExecuteOptions contains the optional parameters for the BackgroundJobsClient.RunOnDemandExecute
//     method.
func (client *BackgroundJobsClient) RunOnDemandExecute(ctx context.Context, workspaceID string, dataBuildToolJobID string, options *BackgroundJobsClientRunOnDemandExecuteOptions) (BackgroundJobsClientRunOnDemandExecuteResponse, error) {
	var err error
	const operationName = "databuildtooljob.BackgroundJobsClient.RunOnDemandExecute"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.runOnDemandExecuteCreateRequest(ctx, workspaceID, dataBuildToolJobID, options)
	if err != nil {
		return BackgroundJobsClientRunOnDemandExecuteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackgroundJobsClientRunOnDemandExecuteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return BackgroundJobsClientRunOnDemandExecuteResponse{}, err
	}
	return BackgroundJobsClientRunOnDemandExecuteResponse{}, nil
}

// runOnDemandExecuteCreateRequest creates the RunOnDemandExecute request.
func (client *BackgroundJobsClient) runOnDemandExecuteCreateRequest(ctx context.Context, workspaceID string, dataBuildToolJobID string, _ *BackgroundJobsClientRunOnDemandExecuteOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs/{dataBuildToolJobId}/jobs/execute/instances"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataBuildToolJobID == "" {
		return nil, errors.New("parameter dataBuildToolJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataBuildToolJobId}", url.PathEscape(dataBuildToolJobID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// ScheduleDataBuildToolJob - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS
// * The caller must have a member or higher workspace role.
// REQUIRED DELEGATED SCOPES Item.Execute.All and Item.ReadWrite.All
// LIMITATIONS A DataBuildToolJob can create maximum 20 schedules.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob ID.
//   - createScheduleRequest - A DataBuildToolJob execute schedule create request.
//   - options - BackgroundJobsClientScheduleDataBuildToolJobOptions contains the optional parameters for the BackgroundJobsClient.ScheduleDataBuildToolJob
//     method.
func (client *BackgroundJobsClient) ScheduleDataBuildToolJob(ctx context.Context, workspaceID string, dataBuildToolJobID string, createScheduleRequest CreateDataBuildToolJobExecuteScheduleRequest, options *BackgroundJobsClientScheduleDataBuildToolJobOptions) (BackgroundJobsClientScheduleDataBuildToolJobResponse, error) {
	var err error
	const operationName = "databuildtooljob.BackgroundJobsClient.ScheduleDataBuildToolJob"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.scheduleDataBuildToolJobCreateRequest(ctx, workspaceID, dataBuildToolJobID, createScheduleRequest, options)
	if err != nil {
		return BackgroundJobsClientScheduleDataBuildToolJobResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackgroundJobsClientScheduleDataBuildToolJobResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = core.NewResponseError(httpResp)
		return BackgroundJobsClientScheduleDataBuildToolJobResponse{}, err
	}
	resp, err := client.scheduleDataBuildToolJobHandleResponse(httpResp)
	return resp, err
}

// scheduleDataBuildToolJobCreateRequest creates the ScheduleDataBuildToolJob request.
func (client *BackgroundJobsClient) scheduleDataBuildToolJobCreateRequest(ctx context.Context, workspaceID string, dataBuildToolJobID string, createScheduleRequest CreateDataBuildToolJobExecuteScheduleRequest, _ *BackgroundJobsClientScheduleDataBuildToolJobOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs/{dataBuildToolJobId}/jobs/execute/schedules"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataBuildToolJobID == "" {
		return nil, errors.New("parameter dataBuildToolJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataBuildToolJobId}", url.PathEscape(dataBuildToolJobID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createScheduleRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// scheduleDataBuildToolJobHandleResponse handles the ScheduleDataBuildToolJob response.
func (client *BackgroundJobsClient) scheduleDataBuildToolJobHandleResponse(resp *http.Response) (BackgroundJobsClientScheduleDataBuildToolJobResponse, error) {
	result := BackgroundJobsClientScheduleDataBuildToolJobResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ExecuteSchedule); err != nil {
		return BackgroundJobsClientScheduleDataBuildToolJobResponse{}, err
	}
	return result, nil
}

// Custom code starts below
