// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package databuildtooljob

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateDataBuildToolJob - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create a DataBuildToolJob with a definition, refer to DataBuildToolJob [/rest/api/fabric/articles/item-management/definitions/data-build-tool-job-definition]
// article.
// PERMISSIONS The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a DataBuildToolJob, the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createDataBuildToolJobRequest - Create item request payload.
//   - options - ItemsClientBeginCreateDataBuildToolJobOptions contains the optional parameters for the ItemsClient.BeginCreateDataBuildToolJob
//     method.
func (client *ItemsClient) BeginCreateDataBuildToolJob(ctx context.Context, workspaceID string, createDataBuildToolJobRequest CreateDataBuildToolJobRequest, options *ItemsClientBeginCreateDataBuildToolJobOptions) (*runtime.Poller[ItemsClientCreateDataBuildToolJobResponse], error) {
	return client.beginCreateDataBuildToolJob(ctx, workspaceID, createDataBuildToolJobRequest, options)
}

// CreateDataBuildToolJob - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create a DataBuildToolJob with a definition, refer to DataBuildToolJob [/rest/api/fabric/articles/item-management/definitions/data-build-tool-job-definition]
// article.
// PERMISSIONS The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a DataBuildToolJob, the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createDataBuildToolJob(ctx context.Context, workspaceID string, createDataBuildToolJobRequest CreateDataBuildToolJobRequest, options *ItemsClientBeginCreateDataBuildToolJobOptions) (*http.Response, error) {
	var err error
	const operationName = "databuildtooljob.ItemsClient.BeginCreateDataBuildToolJob"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createDataBuildToolJobCreateRequest(ctx, workspaceID, createDataBuildToolJobRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createDataBuildToolJobCreateRequest creates the CreateDataBuildToolJob request.
func (client *ItemsClient) createDataBuildToolJobCreateRequest(ctx context.Context, workspaceID string, createDataBuildToolJobRequest CreateDataBuildToolJobRequest, _ *ItemsClientBeginCreateDataBuildToolJobOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createDataBuildToolJobRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteDataBuildToolJob - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the DataBuildToolJob.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob ID.
//   - options - ItemsClientDeleteDataBuildToolJobOptions contains the optional parameters for the ItemsClient.DeleteDataBuildToolJob
//     method.
func (client *ItemsClient) DeleteDataBuildToolJob(ctx context.Context, workspaceID string, dataBuildToolJobID string, options *ItemsClientDeleteDataBuildToolJobOptions) (ItemsClientDeleteDataBuildToolJobResponse, error) {
	var err error
	const operationName = "databuildtooljob.ItemsClient.DeleteDataBuildToolJob"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteDataBuildToolJobCreateRequest(ctx, workspaceID, dataBuildToolJobID, options)
	if err != nil {
		return ItemsClientDeleteDataBuildToolJobResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteDataBuildToolJobResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteDataBuildToolJobResponse{}, err
	}
	return ItemsClientDeleteDataBuildToolJobResponse{}, nil
}

// deleteDataBuildToolJobCreateRequest creates the DeleteDataBuildToolJob request.
func (client *ItemsClient) deleteDataBuildToolJobCreateRequest(ctx context.Context, workspaceID string, dataBuildToolJobID string, _ *ItemsClientDeleteDataBuildToolJobOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs/{dataBuildToolJobId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataBuildToolJobID == "" {
		return nil, errors.New("parameter dataBuildToolJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataBuildToolJobId}", url.PathEscape(dataBuildToolJobID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetDataBuildToolJob - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the DataBuildToolJob.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob ID.
//   - options - ItemsClientGetDataBuildToolJobOptions contains the optional parameters for the ItemsClient.GetDataBuildToolJob
//     method.
func (client *ItemsClient) GetDataBuildToolJob(ctx context.Context, workspaceID string, dataBuildToolJobID string, options *ItemsClientGetDataBuildToolJobOptions) (ItemsClientGetDataBuildToolJobResponse, error) {
	var err error
	const operationName = "databuildtooljob.ItemsClient.GetDataBuildToolJob"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDataBuildToolJobCreateRequest(ctx, workspaceID, dataBuildToolJobID, options)
	if err != nil {
		return ItemsClientGetDataBuildToolJobResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetDataBuildToolJobResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetDataBuildToolJobResponse{}, err
	}
	resp, err := client.getDataBuildToolJobHandleResponse(httpResp)
	return resp, err
}

// getDataBuildToolJobCreateRequest creates the GetDataBuildToolJob request.
func (client *ItemsClient) getDataBuildToolJobCreateRequest(ctx context.Context, workspaceID string, dataBuildToolJobID string, _ *ItemsClientGetDataBuildToolJobOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs/{dataBuildToolJobId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataBuildToolJobID == "" {
		return nil, errors.New("parameter dataBuildToolJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataBuildToolJobId}", url.PathEscape(dataBuildToolJobID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDataBuildToolJobHandleResponse handles the GetDataBuildToolJob response.
func (client *ItemsClient) getDataBuildToolJobHandleResponse(resp *http.Response) (ItemsClientGetDataBuildToolJobResponse, error) {
	result := ItemsClientGetDataBuildToolJobResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataBuildToolJob); err != nil {
		return ItemsClientGetDataBuildToolJobResponse{}, err
	}
	return result, nil
}

// BeginGetDataBuildToolJobDefinition - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a DataBuildToolJob's definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the DataBuildToolJob.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob ID.
//   - options - ItemsClientBeginGetDataBuildToolJobDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetDataBuildToolJobDefinition
//     method.
func (client *ItemsClient) BeginGetDataBuildToolJobDefinition(ctx context.Context, workspaceID string, dataBuildToolJobID string, options *ItemsClientBeginGetDataBuildToolJobDefinitionOptions) (*runtime.Poller[ItemsClientGetDataBuildToolJobDefinitionResponse], error) {
	return client.beginGetDataBuildToolJobDefinition(ctx, workspaceID, dataBuildToolJobID, options)
}

// GetDataBuildToolJobDefinition - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a DataBuildToolJob's definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the DataBuildToolJob.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getDataBuildToolJobDefinition(ctx context.Context, workspaceID string, dataBuildToolJobID string, options *ItemsClientBeginGetDataBuildToolJobDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "databuildtooljob.ItemsClient.BeginGetDataBuildToolJobDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDataBuildToolJobDefinitionCreateRequest(ctx, workspaceID, dataBuildToolJobID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getDataBuildToolJobDefinitionCreateRequest creates the GetDataBuildToolJobDefinition request.
func (client *ItemsClient) getDataBuildToolJobDefinitionCreateRequest(ctx context.Context, workspaceID string, dataBuildToolJobID string, options *ItemsClientBeginGetDataBuildToolJobDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs/{dataBuildToolJobId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataBuildToolJobID == "" {
		return nil, errors.New("parameter dataBuildToolJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataBuildToolJobId}", url.PathEscape(dataBuildToolJobID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListDataBuildToolJobsPager - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListDataBuildToolJobsOptions contains the optional parameters for the ItemsClient.NewListDataBuildToolJobsPager
//     method.
func (client *ItemsClient) NewListDataBuildToolJobsPager(workspaceID string, options *ItemsClientListDataBuildToolJobsOptions) *runtime.Pager[ItemsClientListDataBuildToolJobsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListDataBuildToolJobsResponse]{
		More: func(page ItemsClientListDataBuildToolJobsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListDataBuildToolJobsResponse) (ItemsClientListDataBuildToolJobsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "databuildtooljob.ItemsClient.NewListDataBuildToolJobsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDataBuildToolJobsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListDataBuildToolJobsResponse{}, err
			}
			return client.listDataBuildToolJobsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDataBuildToolJobsCreateRequest creates the ListDataBuildToolJobs request.
func (client *ItemsClient) listDataBuildToolJobsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListDataBuildToolJobsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDataBuildToolJobsHandleResponse handles the ListDataBuildToolJobs response.
func (client *ItemsClient) listDataBuildToolJobsHandleResponse(resp *http.Response) (ItemsClientListDataBuildToolJobsResponse, error) {
	result := ItemsClientListDataBuildToolJobsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataBuildToolJobs); err != nil {
		return ItemsClientListDataBuildToolJobsResponse{}, err
	}
	return result, nil
}

// UpdateDataBuildToolJob - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the DataBuildToolJob.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob ID.
//   - updateDataBuildToolJobRequest - Update request payload.
//   - options - ItemsClientUpdateDataBuildToolJobOptions contains the optional parameters for the ItemsClient.UpdateDataBuildToolJob
//     method.
func (client *ItemsClient) UpdateDataBuildToolJob(ctx context.Context, workspaceID string, dataBuildToolJobID string, updateDataBuildToolJobRequest UpdateDataBuildToolJobRequest, options *ItemsClientUpdateDataBuildToolJobOptions) (ItemsClientUpdateDataBuildToolJobResponse, error) {
	var err error
	const operationName = "databuildtooljob.ItemsClient.UpdateDataBuildToolJob"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDataBuildToolJobCreateRequest(ctx, workspaceID, dataBuildToolJobID, updateDataBuildToolJobRequest, options)
	if err != nil {
		return ItemsClientUpdateDataBuildToolJobResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateDataBuildToolJobResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateDataBuildToolJobResponse{}, err
	}
	resp, err := client.updateDataBuildToolJobHandleResponse(httpResp)
	return resp, err
}

// updateDataBuildToolJobCreateRequest creates the UpdateDataBuildToolJob request.
func (client *ItemsClient) updateDataBuildToolJobCreateRequest(ctx context.Context, workspaceID string, dataBuildToolJobID string, updateDataBuildToolJobRequest UpdateDataBuildToolJobRequest, _ *ItemsClientUpdateDataBuildToolJobOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs/{dataBuildToolJobId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataBuildToolJobID == "" {
		return nil, errors.New("parameter dataBuildToolJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataBuildToolJobId}", url.PathEscape(dataBuildToolJobID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDataBuildToolJobRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateDataBuildToolJobHandleResponse handles the UpdateDataBuildToolJob response.
func (client *ItemsClient) updateDataBuildToolJobHandleResponse(resp *http.Response) (ItemsClientUpdateDataBuildToolJobResponse, error) {
	result := ItemsClientUpdateDataBuildToolJobResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataBuildToolJob); err != nil {
		return ItemsClientUpdateDataBuildToolJobResponse{}, err
	}
	return result, nil
}

// BeginUpdateDataBuildToolJobDefinition - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the DataBuildToolJob's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the DataBuildToolJob.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob ID.
//   - updateDataBuildToolJobDefinitionRequest - Update definition request payload.
//   - options - ItemsClientBeginUpdateDataBuildToolJobDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateDataBuildToolJobDefinition
//     method.
func (client *ItemsClient) BeginUpdateDataBuildToolJobDefinition(ctx context.Context, workspaceID string, dataBuildToolJobID string, updateDataBuildToolJobDefinitionRequest UpdateDataBuildToolJobDefinitionRequest, options *ItemsClientBeginUpdateDataBuildToolJobDefinitionOptions) (*runtime.Poller[ItemsClientUpdateDataBuildToolJobDefinitionResponse], error) {
	return client.beginUpdateDataBuildToolJobDefinition(ctx, workspaceID, dataBuildToolJobID, updateDataBuildToolJobDefinitionRequest, options)
}

// UpdateDataBuildToolJobDefinition - > [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the DataBuildToolJob's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the DataBuildToolJob.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateDataBuildToolJobDefinition(ctx context.Context, workspaceID string, dataBuildToolJobID string, updateDataBuildToolJobDefinitionRequest UpdateDataBuildToolJobDefinitionRequest, options *ItemsClientBeginUpdateDataBuildToolJobDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "databuildtooljob.ItemsClient.BeginUpdateDataBuildToolJobDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDataBuildToolJobDefinitionCreateRequest(ctx, workspaceID, dataBuildToolJobID, updateDataBuildToolJobDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateDataBuildToolJobDefinitionCreateRequest creates the UpdateDataBuildToolJobDefinition request.
func (client *ItemsClient) updateDataBuildToolJobDefinitionCreateRequest(ctx context.Context, workspaceID string, dataBuildToolJobID string, updateDataBuildToolJobDefinitionRequest UpdateDataBuildToolJobDefinitionRequest, options *ItemsClientBeginUpdateDataBuildToolJobDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataBuildToolJobs/{dataBuildToolJobId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataBuildToolJobID == "" {
		return nil, errors.New("parameter dataBuildToolJobID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataBuildToolJobId}", url.PathEscape(dataBuildToolJobID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDataBuildToolJobDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateDataBuildToolJob - returns ItemsClientCreateDataBuildToolJobResponse in sync mode.
// >  [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create a DataBuildToolJob with a definition, refer to DataBuildToolJob [/rest/api/fabric/articles/item-management/definitions/data-build-tool-job-definition] article.
//
// PERMISSIONS The caller must have a contributor workspace role.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a DataBuildToolJob, the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types
//     [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createDataBuildToolJobRequest - Create item request payload.
//   - options - ItemsClientBeginCreateDataBuildToolJobOptions contains the optional parameters for the ItemsClient.BeginCreateDataBuildToolJob method.
func (client *ItemsClient) CreateDataBuildToolJob(ctx context.Context, workspaceID string, createDataBuildToolJobRequest CreateDataBuildToolJobRequest, options *ItemsClientBeginCreateDataBuildToolJobOptions) (ItemsClientCreateDataBuildToolJobResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateDataBuildToolJob(ctx, workspaceID, createDataBuildToolJobRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateDataBuildToolJobResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateDataBuildToolJobResponse{}, err
	}
	return result, err
}

// beginCreateDataBuildToolJob creates the createDataBuildToolJob request.
func (client *ItemsClient) beginCreateDataBuildToolJob(ctx context.Context, workspaceID string, createDataBuildToolJobRequest CreateDataBuildToolJobRequest, options *ItemsClientBeginCreateDataBuildToolJobOptions) (*runtime.Poller[ItemsClientCreateDataBuildToolJobResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createDataBuildToolJob(ctx, workspaceID, createDataBuildToolJobRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateDataBuildToolJobResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateDataBuildToolJobResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateDataBuildToolJobResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateDataBuildToolJobResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetDataBuildToolJobDefinition - returns ItemsClientGetDataBuildToolJobDefinitionResponse in sync mode.
// >  [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a DataBuildToolJob's definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the DataBuildToolJob.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob ID.
//   - options - ItemsClientBeginGetDataBuildToolJobDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetDataBuildToolJobDefinition method.
func (client *ItemsClient) GetDataBuildToolJobDefinition(ctx context.Context, workspaceID string, dataBuildToolJobID string, options *ItemsClientBeginGetDataBuildToolJobDefinitionOptions) (ItemsClientGetDataBuildToolJobDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetDataBuildToolJobDefinition(ctx, workspaceID, dataBuildToolJobID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetDataBuildToolJobDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetDataBuildToolJobDefinitionResponse{}, err
	}
	return result, err
}

// beginGetDataBuildToolJobDefinition creates the getDataBuildToolJobDefinition request.
func (client *ItemsClient) beginGetDataBuildToolJobDefinition(ctx context.Context, workspaceID string, dataBuildToolJobID string, options *ItemsClientBeginGetDataBuildToolJobDefinitionOptions) (*runtime.Poller[ItemsClientGetDataBuildToolJobDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getDataBuildToolJobDefinition(ctx, workspaceID, dataBuildToolJobID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetDataBuildToolJobDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetDataBuildToolJobDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetDataBuildToolJobDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetDataBuildToolJobDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateDataBuildToolJobDefinition - returns ItemsClientUpdateDataBuildToolJobDefinitionResponse in sync mode.
// >  [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the DataBuildToolJob's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the DataBuildToolJob.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataBuildToolJobID - The DataBuildToolJob ID.
//   - updateDataBuildToolJobDefinitionRequest - Update definition request payload.
//   - options - ItemsClientBeginUpdateDataBuildToolJobDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateDataBuildToolJobDefinition method.
func (client *ItemsClient) UpdateDataBuildToolJobDefinition(ctx context.Context, workspaceID string, dataBuildToolJobID string, updateDataBuildToolJobDefinitionRequest UpdateDataBuildToolJobDefinitionRequest, options *ItemsClientBeginUpdateDataBuildToolJobDefinitionOptions) (ItemsClientUpdateDataBuildToolJobDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateDataBuildToolJobDefinition(ctx, workspaceID, dataBuildToolJobID, updateDataBuildToolJobDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateDataBuildToolJobDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateDataBuildToolJobDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateDataBuildToolJobDefinition creates the updateDataBuildToolJobDefinition request.
func (client *ItemsClient) beginUpdateDataBuildToolJobDefinition(ctx context.Context, workspaceID string, dataBuildToolJobID string, updateDataBuildToolJobDefinitionRequest UpdateDataBuildToolJobDefinitionRequest, options *ItemsClientBeginUpdateDataBuildToolJobDefinitionOptions) (*runtime.Poller[ItemsClientUpdateDataBuildToolJobDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateDataBuildToolJobDefinition(ctx, workspaceID, dataBuildToolJobID, updateDataBuildToolJobDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateDataBuildToolJobDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateDataBuildToolJobDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateDataBuildToolJobDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateDataBuildToolJobDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListDataBuildToolJobs - returns array of DataBuildToolJob from all pages.
// >  [!NOTE] DataBuildToolJob item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListDataBuildToolJobsOptions contains the optional parameters for the ItemsClient.NewListDataBuildToolJobsPager method.
func (client *ItemsClient) ListDataBuildToolJobs(ctx context.Context, workspaceID string, options *ItemsClientListDataBuildToolJobsOptions) ([]DataBuildToolJob, error) {
	pager := client.NewListDataBuildToolJobsPager(workspaceID, options)
	mapper := func(resp ItemsClientListDataBuildToolJobsResponse) []DataBuildToolJob {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []DataBuildToolJob{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []DataBuildToolJob{}, err
	}
	return list, nil
}
