// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package plan

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreatePlan - Creates a new plan in the specified workspace.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a plan, the workspace must be on a supported Fabric capacity. For more information, see Microsoft Fabric license
// types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createPlanRequest - The request body for creating a plan.
//   - options - ItemsClientBeginCreatePlanOptions contains the optional parameters for the ItemsClient.BeginCreatePlan method.
func (client *ItemsClient) BeginCreatePlan(ctx context.Context, workspaceID string, createPlanRequest CreatePlanRequest, options *ItemsClientBeginCreatePlanOptions) (*runtime.Poller[ItemsClientCreatePlanResponse], error) {
	return client.beginCreatePlan(ctx, workspaceID, createPlanRequest, options)
}

// CreatePlan - Creates a new plan in the specified workspace.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a plan, the workspace must be on a supported Fabric capacity. For more information, see Microsoft Fabric license
// types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createPlan(ctx context.Context, workspaceID string, createPlanRequest CreatePlanRequest, options *ItemsClientBeginCreatePlanOptions) (*http.Response, error) {
	var err error
	const operationName = "plan.ItemsClient.BeginCreatePlan"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createPlanCreateRequest(ctx, workspaceID, createPlanRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createPlanCreateRequest creates the CreatePlan request.
func (client *ItemsClient) createPlanCreateRequest(ctx context.Context, workspaceID string, createPlanRequest CreatePlanRequest, _ *ItemsClientBeginCreatePlanOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/plans"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createPlanRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeletePlan - Deletes the specified plan.
// PERMISSIONS The caller must have write permissions for the plan.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - planID - The plan ID.
//   - options - ItemsClientDeletePlanOptions contains the optional parameters for the ItemsClient.DeletePlan method.
func (client *ItemsClient) DeletePlan(ctx context.Context, workspaceID string, planID string, options *ItemsClientDeletePlanOptions) (ItemsClientDeletePlanResponse, error) {
	var err error
	const operationName = "plan.ItemsClient.DeletePlan"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deletePlanCreateRequest(ctx, workspaceID, planID, options)
	if err != nil {
		return ItemsClientDeletePlanResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeletePlanResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeletePlanResponse{}, err
	}
	return ItemsClientDeletePlanResponse{}, nil
}

// deletePlanCreateRequest creates the DeletePlan request.
func (client *ItemsClient) deletePlanCreateRequest(ctx context.Context, workspaceID string, planID string, _ *ItemsClientDeletePlanOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/plans/{planId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if planID == "" {
		return nil, errors.New("parameter planID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{planId}", url.PathEscape(planID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetPlan - Gets the properties of the specified plan.
// PERMISSIONS The caller must have read permissions for the plan.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - planID - The plan ID.
//   - options - ItemsClientGetPlanOptions contains the optional parameters for the ItemsClient.GetPlan method.
func (client *ItemsClient) GetPlan(ctx context.Context, workspaceID string, planID string, options *ItemsClientGetPlanOptions) (ItemsClientGetPlanResponse, error) {
	var err error
	const operationName = "plan.ItemsClient.GetPlan"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getPlanCreateRequest(ctx, workspaceID, planID, options)
	if err != nil {
		return ItemsClientGetPlanResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetPlanResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetPlanResponse{}, err
	}
	resp, err := client.getPlanHandleResponse(httpResp)
	return resp, err
}

// getPlanCreateRequest creates the GetPlan request.
func (client *ItemsClient) getPlanCreateRequest(ctx context.Context, workspaceID string, planID string, _ *ItemsClientGetPlanOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/plans/{planId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if planID == "" {
		return nil, errors.New("parameter planID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{planId}", url.PathEscape(planID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getPlanHandleResponse handles the GetPlan response.
func (client *ItemsClient) getPlanHandleResponse(resp *http.Response) (ItemsClientGetPlanResponse, error) {
	result := ItemsClientGetPlanResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Plan); err != nil {
		return ItemsClientGetPlanResponse{}, err
	}
	return result, nil
}

// BeginGetPlanDefinition - Gets the definition of the specified plan.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have read and write permissions for the plan.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - planID - The plan ID.
//   - options - ItemsClientBeginGetPlanDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetPlanDefinition
//     method.
func (client *ItemsClient) BeginGetPlanDefinition(ctx context.Context, workspaceID string, planID string, options *ItemsClientBeginGetPlanDefinitionOptions) (*runtime.Poller[ItemsClientGetPlanDefinitionResponse], error) {
	return client.beginGetPlanDefinition(ctx, workspaceID, planID, options)
}

// GetPlanDefinition - Gets the definition of the specified plan.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have read and write permissions for the plan.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getPlanDefinition(ctx context.Context, workspaceID string, planID string, options *ItemsClientBeginGetPlanDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "plan.ItemsClient.BeginGetPlanDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getPlanDefinitionCreateRequest(ctx, workspaceID, planID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getPlanDefinitionCreateRequest creates the GetPlanDefinition request.
func (client *ItemsClient) getPlanDefinitionCreateRequest(ctx context.Context, workspaceID string, planID string, options *ItemsClientBeginGetPlanDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/plans/{planId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if planID == "" {
		return nil, errors.New("parameter planID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{planId}", url.PathEscape(planID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListPlansPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListPlansOptions contains the optional parameters for the ItemsClient.NewListPlansPager method.
func (client *ItemsClient) NewListPlansPager(workspaceID string, options *ItemsClientListPlansOptions) *runtime.Pager[ItemsClientListPlansResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListPlansResponse]{
		More: func(page ItemsClientListPlansResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListPlansResponse) (ItemsClientListPlansResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "plan.ItemsClient.NewListPlansPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listPlansCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListPlansResponse{}, err
			}
			return client.listPlansHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listPlansCreateRequest creates the ListPlans request.
func (client *ItemsClient) listPlansCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListPlansOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/plans"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listPlansHandleResponse handles the ListPlans response.
func (client *ItemsClient) listPlansHandleResponse(resp *http.Response) (ItemsClientListPlansResponse, error) {
	result := ItemsClientListPlansResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Plans); err != nil {
		return ItemsClientListPlansResponse{}, err
	}
	return result, nil
}

// UpdatePlan - Updates the properties of the specified plan.
// PERMISSIONS The caller must have read and write permissions for the plan.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - planID - The plan ID.
//   - updatePlanRequest - Update plan request payload.
//   - options - ItemsClientUpdatePlanOptions contains the optional parameters for the ItemsClient.UpdatePlan method.
func (client *ItemsClient) UpdatePlan(ctx context.Context, workspaceID string, planID string, updatePlanRequest UpdatePlanRequest, options *ItemsClientUpdatePlanOptions) (ItemsClientUpdatePlanResponse, error) {
	var err error
	const operationName = "plan.ItemsClient.UpdatePlan"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updatePlanCreateRequest(ctx, workspaceID, planID, updatePlanRequest, options)
	if err != nil {
		return ItemsClientUpdatePlanResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdatePlanResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdatePlanResponse{}, err
	}
	resp, err := client.updatePlanHandleResponse(httpResp)
	return resp, err
}

// updatePlanCreateRequest creates the UpdatePlan request.
func (client *ItemsClient) updatePlanCreateRequest(ctx context.Context, workspaceID string, planID string, updatePlanRequest UpdatePlanRequest, _ *ItemsClientUpdatePlanOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/plans/{planId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if planID == "" {
		return nil, errors.New("parameter planID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{planId}", url.PathEscape(planID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updatePlanRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updatePlanHandleResponse handles the UpdatePlan response.
func (client *ItemsClient) updatePlanHandleResponse(resp *http.Response) (ItemsClientUpdatePlanResponse, error) {
	result := ItemsClientUpdatePlanResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Plan); err != nil {
		return ItemsClientUpdatePlanResponse{}, err
	}
	return result, nil
}

// BeginUpdatePlanDefinition - Updates the definition of the specified plan.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have read and write permissions for the plan.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - planID - The plan ID.
//   - updatePlanDefinitionRequest - Update plan definition request payload.
//   - options - ItemsClientBeginUpdatePlanDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdatePlanDefinition
//     method.
func (client *ItemsClient) BeginUpdatePlanDefinition(ctx context.Context, workspaceID string, planID string, updatePlanDefinitionRequest UpdatePlanDefinitionRequest, options *ItemsClientBeginUpdatePlanDefinitionOptions) (*runtime.Poller[ItemsClientUpdatePlanDefinitionResponse], error) {
	return client.beginUpdatePlanDefinition(ctx, workspaceID, planID, updatePlanDefinitionRequest, options)
}

// UpdatePlanDefinition - Updates the definition of the specified plan.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have read and write permissions for the plan.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updatePlanDefinition(ctx context.Context, workspaceID string, planID string, updatePlanDefinitionRequest UpdatePlanDefinitionRequest, options *ItemsClientBeginUpdatePlanDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "plan.ItemsClient.BeginUpdatePlanDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updatePlanDefinitionCreateRequest(ctx, workspaceID, planID, updatePlanDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updatePlanDefinitionCreateRequest creates the UpdatePlanDefinition request.
func (client *ItemsClient) updatePlanDefinitionCreateRequest(ctx context.Context, workspaceID string, planID string, updatePlanDefinitionRequest UpdatePlanDefinitionRequest, _ *ItemsClientBeginUpdatePlanDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/plans/{planId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if planID == "" {
		return nil, errors.New("parameter planID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{planId}", url.PathEscape(planID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updatePlanDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreatePlan - returns ItemsClientCreatePlanResponse in sync mode.
// Creates a new plan in the specified workspace.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have a contributor workspace role.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a plan, the workspace must be on a supported Fabric capacity. For more information, see Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createPlanRequest - The request body for creating a plan.
//   - options - ItemsClientBeginCreatePlanOptions contains the optional parameters for the ItemsClient.BeginCreatePlan method.
func (client *ItemsClient) CreatePlan(ctx context.Context, workspaceID string, createPlanRequest CreatePlanRequest, options *ItemsClientBeginCreatePlanOptions) (ItemsClientCreatePlanResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreatePlan(ctx, workspaceID, createPlanRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreatePlanResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreatePlanResponse{}, err
	}
	return result, err
}

// beginCreatePlan creates the createPlan request.
func (client *ItemsClient) beginCreatePlan(ctx context.Context, workspaceID string, createPlanRequest CreatePlanRequest, options *ItemsClientBeginCreatePlanOptions) (*runtime.Poller[ItemsClientCreatePlanResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createPlan(ctx, workspaceID, createPlanRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreatePlanResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreatePlanResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreatePlanResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreatePlanResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetPlanDefinition - returns ItemsClientGetPlanDefinitionResponse in sync mode.
// Gets the definition of the specified plan.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have read and write permissions for the plan.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - planID - The plan ID.
//   - options - ItemsClientBeginGetPlanDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetPlanDefinition method.
func (client *ItemsClient) GetPlanDefinition(ctx context.Context, workspaceID string, planID string, options *ItemsClientBeginGetPlanDefinitionOptions) (ItemsClientGetPlanDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetPlanDefinition(ctx, workspaceID, planID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetPlanDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetPlanDefinitionResponse{}, err
	}
	return result, err
}

// beginGetPlanDefinition creates the getPlanDefinition request.
func (client *ItemsClient) beginGetPlanDefinition(ctx context.Context, workspaceID string, planID string, options *ItemsClientBeginGetPlanDefinitionOptions) (*runtime.Poller[ItemsClientGetPlanDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getPlanDefinition(ctx, workspaceID, planID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetPlanDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetPlanDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetPlanDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetPlanDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdatePlanDefinition - returns ItemsClientUpdatePlanDefinitionResponse in sync mode.
// Updates the definition of the specified plan.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have read and write permissions for the plan.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - planID - The plan ID.
//   - updatePlanDefinitionRequest - Update plan definition request payload.
//   - options - ItemsClientBeginUpdatePlanDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdatePlanDefinition method.
func (client *ItemsClient) UpdatePlanDefinition(ctx context.Context, workspaceID string, planID string, updatePlanDefinitionRequest UpdatePlanDefinitionRequest, options *ItemsClientBeginUpdatePlanDefinitionOptions) (ItemsClientUpdatePlanDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdatePlanDefinition(ctx, workspaceID, planID, updatePlanDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdatePlanDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdatePlanDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdatePlanDefinition creates the updatePlanDefinition request.
func (client *ItemsClient) beginUpdatePlanDefinition(ctx context.Context, workspaceID string, planID string, updatePlanDefinitionRequest UpdatePlanDefinitionRequest, options *ItemsClientBeginUpdatePlanDefinitionOptions) (*runtime.Poller[ItemsClientUpdatePlanDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updatePlanDefinition(ctx, workspaceID, planID, updatePlanDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdatePlanDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdatePlanDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdatePlanDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdatePlanDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListPlans - returns array of Plan from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListPlansOptions contains the optional parameters for the ItemsClient.NewListPlansPager method.
func (client *ItemsClient) ListPlans(ctx context.Context, workspaceID string, options *ItemsClientListPlansOptions) ([]Plan, error) {
	pager := client.NewListPlansPager(workspaceID, options)
	mapper := func(resp ItemsClientListPlansResponse) []Plan {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []Plan{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []Plan{}, err
	}
	return list, nil
}
