// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package dataagent

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateDataAgent - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create DataAgent with a public definition, refer to DataAgent
// [/rest/api/fabric/articles/item-management/definitions/data-agent-definition] article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a DataAgent the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createDataAgentRequest - Create item request payload.
//   - options - ItemsClientBeginCreateDataAgentOptions contains the optional parameters for the ItemsClient.BeginCreateDataAgent
//     method.
func (client *ItemsClient) BeginCreateDataAgent(ctx context.Context, workspaceID string, createDataAgentRequest CreateDataAgentRequest, options *ItemsClientBeginCreateDataAgentOptions) (*runtime.Poller[ItemsClientCreateDataAgentResponse], error) {
	return client.beginCreateDataAgent(ctx, workspaceID, createDataAgentRequest, options)
}

// CreateDataAgent - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation]. To
// create DataAgent with a public definition, refer to DataAgent
// [/rest/api/fabric/articles/item-management/definitions/data-agent-definition] article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a DataAgent the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createDataAgent(ctx context.Context, workspaceID string, createDataAgentRequest CreateDataAgentRequest, options *ItemsClientBeginCreateDataAgentOptions) (*http.Response, error) {
	var err error
	const operationName = "dataagent.ItemsClient.BeginCreateDataAgent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createDataAgentCreateRequest(ctx, workspaceID, createDataAgentRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createDataAgentCreateRequest creates the CreateDataAgent request.
func (client *ItemsClient) createDataAgentCreateRequest(ctx context.Context, workspaceID string, createDataAgentRequest CreateDataAgentRequest, _ *ItemsClientBeginCreateDataAgentOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createDataAgentRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteDataAgent - PERMISSIONS The caller must have write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - ItemsClientDeleteDataAgentOptions contains the optional parameters for the ItemsClient.DeleteDataAgent method.
func (client *ItemsClient) DeleteDataAgent(ctx context.Context, workspaceID string, dataAgentID string, options *ItemsClientDeleteDataAgentOptions) (ItemsClientDeleteDataAgentResponse, error) {
	var err error
	const operationName = "dataagent.ItemsClient.DeleteDataAgent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteDataAgentCreateRequest(ctx, workspaceID, dataAgentID, options)
	if err != nil {
		return ItemsClientDeleteDataAgentResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteDataAgentResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteDataAgentResponse{}, err
	}
	return ItemsClientDeleteDataAgentResponse{}, nil
}

// deleteDataAgentCreateRequest creates the DeleteDataAgent request.
func (client *ItemsClient) deleteDataAgentCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, _ *ItemsClientDeleteDataAgentOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetDataAgent - PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - ItemsClientGetDataAgentOptions contains the optional parameters for the ItemsClient.GetDataAgent method.
func (client *ItemsClient) GetDataAgent(ctx context.Context, workspaceID string, dataAgentID string, options *ItemsClientGetDataAgentOptions) (ItemsClientGetDataAgentResponse, error) {
	var err error
	const operationName = "dataagent.ItemsClient.GetDataAgent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDataAgentCreateRequest(ctx, workspaceID, dataAgentID, options)
	if err != nil {
		return ItemsClientGetDataAgentResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetDataAgentResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetDataAgentResponse{}, err
	}
	resp, err := client.getDataAgentHandleResponse(httpResp)
	return resp, err
}

// getDataAgentCreateRequest creates the GetDataAgent request.
func (client *ItemsClient) getDataAgentCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, _ *ItemsClientGetDataAgentOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDataAgentHandleResponse handles the GetDataAgent response.
func (client *ItemsClient) getDataAgentHandleResponse(resp *http.Response) (ItemsClientGetDataAgentResponse, error) {
	result := ItemsClientGetDataAgentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataAgent); err != nil {
		return ItemsClientGetDataAgentResponse{}, err
	}
	return result, nil
}

// BeginGetDataAgentDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a DataAgent's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - ItemsClientBeginGetDataAgentDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetDataAgentDefinition
//     method.
func (client *ItemsClient) BeginGetDataAgentDefinition(ctx context.Context, workspaceID string, dataAgentID string, options *ItemsClientBeginGetDataAgentDefinitionOptions) (*runtime.Poller[ItemsClientGetDataAgentDefinitionResponse], error) {
	return client.beginGetDataAgentDefinition(ctx, workspaceID, dataAgentID, options)
}

// GetDataAgentDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a DataAgent's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getDataAgentDefinition(ctx context.Context, workspaceID string, dataAgentID string, options *ItemsClientBeginGetDataAgentDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "dataagent.ItemsClient.BeginGetDataAgentDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDataAgentDefinitionCreateRequest(ctx, workspaceID, dataAgentID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getDataAgentDefinitionCreateRequest creates the GetDataAgentDefinition request.
func (client *ItemsClient) getDataAgentDefinitionCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, _ *ItemsClientBeginGetDataAgentDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListDataAgentsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListDataAgentsOptions contains the optional parameters for the ItemsClient.NewListDataAgentsPager
//     method.
func (client *ItemsClient) NewListDataAgentsPager(workspaceID string, options *ItemsClientListDataAgentsOptions) *runtime.Pager[ItemsClientListDataAgentsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListDataAgentsResponse]{
		More: func(page ItemsClientListDataAgentsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListDataAgentsResponse) (ItemsClientListDataAgentsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "dataagent.ItemsClient.NewListDataAgentsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDataAgentsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListDataAgentsResponse{}, err
			}
			return client.listDataAgentsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDataAgentsCreateRequest creates the ListDataAgents request.
func (client *ItemsClient) listDataAgentsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListDataAgentsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDataAgentsHandleResponse handles the ListDataAgents response.
func (client *ItemsClient) listDataAgentsHandleResponse(resp *http.Response) (ItemsClientListDataAgentsResponse, error) {
	result := ItemsClientListDataAgentsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataAgents); err != nil {
		return ItemsClientListDataAgentsResponse{}, err
	}
	return result, nil
}

// UpdateDataAgent - PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - updateDataAgentRequest - Update DataAgent request payload.
//   - options - ItemsClientUpdateDataAgentOptions contains the optional parameters for the ItemsClient.UpdateDataAgent method.
func (client *ItemsClient) UpdateDataAgent(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentRequest UpdateDataAgentRequest, options *ItemsClientUpdateDataAgentOptions) (ItemsClientUpdateDataAgentResponse, error) {
	var err error
	const operationName = "dataagent.ItemsClient.UpdateDataAgent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDataAgentCreateRequest(ctx, workspaceID, dataAgentID, updateDataAgentRequest, options)
	if err != nil {
		return ItemsClientUpdateDataAgentResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateDataAgentResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateDataAgentResponse{}, err
	}
	resp, err := client.updateDataAgentHandleResponse(httpResp)
	return resp, err
}

// updateDataAgentCreateRequest creates the UpdateDataAgent request.
func (client *ItemsClient) updateDataAgentCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentRequest UpdateDataAgentRequest, _ *ItemsClientUpdateDataAgentOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDataAgentRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateDataAgentHandleResponse handles the UpdateDataAgent response.
func (client *ItemsClient) updateDataAgentHandleResponse(resp *http.Response) (ItemsClientUpdateDataAgentResponse, error) {
	result := ItemsClientUpdateDataAgentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataAgent); err != nil {
		return ItemsClientUpdateDataAgentResponse{}, err
	}
	return result, nil
}

// BeginUpdateDataAgentDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the DataAgent's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - updateDataAgentDefinitionRequest - Update DataAgent definition request payload.
//   - options - ItemsClientBeginUpdateDataAgentDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateDataAgentDefinition
//     method.
func (client *ItemsClient) BeginUpdateDataAgentDefinition(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentDefinitionRequest UpdateDataAgentDefinitionRequest, options *ItemsClientBeginUpdateDataAgentDefinitionOptions) (*runtime.Poller[ItemsClientUpdateDataAgentDefinitionResponse], error) {
	return client.beginUpdateDataAgentDefinition(ctx, workspaceID, dataAgentID, updateDataAgentDefinitionRequest, options)
}

// UpdateDataAgentDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the DataAgent's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateDataAgentDefinition(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentDefinitionRequest UpdateDataAgentDefinitionRequest, options *ItemsClientBeginUpdateDataAgentDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "dataagent.ItemsClient.BeginUpdateDataAgentDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDataAgentDefinitionCreateRequest(ctx, workspaceID, dataAgentID, updateDataAgentDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateDataAgentDefinitionCreateRequest creates the UpdateDataAgentDefinition request.
func (client *ItemsClient) updateDataAgentDefinitionCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentDefinitionRequest UpdateDataAgentDefinitionRequest, options *ItemsClientBeginUpdateDataAgentDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDataAgentDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateDataAgent - returns ItemsClientCreateDataAgentResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation]. To create DataAgent with a public definition, refer to DataAgent
// [/rest/api/fabric/articles/item-management/definitions/data-agent-definition] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a DataAgent the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createDataAgentRequest - Create item request payload.
//   - options - ItemsClientBeginCreateDataAgentOptions contains the optional parameters for the ItemsClient.BeginCreateDataAgent method.
func (client *ItemsClient) CreateDataAgent(ctx context.Context, workspaceID string, createDataAgentRequest CreateDataAgentRequest, options *ItemsClientBeginCreateDataAgentOptions) (ItemsClientCreateDataAgentResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateDataAgent(ctx, workspaceID, createDataAgentRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateDataAgentResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateDataAgentResponse{}, err
	}
	return result, err
}

// beginCreateDataAgent creates the createDataAgent request.
func (client *ItemsClient) beginCreateDataAgent(ctx context.Context, workspaceID string, createDataAgentRequest CreateDataAgentRequest, options *ItemsClientBeginCreateDataAgentOptions) (*runtime.Poller[ItemsClientCreateDataAgentResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createDataAgent(ctx, workspaceID, createDataAgentRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateDataAgentResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateDataAgentResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateDataAgentResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateDataAgentResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetDataAgentDefinition - returns ItemsClientGetDataAgentDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a DataAgent's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - ItemsClientBeginGetDataAgentDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetDataAgentDefinition method.
func (client *ItemsClient) GetDataAgentDefinition(ctx context.Context, workspaceID string, dataAgentID string, options *ItemsClientBeginGetDataAgentDefinitionOptions) (ItemsClientGetDataAgentDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetDataAgentDefinition(ctx, workspaceID, dataAgentID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetDataAgentDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetDataAgentDefinitionResponse{}, err
	}
	return result, err
}

// beginGetDataAgentDefinition creates the getDataAgentDefinition request.
func (client *ItemsClient) beginGetDataAgentDefinition(ctx context.Context, workspaceID string, dataAgentID string, options *ItemsClientBeginGetDataAgentDefinitionOptions) (*runtime.Poller[ItemsClientGetDataAgentDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getDataAgentDefinition(ctx, workspaceID, dataAgentID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetDataAgentDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetDataAgentDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetDataAgentDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetDataAgentDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateDataAgentDefinition - returns ItemsClientUpdateDataAgentDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the DataAgent's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - updateDataAgentDefinitionRequest - Update DataAgent definition request payload.
//   - options - ItemsClientBeginUpdateDataAgentDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateDataAgentDefinition method.
func (client *ItemsClient) UpdateDataAgentDefinition(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentDefinitionRequest UpdateDataAgentDefinitionRequest, options *ItemsClientBeginUpdateDataAgentDefinitionOptions) (ItemsClientUpdateDataAgentDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateDataAgentDefinition(ctx, workspaceID, dataAgentID, updateDataAgentDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateDataAgentDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateDataAgentDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateDataAgentDefinition creates the updateDataAgentDefinition request.
func (client *ItemsClient) beginUpdateDataAgentDefinition(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentDefinitionRequest UpdateDataAgentDefinitionRequest, options *ItemsClientBeginUpdateDataAgentDefinitionOptions) (*runtime.Poller[ItemsClientUpdateDataAgentDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateDataAgentDefinition(ctx, workspaceID, dataAgentID, updateDataAgentDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateDataAgentDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateDataAgentDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateDataAgentDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateDataAgentDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListDataAgents - returns array of DataAgent from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListDataAgentsOptions contains the optional parameters for the ItemsClient.NewListDataAgentsPager method.
func (client *ItemsClient) ListDataAgents(ctx context.Context, workspaceID string, options *ItemsClientListDataAgentsOptions) ([]DataAgent, error) {
	pager := client.NewListDataAgentsPager(workspaceID, options)
	mapper := func(resp ItemsClientListDataAgentsResponse) []DataAgent {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []DataAgent{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []DataAgent{}, err
	}
	return list, nil
}
