// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package dataagent

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// PublishedClient contains the methods for the Published group.
// Don't use this type directly, use a constructor function instead.
type PublishedClient struct {
	internal *azcore.Client
	endpoint string
}

// GetDatasource - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - PublishedClientGetDatasourceOptions contains the optional parameters for the PublishedClient.GetDatasource method.
func (client *PublishedClient) GetDatasource(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *PublishedClientGetDatasourceOptions) (PublishedClientGetDatasourceResponse, error) {
	var err error
	const operationName = "dataagent.PublishedClient.GetDatasource"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDatasourceCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, options)
	if err != nil {
		return PublishedClientGetDatasourceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PublishedClientGetDatasourceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PublishedClientGetDatasourceResponse{}, err
	}
	resp, err := client.getDatasourceHandleResponse(httpResp)
	return resp, err
}

// getDatasourceCreateRequest creates the GetDatasource request.
func (client *PublishedClient) getDatasourceCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, _ *PublishedClientGetDatasourceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/datasources/{datasourceId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDatasourceHandleResponse handles the GetDatasource response.
func (client *PublishedClient) getDatasourceHandleResponse(resp *http.Response) (PublishedClientGetDatasourceResponse, error) {
	result := PublishedClientGetDatasourceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result); err != nil {
		return PublishedClientGetDatasourceResponse{}, err
	}
	return result, nil
}

// GetDatasourceFewshot - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - fewShotID - The fewshot ID.
//   - options - PublishedClientGetDatasourceFewshotOptions contains the optional parameters for the PublishedClient.GetDatasourceFewshot
//     method.
func (client *PublishedClient) GetDatasourceFewshot(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, fewShotID string, options *PublishedClientGetDatasourceFewshotOptions) (PublishedClientGetDatasourceFewshotResponse, error) {
	var err error
	const operationName = "dataagent.PublishedClient.GetDatasourceFewshot"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDatasourceFewshotCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, fewShotID, options)
	if err != nil {
		return PublishedClientGetDatasourceFewshotResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PublishedClientGetDatasourceFewshotResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PublishedClientGetDatasourceFewshotResponse{}, err
	}
	resp, err := client.getDatasourceFewshotHandleResponse(httpResp)
	return resp, err
}

// getDatasourceFewshotCreateRequest creates the GetDatasourceFewshot request.
func (client *PublishedClient) getDatasourceFewshotCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, fewShotID string, _ *PublishedClientGetDatasourceFewshotOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/datasources/{datasourceId}/fewshots/{fewShotId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	if fewShotID == "" {
		return nil, errors.New("parameter fewShotID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{fewShotId}", url.PathEscape(fewShotID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDatasourceFewshotHandleResponse handles the GetDatasourceFewshot response.
func (client *PublishedClient) getDatasourceFewshotHandleResponse(resp *http.Response) (PublishedClientGetDatasourceFewshotResponse, error) {
	result := PublishedClientGetDatasourceFewshotResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Fewshot); err != nil {
		return PublishedClientGetDatasourceFewshotResponse{}, err
	}
	return result, nil
}

// GetSettings - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - PublishedClientGetSettingsOptions contains the optional parameters for the PublishedClient.GetSettings method.
func (client *PublishedClient) GetSettings(ctx context.Context, workspaceID string, dataAgentID string, options *PublishedClientGetSettingsOptions) (PublishedClientGetSettingsResponse, error) {
	var err error
	const operationName = "dataagent.PublishedClient.GetSettings"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSettingsCreateRequest(ctx, workspaceID, dataAgentID, options)
	if err != nil {
		return PublishedClientGetSettingsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PublishedClientGetSettingsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return PublishedClientGetSettingsResponse{}, err
	}
	resp, err := client.getSettingsHandleResponse(httpResp)
	return resp, err
}

// getSettingsCreateRequest creates the GetSettings request.
func (client *PublishedClient) getSettingsCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, _ *PublishedClientGetSettingsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/settings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSettingsHandleResponse handles the GetSettings response.
func (client *PublishedClient) getSettingsHandleResponse(resp *http.Response) (PublishedClientGetSettingsResponse, error) {
	result := PublishedClientGetSettingsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SettingsResponse); err != nil {
		return PublishedClientGetSettingsResponse{}, err
	}
	return result, nil
}

// NewListDatasourceElementsPager - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Elements represent the schema tree of a datasource (schemas, tables, columns). Navigate level-by-level using the rootId
// parameter.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - PublishedClientListDatasourceElementsOptions contains the optional parameters for the PublishedClient.NewListDatasourceElementsPager
//     method.
func (client *PublishedClient) NewListDatasourceElementsPager(workspaceID string, dataAgentID string, datasourceID string, options *PublishedClientListDatasourceElementsOptions) *runtime.Pager[PublishedClientListDatasourceElementsResponse] {
	return runtime.NewPager(runtime.PagingHandler[PublishedClientListDatasourceElementsResponse]{
		More: func(page PublishedClientListDatasourceElementsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *PublishedClientListDatasourceElementsResponse) (PublishedClientListDatasourceElementsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "dataagent.PublishedClient.NewListDatasourceElementsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDatasourceElementsCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, options)
			}, nil)
			if err != nil {
				return PublishedClientListDatasourceElementsResponse{}, err
			}
			return client.listDatasourceElementsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDatasourceElementsCreateRequest creates the ListDatasourceElements request.
func (client *PublishedClient) listDatasourceElementsCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *PublishedClientListDatasourceElementsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/datasources/{datasourceId}/elements"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.RootID != nil {
		reqQP.Set("rootId", *options.RootID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDatasourceElementsHandleResponse handles the ListDatasourceElements response.
func (client *PublishedClient) listDatasourceElementsHandleResponse(resp *http.Response) (PublishedClientListDatasourceElementsResponse, error) {
	result := PublishedClientListDatasourceElementsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataSourceElements); err != nil {
		return PublishedClientListDatasourceElementsResponse{}, err
	}
	return result, nil
}

// NewListDatasourceFewshotsPager - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - PublishedClientListDatasourceFewshotsOptions contains the optional parameters for the PublishedClient.NewListDatasourceFewshotsPager
//     method.
func (client *PublishedClient) NewListDatasourceFewshotsPager(workspaceID string, dataAgentID string, datasourceID string, options *PublishedClientListDatasourceFewshotsOptions) *runtime.Pager[PublishedClientListDatasourceFewshotsResponse] {
	return runtime.NewPager(runtime.PagingHandler[PublishedClientListDatasourceFewshotsResponse]{
		More: func(page PublishedClientListDatasourceFewshotsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *PublishedClientListDatasourceFewshotsResponse) (PublishedClientListDatasourceFewshotsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "dataagent.PublishedClient.NewListDatasourceFewshotsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDatasourceFewshotsCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, options)
			}, nil)
			if err != nil {
				return PublishedClientListDatasourceFewshotsResponse{}, err
			}
			return client.listDatasourceFewshotsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDatasourceFewshotsCreateRequest creates the ListDatasourceFewshots request.
func (client *PublishedClient) listDatasourceFewshotsCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *PublishedClientListDatasourceFewshotsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/datasources/{datasourceId}/fewshots"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDatasourceFewshotsHandleResponse handles the ListDatasourceFewshots response.
func (client *PublishedClient) listDatasourceFewshotsHandleResponse(resp *http.Response) (PublishedClientListDatasourceFewshotsResponse, error) {
	result := PublishedClientListDatasourceFewshotsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Fewshots); err != nil {
		return PublishedClientListDatasourceFewshotsResponse{}, err
	}
	return result, nil
}

// NewListDatasourcesPager - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - PublishedClientListDatasourcesOptions contains the optional parameters for the PublishedClient.NewListDatasourcesPager
//     method.
func (client *PublishedClient) NewListDatasourcesPager(workspaceID string, dataAgentID string, options *PublishedClientListDatasourcesOptions) *runtime.Pager[PublishedClientListDatasourcesResponse] {
	return runtime.NewPager(runtime.PagingHandler[PublishedClientListDatasourcesResponse]{
		More: func(page PublishedClientListDatasourcesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *PublishedClientListDatasourcesResponse) (PublishedClientListDatasourcesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "dataagent.PublishedClient.NewListDatasourcesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDatasourcesCreateRequest(ctx, workspaceID, dataAgentID, options)
			}, nil)
			if err != nil {
				return PublishedClientListDatasourcesResponse{}, err
			}
			return client.listDatasourcesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDatasourcesCreateRequest creates the ListDatasources request.
func (client *PublishedClient) listDatasourcesCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, options *PublishedClientListDatasourcesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/datasources"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDatasourcesHandleResponse handles the ListDatasources response.
func (client *PublishedClient) listDatasourcesHandleResponse(resp *http.Response) (PublishedClientListDatasourcesResponse, error) {
	result := PublishedClientListDatasourcesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Datasources); err != nil {
		return PublishedClientListDatasourcesResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListDatasourceElements - returns array of DataSourceElement from all pages.
// >  [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// Elements represent the schema tree of a datasource (schemas, tables, columns). Navigate level-by-level using the rootId parameter.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - PublishedClientListDatasourceElementsOptions contains the optional parameters for the PublishedClient.NewListDatasourceElementsPager method.
func (client *PublishedClient) ListDatasourceElements(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *PublishedClientListDatasourceElementsOptions) ([]DataSourceElement, error) {
	pager := client.NewListDatasourceElementsPager(workspaceID, dataAgentID, datasourceID, options)
	mapper := func(resp PublishedClientListDatasourceElementsResponse) []DataSourceElement {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []DataSourceElement{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []DataSourceElement{}, err
	}
	return list, nil
}

// ListDatasourceFewshots - returns array of Fewshot from all pages.
// >  [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - PublishedClientListDatasourceFewshotsOptions contains the optional parameters for the PublishedClient.NewListDatasourceFewshotsPager method.
func (client *PublishedClient) ListDatasourceFewshots(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *PublishedClientListDatasourceFewshotsOptions) ([]Fewshot, error) {
	pager := client.NewListDatasourceFewshotsPager(workspaceID, dataAgentID, datasourceID, options)
	mapper := func(resp PublishedClientListDatasourceFewshotsResponse) []Fewshot {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []Fewshot{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []Fewshot{}, err
	}
	return list, nil
}

// ListDatasources - returns array of DatasourceResponseClassification from all pages.
// >  [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - PublishedClientListDatasourcesOptions contains the optional parameters for the PublishedClient.NewListDatasourcesPager method.
func (client *PublishedClient) ListDatasources(ctx context.Context, workspaceID string, dataAgentID string, options *PublishedClientListDatasourcesOptions) ([]DatasourceResponseClassification, error) {
	pager := client.NewListDatasourcesPager(workspaceID, dataAgentID, options)
	mapper := func(resp PublishedClientListDatasourcesResponse) []DatasourceResponseClassification {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []DatasourceResponseClassification{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []DatasourceResponseClassification{}, err
	}
	return list, nil
}
