// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package dataagent

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// StagingClient contains the methods for the Staging group.
// Don't use this type directly, use a constructor function instead.
type StagingClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateDatasource - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// This operation creates a datasource for an existing Fabric item.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - createDataAgentDatasourceRequest - Create datasource request payload.
//   - options - StagingClientBeginCreateDatasourceOptions contains the optional parameters for the StagingClient.BeginCreateDatasource
//     method.
func (client *StagingClient) BeginCreateDatasource(ctx context.Context, workspaceID string, dataAgentID string, createDataAgentDatasourceRequest CreateDataAgentDatasourceRequest, options *StagingClientBeginCreateDatasourceOptions) (*runtime.Poller[StagingClientCreateDatasourceResponse], error) {
	return client.beginCreateDatasource(ctx, workspaceID, dataAgentID, createDataAgentDatasourceRequest, options)
}

// CreateDatasource - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// This operation creates a datasource for an existing Fabric item.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *StagingClient) createDatasource(ctx context.Context, workspaceID string, dataAgentID string, createDataAgentDatasourceRequest CreateDataAgentDatasourceRequest, options *StagingClientBeginCreateDatasourceOptions) (*http.Response, error) {
	var err error
	const operationName = "dataagent.StagingClient.BeginCreateDatasource"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createDatasourceCreateRequest(ctx, workspaceID, dataAgentID, createDataAgentDatasourceRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createDatasourceCreateRequest creates the CreateDatasource request.
func (client *StagingClient) createDatasourceCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, createDataAgentDatasourceRequest CreateDataAgentDatasourceRequest, _ *StagingClientBeginCreateDatasourceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createDataAgentDatasourceRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// CreateDatasourceFewshot - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// LIMITATIONS Fewshots aren't supported for Semantic Model and Ontology datasources.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - createDataAgentFewshotRequest - Create fewshot request payload.
//   - options - StagingClientCreateDatasourceFewshotOptions contains the optional parameters for the StagingClient.CreateDatasourceFewshot
//     method.
func (client *StagingClient) CreateDatasourceFewshot(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, createDataAgentFewshotRequest CreateDataAgentFewshotRequest, options *StagingClientCreateDatasourceFewshotOptions) (StagingClientCreateDatasourceFewshotResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.CreateDatasourceFewshot"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createDatasourceFewshotCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, createDataAgentFewshotRequest, options)
	if err != nil {
		return StagingClientCreateDatasourceFewshotResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientCreateDatasourceFewshotResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = core.NewResponseError(httpResp)
		return StagingClientCreateDatasourceFewshotResponse{}, err
	}
	resp, err := client.createDatasourceFewshotHandleResponse(httpResp)
	return resp, err
}

// createDatasourceFewshotCreateRequest creates the CreateDatasourceFewshot request.
func (client *StagingClient) createDatasourceFewshotCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, createDataAgentFewshotRequest CreateDataAgentFewshotRequest, _ *StagingClientCreateDatasourceFewshotOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/fewshots"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createDataAgentFewshotRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createDatasourceFewshotHandleResponse handles the CreateDatasourceFewshot response.
func (client *StagingClient) createDatasourceFewshotHandleResponse(resp *http.Response) (StagingClientCreateDatasourceFewshotResponse, error) {
	result := StagingClientCreateDatasourceFewshotResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Fewshot); err != nil {
		return StagingClientCreateDatasourceFewshotResponse{}, err
	}
	return result, nil
}

// DeleteAllDatasourceFewshots - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - StagingClientDeleteAllDatasourceFewshotsOptions contains the optional parameters for the StagingClient.DeleteAllDatasourceFewshots
//     method.
func (client *StagingClient) DeleteAllDatasourceFewshots(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *StagingClientDeleteAllDatasourceFewshotsOptions) (StagingClientDeleteAllDatasourceFewshotsResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.DeleteAllDatasourceFewshots"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteAllDatasourceFewshotsCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, options)
	if err != nil {
		return StagingClientDeleteAllDatasourceFewshotsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientDeleteAllDatasourceFewshotsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientDeleteAllDatasourceFewshotsResponse{}, err
	}
	return StagingClientDeleteAllDatasourceFewshotsResponse{}, nil
}

// deleteAllDatasourceFewshotsCreateRequest creates the DeleteAllDatasourceFewshots request.
func (client *StagingClient) deleteAllDatasourceFewshotsCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, _ *StagingClientDeleteAllDatasourceFewshotsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/fewshots/deleteAll"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// DeleteDatasource - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Deletes the datasource from the DataAgent. The underlying Fabric item isn't deleted.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - StagingClientDeleteDatasourceOptions contains the optional parameters for the StagingClient.DeleteDatasource
//     method.
func (client *StagingClient) DeleteDatasource(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *StagingClientDeleteDatasourceOptions) (StagingClientDeleteDatasourceResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.DeleteDatasource"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteDatasourceCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, options)
	if err != nil {
		return StagingClientDeleteDatasourceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientDeleteDatasourceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientDeleteDatasourceResponse{}, err
	}
	return StagingClientDeleteDatasourceResponse{}, nil
}

// deleteDatasourceCreateRequest creates the DeleteDatasource request.
func (client *StagingClient) deleteDatasourceCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, _ *StagingClientDeleteDatasourceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// DeleteDatasourceElement - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Use this API to remove a stale element from the saved datasource schema after it has been removed from the live datasource
// schema. This API does not automatically remove elements when the live schema
// changes, so callers can review the change and decide whether to delete the saved element themselves.
// An element can be deleted only when it is no longer present in the live datasource schema. If the element still exists
// in the live datasource schema, the request fails.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - id - The element identifier.
//   - options - StagingClientDeleteDatasourceElementOptions contains the optional parameters for the StagingClient.DeleteDatasourceElement
//     method.
func (client *StagingClient) DeleteDatasourceElement(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, id string, options *StagingClientDeleteDatasourceElementOptions) (StagingClientDeleteDatasourceElementResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.DeleteDatasourceElement"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteDatasourceElementCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, id, options)
	if err != nil {
		return StagingClientDeleteDatasourceElementResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientDeleteDatasourceElementResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientDeleteDatasourceElementResponse{}, err
	}
	return StagingClientDeleteDatasourceElementResponse{}, nil
}

// deleteDatasourceElementCreateRequest creates the DeleteDatasourceElement request.
func (client *StagingClient) deleteDatasourceElementCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, id string, _ *StagingClientDeleteDatasourceElementOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/elements"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("id", id)
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// DeleteDatasourceFewshot - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - fewShotID - The fewshot ID.
//   - options - StagingClientDeleteDatasourceFewshotOptions contains the optional parameters for the StagingClient.DeleteDatasourceFewshot
//     method.
func (client *StagingClient) DeleteDatasourceFewshot(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, fewShotID string, options *StagingClientDeleteDatasourceFewshotOptions) (StagingClientDeleteDatasourceFewshotResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.DeleteDatasourceFewshot"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteDatasourceFewshotCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, fewShotID, options)
	if err != nil {
		return StagingClientDeleteDatasourceFewshotResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientDeleteDatasourceFewshotResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientDeleteDatasourceFewshotResponse{}, err
	}
	return StagingClientDeleteDatasourceFewshotResponse{}, nil
}

// deleteDatasourceFewshotCreateRequest creates the DeleteDatasourceFewshot request.
func (client *StagingClient) deleteDatasourceFewshotCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, fewShotID string, _ *StagingClientDeleteDatasourceFewshotOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/fewshots/{fewShotId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	if fewShotID == "" {
		return nil, errors.New("parameter fewShotID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{fewShotId}", url.PathEscape(fewShotID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetDatasource - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - StagingClientGetDatasourceOptions contains the optional parameters for the StagingClient.GetDatasource method.
func (client *StagingClient) GetDatasource(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *StagingClientGetDatasourceOptions) (StagingClientGetDatasourceResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.GetDatasource"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDatasourceCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, options)
	if err != nil {
		return StagingClientGetDatasourceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientGetDatasourceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientGetDatasourceResponse{}, err
	}
	resp, err := client.getDatasourceHandleResponse(httpResp)
	return resp, err
}

// getDatasourceCreateRequest creates the GetDatasource request.
func (client *StagingClient) getDatasourceCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, _ *StagingClientGetDatasourceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDatasourceHandleResponse handles the GetDatasource response.
func (client *StagingClient) getDatasourceHandleResponse(resp *http.Response) (StagingClientGetDatasourceResponse, error) {
	result := StagingClientGetDatasourceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result); err != nil {
		return StagingClientGetDatasourceResponse{}, err
	}
	return result, nil
}

// GetDatasourceFewshot - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - fewShotID - The fewshot ID.
//   - options - StagingClientGetDatasourceFewshotOptions contains the optional parameters for the StagingClient.GetDatasourceFewshot
//     method.
func (client *StagingClient) GetDatasourceFewshot(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, fewShotID string, options *StagingClientGetDatasourceFewshotOptions) (StagingClientGetDatasourceFewshotResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.GetDatasourceFewshot"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDatasourceFewshotCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, fewShotID, options)
	if err != nil {
		return StagingClientGetDatasourceFewshotResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientGetDatasourceFewshotResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientGetDatasourceFewshotResponse{}, err
	}
	resp, err := client.getDatasourceFewshotHandleResponse(httpResp)
	return resp, err
}

// getDatasourceFewshotCreateRequest creates the GetDatasourceFewshot request.
func (client *StagingClient) getDatasourceFewshotCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, fewShotID string, _ *StagingClientGetDatasourceFewshotOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/fewshots/{fewShotId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	if fewShotID == "" {
		return nil, errors.New("parameter fewShotID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{fewShotId}", url.PathEscape(fewShotID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDatasourceFewshotHandleResponse handles the GetDatasourceFewshot response.
func (client *StagingClient) getDatasourceFewshotHandleResponse(resp *http.Response) (StagingClientGetDatasourceFewshotResponse, error) {
	result := StagingClientGetDatasourceFewshotResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Fewshot); err != nil {
		return StagingClientGetDatasourceFewshotResponse{}, err
	}
	return result, nil
}

// GetSettings - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - StagingClientGetSettingsOptions contains the optional parameters for the StagingClient.GetSettings method.
func (client *StagingClient) GetSettings(ctx context.Context, workspaceID string, dataAgentID string, options *StagingClientGetSettingsOptions) (StagingClientGetSettingsResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.GetSettings"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSettingsCreateRequest(ctx, workspaceID, dataAgentID, options)
	if err != nil {
		return StagingClientGetSettingsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientGetSettingsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientGetSettingsResponse{}, err
	}
	resp, err := client.getSettingsHandleResponse(httpResp)
	return resp, err
}

// getSettingsCreateRequest creates the GetSettings request.
func (client *StagingClient) getSettingsCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, _ *StagingClientGetSettingsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/settings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSettingsHandleResponse handles the GetSettings response.
func (client *StagingClient) getSettingsHandleResponse(resp *http.Response) (StagingClientGetSettingsResponse, error) {
	result := StagingClientGetSettingsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SettingsResponse); err != nil {
		return StagingClientGetSettingsResponse{}, err
	}
	return result, nil
}

// NewListDatasourceElementsPager - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Elements represent the schema tree of a datasource (schemas, tables, columns). Navigate level-by-level using the rootId
// parameter.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - StagingClientListDatasourceElementsOptions contains the optional parameters for the StagingClient.NewListDatasourceElementsPager
//     method.
func (client *StagingClient) NewListDatasourceElementsPager(workspaceID string, dataAgentID string, datasourceID string, options *StagingClientListDatasourceElementsOptions) *runtime.Pager[StagingClientListDatasourceElementsResponse] {
	return runtime.NewPager(runtime.PagingHandler[StagingClientListDatasourceElementsResponse]{
		More: func(page StagingClientListDatasourceElementsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *StagingClientListDatasourceElementsResponse) (StagingClientListDatasourceElementsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "dataagent.StagingClient.NewListDatasourceElementsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDatasourceElementsCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, options)
			}, nil)
			if err != nil {
				return StagingClientListDatasourceElementsResponse{}, err
			}
			return client.listDatasourceElementsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDatasourceElementsCreateRequest creates the ListDatasourceElements request.
func (client *StagingClient) listDatasourceElementsCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *StagingClientListDatasourceElementsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/elements"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.RootID != nil {
		reqQP.Set("rootId", *options.RootID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDatasourceElementsHandleResponse handles the ListDatasourceElements response.
func (client *StagingClient) listDatasourceElementsHandleResponse(resp *http.Response) (StagingClientListDatasourceElementsResponse, error) {
	result := StagingClientListDatasourceElementsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataSourceElements); err != nil {
		return StagingClientListDatasourceElementsResponse{}, err
	}
	return result, nil
}

// NewListDatasourceFewshotsPager - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - StagingClientListDatasourceFewshotsOptions contains the optional parameters for the StagingClient.NewListDatasourceFewshotsPager
//     method.
func (client *StagingClient) NewListDatasourceFewshotsPager(workspaceID string, dataAgentID string, datasourceID string, options *StagingClientListDatasourceFewshotsOptions) *runtime.Pager[StagingClientListDatasourceFewshotsResponse] {
	return runtime.NewPager(runtime.PagingHandler[StagingClientListDatasourceFewshotsResponse]{
		More: func(page StagingClientListDatasourceFewshotsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *StagingClientListDatasourceFewshotsResponse) (StagingClientListDatasourceFewshotsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "dataagent.StagingClient.NewListDatasourceFewshotsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDatasourceFewshotsCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, options)
			}, nil)
			if err != nil {
				return StagingClientListDatasourceFewshotsResponse{}, err
			}
			return client.listDatasourceFewshotsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDatasourceFewshotsCreateRequest creates the ListDatasourceFewshots request.
func (client *StagingClient) listDatasourceFewshotsCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *StagingClientListDatasourceFewshotsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/fewshots"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDatasourceFewshotsHandleResponse handles the ListDatasourceFewshots response.
func (client *StagingClient) listDatasourceFewshotsHandleResponse(resp *http.Response) (StagingClientListDatasourceFewshotsResponse, error) {
	result := StagingClientListDatasourceFewshotsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Fewshots); err != nil {
		return StagingClientListDatasourceFewshotsResponse{}, err
	}
	return result, nil
}

// NewListDatasourcesPager - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - StagingClientListDatasourcesOptions contains the optional parameters for the StagingClient.NewListDatasourcesPager
//     method.
func (client *StagingClient) NewListDatasourcesPager(workspaceID string, dataAgentID string, options *StagingClientListDatasourcesOptions) *runtime.Pager[StagingClientListDatasourcesResponse] {
	return runtime.NewPager(runtime.PagingHandler[StagingClientListDatasourcesResponse]{
		More: func(page StagingClientListDatasourcesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *StagingClientListDatasourcesResponse) (StagingClientListDatasourcesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "dataagent.StagingClient.NewListDatasourcesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDatasourcesCreateRequest(ctx, workspaceID, dataAgentID, options)
			}, nil)
			if err != nil {
				return StagingClientListDatasourcesResponse{}, err
			}
			return client.listDatasourcesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDatasourcesCreateRequest creates the ListDatasources request.
func (client *StagingClient) listDatasourcesCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, options *StagingClientListDatasourcesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDatasourcesHandleResponse handles the ListDatasources response.
func (client *StagingClient) listDatasourcesHandleResponse(resp *http.Response) (StagingClientListDatasourcesResponse, error) {
	result := StagingClientListDatasourcesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Datasources); err != nil {
		return StagingClientListDatasourcesResponse{}, err
	}
	return result, nil
}

// Reset - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Discards all unpublished changes in the staging environment.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - StagingClientResetOptions contains the optional parameters for the StagingClient.Reset method.
func (client *StagingClient) Reset(ctx context.Context, workspaceID string, dataAgentID string, options *StagingClientResetOptions) (StagingClientResetResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.Reset"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.resetCreateRequest(ctx, workspaceID, dataAgentID, options)
	if err != nil {
		return StagingClientResetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientResetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientResetResponse{}, err
	}
	return StagingClientResetResponse{}, nil
}

// resetCreateRequest creates the Reset request.
func (client *StagingClient) resetCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, _ *StagingClientResetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/reset"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// UpdateDatasource - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Only provided fields are updated.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - updateDataAgentDatasourceRequest - Update datasource request payload.
//   - options - StagingClientUpdateDatasourceOptions contains the optional parameters for the StagingClient.UpdateDatasource
//     method.
func (client *StagingClient) UpdateDatasource(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, updateDataAgentDatasourceRequest UpdateDataAgentDatasourceRequest, options *StagingClientUpdateDatasourceOptions) (StagingClientUpdateDatasourceResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.UpdateDatasource"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDatasourceCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, updateDataAgentDatasourceRequest, options)
	if err != nil {
		return StagingClientUpdateDatasourceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientUpdateDatasourceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientUpdateDatasourceResponse{}, err
	}
	resp, err := client.updateDatasourceHandleResponse(httpResp)
	return resp, err
}

// updateDatasourceCreateRequest creates the UpdateDatasource request.
func (client *StagingClient) updateDatasourceCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, updateDataAgentDatasourceRequest UpdateDataAgentDatasourceRequest, _ *StagingClientUpdateDatasourceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDataAgentDatasourceRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateDatasourceHandleResponse handles the UpdateDatasource response.
func (client *StagingClient) updateDatasourceHandleResponse(resp *http.Response) (StagingClientUpdateDatasourceResponse, error) {
	result := StagingClientUpdateDatasourceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result); err != nil {
		return StagingClientUpdateDatasourceResponse{}, err
	}
	return result, nil
}

// UpdateDatasourceElement - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Select/deselect an element or set a custom description. Only provided fields are updated.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - id - The element identifier.
//   - updateDataSourceElementRequest - Update element request payload.
//   - options - StagingClientUpdateDatasourceElementOptions contains the optional parameters for the StagingClient.UpdateDatasourceElement
//     method.
func (client *StagingClient) UpdateDatasourceElement(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, id string, updateDataSourceElementRequest UpdateDataSourceElementRequest, options *StagingClientUpdateDatasourceElementOptions) (StagingClientUpdateDatasourceElementResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.UpdateDatasourceElement"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDatasourceElementCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, id, updateDataSourceElementRequest, options)
	if err != nil {
		return StagingClientUpdateDatasourceElementResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientUpdateDatasourceElementResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientUpdateDatasourceElementResponse{}, err
	}
	resp, err := client.updateDatasourceElementHandleResponse(httpResp)
	return resp, err
}

// updateDatasourceElementCreateRequest creates the UpdateDatasourceElement request.
func (client *StagingClient) updateDatasourceElementCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, id string, updateDataSourceElementRequest UpdateDataSourceElementRequest, _ *StagingClientUpdateDatasourceElementOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/elements"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("id", id)
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDataSourceElementRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateDatasourceElementHandleResponse handles the UpdateDatasourceElement response.
func (client *StagingClient) updateDatasourceElementHandleResponse(resp *http.Response) (StagingClientUpdateDatasourceElementResponse, error) {
	result := StagingClientUpdateDatasourceElementResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataSourceElement); err != nil {
		return StagingClientUpdateDatasourceElementResponse{}, err
	}
	return result, nil
}

// UpdateDatasourceFewshot - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Only provided fields are updated.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - fewShotID - The fewshot ID.
//   - updateDataAgentFewshotRequest - Update fewshot request payload.
//   - options - StagingClientUpdateDatasourceFewshotOptions contains the optional parameters for the StagingClient.UpdateDatasourceFewshot
//     method.
func (client *StagingClient) UpdateDatasourceFewshot(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, fewShotID string, updateDataAgentFewshotRequest UpdateDataAgentFewshotRequest, options *StagingClientUpdateDatasourceFewshotOptions) (StagingClientUpdateDatasourceFewshotResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.UpdateDatasourceFewshot"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDatasourceFewshotCreateRequest(ctx, workspaceID, dataAgentID, datasourceID, fewShotID, updateDataAgentFewshotRequest, options)
	if err != nil {
		return StagingClientUpdateDatasourceFewshotResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientUpdateDatasourceFewshotResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientUpdateDatasourceFewshotResponse{}, err
	}
	resp, err := client.updateDatasourceFewshotHandleResponse(httpResp)
	return resp, err
}

// updateDatasourceFewshotCreateRequest creates the UpdateDatasourceFewshot request.
func (client *StagingClient) updateDatasourceFewshotCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, fewShotID string, updateDataAgentFewshotRequest UpdateDataAgentFewshotRequest, _ *StagingClientUpdateDatasourceFewshotOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/datasources/{datasourceId}/fewshots/{fewShotId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	if datasourceID == "" {
		return nil, errors.New("parameter datasourceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{datasourceId}", url.PathEscape(datasourceID))
	if fewShotID == "" {
		return nil, errors.New("parameter fewShotID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{fewShotId}", url.PathEscape(fewShotID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDataAgentFewshotRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateDatasourceFewshotHandleResponse handles the UpdateDatasourceFewshot response.
func (client *StagingClient) updateDatasourceFewshotHandleResponse(resp *http.Response) (StagingClientUpdateDatasourceFewshotResponse, error) {
	result := StagingClientUpdateDatasourceFewshotResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Fewshot); err != nil {
		return StagingClientUpdateDatasourceFewshotResponse{}, err
	}
	return result, nil
}

// UpdateSettings - > [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
// Only provided fields are updated.
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - updateDataAgentSettingsRequest - Update DataAgent settings request payload.
//   - options - StagingClientUpdateSettingsOptions contains the optional parameters for the StagingClient.UpdateSettings method.
func (client *StagingClient) UpdateSettings(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentSettingsRequest UpdateDataAgentSettingsRequest, options *StagingClientUpdateSettingsOptions) (StagingClientUpdateSettingsResponse, error) {
	var err error
	const operationName = "dataagent.StagingClient.UpdateSettings"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateSettingsCreateRequest(ctx, workspaceID, dataAgentID, updateDataAgentSettingsRequest, options)
	if err != nil {
		return StagingClientUpdateSettingsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StagingClientUpdateSettingsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return StagingClientUpdateSettingsResponse{}, err
	}
	resp, err := client.updateSettingsHandleResponse(httpResp)
	return resp, err
}

// updateSettingsCreateRequest creates the UpdateSettings request.
func (client *StagingClient) updateSettingsCreateRequest(ctx context.Context, workspaceID string, dataAgentID string, updateDataAgentSettingsRequest UpdateDataAgentSettingsRequest, _ *StagingClientUpdateSettingsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataAgents/{dataAgentId}/staging/settings"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataAgentID == "" {
		return nil, errors.New("parameter dataAgentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataAgentId}", url.PathEscape(dataAgentID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateDataAgentSettingsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateSettingsHandleResponse handles the UpdateSettings response.
func (client *StagingClient) updateSettingsHandleResponse(resp *http.Response) (StagingClientUpdateSettingsResponse, error) {
	result := StagingClientUpdateSettingsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SettingsResponse); err != nil {
		return StagingClientUpdateSettingsResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// CreateDatasource - returns StagingClientCreateDatasourceResponse in sync mode.
// >  [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// This operation creates a datasource for an existing Fabric item.
//
// PERMISSIONS The caller must have read and write permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All or DataAgent.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - createDataAgentDatasourceRequest - Create datasource request payload.
//   - options - StagingClientBeginCreateDatasourceOptions contains the optional parameters for the StagingClient.BeginCreateDatasource method.
func (client *StagingClient) CreateDatasource(ctx context.Context, workspaceID string, dataAgentID string, createDataAgentDatasourceRequest CreateDataAgentDatasourceRequest, options *StagingClientBeginCreateDatasourceOptions) (StagingClientCreateDatasourceResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateDatasource(ctx, workspaceID, dataAgentID, createDataAgentDatasourceRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return StagingClientCreateDatasourceResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return StagingClientCreateDatasourceResponse{}, err
	}
	return result, err
}

// beginCreateDatasource creates the createDatasource request.
func (client *StagingClient) beginCreateDatasource(ctx context.Context, workspaceID string, dataAgentID string, createDataAgentDatasourceRequest CreateDataAgentDatasourceRequest, options *StagingClientBeginCreateDatasourceOptions) (*runtime.Poller[StagingClientCreateDatasourceResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createDatasource(ctx, workspaceID, dataAgentID, createDataAgentDatasourceRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[StagingClientCreateDatasourceResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[StagingClientCreateDatasourceResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[StagingClientCreateDatasourceResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[StagingClientCreateDatasourceResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListDatasourceElements - returns array of DataSourceElement from all pages.
// >  [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// Elements represent the schema tree of a datasource (schemas, tables, columns). Navigate level-by-level using the rootId parameter.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - StagingClientListDatasourceElementsOptions contains the optional parameters for the StagingClient.NewListDatasourceElementsPager method.
func (client *StagingClient) ListDatasourceElements(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *StagingClientListDatasourceElementsOptions) ([]DataSourceElement, error) {
	pager := client.NewListDatasourceElementsPager(workspaceID, dataAgentID, datasourceID, options)
	mapper := func(resp StagingClientListDatasourceElementsResponse) []DataSourceElement {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []DataSourceElement{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []DataSourceElement{}, err
	}
	return list, nil
}

// ListDatasourceFewshots - returns array of Fewshot from all pages.
// >  [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - datasourceID - The datasource ID.
//   - options - StagingClientListDatasourceFewshotsOptions contains the optional parameters for the StagingClient.NewListDatasourceFewshotsPager method.
func (client *StagingClient) ListDatasourceFewshots(ctx context.Context, workspaceID string, dataAgentID string, datasourceID string, options *StagingClientListDatasourceFewshotsOptions) ([]Fewshot, error) {
	pager := client.NewListDatasourceFewshotsPager(workspaceID, dataAgentID, datasourceID, options)
	mapper := func(resp StagingClientListDatasourceFewshotsResponse) []Fewshot {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []Fewshot{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []Fewshot{}, err
	}
	return list, nil
}

// ListDatasources - returns array of DatasourceResponseClassification from all pages.
// >  [!NOTE] Data Agent configuration management is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the DataAgent.
//
// # REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All or DataAgent.Read.All or DataAgent.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataAgentID - The DataAgent ID.
//   - options - StagingClientListDatasourcesOptions contains the optional parameters for the StagingClient.NewListDatasourcesPager method.
func (client *StagingClient) ListDatasources(ctx context.Context, workspaceID string, dataAgentID string, options *StagingClientListDatasourcesOptions) ([]DatasourceResponseClassification, error) {
	pager := client.NewListDatasourcesPager(workspaceID, dataAgentID, options)
	mapper := func(resp StagingClientListDatasourcesResponse) []DatasourceResponseClassification {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []DatasourceResponseClassification{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []DatasourceResponseClassification{}, err
	}
	return list, nil
}
