// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package dashboard

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// NewListDashboardsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have viewer or higher workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// | No | | Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListDashboardsOptions contains the optional parameters for the ItemsClient.NewListDashboardsPager
//     method.
func (client *ItemsClient) NewListDashboardsPager(workspaceID string, options *ItemsClientListDashboardsOptions) *runtime.Pager[ItemsClientListDashboardsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListDashboardsResponse]{
		More: func(page ItemsClientListDashboardsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListDashboardsResponse) (ItemsClientListDashboardsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "dashboard.ItemsClient.NewListDashboardsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDashboardsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListDashboardsResponse{}, err
			}
			return client.listDashboardsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDashboardsCreateRequest creates the ListDashboards request.
func (client *ItemsClient) listDashboardsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListDashboardsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dashboards"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDashboardsHandleResponse handles the ListDashboards response.
func (client *ItemsClient) listDashboardsHandleResponse(resp *http.Response) (ItemsClientListDashboardsResponse, error) {
	result := ItemsClientListDashboardsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Dashboards); err != nil {
		return ItemsClientListDashboardsResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListDashboards - returns array of Dashboard from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have viewer or higher workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] | No | | Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListDashboardsOptions contains the optional parameters for the ItemsClient.NewListDashboardsPager method.
func (client *ItemsClient) ListDashboards(ctx context.Context, workspaceID string, options *ItemsClientListDashboardsOptions) ([]Dashboard, error) {
	pager := client.NewListDashboardsPager(workspaceID, options)
	mapper := func(resp ItemsClientListDashboardsResponse) []Dashboard {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []Dashboard{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []Dashboard{}, err
	}
	return list, nil
}
