// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package userdatafunction

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateUserDataFunction - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create UserDataFunction with a public definition, refer to UserDataFunction [/rest/api/fabric/articles/item-management/definitions/user-data-function]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a UserDataFunction the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createUserDataFunctionRequest - Create item request payload.
//   - options - ItemsClientBeginCreateUserDataFunctionOptions contains the optional parameters for the ItemsClient.BeginCreateUserDataFunction
//     method.
func (client *ItemsClient) BeginCreateUserDataFunction(ctx context.Context, workspaceID string, createUserDataFunctionRequest CreateUserDataFunctionRequest, options *ItemsClientBeginCreateUserDataFunctionOptions) (*runtime.Poller[ItemsClientCreateUserDataFunctionResponse], error) {
	return client.beginCreateUserDataFunction(ctx, workspaceID, createUserDataFunctionRequest, options)
}

// CreateUserDataFunction - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create UserDataFunction with a public definition, refer to UserDataFunction [/rest/api/fabric/articles/item-management/definitions/user-data-function]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a UserDataFunction the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createUserDataFunction(ctx context.Context, workspaceID string, createUserDataFunctionRequest CreateUserDataFunctionRequest, options *ItemsClientBeginCreateUserDataFunctionOptions) (*http.Response, error) {
	var err error
	const operationName = "userdatafunction.ItemsClient.BeginCreateUserDataFunction"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createUserDataFunctionCreateRequest(ctx, workspaceID, createUserDataFunctionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createUserDataFunctionCreateRequest creates the CreateUserDataFunction request.
func (client *ItemsClient) createUserDataFunctionCreateRequest(ctx context.Context, workspaceID string, createUserDataFunctionRequest CreateUserDataFunctionRequest, _ *ItemsClientBeginCreateUserDataFunctionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/UserDataFunctions"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createUserDataFunctionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteUserDataFunction - PERMISSIONS The caller must have write permissions for the UserDataFunction.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - userDataFunctionID - The UserDataFunction ID.
//   - options - ItemsClientDeleteUserDataFunctionOptions contains the optional parameters for the ItemsClient.DeleteUserDataFunction
//     method.
func (client *ItemsClient) DeleteUserDataFunction(ctx context.Context, workspaceID string, userDataFunctionID string, options *ItemsClientDeleteUserDataFunctionOptions) (ItemsClientDeleteUserDataFunctionResponse, error) {
	var err error
	const operationName = "userdatafunction.ItemsClient.DeleteUserDataFunction"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteUserDataFunctionCreateRequest(ctx, workspaceID, userDataFunctionID, options)
	if err != nil {
		return ItemsClientDeleteUserDataFunctionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteUserDataFunctionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteUserDataFunctionResponse{}, err
	}
	return ItemsClientDeleteUserDataFunctionResponse{}, nil
}

// deleteUserDataFunctionCreateRequest creates the DeleteUserDataFunction request.
func (client *ItemsClient) deleteUserDataFunctionCreateRequest(ctx context.Context, workspaceID string, userDataFunctionID string, _ *ItemsClientDeleteUserDataFunctionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/UserDataFunctions/{UserDataFunctionId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if userDataFunctionID == "" {
		return nil, errors.New("parameter userDataFunctionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{UserDataFunctionId}", url.PathEscape(userDataFunctionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetUserDataFunction - PERMISSIONS The caller must have read permissions for the UserDataFunction.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - userDataFunctionID - The UserDataFunction ID.
//   - options - ItemsClientGetUserDataFunctionOptions contains the optional parameters for the ItemsClient.GetUserDataFunction
//     method.
func (client *ItemsClient) GetUserDataFunction(ctx context.Context, workspaceID string, userDataFunctionID string, options *ItemsClientGetUserDataFunctionOptions) (ItemsClientGetUserDataFunctionResponse, error) {
	var err error
	const operationName = "userdatafunction.ItemsClient.GetUserDataFunction"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getUserDataFunctionCreateRequest(ctx, workspaceID, userDataFunctionID, options)
	if err != nil {
		return ItemsClientGetUserDataFunctionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetUserDataFunctionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetUserDataFunctionResponse{}, err
	}
	resp, err := client.getUserDataFunctionHandleResponse(httpResp)
	return resp, err
}

// getUserDataFunctionCreateRequest creates the GetUserDataFunction request.
func (client *ItemsClient) getUserDataFunctionCreateRequest(ctx context.Context, workspaceID string, userDataFunctionID string, _ *ItemsClientGetUserDataFunctionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/UserDataFunctions/{UserDataFunctionId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if userDataFunctionID == "" {
		return nil, errors.New("parameter userDataFunctionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{UserDataFunctionId}", url.PathEscape(userDataFunctionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getUserDataFunctionHandleResponse handles the GetUserDataFunction response.
func (client *ItemsClient) getUserDataFunctionHandleResponse(resp *http.Response) (ItemsClientGetUserDataFunctionResponse, error) {
	result := ItemsClientGetUserDataFunctionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.UserDataFunction); err != nil {
		return ItemsClientGetUserDataFunctionResponse{}, err
	}
	return result, nil
}

// BeginGetUserDataFunctionDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a UserDataFunction's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the UserDataFunction.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - userDataFunctionID - The UserDataFunction ID.
//   - options - ItemsClientBeginGetUserDataFunctionDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetUserDataFunctionDefinition
//     method.
func (client *ItemsClient) BeginGetUserDataFunctionDefinition(ctx context.Context, workspaceID string, userDataFunctionID string, options *ItemsClientBeginGetUserDataFunctionDefinitionOptions) (*runtime.Poller[ItemsClientGetUserDataFunctionDefinitionResponse], error) {
	return client.beginGetUserDataFunctionDefinition(ctx, workspaceID, userDataFunctionID, options)
}

// GetUserDataFunctionDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a UserDataFunction's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the UserDataFunction.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getUserDataFunctionDefinition(ctx context.Context, workspaceID string, userDataFunctionID string, options *ItemsClientBeginGetUserDataFunctionDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "userdatafunction.ItemsClient.BeginGetUserDataFunctionDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getUserDataFunctionDefinitionCreateRequest(ctx, workspaceID, userDataFunctionID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getUserDataFunctionDefinitionCreateRequest creates the GetUserDataFunctionDefinition request.
func (client *ItemsClient) getUserDataFunctionDefinitionCreateRequest(ctx context.Context, workspaceID string, userDataFunctionID string, options *ItemsClientBeginGetUserDataFunctionDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/UserDataFunctions/{UserDataFunctionId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if userDataFunctionID == "" {
		return nil, errors.New("parameter userDataFunctionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{UserDataFunctionId}", url.PathEscape(userDataFunctionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListUserDataFunctionsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListUserDataFunctionsOptions contains the optional parameters for the ItemsClient.NewListUserDataFunctionsPager
//     method.
func (client *ItemsClient) NewListUserDataFunctionsPager(workspaceID string, options *ItemsClientListUserDataFunctionsOptions) *runtime.Pager[ItemsClientListUserDataFunctionsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListUserDataFunctionsResponse]{
		More: func(page ItemsClientListUserDataFunctionsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListUserDataFunctionsResponse) (ItemsClientListUserDataFunctionsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "userdatafunction.ItemsClient.NewListUserDataFunctionsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listUserDataFunctionsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListUserDataFunctionsResponse{}, err
			}
			return client.listUserDataFunctionsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listUserDataFunctionsCreateRequest creates the ListUserDataFunctions request.
func (client *ItemsClient) listUserDataFunctionsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListUserDataFunctionsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/UserDataFunctions"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listUserDataFunctionsHandleResponse handles the ListUserDataFunctions response.
func (client *ItemsClient) listUserDataFunctionsHandleResponse(resp *http.Response) (ItemsClientListUserDataFunctionsResponse, error) {
	result := ItemsClientListUserDataFunctionsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.UserDataFunctions); err != nil {
		return ItemsClientListUserDataFunctionsResponse{}, err
	}
	return result, nil
}

// UpdateUserDataFunction - PERMISSIONS The caller must have read and write permissions for the UserDataFunction.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - userDataFunctionID - The UserDataFunction ID.
//   - updateUserDataFunctionRequest - Update UserDataFunction request payload.
//   - options - ItemsClientUpdateUserDataFunctionOptions contains the optional parameters for the ItemsClient.UpdateUserDataFunction
//     method.
func (client *ItemsClient) UpdateUserDataFunction(ctx context.Context, workspaceID string, userDataFunctionID string, updateUserDataFunctionRequest UpdateUserDataFunctionRequest, options *ItemsClientUpdateUserDataFunctionOptions) (ItemsClientUpdateUserDataFunctionResponse, error) {
	var err error
	const operationName = "userdatafunction.ItemsClient.UpdateUserDataFunction"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateUserDataFunctionCreateRequest(ctx, workspaceID, userDataFunctionID, updateUserDataFunctionRequest, options)
	if err != nil {
		return ItemsClientUpdateUserDataFunctionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateUserDataFunctionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateUserDataFunctionResponse{}, err
	}
	resp, err := client.updateUserDataFunctionHandleResponse(httpResp)
	return resp, err
}

// updateUserDataFunctionCreateRequest creates the UpdateUserDataFunction request.
func (client *ItemsClient) updateUserDataFunctionCreateRequest(ctx context.Context, workspaceID string, userDataFunctionID string, updateUserDataFunctionRequest UpdateUserDataFunctionRequest, _ *ItemsClientUpdateUserDataFunctionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/UserDataFunctions/{UserDataFunctionId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if userDataFunctionID == "" {
		return nil, errors.New("parameter userDataFunctionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{UserDataFunctionId}", url.PathEscape(userDataFunctionID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateUserDataFunctionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateUserDataFunctionHandleResponse handles the UpdateUserDataFunction response.
func (client *ItemsClient) updateUserDataFunctionHandleResponse(resp *http.Response) (ItemsClientUpdateUserDataFunctionResponse, error) {
	result := ItemsClientUpdateUserDataFunctionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.UserDataFunction); err != nil {
		return ItemsClientUpdateUserDataFunctionResponse{}, err
	}
	return result, nil
}

// BeginUpdateUserDataFunctionDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the UserDataFunction's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the UserDataFunction.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - userDataFunctionID - The UserDataFunction ID.
//   - updateUserDataFunctionDefinitionRequest - Update UserDataFunction definition request payload.
//   - options - ItemsClientBeginUpdateUserDataFunctionDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateUserDataFunctionDefinition
//     method.
func (client *ItemsClient) BeginUpdateUserDataFunctionDefinition(ctx context.Context, workspaceID string, userDataFunctionID string, updateUserDataFunctionDefinitionRequest UpdateUserDataFunctionDefinitionRequest, options *ItemsClientBeginUpdateUserDataFunctionDefinitionOptions) (*runtime.Poller[ItemsClientUpdateUserDataFunctionDefinitionResponse], error) {
	return client.beginUpdateUserDataFunctionDefinition(ctx, workspaceID, userDataFunctionID, updateUserDataFunctionDefinitionRequest, options)
}

// UpdateUserDataFunctionDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the UserDataFunction's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the UserDataFunction.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateUserDataFunctionDefinition(ctx context.Context, workspaceID string, userDataFunctionID string, updateUserDataFunctionDefinitionRequest UpdateUserDataFunctionDefinitionRequest, options *ItemsClientBeginUpdateUserDataFunctionDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "userdatafunction.ItemsClient.BeginUpdateUserDataFunctionDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateUserDataFunctionDefinitionCreateRequest(ctx, workspaceID, userDataFunctionID, updateUserDataFunctionDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateUserDataFunctionDefinitionCreateRequest creates the UpdateUserDataFunctionDefinition request.
func (client *ItemsClient) updateUserDataFunctionDefinitionCreateRequest(ctx context.Context, workspaceID string, userDataFunctionID string, updateUserDataFunctionDefinitionRequest UpdateUserDataFunctionDefinitionRequest, options *ItemsClientBeginUpdateUserDataFunctionDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/UserDataFunctions/{UserDataFunctionId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if userDataFunctionID == "" {
		return nil, errors.New("parameter userDataFunctionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{UserDataFunctionId}", url.PathEscape(userDataFunctionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateUserDataFunctionDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateUserDataFunction - returns ItemsClientCreateUserDataFunctionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create UserDataFunction with a public definition, refer to UserDataFunction [/rest/api/fabric/articles/item-management/definitions/user-data-function] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a UserDataFunction the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types
//     [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createUserDataFunctionRequest - Create item request payload.
//   - options - ItemsClientBeginCreateUserDataFunctionOptions contains the optional parameters for the ItemsClient.BeginCreateUserDataFunction method.
func (client *ItemsClient) CreateUserDataFunction(ctx context.Context, workspaceID string, createUserDataFunctionRequest CreateUserDataFunctionRequest, options *ItemsClientBeginCreateUserDataFunctionOptions) (ItemsClientCreateUserDataFunctionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateUserDataFunction(ctx, workspaceID, createUserDataFunctionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateUserDataFunctionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateUserDataFunctionResponse{}, err
	}
	return result, err
}

// beginCreateUserDataFunction creates the createUserDataFunction request.
func (client *ItemsClient) beginCreateUserDataFunction(ctx context.Context, workspaceID string, createUserDataFunctionRequest CreateUserDataFunctionRequest, options *ItemsClientBeginCreateUserDataFunctionOptions) (*runtime.Poller[ItemsClientCreateUserDataFunctionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createUserDataFunction(ctx, workspaceID, createUserDataFunctionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateUserDataFunctionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateUserDataFunctionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateUserDataFunctionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateUserDataFunctionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetUserDataFunctionDefinition - returns ItemsClientGetUserDataFunctionDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a UserDataFunction's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the UserDataFunction.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - userDataFunctionID - The UserDataFunction ID.
//   - options - ItemsClientBeginGetUserDataFunctionDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetUserDataFunctionDefinition method.
func (client *ItemsClient) GetUserDataFunctionDefinition(ctx context.Context, workspaceID string, userDataFunctionID string, options *ItemsClientBeginGetUserDataFunctionDefinitionOptions) (ItemsClientGetUserDataFunctionDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetUserDataFunctionDefinition(ctx, workspaceID, userDataFunctionID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetUserDataFunctionDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetUserDataFunctionDefinitionResponse{}, err
	}
	return result, err
}

// beginGetUserDataFunctionDefinition creates the getUserDataFunctionDefinition request.
func (client *ItemsClient) beginGetUserDataFunctionDefinition(ctx context.Context, workspaceID string, userDataFunctionID string, options *ItemsClientBeginGetUserDataFunctionDefinitionOptions) (*runtime.Poller[ItemsClientGetUserDataFunctionDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getUserDataFunctionDefinition(ctx, workspaceID, userDataFunctionID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetUserDataFunctionDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetUserDataFunctionDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetUserDataFunctionDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetUserDataFunctionDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateUserDataFunctionDefinition - returns ItemsClientUpdateUserDataFunctionDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the UserDataFunction's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the UserDataFunction.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - userDataFunctionID - The UserDataFunction ID.
//   - updateUserDataFunctionDefinitionRequest - Update UserDataFunction definition request payload.
//   - options - ItemsClientBeginUpdateUserDataFunctionDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateUserDataFunctionDefinition method.
func (client *ItemsClient) UpdateUserDataFunctionDefinition(ctx context.Context, workspaceID string, userDataFunctionID string, updateUserDataFunctionDefinitionRequest UpdateUserDataFunctionDefinitionRequest, options *ItemsClientBeginUpdateUserDataFunctionDefinitionOptions) (ItemsClientUpdateUserDataFunctionDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateUserDataFunctionDefinition(ctx, workspaceID, userDataFunctionID, updateUserDataFunctionDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateUserDataFunctionDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateUserDataFunctionDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateUserDataFunctionDefinition creates the updateUserDataFunctionDefinition request.
func (client *ItemsClient) beginUpdateUserDataFunctionDefinition(ctx context.Context, workspaceID string, userDataFunctionID string, updateUserDataFunctionDefinitionRequest UpdateUserDataFunctionDefinitionRequest, options *ItemsClientBeginUpdateUserDataFunctionDefinitionOptions) (*runtime.Poller[ItemsClientUpdateUserDataFunctionDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateUserDataFunctionDefinition(ctx, workspaceID, userDataFunctionID, updateUserDataFunctionDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateUserDataFunctionDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateUserDataFunctionDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateUserDataFunctionDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateUserDataFunctionDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListUserDataFunctions - returns array of UserDataFunction from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListUserDataFunctionsOptions contains the optional parameters for the ItemsClient.NewListUserDataFunctionsPager method.
func (client *ItemsClient) ListUserDataFunctions(ctx context.Context, workspaceID string, options *ItemsClientListUserDataFunctionsOptions) ([]UserDataFunction, error) {
	pager := client.NewListUserDataFunctionsPager(workspaceID, options)
	mapper := func(resp ItemsClientListUserDataFunctionsResponse) []UserDataFunction {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []UserDataFunction{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []UserDataFunction{}, err
	}
	return list, nil
}
