// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package graphmodel

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// BackgroundJobsClient contains the methods for the BackgroundJobs group.
// Don't use this type directly, use a constructor function instead.
type BackgroundJobsClient struct {
	internal *azcore.Client
	endpoint string
}

// RunOnDemandRefreshGraph - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// REQUIRED DELEGATED SCOPES GraphModel.Execute.All or Item.Execute.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel item ID.
//   - options - BackgroundJobsClientRunOnDemandRefreshGraphOptions contains the optional parameters for the BackgroundJobsClient.RunOnDemandRefreshGraph
//     method.
func (client *BackgroundJobsClient) RunOnDemandRefreshGraph(ctx context.Context, workspaceID string, graphModelID string, options *BackgroundJobsClientRunOnDemandRefreshGraphOptions) (BackgroundJobsClientRunOnDemandRefreshGraphResponse, error) {
	var err error
	const operationName = "graphmodel.BackgroundJobsClient.RunOnDemandRefreshGraph"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.runOnDemandRefreshGraphCreateRequest(ctx, workspaceID, graphModelID, options)
	if err != nil {
		return BackgroundJobsClientRunOnDemandRefreshGraphResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackgroundJobsClientRunOnDemandRefreshGraphResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return BackgroundJobsClientRunOnDemandRefreshGraphResponse{}, err
	}
	resp, err := client.runOnDemandRefreshGraphHandleResponse(httpResp)
	return resp, err
}

// runOnDemandRefreshGraphCreateRequest creates the RunOnDemandRefreshGraph request.
func (client *BackgroundJobsClient) runOnDemandRefreshGraphCreateRequest(ctx context.Context, workspaceID string, graphModelID string, _ *BackgroundJobsClientRunOnDemandRefreshGraphOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels/{GraphModelId}/jobs/RefreshGraph/instances"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphModelID == "" {
		return nil, errors.New("parameter graphModelID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphModelId}", url.PathEscape(graphModelID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// runOnDemandRefreshGraphHandleResponse handles the RunOnDemandRefreshGraph response.
func (client *BackgroundJobsClient) runOnDemandRefreshGraphHandleResponse(resp *http.Response) (BackgroundJobsClientRunOnDemandRefreshGraphResponse, error) {
	result := BackgroundJobsClientRunOnDemandRefreshGraphResponse{}
	if val := resp.Header.Get("Location"); val != "" {
		result.Location = &val
	}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return BackgroundJobsClientRunOnDemandRefreshGraphResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	return result, nil
}

// Custom code starts below
