// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package graphmodel

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateGraphModel - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create GraphModel with a public definition, refer to GraphModel [/rest/api/fabric/articles/item-management/definitions/graph-model-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a GraphModel the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createGraphModelRequest - Create item request payload.
//   - options - ItemsClientBeginCreateGraphModelOptions contains the optional parameters for the ItemsClient.BeginCreateGraphModel
//     method.
func (client *ItemsClient) BeginCreateGraphModel(ctx context.Context, workspaceID string, createGraphModelRequest CreateGraphModelRequest, options *ItemsClientBeginCreateGraphModelOptions) (*runtime.Poller[ItemsClientCreateGraphModelResponse], error) {
	return client.beginCreateGraphModel(ctx, workspaceID, createGraphModelRequest, options)
}

// CreateGraphModel - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create GraphModel with a public definition, refer to GraphModel [/rest/api/fabric/articles/item-management/definitions/graph-model-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a GraphModel the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createGraphModel(ctx context.Context, workspaceID string, createGraphModelRequest CreateGraphModelRequest, options *ItemsClientBeginCreateGraphModelOptions) (*http.Response, error) {
	var err error
	const operationName = "graphmodel.ItemsClient.BeginCreateGraphModel"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createGraphModelCreateRequest(ctx, workspaceID, createGraphModelRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createGraphModelCreateRequest creates the CreateGraphModel request.
func (client *ItemsClient) createGraphModelCreateRequest(ctx context.Context, workspaceID string, createGraphModelRequest CreateGraphModelRequest, _ *ItemsClientBeginCreateGraphModelOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createGraphModelRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteGraphModel - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the GraphModel.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - options - ItemsClientDeleteGraphModelOptions contains the optional parameters for the ItemsClient.DeleteGraphModel method.
func (client *ItemsClient) DeleteGraphModel(ctx context.Context, workspaceID string, graphModelID string, options *ItemsClientDeleteGraphModelOptions) (ItemsClientDeleteGraphModelResponse, error) {
	var err error
	const operationName = "graphmodel.ItemsClient.DeleteGraphModel"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteGraphModelCreateRequest(ctx, workspaceID, graphModelID, options)
	if err != nil {
		return ItemsClientDeleteGraphModelResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteGraphModelResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteGraphModelResponse{}, err
	}
	return ItemsClientDeleteGraphModelResponse{}, nil
}

// deleteGraphModelCreateRequest creates the DeleteGraphModel request.
func (client *ItemsClient) deleteGraphModelCreateRequest(ctx context.Context, workspaceID string, graphModelID string, _ *ItemsClientDeleteGraphModelOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels/{GraphModelId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphModelID == "" {
		return nil, errors.New("parameter graphModelID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphModelId}", url.PathEscape(graphModelID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// ExecuteQueryPreview - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]). This
// API is part of a Beta release and is provided for evaluation and development purposes only. It may
// change based on feedback and is not recommended for production use. When calling this API, callers must specify true as
// the value for the query parameter beta (preview query parameter has been
// replaced by beta. For backward compatibility, preview is still supported and behaves the same as beta).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - createQueryResultRequest - Execute query request payload.
//   - options - ItemsClientExecuteQueryPreviewOptions contains the optional parameters for the ItemsClient.ExecuteQueryPreview
//     method.
func (client *ItemsClient) ExecuteQueryPreview(ctx context.Context, workspaceID string, graphModelID string, beta bool, createQueryResultRequest ExecuteQueryRequest, options *ItemsClientExecuteQueryPreviewOptions) (ItemsClientExecuteQueryPreviewResponse, error) {
	var err error
	const operationName = "graphmodel.ItemsClient.ExecuteQueryPreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.executeQueryPreviewCreateRequest(ctx, workspaceID, graphModelID, beta, createQueryResultRequest, options)
	if err != nil {
		return ItemsClientExecuteQueryPreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientExecuteQueryPreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientExecuteQueryPreviewResponse{}, err
	}
	return ItemsClientExecuteQueryPreviewResponse{Body: httpResp.Body}, nil
}

// executeQueryPreviewCreateRequest creates the ExecuteQueryPreview request.
func (client *ItemsClient) executeQueryPreviewCreateRequest(ctx context.Context, workspaceID string, graphModelID string, beta bool, createQueryResultRequest ExecuteQueryRequest, _ *ItemsClientExecuteQueryPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels/{GraphModelId}/executeQuery"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphModelID == "" {
		return nil, errors.New("parameter graphModelID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphModelId}", url.PathEscape(graphModelID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	runtime.SkipBodyDownload(req)
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createQueryResultRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// GetGraphModel - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the GraphModel.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - options - ItemsClientGetGraphModelOptions contains the optional parameters for the ItemsClient.GetGraphModel method.
func (client *ItemsClient) GetGraphModel(ctx context.Context, workspaceID string, graphModelID string, options *ItemsClientGetGraphModelOptions) (ItemsClientGetGraphModelResponse, error) {
	var err error
	const operationName = "graphmodel.ItemsClient.GetGraphModel"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getGraphModelCreateRequest(ctx, workspaceID, graphModelID, options)
	if err != nil {
		return ItemsClientGetGraphModelResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetGraphModelResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetGraphModelResponse{}, err
	}
	resp, err := client.getGraphModelHandleResponse(httpResp)
	return resp, err
}

// getGraphModelCreateRequest creates the GetGraphModel request.
func (client *ItemsClient) getGraphModelCreateRequest(ctx context.Context, workspaceID string, graphModelID string, _ *ItemsClientGetGraphModelOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels/{GraphModelId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphModelID == "" {
		return nil, errors.New("parameter graphModelID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphModelId}", url.PathEscape(graphModelID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getGraphModelHandleResponse handles the GetGraphModel response.
func (client *ItemsClient) getGraphModelHandleResponse(resp *http.Response) (ItemsClientGetGraphModelResponse, error) {
	result := ItemsClientGetGraphModelResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GraphModel); err != nil {
		return ItemsClientGetGraphModelResponse{}, err
	}
	return result, nil
}

// BeginGetGraphModelDefinition - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a GraphModel's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the GraphModel.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - options - ItemsClientBeginGetGraphModelDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetGraphModelDefinition
//     method.
func (client *ItemsClient) BeginGetGraphModelDefinition(ctx context.Context, workspaceID string, graphModelID string, options *ItemsClientBeginGetGraphModelDefinitionOptions) (*runtime.Poller[ItemsClientGetGraphModelDefinitionResponse], error) {
	return client.beginGetGraphModelDefinition(ctx, workspaceID, graphModelID, options)
}

// GetGraphModelDefinition - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a GraphModel's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the GraphModel.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getGraphModelDefinition(ctx context.Context, workspaceID string, graphModelID string, options *ItemsClientBeginGetGraphModelDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "graphmodel.ItemsClient.BeginGetGraphModelDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getGraphModelDefinitionCreateRequest(ctx, workspaceID, graphModelID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getGraphModelDefinitionCreateRequest creates the GetGraphModelDefinition request.
func (client *ItemsClient) getGraphModelDefinitionCreateRequest(ctx context.Context, workspaceID string, graphModelID string, options *ItemsClientBeginGetGraphModelDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels/{GraphModelId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphModelID == "" {
		return nil, errors.New("parameter graphModelID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphModelId}", url.PathEscape(graphModelID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetQueryableGraphTypePreview - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API is part of a Beta release and is provided for evaluation and development purposes only. It may
// change based on feedback and is not recommended for production use. When calling this API, callers must specify true as
// the value for the query parameter beta (preview query parameter has been
// replaced by beta. For backward compatibility, preview is still supported and behaves the same as beta).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role. The caller must have read permissions for the graph model.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - ItemsClientGetQueryableGraphTypePreviewOptions contains the optional parameters for the ItemsClient.GetQueryableGraphTypePreview
//     method.
func (client *ItemsClient) GetQueryableGraphTypePreview(ctx context.Context, workspaceID string, graphModelID string, beta bool, options *ItemsClientGetQueryableGraphTypePreviewOptions) (ItemsClientGetQueryableGraphTypePreviewResponse, error) {
	var err error
	const operationName = "graphmodel.ItemsClient.GetQueryableGraphTypePreview"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getQueryableGraphTypePreviewCreateRequest(ctx, workspaceID, graphModelID, beta, options)
	if err != nil {
		return ItemsClientGetQueryableGraphTypePreviewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetQueryableGraphTypePreviewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetQueryableGraphTypePreviewResponse{}, err
	}
	resp, err := client.getQueryableGraphTypePreviewHandleResponse(httpResp)
	return resp, err
}

// getQueryableGraphTypePreviewCreateRequest creates the GetQueryableGraphTypePreview request.
func (client *ItemsClient) getQueryableGraphTypePreviewCreateRequest(ctx context.Context, workspaceID string, graphModelID string, beta bool, _ *ItemsClientGetQueryableGraphTypePreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels/{GraphModelId}/getQueryableGraphType"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphModelID == "" {
		return nil, errors.New("parameter graphModelID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphModelId}", url.PathEscape(graphModelID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getQueryableGraphTypePreviewHandleResponse handles the GetQueryableGraphTypePreview response.
func (client *ItemsClient) getQueryableGraphTypePreviewHandleResponse(resp *http.Response) (ItemsClientGetQueryableGraphTypePreviewResponse, error) {
	result := ItemsClientGetQueryableGraphTypePreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GraphType); err != nil {
		return ItemsClientGetQueryableGraphTypePreviewResponse{}, err
	}
	return result, nil
}

// NewListGraphModelsPager - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListGraphModelsOptions contains the optional parameters for the ItemsClient.NewListGraphModelsPager
//     method.
func (client *ItemsClient) NewListGraphModelsPager(workspaceID string, options *ItemsClientListGraphModelsOptions) *runtime.Pager[ItemsClientListGraphModelsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListGraphModelsResponse]{
		More: func(page ItemsClientListGraphModelsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListGraphModelsResponse) (ItemsClientListGraphModelsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "graphmodel.ItemsClient.NewListGraphModelsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listGraphModelsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListGraphModelsResponse{}, err
			}
			return client.listGraphModelsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listGraphModelsCreateRequest creates the ListGraphModels request.
func (client *ItemsClient) listGraphModelsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListGraphModelsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listGraphModelsHandleResponse handles the ListGraphModels response.
func (client *ItemsClient) listGraphModelsHandleResponse(resp *http.Response) (ItemsClientListGraphModelsResponse, error) {
	result := ItemsClientListGraphModelsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GraphModels); err != nil {
		return ItemsClientListGraphModelsResponse{}, err
	}
	return result, nil
}

// UpdateGraphModel - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the GraphModel.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - updateGraphModelRequest - Update GraphModel request payload.
//   - options - ItemsClientUpdateGraphModelOptions contains the optional parameters for the ItemsClient.UpdateGraphModel method.
func (client *ItemsClient) UpdateGraphModel(ctx context.Context, workspaceID string, graphModelID string, updateGraphModelRequest UpdateGraphModelRequest, options *ItemsClientUpdateGraphModelOptions) (ItemsClientUpdateGraphModelResponse, error) {
	var err error
	const operationName = "graphmodel.ItemsClient.UpdateGraphModel"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateGraphModelCreateRequest(ctx, workspaceID, graphModelID, updateGraphModelRequest, options)
	if err != nil {
		return ItemsClientUpdateGraphModelResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateGraphModelResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateGraphModelResponse{}, err
	}
	resp, err := client.updateGraphModelHandleResponse(httpResp)
	return resp, err
}

// updateGraphModelCreateRequest creates the UpdateGraphModel request.
func (client *ItemsClient) updateGraphModelCreateRequest(ctx context.Context, workspaceID string, graphModelID string, updateGraphModelRequest UpdateGraphModelRequest, _ *ItemsClientUpdateGraphModelOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels/{GraphModelId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphModelID == "" {
		return nil, errors.New("parameter graphModelID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphModelId}", url.PathEscape(graphModelID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateGraphModelRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateGraphModelHandleResponse handles the UpdateGraphModel response.
func (client *ItemsClient) updateGraphModelHandleResponse(resp *http.Response) (ItemsClientUpdateGraphModelResponse, error) {
	result := ItemsClientUpdateGraphModelResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GraphModel); err != nil {
		return ItemsClientUpdateGraphModelResponse{}, err
	}
	return result, nil
}

// BeginUpdateGraphModelDefinition - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the GraphModel's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the GraphModel.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - updateGraphModelDefinitionRequest - Update GraphModel definition request payload.
//   - options - ItemsClientBeginUpdateGraphModelDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateGraphModelDefinition
//     method.
func (client *ItemsClient) BeginUpdateGraphModelDefinition(ctx context.Context, workspaceID string, graphModelID string, updateGraphModelDefinitionRequest UpdateGraphModelDefinitionRequest, options *ItemsClientBeginUpdateGraphModelDefinitionOptions) (*runtime.Poller[ItemsClientUpdateGraphModelDefinitionResponse], error) {
	return client.beginUpdateGraphModelDefinition(ctx, workspaceID, graphModelID, updateGraphModelDefinitionRequest, options)
}

// UpdateGraphModelDefinition - > [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the GraphModel's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the GraphModel.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateGraphModelDefinition(ctx context.Context, workspaceID string, graphModelID string, updateGraphModelDefinitionRequest UpdateGraphModelDefinitionRequest, options *ItemsClientBeginUpdateGraphModelDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "graphmodel.ItemsClient.BeginUpdateGraphModelDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateGraphModelDefinitionCreateRequest(ctx, workspaceID, graphModelID, updateGraphModelDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateGraphModelDefinitionCreateRequest creates the UpdateGraphModelDefinition request.
func (client *ItemsClient) updateGraphModelDefinitionCreateRequest(ctx context.Context, workspaceID string, graphModelID string, updateGraphModelDefinitionRequest UpdateGraphModelDefinitionRequest, options *ItemsClientBeginUpdateGraphModelDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphModels/{GraphModelId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphModelID == "" {
		return nil, errors.New("parameter graphModelID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphModelId}", url.PathEscape(graphModelID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateGraphModelDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateGraphModel - returns ItemsClientCreateGraphModelResponse in sync mode.
// >  [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create GraphModel with a public definition, refer to GraphModel [/rest/api/fabric/articles/item-management/definitions/graph-model-definition] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a GraphModel the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createGraphModelRequest - Create item request payload.
//   - options - ItemsClientBeginCreateGraphModelOptions contains the optional parameters for the ItemsClient.BeginCreateGraphModel method.
func (client *ItemsClient) CreateGraphModel(ctx context.Context, workspaceID string, createGraphModelRequest CreateGraphModelRequest, options *ItemsClientBeginCreateGraphModelOptions) (ItemsClientCreateGraphModelResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateGraphModel(ctx, workspaceID, createGraphModelRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateGraphModelResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateGraphModelResponse{}, err
	}
	return result, err
}

// beginCreateGraphModel creates the createGraphModel request.
func (client *ItemsClient) beginCreateGraphModel(ctx context.Context, workspaceID string, createGraphModelRequest CreateGraphModelRequest, options *ItemsClientBeginCreateGraphModelOptions) (*runtime.Poller[ItemsClientCreateGraphModelResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createGraphModel(ctx, workspaceID, createGraphModelRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateGraphModelResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateGraphModelResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateGraphModelResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateGraphModelResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetGraphModelDefinition - returns ItemsClientGetGraphModelDefinitionResponse in sync mode.
// >  [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a GraphModel's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the GraphModel.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - options - ItemsClientBeginGetGraphModelDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetGraphModelDefinition method.
func (client *ItemsClient) GetGraphModelDefinition(ctx context.Context, workspaceID string, graphModelID string, options *ItemsClientBeginGetGraphModelDefinitionOptions) (ItemsClientGetGraphModelDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetGraphModelDefinition(ctx, workspaceID, graphModelID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetGraphModelDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetGraphModelDefinitionResponse{}, err
	}
	return result, err
}

// beginGetGraphModelDefinition creates the getGraphModelDefinition request.
func (client *ItemsClient) beginGetGraphModelDefinition(ctx context.Context, workspaceID string, graphModelID string, options *ItemsClientBeginGetGraphModelDefinitionOptions) (*runtime.Poller[ItemsClientGetGraphModelDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getGraphModelDefinition(ctx, workspaceID, graphModelID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetGraphModelDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetGraphModelDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetGraphModelDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetGraphModelDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateGraphModelDefinition - returns ItemsClientUpdateGraphModelDefinitionResponse in sync mode.
// >  [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the GraphModel's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the GraphModel.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphModelID - The GraphModel ID.
//   - updateGraphModelDefinitionRequest - Update GraphModel definition request payload.
//   - options - ItemsClientBeginUpdateGraphModelDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateGraphModelDefinition method.
func (client *ItemsClient) UpdateGraphModelDefinition(ctx context.Context, workspaceID string, graphModelID string, updateGraphModelDefinitionRequest UpdateGraphModelDefinitionRequest, options *ItemsClientBeginUpdateGraphModelDefinitionOptions) (ItemsClientUpdateGraphModelDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateGraphModelDefinition(ctx, workspaceID, graphModelID, updateGraphModelDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateGraphModelDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateGraphModelDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateGraphModelDefinition creates the updateGraphModelDefinition request.
func (client *ItemsClient) beginUpdateGraphModelDefinition(ctx context.Context, workspaceID string, graphModelID string, updateGraphModelDefinitionRequest UpdateGraphModelDefinitionRequest, options *ItemsClientBeginUpdateGraphModelDefinitionOptions) (*runtime.Poller[ItemsClientUpdateGraphModelDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateGraphModelDefinition(ctx, workspaceID, graphModelID, updateGraphModelDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateGraphModelDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateGraphModelDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateGraphModelDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateGraphModelDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListGraphModels - returns array of GraphModel from all pages.
// >  [!NOTE] GraphModel item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListGraphModelsOptions contains the optional parameters for the ItemsClient.NewListGraphModelsPager method.
func (client *ItemsClient) ListGraphModels(ctx context.Context, workspaceID string, options *ItemsClientListGraphModelsOptions) ([]GraphModel, error) {
	pager := client.NewListGraphModelsPager(workspaceID, options)
	mapper := func(resp ItemsClientListGraphModelsResponse) []GraphModel {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []GraphModel{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []GraphModel{}, err
	}
	return list, nil
}
