// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package realtimeintelligence

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// CopilotClient contains the methods for the Copilot group.
// Don't use this type directly, use a constructor function instead.
type CopilotClient struct {
	internal *azcore.Client
	endpoint string
}

// NLToKQLBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes only.
// It may change based on feedback and is not recommended for production use. When calling this
// API, callers must specify true as the value for the query parameter beta.
// It may change based on feedback and is not recommended for production use.
// PERMISSIONS The caller must have reader or higher permission on the item specified by itemIdForBilling.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - nlToKqlRequest - NlToKql request payload.
//   - options - CopilotClientNLToKQLBetaOptions contains the optional parameters for the CopilotClient.NLToKQLBeta method.
func (client *CopilotClient) NLToKQLBeta(ctx context.Context, workspaceID string, beta bool, nlToKqlRequest NlToKqlRequest, options *CopilotClientNLToKQLBetaOptions) (CopilotClientNLToKQLBetaResponse, error) {
	var err error
	const operationName = "realtimeintelligence.CopilotClient.NLToKQLBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.nlToKQLBetaCreateRequest(ctx, workspaceID, beta, nlToKqlRequest, options)
	if err != nil {
		return CopilotClientNLToKQLBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CopilotClientNLToKQLBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return CopilotClientNLToKQLBetaResponse{}, err
	}
	resp, err := client.nlToKQLBetaHandleResponse(httpResp)
	return resp, err
}

// nlToKQLBetaCreateRequest creates the NLToKQLBeta request.
func (client *CopilotClient) nlToKQLBetaCreateRequest(ctx context.Context, workspaceID string, beta bool, nlToKqlRequest NlToKqlRequest, _ *CopilotClientNLToKQLBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/realtimeintelligence/nltokql"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, nlToKqlRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// nlToKQLBetaHandleResponse handles the NLToKQLBeta response.
func (client *CopilotClient) nlToKQLBetaHandleResponse(resp *http.Response) (CopilotClientNLToKQLBetaResponse, error) {
	result := CopilotClientNLToKQLBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.NlToKqlResponse); err != nil {
		return CopilotClientNLToKQLBetaResponse{}, err
	}
	return result, nil
}

// Custom code starts below
