// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package maps

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateMap - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create Map with a public definition, refer to Map [/rest/api/fabric/articles/item-management/definitions/map-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a Map the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license
// types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createMapRequest - Create item request payload.
//   - options - ItemsClientBeginCreateMapOptions contains the optional parameters for the ItemsClient.BeginCreateMap method.
func (client *ItemsClient) BeginCreateMap(ctx context.Context, workspaceID string, createMapRequest CreateMapRequest, options *ItemsClientBeginCreateMapOptions) (*runtime.Poller[ItemsClientCreateMapResponse], error) {
	return client.beginCreateMap(ctx, workspaceID, createMapRequest, options)
}

// CreateMap - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create Map with a public definition, refer to Map [/rest/api/fabric/articles/item-management/definitions/map-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a Map the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license
// types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createMap(ctx context.Context, workspaceID string, createMapRequest CreateMapRequest, options *ItemsClientBeginCreateMapOptions) (*http.Response, error) {
	var err error
	const operationName = "maps.ItemsClient.BeginCreateMap"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createMapCreateRequest(ctx, workspaceID, createMapRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createMapCreateRequest creates the CreateMap request.
func (client *ItemsClient) createMapCreateRequest(ctx context.Context, workspaceID string, createMapRequest CreateMapRequest, _ *ItemsClientBeginCreateMapOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/Maps"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createMapRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteMap - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the Map.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mapID - The Map ID.
//   - options - ItemsClientDeleteMapOptions contains the optional parameters for the ItemsClient.DeleteMap method.
func (client *ItemsClient) DeleteMap(ctx context.Context, workspaceID string, mapID string, options *ItemsClientDeleteMapOptions) (ItemsClientDeleteMapResponse, error) {
	var err error
	const operationName = "maps.ItemsClient.DeleteMap"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteMapCreateRequest(ctx, workspaceID, mapID, options)
	if err != nil {
		return ItemsClientDeleteMapResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteMapResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteMapResponse{}, err
	}
	return ItemsClientDeleteMapResponse{}, nil
}

// deleteMapCreateRequest creates the DeleteMap request.
func (client *ItemsClient) deleteMapCreateRequest(ctx context.Context, workspaceID string, mapID string, _ *ItemsClientDeleteMapOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/Maps/{MapId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mapID == "" {
		return nil, errors.New("parameter mapID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{MapId}", url.PathEscape(mapID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetMap - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the Map.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mapID - The Map ID.
//   - options - ItemsClientGetMapOptions contains the optional parameters for the ItemsClient.GetMap method.
func (client *ItemsClient) GetMap(ctx context.Context, workspaceID string, mapID string, options *ItemsClientGetMapOptions) (ItemsClientGetMapResponse, error) {
	var err error
	const operationName = "maps.ItemsClient.GetMap"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getMapCreateRequest(ctx, workspaceID, mapID, options)
	if err != nil {
		return ItemsClientGetMapResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetMapResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetMapResponse{}, err
	}
	resp, err := client.getMapHandleResponse(httpResp)
	return resp, err
}

// getMapCreateRequest creates the GetMap request.
func (client *ItemsClient) getMapCreateRequest(ctx context.Context, workspaceID string, mapID string, _ *ItemsClientGetMapOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/Maps/{MapId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mapID == "" {
		return nil, errors.New("parameter mapID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{MapId}", url.PathEscape(mapID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getMapHandleResponse handles the GetMap response.
func (client *ItemsClient) getMapHandleResponse(resp *http.Response) (ItemsClientGetMapResponse, error) {
	result := ItemsClientGetMapResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Map); err != nil {
		return ItemsClientGetMapResponse{}, err
	}
	return result, nil
}

// BeginGetMapDefinition - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a Map's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the Map.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mapID - The Map ID.
//   - options - ItemsClientBeginGetMapDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetMapDefinition
//     method.
func (client *ItemsClient) BeginGetMapDefinition(ctx context.Context, workspaceID string, mapID string, options *ItemsClientBeginGetMapDefinitionOptions) (*runtime.Poller[ItemsClientGetMapDefinitionResponse], error) {
	return client.beginGetMapDefinition(ctx, workspaceID, mapID, options)
}

// GetMapDefinition - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a Map's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the Map.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getMapDefinition(ctx context.Context, workspaceID string, mapID string, options *ItemsClientBeginGetMapDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "maps.ItemsClient.BeginGetMapDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getMapDefinitionCreateRequest(ctx, workspaceID, mapID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getMapDefinitionCreateRequest creates the GetMapDefinition request.
func (client *ItemsClient) getMapDefinitionCreateRequest(ctx context.Context, workspaceID string, mapID string, options *ItemsClientBeginGetMapDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/Maps/{MapId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mapID == "" {
		return nil, errors.New("parameter mapID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{MapId}", url.PathEscape(mapID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListMapsPager - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListMapsOptions contains the optional parameters for the ItemsClient.NewListMapsPager method.
func (client *ItemsClient) NewListMapsPager(workspaceID string, options *ItemsClientListMapsOptions) *runtime.Pager[ItemsClientListMapsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListMapsResponse]{
		More: func(page ItemsClientListMapsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListMapsResponse) (ItemsClientListMapsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "maps.ItemsClient.NewListMapsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listMapsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListMapsResponse{}, err
			}
			return client.listMapsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listMapsCreateRequest creates the ListMaps request.
func (client *ItemsClient) listMapsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListMapsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/Maps"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listMapsHandleResponse handles the ListMaps response.
func (client *ItemsClient) listMapsHandleResponse(resp *http.Response) (ItemsClientListMapsResponse, error) {
	result := ItemsClientListMapsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Maps); err != nil {
		return ItemsClientListMapsResponse{}, err
	}
	return result, nil
}

// UpdateMap - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the Map.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mapID - The Map ID.
//   - updateMapRequest - Update Map request payload.
//   - options - ItemsClientUpdateMapOptions contains the optional parameters for the ItemsClient.UpdateMap method.
func (client *ItemsClient) UpdateMap(ctx context.Context, workspaceID string, mapID string, updateMapRequest UpdateMapRequest, options *ItemsClientUpdateMapOptions) (ItemsClientUpdateMapResponse, error) {
	var err error
	const operationName = "maps.ItemsClient.UpdateMap"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateMapCreateRequest(ctx, workspaceID, mapID, updateMapRequest, options)
	if err != nil {
		return ItemsClientUpdateMapResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateMapResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateMapResponse{}, err
	}
	resp, err := client.updateMapHandleResponse(httpResp)
	return resp, err
}

// updateMapCreateRequest creates the UpdateMap request.
func (client *ItemsClient) updateMapCreateRequest(ctx context.Context, workspaceID string, mapID string, updateMapRequest UpdateMapRequest, _ *ItemsClientUpdateMapOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/Maps/{MapId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mapID == "" {
		return nil, errors.New("parameter mapID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{MapId}", url.PathEscape(mapID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateMapRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateMapHandleResponse handles the UpdateMap response.
func (client *ItemsClient) updateMapHandleResponse(resp *http.Response) (ItemsClientUpdateMapResponse, error) {
	result := ItemsClientUpdateMapResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Map); err != nil {
		return ItemsClientUpdateMapResponse{}, err
	}
	return result, nil
}

// BeginUpdateMapDefinition - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the Map's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the Map.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mapID - The Map ID.
//   - updateMapDefinitionRequest - Update Map definition request payload.
//   - options - ItemsClientBeginUpdateMapDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateMapDefinition
//     method.
func (client *ItemsClient) BeginUpdateMapDefinition(ctx context.Context, workspaceID string, mapID string, updateMapDefinitionRequest UpdateMapDefinitionRequest, options *ItemsClientBeginUpdateMapDefinitionOptions) (*runtime.Poller[ItemsClientUpdateMapDefinitionResponse], error) {
	return client.beginUpdateMapDefinition(ctx, workspaceID, mapID, updateMapDefinitionRequest, options)
}

// UpdateMapDefinition - > [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the Map's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the Map.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateMapDefinition(ctx context.Context, workspaceID string, mapID string, updateMapDefinitionRequest UpdateMapDefinitionRequest, options *ItemsClientBeginUpdateMapDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "maps.ItemsClient.BeginUpdateMapDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateMapDefinitionCreateRequest(ctx, workspaceID, mapID, updateMapDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateMapDefinitionCreateRequest creates the UpdateMapDefinition request.
func (client *ItemsClient) updateMapDefinitionCreateRequest(ctx context.Context, workspaceID string, mapID string, updateMapDefinitionRequest UpdateMapDefinitionRequest, options *ItemsClientBeginUpdateMapDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/Maps/{MapId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if mapID == "" {
		return nil, errors.New("parameter mapID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{MapId}", url.PathEscape(mapID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateMapDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateMap - returns ItemsClientCreateMapResponse in sync mode.
// >  [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create Map with a public definition, refer to Map [/rest/api/fabric/articles/item-management/definitions/map-definition] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a Map the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createMapRequest - Create item request payload.
//   - options - ItemsClientBeginCreateMapOptions contains the optional parameters for the ItemsClient.BeginCreateMap method.
func (client *ItemsClient) CreateMap(ctx context.Context, workspaceID string, createMapRequest CreateMapRequest, options *ItemsClientBeginCreateMapOptions) (ItemsClientCreateMapResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateMap(ctx, workspaceID, createMapRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateMapResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateMapResponse{}, err
	}
	return result, err
}

// beginCreateMap creates the createMap request.
func (client *ItemsClient) beginCreateMap(ctx context.Context, workspaceID string, createMapRequest CreateMapRequest, options *ItemsClientBeginCreateMapOptions) (*runtime.Poller[ItemsClientCreateMapResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createMap(ctx, workspaceID, createMapRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateMapResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateMapResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateMapResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateMapResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetMapDefinition - returns ItemsClientGetMapDefinitionResponse in sync mode.
// >  [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a Map's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the Map.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mapID - The Map ID.
//   - options - ItemsClientBeginGetMapDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetMapDefinition method.
func (client *ItemsClient) GetMapDefinition(ctx context.Context, workspaceID string, mapID string, options *ItemsClientBeginGetMapDefinitionOptions) (ItemsClientGetMapDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetMapDefinition(ctx, workspaceID, mapID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetMapDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetMapDefinitionResponse{}, err
	}
	return result, err
}

// beginGetMapDefinition creates the getMapDefinition request.
func (client *ItemsClient) beginGetMapDefinition(ctx context.Context, workspaceID string, mapID string, options *ItemsClientBeginGetMapDefinitionOptions) (*runtime.Poller[ItemsClientGetMapDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getMapDefinition(ctx, workspaceID, mapID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetMapDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetMapDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetMapDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetMapDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateMapDefinition - returns ItemsClientUpdateMapDefinitionResponse in sync mode.
// >  [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the Map's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the Map.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - mapID - The Map ID.
//   - updateMapDefinitionRequest - Update Map definition request payload.
//   - options - ItemsClientBeginUpdateMapDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateMapDefinition method.
func (client *ItemsClient) UpdateMapDefinition(ctx context.Context, workspaceID string, mapID string, updateMapDefinitionRequest UpdateMapDefinitionRequest, options *ItemsClientBeginUpdateMapDefinitionOptions) (ItemsClientUpdateMapDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateMapDefinition(ctx, workspaceID, mapID, updateMapDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateMapDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateMapDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateMapDefinition creates the updateMapDefinition request.
func (client *ItemsClient) beginUpdateMapDefinition(ctx context.Context, workspaceID string, mapID string, updateMapDefinitionRequest UpdateMapDefinitionRequest, options *ItemsClientBeginUpdateMapDefinitionOptions) (*runtime.Poller[ItemsClientUpdateMapDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateMapDefinition(ctx, workspaceID, mapID, updateMapDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateMapDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateMapDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateMapDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateMapDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListMaps - returns array of Map from all pages.
// >  [!NOTE] Map item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListMapsOptions contains the optional parameters for the ItemsClient.NewListMapsPager method.
func (client *ItemsClient) ListMaps(ctx context.Context, workspaceID string, options *ItemsClientListMapsOptions) ([]Map, error) {
	pager := client.NewListMapsPager(workspaceID, options)
	mapper := func(resp ItemsClientListMapsResponse) []Map {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []Map{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []Map{}, err
	}
	return list, nil
}
