// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package eventschemaset

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateEventSchemaSet - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create an EventSchemaSet with a public definition, refer to EventSchemaSet [/rest/api/fabric/articles/item-management/definitions/event-schema-set]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a EventSchemaSet the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createEventSchemaSetRequest - Create item request payload.
//   - options - ItemsClientBeginCreateEventSchemaSetOptions contains the optional parameters for the ItemsClient.BeginCreateEventSchemaSet
//     method.
func (client *ItemsClient) BeginCreateEventSchemaSet(ctx context.Context, workspaceID string, createEventSchemaSetRequest CreateEventSchemaSetRequest, options *ItemsClientBeginCreateEventSchemaSetOptions) (*runtime.Poller[ItemsClientCreateEventSchemaSetResponse], error) {
	return client.beginCreateEventSchemaSet(ctx, workspaceID, createEventSchemaSetRequest, options)
}

// CreateEventSchemaSet - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create an EventSchemaSet with a public definition, refer to EventSchemaSet [/rest/api/fabric/articles/item-management/definitions/event-schema-set]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create a EventSchemaSet the workspace must be on a supported Fabric capacity. For more information see: Microsoft
// Fabric license types
// [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createEventSchemaSet(ctx context.Context, workspaceID string, createEventSchemaSetRequest CreateEventSchemaSetRequest, options *ItemsClientBeginCreateEventSchemaSetOptions) (*http.Response, error) {
	var err error
	const operationName = "eventschemaset.ItemsClient.BeginCreateEventSchemaSet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createEventSchemaSetCreateRequest(ctx, workspaceID, createEventSchemaSetRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createEventSchemaSetCreateRequest creates the CreateEventSchemaSet request.
func (client *ItemsClient) createEventSchemaSetCreateRequest(ctx context.Context, workspaceID string, createEventSchemaSetRequest CreateEventSchemaSetRequest, _ *ItemsClientBeginCreateEventSchemaSetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/eventSchemaSets"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createEventSchemaSetRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteEventSchemaSet - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have contributor or higher workspace role. The caller must have write permissions for the workspace.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - eventSchemaSetID - The EventSchemaSet ID.
//   - options - ItemsClientDeleteEventSchemaSetOptions contains the optional parameters for the ItemsClient.DeleteEventSchemaSet
//     method.
func (client *ItemsClient) DeleteEventSchemaSet(ctx context.Context, workspaceID string, eventSchemaSetID string, options *ItemsClientDeleteEventSchemaSetOptions) (ItemsClientDeleteEventSchemaSetResponse, error) {
	var err error
	const operationName = "eventschemaset.ItemsClient.DeleteEventSchemaSet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteEventSchemaSetCreateRequest(ctx, workspaceID, eventSchemaSetID, options)
	if err != nil {
		return ItemsClientDeleteEventSchemaSetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteEventSchemaSetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteEventSchemaSetResponse{}, err
	}
	return ItemsClientDeleteEventSchemaSetResponse{}, nil
}

// deleteEventSchemaSetCreateRequest creates the DeleteEventSchemaSet request.
func (client *ItemsClient) deleteEventSchemaSetCreateRequest(ctx context.Context, workspaceID string, eventSchemaSetID string, _ *ItemsClientDeleteEventSchemaSetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/EventSchemaSets/{EventSchemaSetId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if eventSchemaSetID == "" {
		return nil, errors.New("parameter eventSchemaSetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{EventSchemaSetId}", url.PathEscape(eventSchemaSetID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetEventSchemaSet - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read permissions for the workspace .
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - eventSchemaSetID - The EventSchemaSet ID.
//   - options - ItemsClientGetEventSchemaSetOptions contains the optional parameters for the ItemsClient.GetEventSchemaSet method.
func (client *ItemsClient) GetEventSchemaSet(ctx context.Context, workspaceID string, eventSchemaSetID string, options *ItemsClientGetEventSchemaSetOptions) (ItemsClientGetEventSchemaSetResponse, error) {
	var err error
	const operationName = "eventschemaset.ItemsClient.GetEventSchemaSet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getEventSchemaSetCreateRequest(ctx, workspaceID, eventSchemaSetID, options)
	if err != nil {
		return ItemsClientGetEventSchemaSetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetEventSchemaSetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetEventSchemaSetResponse{}, err
	}
	resp, err := client.getEventSchemaSetHandleResponse(httpResp)
	return resp, err
}

// getEventSchemaSetCreateRequest creates the GetEventSchemaSet request.
func (client *ItemsClient) getEventSchemaSetCreateRequest(ctx context.Context, workspaceID string, eventSchemaSetID string, _ *ItemsClientGetEventSchemaSetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/EventSchemaSets/{EventSchemaSetId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if eventSchemaSetID == "" {
		return nil, errors.New("parameter eventSchemaSetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{EventSchemaSetId}", url.PathEscape(eventSchemaSetID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getEventSchemaSetHandleResponse handles the GetEventSchemaSet response.
func (client *ItemsClient) getEventSchemaSetHandleResponse(resp *http.Response) (ItemsClientGetEventSchemaSetResponse, error) {
	result := ItemsClientGetEventSchemaSetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventSchemaSet); err != nil {
		return ItemsClientGetEventSchemaSetResponse{}, err
	}
	return result, nil
}

// BeginGetEventSchemaSetDefinition - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a EventSchemaSet's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - eventSchemaSetID - The EventSchemaSet ID.
//   - options - ItemsClientBeginGetEventSchemaSetDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetEventSchemaSetDefinition
//     method.
func (client *ItemsClient) BeginGetEventSchemaSetDefinition(ctx context.Context, workspaceID string, eventSchemaSetID string, options *ItemsClientBeginGetEventSchemaSetDefinitionOptions) (*runtime.Poller[ItemsClientGetEventSchemaSetDefinitionResponse], error) {
	return client.beginGetEventSchemaSetDefinition(ctx, workspaceID, eventSchemaSetID, options)
}

// GetEventSchemaSetDefinition - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a EventSchemaSet's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getEventSchemaSetDefinition(ctx context.Context, workspaceID string, eventSchemaSetID string, options *ItemsClientBeginGetEventSchemaSetDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "eventschemaset.ItemsClient.BeginGetEventSchemaSetDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getEventSchemaSetDefinitionCreateRequest(ctx, workspaceID, eventSchemaSetID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getEventSchemaSetDefinitionCreateRequest creates the GetEventSchemaSetDefinition request.
func (client *ItemsClient) getEventSchemaSetDefinitionCreateRequest(ctx context.Context, workspaceID string, eventSchemaSetID string, options *ItemsClientBeginGetEventSchemaSetDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/EventSchemaSets/{EventSchemaSetId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if eventSchemaSetID == "" {
		return nil, errors.New("parameter eventSchemaSetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{EventSchemaSetId}", url.PathEscape(eventSchemaSetID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListEventSchemaSetsPager - > [!NOTE] EventSchemaSet item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListEventSchemaSetsOptions contains the optional parameters for the ItemsClient.NewListEventSchemaSetsPager
//     method.
func (client *ItemsClient) NewListEventSchemaSetsPager(workspaceID string, options *ItemsClientListEventSchemaSetsOptions) *runtime.Pager[ItemsClientListEventSchemaSetsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListEventSchemaSetsResponse]{
		More: func(page ItemsClientListEventSchemaSetsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListEventSchemaSetsResponse) (ItemsClientListEventSchemaSetsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "eventschemaset.ItemsClient.NewListEventSchemaSetsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listEventSchemaSetsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListEventSchemaSetsResponse{}, err
			}
			return client.listEventSchemaSetsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listEventSchemaSetsCreateRequest creates the ListEventSchemaSets request.
func (client *ItemsClient) listEventSchemaSetsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListEventSchemaSetsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/eventSchemaSets"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listEventSchemaSetsHandleResponse handles the ListEventSchemaSets response.
func (client *ItemsClient) listEventSchemaSetsHandleResponse(resp *http.Response) (ItemsClientListEventSchemaSetsResponse, error) {
	result := ItemsClientListEventSchemaSetsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventSchemaSets); err != nil {
		return ItemsClientListEventSchemaSetsResponse{}, err
	}
	return result, nil
}

// UpdateEventSchemaSet - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have read and write permissions for the workspace.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - eventSchemaSetID - The EventSchemaSet ID.
//   - updateEventSchemaSetRequest - Update EventSchemaSet request payload.
//   - options - ItemsClientUpdateEventSchemaSetOptions contains the optional parameters for the ItemsClient.UpdateEventSchemaSet
//     method.
func (client *ItemsClient) UpdateEventSchemaSet(ctx context.Context, workspaceID string, eventSchemaSetID string, updateEventSchemaSetRequest UpdateEventSchemaSetRequest, options *ItemsClientUpdateEventSchemaSetOptions) (ItemsClientUpdateEventSchemaSetResponse, error) {
	var err error
	const operationName = "eventschemaset.ItemsClient.UpdateEventSchemaSet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateEventSchemaSetCreateRequest(ctx, workspaceID, eventSchemaSetID, updateEventSchemaSetRequest, options)
	if err != nil {
		return ItemsClientUpdateEventSchemaSetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateEventSchemaSetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateEventSchemaSetResponse{}, err
	}
	resp, err := client.updateEventSchemaSetHandleResponse(httpResp)
	return resp, err
}

// updateEventSchemaSetCreateRequest creates the UpdateEventSchemaSet request.
func (client *ItemsClient) updateEventSchemaSetCreateRequest(ctx context.Context, workspaceID string, eventSchemaSetID string, updateEventSchemaSetRequest UpdateEventSchemaSetRequest, _ *ItemsClientUpdateEventSchemaSetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/EventSchemaSets/{EventSchemaSetId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if eventSchemaSetID == "" {
		return nil, errors.New("parameter eventSchemaSetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{EventSchemaSetId}", url.PathEscape(eventSchemaSetID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateEventSchemaSetRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateEventSchemaSetHandleResponse handles the UpdateEventSchemaSet response.
func (client *ItemsClient) updateEventSchemaSetHandleResponse(resp *http.Response) (ItemsClientUpdateEventSchemaSetResponse, error) {
	result := ItemsClientUpdateEventSchemaSetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventSchemaSet); err != nil {
		return ItemsClientUpdateEventSchemaSetResponse{}, err
	}
	return result, nil
}

// BeginUpdateEventSchemaSetDefinition - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the EventSchemaSet's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - eventSchemaSetID - The EventSchemaSet ID.
//   - updateEventSchemaSetDefinitionRequest - Update EventSchemaSet definition request payload.
//   - options - ItemsClientBeginUpdateEventSchemaSetDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateEventSchemaSetDefinition
//     method.
func (client *ItemsClient) BeginUpdateEventSchemaSetDefinition(ctx context.Context, workspaceID string, eventSchemaSetID string, updateEventSchemaSetDefinitionRequest UpdateEventSchemaSetDefinitionRequest, options *ItemsClientBeginUpdateEventSchemaSetDefinitionOptions) (*runtime.Poller[ItemsClientUpdateEventSchemaSetDefinitionResponse], error) {
	return client.beginUpdateEventSchemaSetDefinition(ctx, workspaceID, eventSchemaSetID, updateEventSchemaSetDefinitionRequest, options)
}

// UpdateEventSchemaSetDefinition - > [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the EventSchemaSet's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateEventSchemaSetDefinition(ctx context.Context, workspaceID string, eventSchemaSetID string, updateEventSchemaSetDefinitionRequest UpdateEventSchemaSetDefinitionRequest, options *ItemsClientBeginUpdateEventSchemaSetDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "eventschemaset.ItemsClient.BeginUpdateEventSchemaSetDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateEventSchemaSetDefinitionCreateRequest(ctx, workspaceID, eventSchemaSetID, updateEventSchemaSetDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateEventSchemaSetDefinitionCreateRequest creates the UpdateEventSchemaSetDefinition request.
func (client *ItemsClient) updateEventSchemaSetDefinitionCreateRequest(ctx context.Context, workspaceID string, eventSchemaSetID string, updateEventSchemaSetDefinitionRequest UpdateEventSchemaSetDefinitionRequest, options *ItemsClientBeginUpdateEventSchemaSetDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/EventSchemaSets/{EventSchemaSetId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if eventSchemaSetID == "" {
		return nil, errors.New("parameter eventSchemaSetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{EventSchemaSetId}", url.PathEscape(eventSchemaSetID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateEventSchemaSetDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateEventSchemaSet - returns ItemsClientCreateEventSchemaSetResponse in sync mode.
// >  [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create an EventSchemaSet with a public definition, refer to EventSchemaSet [/rest/api/fabric/articles/item-management/definitions/event-schema-set] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a EventSchemaSet the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types
//     [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createEventSchemaSetRequest - Create item request payload.
//   - options - ItemsClientBeginCreateEventSchemaSetOptions contains the optional parameters for the ItemsClient.BeginCreateEventSchemaSet method.
func (client *ItemsClient) CreateEventSchemaSet(ctx context.Context, workspaceID string, createEventSchemaSetRequest CreateEventSchemaSetRequest, options *ItemsClientBeginCreateEventSchemaSetOptions) (ItemsClientCreateEventSchemaSetResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateEventSchemaSet(ctx, workspaceID, createEventSchemaSetRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateEventSchemaSetResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateEventSchemaSetResponse{}, err
	}
	return result, err
}

// beginCreateEventSchemaSet creates the createEventSchemaSet request.
func (client *ItemsClient) beginCreateEventSchemaSet(ctx context.Context, workspaceID string, createEventSchemaSetRequest CreateEventSchemaSetRequest, options *ItemsClientBeginCreateEventSchemaSetOptions) (*runtime.Poller[ItemsClientCreateEventSchemaSetResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createEventSchemaSet(ctx, workspaceID, createEventSchemaSetRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateEventSchemaSetResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateEventSchemaSetResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateEventSchemaSetResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateEventSchemaSetResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetEventSchemaSetDefinition - returns ItemsClientGetEventSchemaSetDefinitionResponse in sync mode.
// >  [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a EventSchemaSet's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the workspace role.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - eventSchemaSetID - The EventSchemaSet ID.
//   - options - ItemsClientBeginGetEventSchemaSetDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetEventSchemaSetDefinition method.
func (client *ItemsClient) GetEventSchemaSetDefinition(ctx context.Context, workspaceID string, eventSchemaSetID string, options *ItemsClientBeginGetEventSchemaSetDefinitionOptions) (ItemsClientGetEventSchemaSetDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetEventSchemaSetDefinition(ctx, workspaceID, eventSchemaSetID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetEventSchemaSetDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetEventSchemaSetDefinitionResponse{}, err
	}
	return result, err
}

// beginGetEventSchemaSetDefinition creates the getEventSchemaSetDefinition request.
func (client *ItemsClient) beginGetEventSchemaSetDefinition(ctx context.Context, workspaceID string, eventSchemaSetID string, options *ItemsClientBeginGetEventSchemaSetDefinitionOptions) (*runtime.Poller[ItemsClientGetEventSchemaSetDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getEventSchemaSetDefinition(ctx, workspaceID, eventSchemaSetID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetEventSchemaSetDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetEventSchemaSetDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetEventSchemaSetDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetEventSchemaSetDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateEventSchemaSetDefinition - returns ItemsClientUpdateEventSchemaSetDefinitionResponse in sync mode.
// >  [!NOTE] EventSchemaSets item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the EventSchemaSet's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the workspace role.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - eventSchemaSetID - The EventSchemaSet ID.
//   - updateEventSchemaSetDefinitionRequest - Update EventSchemaSet definition request payload.
//   - options - ItemsClientBeginUpdateEventSchemaSetDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateEventSchemaSetDefinition method.
func (client *ItemsClient) UpdateEventSchemaSetDefinition(ctx context.Context, workspaceID string, eventSchemaSetID string, updateEventSchemaSetDefinitionRequest UpdateEventSchemaSetDefinitionRequest, options *ItemsClientBeginUpdateEventSchemaSetDefinitionOptions) (ItemsClientUpdateEventSchemaSetDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateEventSchemaSetDefinition(ctx, workspaceID, eventSchemaSetID, updateEventSchemaSetDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateEventSchemaSetDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateEventSchemaSetDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateEventSchemaSetDefinition creates the updateEventSchemaSetDefinition request.
func (client *ItemsClient) beginUpdateEventSchemaSetDefinition(ctx context.Context, workspaceID string, eventSchemaSetID string, updateEventSchemaSetDefinitionRequest UpdateEventSchemaSetDefinitionRequest, options *ItemsClientBeginUpdateEventSchemaSetDefinitionOptions) (*runtime.Poller[ItemsClientUpdateEventSchemaSetDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateEventSchemaSetDefinition(ctx, workspaceID, eventSchemaSetID, updateEventSchemaSetDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateEventSchemaSetDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateEventSchemaSetDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateEventSchemaSetDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateEventSchemaSetDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListEventSchemaSets - returns array of EventSchemaSet from all pages.
// >  [!NOTE] EventSchemaSet item is currently in Preview (learn more [/fabric/fundamentals/preview]).
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | No |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListEventSchemaSetsOptions contains the optional parameters for the ItemsClient.NewListEventSchemaSetsPager method.
func (client *ItemsClient) ListEventSchemaSets(ctx context.Context, workspaceID string, options *ItemsClientListEventSchemaSetsOptions) ([]EventSchemaSet, error) {
	pager := client.NewListEventSchemaSetsPager(workspaceID, options)
	mapper := func(resp ItemsClientListEventSchemaSetsResponse) []EventSchemaSet {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []EventSchemaSet{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []EventSchemaSet{}, err
	}
	return list, nil
}
