// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package lakehouse

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// BackgroundJobsClient contains the methods for the BackgroundJobs group.
// Don't use this type directly, use a constructor function instead.
type BackgroundJobsClient struct {
	internal *azcore.Client
	endpoint string
}

// RunOnDemandTableMaintenance - REQUIRED DELEGATED SCOPES Lakehouse.Execute.All or Item.Execute.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - lakehouseID - The Lakehouse item ID.
//   - jobType - TableMaintenance job type.
//   - runOnDemandTableMaintenanceRequest - Run on-demand table maintenance request payload.
//   - options - BackgroundJobsClientRunOnDemandTableMaintenanceOptions contains the optional parameters for the BackgroundJobsClient.RunOnDemandTableMaintenance
//     method.
func (client *BackgroundJobsClient) RunOnDemandTableMaintenance(ctx context.Context, workspaceID string, lakehouseID string, jobType string, runOnDemandTableMaintenanceRequest RunOnDemandTableMaintenanceRequest, options *BackgroundJobsClientRunOnDemandTableMaintenanceOptions) (BackgroundJobsClientRunOnDemandTableMaintenanceResponse, error) {
	var err error
	const operationName = "lakehouse.BackgroundJobsClient.RunOnDemandTableMaintenance"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.runOnDemandTableMaintenanceCreateRequest(ctx, workspaceID, lakehouseID, jobType, runOnDemandTableMaintenanceRequest, options)
	if err != nil {
		return BackgroundJobsClientRunOnDemandTableMaintenanceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackgroundJobsClientRunOnDemandTableMaintenanceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return BackgroundJobsClientRunOnDemandTableMaintenanceResponse{}, err
	}
	resp, err := client.runOnDemandTableMaintenanceHandleResponse(httpResp)
	return resp, err
}

// runOnDemandTableMaintenanceCreateRequest creates the RunOnDemandTableMaintenance request.
func (client *BackgroundJobsClient) runOnDemandTableMaintenanceCreateRequest(ctx context.Context, workspaceID string, lakehouseID string, jobType string, runOnDemandTableMaintenanceRequest RunOnDemandTableMaintenanceRequest, _ *BackgroundJobsClientRunOnDemandTableMaintenanceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/lakehouses/{lakehouseId}/jobs/instances"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if lakehouseID == "" {
		return nil, errors.New("parameter lakehouseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{lakehouseId}", url.PathEscape(lakehouseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("jobType", jobType)
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, runOnDemandTableMaintenanceRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// runOnDemandTableMaintenanceHandleResponse handles the RunOnDemandTableMaintenance response.
func (client *BackgroundJobsClient) runOnDemandTableMaintenanceHandleResponse(resp *http.Response) (BackgroundJobsClientRunOnDemandTableMaintenanceResponse, error) {
	result := BackgroundJobsClientRunOnDemandTableMaintenanceResponse{}
	if val := resp.Header.Get("Location"); val != "" {
		result.Location = &val
	}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return BackgroundJobsClientRunOnDemandTableMaintenanceResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	return result, nil
}

// Custom code starts below
