// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package lakehouse

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// MaterializedLakeViewsClient contains the methods for the MaterializedLakeViews group.
// Don't use this type directly, use a constructor function instead.
type MaterializedLakeViewsClient struct {
	internal *azcore.Client
	endpoint string
}

// CreateMlvExecutionDefinition - PERMISSIONS The caller must have contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Lakehouse.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - lakehouseID - The lakehouse ID.
//   - createMLVExecutionDefinitionRequest - Create materialized lake views execution definition request payload.
//   - options - MaterializedLakeViewsClientCreateMlvExecutionDefinitionOptions contains the optional parameters for the MaterializedLakeViewsClient.CreateMlvExecutionDefinition
//     method.
func (client *MaterializedLakeViewsClient) CreateMlvExecutionDefinition(ctx context.Context, workspaceID string, lakehouseID string, createMLVExecutionDefinitionRequest CreateMaterializedLakeViewExecutionDefinitionRequest, options *MaterializedLakeViewsClientCreateMlvExecutionDefinitionOptions) (MaterializedLakeViewsClientCreateMlvExecutionDefinitionResponse, error) {
	var err error
	const operationName = "lakehouse.MaterializedLakeViewsClient.CreateMlvExecutionDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createMlvExecutionDefinitionCreateRequest(ctx, workspaceID, lakehouseID, createMLVExecutionDefinitionRequest, options)
	if err != nil {
		return MaterializedLakeViewsClientCreateMlvExecutionDefinitionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MaterializedLakeViewsClientCreateMlvExecutionDefinitionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated) {
		err = core.NewResponseError(httpResp)
		return MaterializedLakeViewsClientCreateMlvExecutionDefinitionResponse{}, err
	}
	resp, err := client.createMlvExecutionDefinitionHandleResponse(httpResp)
	return resp, err
}

// createMlvExecutionDefinitionCreateRequest creates the CreateMlvExecutionDefinition request.
func (client *MaterializedLakeViewsClient) createMlvExecutionDefinitionCreateRequest(ctx context.Context, workspaceID string, lakehouseID string, createMLVExecutionDefinitionRequest CreateMaterializedLakeViewExecutionDefinitionRequest, _ *MaterializedLakeViewsClientCreateMlvExecutionDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/lakehouses/{lakehouseId}/mlvexecutiondefinitions"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if lakehouseID == "" {
		return nil, errors.New("parameter lakehouseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{lakehouseId}", url.PathEscape(lakehouseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createMLVExecutionDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createMlvExecutionDefinitionHandleResponse handles the CreateMlvExecutionDefinition response.
func (client *MaterializedLakeViewsClient) createMlvExecutionDefinitionHandleResponse(resp *http.Response) (MaterializedLakeViewsClientCreateMlvExecutionDefinitionResponse, error) {
	result := MaterializedLakeViewsClientCreateMlvExecutionDefinitionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MaterializedLakeViewExecutionDefinition); err != nil {
		return MaterializedLakeViewsClientCreateMlvExecutionDefinitionResponse{}, err
	}
	return result, nil
}

// DeleteMlvExecutionDefinition - PERMISSIONS The caller must have contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Lakehouse.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - lakehouseID - The lakehouse ID.
//   - mlvExecutionDefinitionID - The materialized lake views execution definition ID.
//   - options - MaterializedLakeViewsClientDeleteMlvExecutionDefinitionOptions contains the optional parameters for the MaterializedLakeViewsClient.DeleteMlvExecutionDefinition
//     method.
func (client *MaterializedLakeViewsClient) DeleteMlvExecutionDefinition(ctx context.Context, workspaceID string, lakehouseID string, mlvExecutionDefinitionID string, options *MaterializedLakeViewsClientDeleteMlvExecutionDefinitionOptions) (MaterializedLakeViewsClientDeleteMlvExecutionDefinitionResponse, error) {
	var err error
	const operationName = "lakehouse.MaterializedLakeViewsClient.DeleteMlvExecutionDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteMlvExecutionDefinitionCreateRequest(ctx, workspaceID, lakehouseID, mlvExecutionDefinitionID, options)
	if err != nil {
		return MaterializedLakeViewsClientDeleteMlvExecutionDefinitionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MaterializedLakeViewsClientDeleteMlvExecutionDefinitionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return MaterializedLakeViewsClientDeleteMlvExecutionDefinitionResponse{}, err
	}
	return MaterializedLakeViewsClientDeleteMlvExecutionDefinitionResponse{}, nil
}

// deleteMlvExecutionDefinitionCreateRequest creates the DeleteMlvExecutionDefinition request.
func (client *MaterializedLakeViewsClient) deleteMlvExecutionDefinitionCreateRequest(ctx context.Context, workspaceID string, lakehouseID string, mlvExecutionDefinitionID string, _ *MaterializedLakeViewsClientDeleteMlvExecutionDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/lakehouses/{lakehouseId}/mlvexecutiondefinitions/{mlvExecutionDefinitionId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if lakehouseID == "" {
		return nil, errors.New("parameter lakehouseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{lakehouseId}", url.PathEscape(lakehouseID))
	if mlvExecutionDefinitionID == "" {
		return nil, errors.New("parameter mlvExecutionDefinitionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mlvExecutionDefinitionId}", url.PathEscape(mlvExecutionDefinitionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetMlvExecutionDefinition - PERMISSIONS The caller must have viewer or higher workspace role.
// REQUIRED DELEGATED SCOPES Lakehouse.Read.All or Lakehouse.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - lakehouseID - The lakehouse ID.
//   - mlvExecutionDefinitionID - The materialized lake views execution definition ID.
//   - options - MaterializedLakeViewsClientGetMlvExecutionDefinitionOptions contains the optional parameters for the MaterializedLakeViewsClient.GetMlvExecutionDefinition
//     method.
func (client *MaterializedLakeViewsClient) GetMlvExecutionDefinition(ctx context.Context, workspaceID string, lakehouseID string, mlvExecutionDefinitionID string, options *MaterializedLakeViewsClientGetMlvExecutionDefinitionOptions) (MaterializedLakeViewsClientGetMlvExecutionDefinitionResponse, error) {
	var err error
	const operationName = "lakehouse.MaterializedLakeViewsClient.GetMlvExecutionDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getMlvExecutionDefinitionCreateRequest(ctx, workspaceID, lakehouseID, mlvExecutionDefinitionID, options)
	if err != nil {
		return MaterializedLakeViewsClientGetMlvExecutionDefinitionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MaterializedLakeViewsClientGetMlvExecutionDefinitionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return MaterializedLakeViewsClientGetMlvExecutionDefinitionResponse{}, err
	}
	resp, err := client.getMlvExecutionDefinitionHandleResponse(httpResp)
	return resp, err
}

// getMlvExecutionDefinitionCreateRequest creates the GetMlvExecutionDefinition request.
func (client *MaterializedLakeViewsClient) getMlvExecutionDefinitionCreateRequest(ctx context.Context, workspaceID string, lakehouseID string, mlvExecutionDefinitionID string, _ *MaterializedLakeViewsClientGetMlvExecutionDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/lakehouses/{lakehouseId}/mlvexecutiondefinitions/{mlvExecutionDefinitionId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if lakehouseID == "" {
		return nil, errors.New("parameter lakehouseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{lakehouseId}", url.PathEscape(lakehouseID))
	if mlvExecutionDefinitionID == "" {
		return nil, errors.New("parameter mlvExecutionDefinitionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mlvExecutionDefinitionId}", url.PathEscape(mlvExecutionDefinitionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getMlvExecutionDefinitionHandleResponse handles the GetMlvExecutionDefinition response.
func (client *MaterializedLakeViewsClient) getMlvExecutionDefinitionHandleResponse(resp *http.Response) (MaterializedLakeViewsClientGetMlvExecutionDefinitionResponse, error) {
	result := MaterializedLakeViewsClientGetMlvExecutionDefinitionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MaterializedLakeViewExecutionDefinition); err != nil {
		return MaterializedLakeViewsClientGetMlvExecutionDefinitionResponse{}, err
	}
	return result, nil
}

// NewListMlvExecutionDefinitionsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have viewer or higher workspace role.
// REQUIRED DELEGATED SCOPES Lakehouse.Read.All or Lakehouse.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - lakehouseID - The lakehouse ID.
//   - options - MaterializedLakeViewsClientListMlvExecutionDefinitionsOptions contains the optional parameters for the MaterializedLakeViewsClient.NewListMlvExecutionDefinitionsPager
//     method.
func (client *MaterializedLakeViewsClient) NewListMlvExecutionDefinitionsPager(workspaceID string, lakehouseID string, options *MaterializedLakeViewsClientListMlvExecutionDefinitionsOptions) *runtime.Pager[MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse] {
	return runtime.NewPager(runtime.PagingHandler[MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse]{
		More: func(page MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse) (MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "lakehouse.MaterializedLakeViewsClient.NewListMlvExecutionDefinitionsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listMlvExecutionDefinitionsCreateRequest(ctx, workspaceID, lakehouseID, options)
			}, nil)
			if err != nil {
				return MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse{}, err
			}
			return client.listMlvExecutionDefinitionsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listMlvExecutionDefinitionsCreateRequest creates the ListMlvExecutionDefinitions request.
func (client *MaterializedLakeViewsClient) listMlvExecutionDefinitionsCreateRequest(ctx context.Context, workspaceID string, lakehouseID string, options *MaterializedLakeViewsClientListMlvExecutionDefinitionsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/lakehouses/{lakehouseId}/mlvexecutiondefinitions"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if lakehouseID == "" {
		return nil, errors.New("parameter lakehouseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{lakehouseId}", url.PathEscape(lakehouseID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listMlvExecutionDefinitionsHandleResponse handles the ListMlvExecutionDefinitions response.
func (client *MaterializedLakeViewsClient) listMlvExecutionDefinitionsHandleResponse(resp *http.Response) (MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse, error) {
	result := MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MaterializedLakeViewExecutionDefinitions); err != nil {
		return MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse{}, err
	}
	return result, nil
}

// UpdateMlvExecutionDefinition - Only the fields provided in the request body are updated; omitted fields retain their existing
// values.
// PERMISSIONS The caller must have contributor or higher workspace role.
// REQUIRED DELEGATED SCOPES Lakehouse.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - lakehouseID - The lakehouse ID.
//   - mlvExecutionDefinitionID - The materialized lake views execution definition ID.
//   - updateMLVExecutionDefinitionRequest - Update materialized lake views execution definition request payload.
//   - options - MaterializedLakeViewsClientUpdateMlvExecutionDefinitionOptions contains the optional parameters for the MaterializedLakeViewsClient.UpdateMlvExecutionDefinition
//     method.
func (client *MaterializedLakeViewsClient) UpdateMlvExecutionDefinition(ctx context.Context, workspaceID string, lakehouseID string, mlvExecutionDefinitionID string, updateMLVExecutionDefinitionRequest UpdateMaterializedLakeViewExecutionDefinitionRequest, options *MaterializedLakeViewsClientUpdateMlvExecutionDefinitionOptions) (MaterializedLakeViewsClientUpdateMlvExecutionDefinitionResponse, error) {
	var err error
	const operationName = "lakehouse.MaterializedLakeViewsClient.UpdateMlvExecutionDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateMlvExecutionDefinitionCreateRequest(ctx, workspaceID, lakehouseID, mlvExecutionDefinitionID, updateMLVExecutionDefinitionRequest, options)
	if err != nil {
		return MaterializedLakeViewsClientUpdateMlvExecutionDefinitionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MaterializedLakeViewsClientUpdateMlvExecutionDefinitionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return MaterializedLakeViewsClientUpdateMlvExecutionDefinitionResponse{}, err
	}
	resp, err := client.updateMlvExecutionDefinitionHandleResponse(httpResp)
	return resp, err
}

// updateMlvExecutionDefinitionCreateRequest creates the UpdateMlvExecutionDefinition request.
func (client *MaterializedLakeViewsClient) updateMlvExecutionDefinitionCreateRequest(ctx context.Context, workspaceID string, lakehouseID string, mlvExecutionDefinitionID string, updateMLVExecutionDefinitionRequest UpdateMaterializedLakeViewExecutionDefinitionRequest, _ *MaterializedLakeViewsClientUpdateMlvExecutionDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/lakehouses/{lakehouseId}/mlvexecutiondefinitions/{mlvExecutionDefinitionId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if lakehouseID == "" {
		return nil, errors.New("parameter lakehouseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{lakehouseId}", url.PathEscape(lakehouseID))
	if mlvExecutionDefinitionID == "" {
		return nil, errors.New("parameter mlvExecutionDefinitionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mlvExecutionDefinitionId}", url.PathEscape(mlvExecutionDefinitionID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateMLVExecutionDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateMlvExecutionDefinitionHandleResponse handles the UpdateMlvExecutionDefinition response.
func (client *MaterializedLakeViewsClient) updateMlvExecutionDefinitionHandleResponse(resp *http.Response) (MaterializedLakeViewsClientUpdateMlvExecutionDefinitionResponse, error) {
	result := MaterializedLakeViewsClientUpdateMlvExecutionDefinitionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MaterializedLakeViewExecutionDefinition); err != nil {
		return MaterializedLakeViewsClientUpdateMlvExecutionDefinitionResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListMlvExecutionDefinitions - returns array of MaterializedLakeViewExecutionDefinition from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have viewer or higher workspace role.
//
// # REQUIRED DELEGATED SCOPES Lakehouse.Read.All or Lakehouse.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - lakehouseID - The lakehouse ID.
//   - options - MaterializedLakeViewsClientListMlvExecutionDefinitionsOptions contains the optional parameters for the MaterializedLakeViewsClient.NewListMlvExecutionDefinitionsPager method.
func (client *MaterializedLakeViewsClient) ListMlvExecutionDefinitions(ctx context.Context, workspaceID string, lakehouseID string, options *MaterializedLakeViewsClientListMlvExecutionDefinitionsOptions) ([]MaterializedLakeViewExecutionDefinition, error) {
	pager := client.NewListMlvExecutionDefinitionsPager(workspaceID, lakehouseID, options)
	mapper := func(resp MaterializedLakeViewsClientListMlvExecutionDefinitionsResponse) []MaterializedLakeViewExecutionDefinition {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []MaterializedLakeViewExecutionDefinition{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []MaterializedLakeViewExecutionDefinition{}, err
	}
	return list, nil
}
