// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package orgappaudience

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateOrgAppAudience - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create an OrgAppAudience with a public definition, refer to OrgAppAudience [/rest/api/fabric/articles/item-management/definitions/orgappaudience-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an OrgAppAudience, the user must have the appropriate license. For more information see: Microsoft Fabric license
// types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createOrgAppAudienceRequest - Create item request payload.
//   - options - ItemsClientBeginCreateOrgAppAudienceOptions contains the optional parameters for the ItemsClient.BeginCreateOrgAppAudience
//     method.
func (client *ItemsClient) BeginCreateOrgAppAudience(ctx context.Context, workspaceID string, createOrgAppAudienceRequest CreateOrgAppAudienceRequest, options *ItemsClientBeginCreateOrgAppAudienceOptions) (*runtime.Poller[ItemsClientCreateOrgAppAudienceResponse], error) {
	return client.beginCreateOrgAppAudience(ctx, workspaceID, createOrgAppAudienceRequest, options)
}

// CreateOrgAppAudience - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create an OrgAppAudience with a public definition, refer to OrgAppAudience [/rest/api/fabric/articles/item-management/definitions/orgappaudience-definition]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an OrgAppAudience, the user must have the appropriate license. For more information see: Microsoft Fabric license
// types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createOrgAppAudience(ctx context.Context, workspaceID string, createOrgAppAudienceRequest CreateOrgAppAudienceRequest, options *ItemsClientBeginCreateOrgAppAudienceOptions) (*http.Response, error) {
	var err error
	const operationName = "orgappaudience.ItemsClient.BeginCreateOrgAppAudience"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrgAppAudienceCreateRequest(ctx, workspaceID, createOrgAppAudienceRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrgAppAudienceCreateRequest creates the CreateOrgAppAudience request.
func (client *ItemsClient) createOrgAppAudienceCreateRequest(ctx context.Context, workspaceID string, createOrgAppAudienceRequest CreateOrgAppAudienceRequest, _ *ItemsClientBeginCreateOrgAppAudienceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgAppAudiences"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createOrgAppAudienceRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteOrgAppAudience - PERMISSIONS The caller must have write permissions for the OrgAppAudience.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppAudienceID - The OrgAppAudience ID.
//   - options - ItemsClientDeleteOrgAppAudienceOptions contains the optional parameters for the ItemsClient.DeleteOrgAppAudience
//     method.
func (client *ItemsClient) DeleteOrgAppAudience(ctx context.Context, workspaceID string, orgAppAudienceID string, options *ItemsClientDeleteOrgAppAudienceOptions) (ItemsClientDeleteOrgAppAudienceResponse, error) {
	var err error
	const operationName = "orgappaudience.ItemsClient.DeleteOrgAppAudience"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteOrgAppAudienceCreateRequest(ctx, workspaceID, orgAppAudienceID, options)
	if err != nil {
		return ItemsClientDeleteOrgAppAudienceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteOrgAppAudienceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteOrgAppAudienceResponse{}, err
	}
	return ItemsClientDeleteOrgAppAudienceResponse{}, nil
}

// deleteOrgAppAudienceCreateRequest creates the DeleteOrgAppAudience request.
func (client *ItemsClient) deleteOrgAppAudienceCreateRequest(ctx context.Context, workspaceID string, orgAppAudienceID string, _ *ItemsClientDeleteOrgAppAudienceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgAppAudiences/{orgAppAudienceId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppAudienceID == "" {
		return nil, errors.New("parameter orgAppAudienceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppAudienceId}", url.PathEscape(orgAppAudienceID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetOrgAppAudience - PERMISSIONS The caller must have read permissions for the OrgAppAudience.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppAudienceID - The OrgAppAudience ID.
//   - options - ItemsClientGetOrgAppAudienceOptions contains the optional parameters for the ItemsClient.GetOrgAppAudience method.
func (client *ItemsClient) GetOrgAppAudience(ctx context.Context, workspaceID string, orgAppAudienceID string, options *ItemsClientGetOrgAppAudienceOptions) (ItemsClientGetOrgAppAudienceResponse, error) {
	var err error
	const operationName = "orgappaudience.ItemsClient.GetOrgAppAudience"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getOrgAppAudienceCreateRequest(ctx, workspaceID, orgAppAudienceID, options)
	if err != nil {
		return ItemsClientGetOrgAppAudienceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetOrgAppAudienceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetOrgAppAudienceResponse{}, err
	}
	resp, err := client.getOrgAppAudienceHandleResponse(httpResp)
	return resp, err
}

// getOrgAppAudienceCreateRequest creates the GetOrgAppAudience request.
func (client *ItemsClient) getOrgAppAudienceCreateRequest(ctx context.Context, workspaceID string, orgAppAudienceID string, _ *ItemsClientGetOrgAppAudienceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgAppAudiences/{orgAppAudienceId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppAudienceID == "" {
		return nil, errors.New("parameter orgAppAudienceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppAudienceId}", url.PathEscape(orgAppAudienceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getOrgAppAudienceHandleResponse handles the GetOrgAppAudience response.
func (client *ItemsClient) getOrgAppAudienceHandleResponse(resp *http.Response) (ItemsClientGetOrgAppAudienceResponse, error) {
	result := ItemsClientGetOrgAppAudienceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OrgAppAudience); err != nil {
		return ItemsClientGetOrgAppAudienceResponse{}, err
	}
	return result, nil
}

// BeginGetOrgAppAudienceDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get an OrgAppAudience's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the OrgAppAudience.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppAudienceID - The OrgAppAudience ID.
//   - options - ItemsClientBeginGetOrgAppAudienceDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetOrgAppAudienceDefinition
//     method.
func (client *ItemsClient) BeginGetOrgAppAudienceDefinition(ctx context.Context, workspaceID string, orgAppAudienceID string, options *ItemsClientBeginGetOrgAppAudienceDefinitionOptions) (*runtime.Poller[ItemsClientGetOrgAppAudienceDefinitionResponse], error) {
	return client.beginGetOrgAppAudienceDefinition(ctx, workspaceID, orgAppAudienceID, options)
}

// GetOrgAppAudienceDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get an OrgAppAudience's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the OrgAppAudience.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getOrgAppAudienceDefinition(ctx context.Context, workspaceID string, orgAppAudienceID string, options *ItemsClientBeginGetOrgAppAudienceDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "orgappaudience.ItemsClient.BeginGetOrgAppAudienceDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getOrgAppAudienceDefinitionCreateRequest(ctx, workspaceID, orgAppAudienceID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getOrgAppAudienceDefinitionCreateRequest creates the GetOrgAppAudienceDefinition request.
func (client *ItemsClient) getOrgAppAudienceDefinitionCreateRequest(ctx context.Context, workspaceID string, orgAppAudienceID string, options *ItemsClientBeginGetOrgAppAudienceDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgAppAudiences/{orgAppAudienceId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppAudienceID == "" {
		return nil, errors.New("parameter orgAppAudienceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppAudienceId}", url.PathEscape(orgAppAudienceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListOrgAppAudiencesPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListOrgAppAudiencesOptions contains the optional parameters for the ItemsClient.NewListOrgAppAudiencesPager
//     method.
func (client *ItemsClient) NewListOrgAppAudiencesPager(workspaceID string, options *ItemsClientListOrgAppAudiencesOptions) *runtime.Pager[ItemsClientListOrgAppAudiencesResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListOrgAppAudiencesResponse]{
		More: func(page ItemsClientListOrgAppAudiencesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListOrgAppAudiencesResponse) (ItemsClientListOrgAppAudiencesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "orgappaudience.ItemsClient.NewListOrgAppAudiencesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listOrgAppAudiencesCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListOrgAppAudiencesResponse{}, err
			}
			return client.listOrgAppAudiencesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listOrgAppAudiencesCreateRequest creates the ListOrgAppAudiences request.
func (client *ItemsClient) listOrgAppAudiencesCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListOrgAppAudiencesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgAppAudiences"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listOrgAppAudiencesHandleResponse handles the ListOrgAppAudiences response.
func (client *ItemsClient) listOrgAppAudiencesHandleResponse(resp *http.Response) (ItemsClientListOrgAppAudiencesResponse, error) {
	result := ItemsClientListOrgAppAudiencesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OrgAppAudiences); err != nil {
		return ItemsClientListOrgAppAudiencesResponse{}, err
	}
	return result, nil
}

// UpdateOrgAppAudience - PERMISSIONS The caller must have read and write permissions for the OrgAppAudience.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppAudienceID - The OrgAppAudience ID.
//   - updateOrgAppAudienceRequest - Update OrgAppAudience request payload.
//   - options - ItemsClientUpdateOrgAppAudienceOptions contains the optional parameters for the ItemsClient.UpdateOrgAppAudience
//     method.
func (client *ItemsClient) UpdateOrgAppAudience(ctx context.Context, workspaceID string, orgAppAudienceID string, updateOrgAppAudienceRequest UpdateOrgAppAudienceRequest, options *ItemsClientUpdateOrgAppAudienceOptions) (ItemsClientUpdateOrgAppAudienceResponse, error) {
	var err error
	const operationName = "orgappaudience.ItemsClient.UpdateOrgAppAudience"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateOrgAppAudienceCreateRequest(ctx, workspaceID, orgAppAudienceID, updateOrgAppAudienceRequest, options)
	if err != nil {
		return ItemsClientUpdateOrgAppAudienceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateOrgAppAudienceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateOrgAppAudienceResponse{}, err
	}
	resp, err := client.updateOrgAppAudienceHandleResponse(httpResp)
	return resp, err
}

// updateOrgAppAudienceCreateRequest creates the UpdateOrgAppAudience request.
func (client *ItemsClient) updateOrgAppAudienceCreateRequest(ctx context.Context, workspaceID string, orgAppAudienceID string, updateOrgAppAudienceRequest UpdateOrgAppAudienceRequest, _ *ItemsClientUpdateOrgAppAudienceOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgAppAudiences/{orgAppAudienceId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppAudienceID == "" {
		return nil, errors.New("parameter orgAppAudienceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppAudienceId}", url.PathEscape(orgAppAudienceID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateOrgAppAudienceRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateOrgAppAudienceHandleResponse handles the UpdateOrgAppAudience response.
func (client *ItemsClient) updateOrgAppAudienceHandleResponse(resp *http.Response) (ItemsClientUpdateOrgAppAudienceResponse, error) {
	result := ItemsClientUpdateOrgAppAudienceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OrgAppAudience); err != nil {
		return ItemsClientUpdateOrgAppAudienceResponse{}, err
	}
	return result, nil
}

// BeginUpdateOrgAppAudienceDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the OrgAppAudience's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the OrgAppAudience.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppAudienceID - The OrgAppAudience ID.
//   - updateOrgAppAudienceDefinitionRequest - Update OrgAppAudience definition request payload.
//   - options - ItemsClientBeginUpdateOrgAppAudienceDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateOrgAppAudienceDefinition
//     method.
func (client *ItemsClient) BeginUpdateOrgAppAudienceDefinition(ctx context.Context, workspaceID string, orgAppAudienceID string, updateOrgAppAudienceDefinitionRequest UpdateOrgAppAudienceDefinitionRequest, options *ItemsClientBeginUpdateOrgAppAudienceDefinitionOptions) (*runtime.Poller[ItemsClientUpdateOrgAppAudienceDefinitionResponse], error) {
	return client.beginUpdateOrgAppAudienceDefinition(ctx, workspaceID, orgAppAudienceID, updateOrgAppAudienceDefinitionRequest, options)
}

// UpdateOrgAppAudienceDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the OrgAppAudience's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the OrgAppAudience.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateOrgAppAudienceDefinition(ctx context.Context, workspaceID string, orgAppAudienceID string, updateOrgAppAudienceDefinitionRequest UpdateOrgAppAudienceDefinitionRequest, options *ItemsClientBeginUpdateOrgAppAudienceDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "orgappaudience.ItemsClient.BeginUpdateOrgAppAudienceDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateOrgAppAudienceDefinitionCreateRequest(ctx, workspaceID, orgAppAudienceID, updateOrgAppAudienceDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateOrgAppAudienceDefinitionCreateRequest creates the UpdateOrgAppAudienceDefinition request.
func (client *ItemsClient) updateOrgAppAudienceDefinitionCreateRequest(ctx context.Context, workspaceID string, orgAppAudienceID string, updateOrgAppAudienceDefinitionRequest UpdateOrgAppAudienceDefinitionRequest, options *ItemsClientBeginUpdateOrgAppAudienceDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/orgAppAudiences/{orgAppAudienceId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if orgAppAudienceID == "" {
		return nil, errors.New("parameter orgAppAudienceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{orgAppAudienceId}", url.PathEscape(orgAppAudienceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateOrgAppAudienceDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateOrgAppAudience - returns ItemsClientCreateOrgAppAudienceResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create an OrgAppAudience with a public definition, refer to OrgAppAudience [/rest/api/fabric/articles/item-management/definitions/orgappaudience-definition] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create an OrgAppAudience, the user must have the appropriate license. For more information see: Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types].
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createOrgAppAudienceRequest - Create item request payload.
//   - options - ItemsClientBeginCreateOrgAppAudienceOptions contains the optional parameters for the ItemsClient.BeginCreateOrgAppAudience method.
func (client *ItemsClient) CreateOrgAppAudience(ctx context.Context, workspaceID string, createOrgAppAudienceRequest CreateOrgAppAudienceRequest, options *ItemsClientBeginCreateOrgAppAudienceOptions) (ItemsClientCreateOrgAppAudienceResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateOrgAppAudience(ctx, workspaceID, createOrgAppAudienceRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateOrgAppAudienceResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateOrgAppAudienceResponse{}, err
	}
	return result, err
}

// beginCreateOrgAppAudience creates the createOrgAppAudience request.
func (client *ItemsClient) beginCreateOrgAppAudience(ctx context.Context, workspaceID string, createOrgAppAudienceRequest CreateOrgAppAudienceRequest, options *ItemsClientBeginCreateOrgAppAudienceOptions) (*runtime.Poller[ItemsClientCreateOrgAppAudienceResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrgAppAudience(ctx, workspaceID, createOrgAppAudienceRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateOrgAppAudienceResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateOrgAppAudienceResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateOrgAppAudienceResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateOrgAppAudienceResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetOrgAppAudienceDefinition - returns ItemsClientGetOrgAppAudienceDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get an OrgAppAudience's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the OrgAppAudience.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppAudienceID - The OrgAppAudience ID.
//   - options - ItemsClientBeginGetOrgAppAudienceDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetOrgAppAudienceDefinition method.
func (client *ItemsClient) GetOrgAppAudienceDefinition(ctx context.Context, workspaceID string, orgAppAudienceID string, options *ItemsClientBeginGetOrgAppAudienceDefinitionOptions) (ItemsClientGetOrgAppAudienceDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetOrgAppAudienceDefinition(ctx, workspaceID, orgAppAudienceID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetOrgAppAudienceDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetOrgAppAudienceDefinitionResponse{}, err
	}
	return result, err
}

// beginGetOrgAppAudienceDefinition creates the getOrgAppAudienceDefinition request.
func (client *ItemsClient) beginGetOrgAppAudienceDefinition(ctx context.Context, workspaceID string, orgAppAudienceID string, options *ItemsClientBeginGetOrgAppAudienceDefinitionOptions) (*runtime.Poller[ItemsClientGetOrgAppAudienceDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getOrgAppAudienceDefinition(ctx, workspaceID, orgAppAudienceID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetOrgAppAudienceDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetOrgAppAudienceDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetOrgAppAudienceDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetOrgAppAudienceDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateOrgAppAudienceDefinition - returns ItemsClientUpdateOrgAppAudienceDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the OrgAppAudience's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the OrgAppAudience.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - orgAppAudienceID - The OrgAppAudience ID.
//   - updateOrgAppAudienceDefinitionRequest - Update OrgAppAudience definition request payload.
//   - options - ItemsClientBeginUpdateOrgAppAudienceDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateOrgAppAudienceDefinition method.
func (client *ItemsClient) UpdateOrgAppAudienceDefinition(ctx context.Context, workspaceID string, orgAppAudienceID string, updateOrgAppAudienceDefinitionRequest UpdateOrgAppAudienceDefinitionRequest, options *ItemsClientBeginUpdateOrgAppAudienceDefinitionOptions) (ItemsClientUpdateOrgAppAudienceDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateOrgAppAudienceDefinition(ctx, workspaceID, orgAppAudienceID, updateOrgAppAudienceDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateOrgAppAudienceDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateOrgAppAudienceDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateOrgAppAudienceDefinition creates the updateOrgAppAudienceDefinition request.
func (client *ItemsClient) beginUpdateOrgAppAudienceDefinition(ctx context.Context, workspaceID string, orgAppAudienceID string, updateOrgAppAudienceDefinitionRequest UpdateOrgAppAudienceDefinitionRequest, options *ItemsClientBeginUpdateOrgAppAudienceDefinitionOptions) (*runtime.Poller[ItemsClientUpdateOrgAppAudienceDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateOrgAppAudienceDefinition(ctx, workspaceID, orgAppAudienceID, updateOrgAppAudienceDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateOrgAppAudienceDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateOrgAppAudienceDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateOrgAppAudienceDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateOrgAppAudienceDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListOrgAppAudiences - returns array of OrgAppAudience from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListOrgAppAudiencesOptions contains the optional parameters for the ItemsClient.NewListOrgAppAudiencesPager method.
func (client *ItemsClient) ListOrgAppAudiences(ctx context.Context, workspaceID string, options *ItemsClientListOrgAppAudiencesOptions) ([]OrgAppAudience, error) {
	pager := client.NewListOrgAppAudiencesPager(workspaceID, options)
	mapper := func(resp ItemsClientListOrgAppAudiencesResponse) []OrgAppAudience {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []OrgAppAudience{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []OrgAppAudience{}, err
	}
	return list, nil
}
