// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package appbackend

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateAppBackend - > [!NOTE] The AppBackend item is currently in preview (learn more [/fabric/fundamentals/preview]).
// Creates an AppBackend in the specified workspace.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an AppBackend, the workspace must be on a supported Fabric capacity. For more information, see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types]
// .
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createAppBackendRequest - Create AppBackend request payload.
//   - options - ItemsClientBeginCreateAppBackendOptions contains the optional parameters for the ItemsClient.BeginCreateAppBackend
//     method.
func (client *ItemsClient) BeginCreateAppBackend(ctx context.Context, workspaceID string, createAppBackendRequest CreateAppBackendRequest, options *ItemsClientBeginCreateAppBackendOptions) (*runtime.Poller[ItemsClientCreateAppBackendResponse], error) {
	return client.beginCreateAppBackend(ctx, workspaceID, createAppBackendRequest, options)
}

// CreateAppBackend - > [!NOTE] The AppBackend item is currently in preview (learn more [/fabric/fundamentals/preview]).
// Creates an AppBackend in the specified workspace.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// LIMITATIONS
// * To create an AppBackend, the workspace must be on a supported Fabric capacity. For more information, see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types]
// .
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createAppBackend(ctx context.Context, workspaceID string, createAppBackendRequest CreateAppBackendRequest, options *ItemsClientBeginCreateAppBackendOptions) (*http.Response, error) {
	var err error
	const operationName = "appbackend.ItemsClient.BeginCreateAppBackend"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createAppBackendCreateRequest(ctx, workspaceID, createAppBackendRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createAppBackendCreateRequest creates the CreateAppBackend request.
func (client *ItemsClient) createAppBackendCreateRequest(ctx context.Context, workspaceID string, createAppBackendRequest CreateAppBackendRequest, _ *ItemsClientBeginCreateAppBackendOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/appBackends"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createAppBackendRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteAppBackend - > [!NOTE] The AppBackend item is currently in preview (learn more [/fabric/fundamentals/preview]).
// PERMISSIONS The caller must have write permissions for the AppBackend.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - appBackendID - The AppBackend ID.
//   - options - ItemsClientDeleteAppBackendOptions contains the optional parameters for the ItemsClient.DeleteAppBackend method.
func (client *ItemsClient) DeleteAppBackend(ctx context.Context, workspaceID string, appBackendID string, options *ItemsClientDeleteAppBackendOptions) (ItemsClientDeleteAppBackendResponse, error) {
	var err error
	const operationName = "appbackend.ItemsClient.DeleteAppBackend"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteAppBackendCreateRequest(ctx, workspaceID, appBackendID, options)
	if err != nil {
		return ItemsClientDeleteAppBackendResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteAppBackendResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteAppBackendResponse{}, err
	}
	return ItemsClientDeleteAppBackendResponse{}, nil
}

// deleteAppBackendCreateRequest creates the DeleteAppBackend request.
func (client *ItemsClient) deleteAppBackendCreateRequest(ctx context.Context, workspaceID string, appBackendID string, _ *ItemsClientDeleteAppBackendOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/appBackends/{appBackendId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if appBackendID == "" {
		return nil, errors.New("parameter appBackendID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{appBackendId}", url.PathEscape(appBackendID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetAppBackend - > [!NOTE] The AppBackend item is currently in preview (learn more [/fabric/fundamentals/preview]).
// Returns properties of the specified AppBackend.
// PERMISSIONS The caller must have read permissions for the AppBackend.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - appBackendID - The AppBackend ID.
//   - options - ItemsClientGetAppBackendOptions contains the optional parameters for the ItemsClient.GetAppBackend method.
func (client *ItemsClient) GetAppBackend(ctx context.Context, workspaceID string, appBackendID string, options *ItemsClientGetAppBackendOptions) (ItemsClientGetAppBackendResponse, error) {
	var err error
	const operationName = "appbackend.ItemsClient.GetAppBackend"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getAppBackendCreateRequest(ctx, workspaceID, appBackendID, options)
	if err != nil {
		return ItemsClientGetAppBackendResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetAppBackendResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetAppBackendResponse{}, err
	}
	resp, err := client.getAppBackendHandleResponse(httpResp)
	return resp, err
}

// getAppBackendCreateRequest creates the GetAppBackend request.
func (client *ItemsClient) getAppBackendCreateRequest(ctx context.Context, workspaceID string, appBackendID string, _ *ItemsClientGetAppBackendOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/appBackends/{appBackendId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if appBackendID == "" {
		return nil, errors.New("parameter appBackendID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{appBackendId}", url.PathEscape(appBackendID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getAppBackendHandleResponse handles the GetAppBackend response.
func (client *ItemsClient) getAppBackendHandleResponse(resp *http.Response) (ItemsClientGetAppBackendResponse, error) {
	result := ItemsClientGetAppBackendResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AppBackend); err != nil {
		return ItemsClientGetAppBackendResponse{}, err
	}
	return result, nil
}

// NewListAppBackendsPager - > [!NOTE] The AppBackend item is currently in preview (learn more [/fabric/fundamentals/preview]).
// Lists AppBackends in the specified workspace.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListAppBackendsOptions contains the optional parameters for the ItemsClient.NewListAppBackendsPager
//     method.
func (client *ItemsClient) NewListAppBackendsPager(workspaceID string, options *ItemsClientListAppBackendsOptions) *runtime.Pager[ItemsClientListAppBackendsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListAppBackendsResponse]{
		More: func(page ItemsClientListAppBackendsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListAppBackendsResponse) (ItemsClientListAppBackendsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "appbackend.ItemsClient.NewListAppBackendsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listAppBackendsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListAppBackendsResponse{}, err
			}
			return client.listAppBackendsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listAppBackendsCreateRequest creates the ListAppBackends request.
func (client *ItemsClient) listAppBackendsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListAppBackendsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/appBackends"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listAppBackendsHandleResponse handles the ListAppBackends response.
func (client *ItemsClient) listAppBackendsHandleResponse(resp *http.Response) (ItemsClientListAppBackendsResponse, error) {
	result := ItemsClientListAppBackendsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AppBackends); err != nil {
		return ItemsClientListAppBackendsResponse{}, err
	}
	return result, nil
}

// UpdateAppBackend - > [!NOTE] The AppBackend item is currently in preview (learn more [/fabric/fundamentals/preview]).
// Updates the properties of the specified AppBackend.
// PERMISSIONS The caller must have read and write permissions for the AppBackend.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - appBackendID - The AppBackend ID.
//   - updateAppBackendRequest - Update AppBackend request payload.
//   - options - ItemsClientUpdateAppBackendOptions contains the optional parameters for the ItemsClient.UpdateAppBackend method.
func (client *ItemsClient) UpdateAppBackend(ctx context.Context, workspaceID string, appBackendID string, updateAppBackendRequest UpdateAppBackendRequest, options *ItemsClientUpdateAppBackendOptions) (ItemsClientUpdateAppBackendResponse, error) {
	var err error
	const operationName = "appbackend.ItemsClient.UpdateAppBackend"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateAppBackendCreateRequest(ctx, workspaceID, appBackendID, updateAppBackendRequest, options)
	if err != nil {
		return ItemsClientUpdateAppBackendResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateAppBackendResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateAppBackendResponse{}, err
	}
	resp, err := client.updateAppBackendHandleResponse(httpResp)
	return resp, err
}

// updateAppBackendCreateRequest creates the UpdateAppBackend request.
func (client *ItemsClient) updateAppBackendCreateRequest(ctx context.Context, workspaceID string, appBackendID string, updateAppBackendRequest UpdateAppBackendRequest, _ *ItemsClientUpdateAppBackendOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/appBackends/{appBackendId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if appBackendID == "" {
		return nil, errors.New("parameter appBackendID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{appBackendId}", url.PathEscape(appBackendID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateAppBackendRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateAppBackendHandleResponse handles the UpdateAppBackend response.
func (client *ItemsClient) updateAppBackendHandleResponse(resp *http.Response) (ItemsClientUpdateAppBackendResponse, error) {
	result := ItemsClientUpdateAppBackendResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AppBackend); err != nil {
		return ItemsClientUpdateAppBackendResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// CreateAppBackend - returns ItemsClientCreateAppBackendResponse in sync mode.
// >  [!NOTE] The AppBackend item is currently in preview (learn more [/fabric/fundamentals/preview]).
//
// Creates an AppBackend in the specified workspace.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create an AppBackend, the workspace must be on a supported Fabric capacity. For more information, see: Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types]
//     .
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createAppBackendRequest - Create AppBackend request payload.
//   - options - ItemsClientBeginCreateAppBackendOptions contains the optional parameters for the ItemsClient.BeginCreateAppBackend method.
func (client *ItemsClient) CreateAppBackend(ctx context.Context, workspaceID string, createAppBackendRequest CreateAppBackendRequest, options *ItemsClientBeginCreateAppBackendOptions) (ItemsClientCreateAppBackendResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateAppBackend(ctx, workspaceID, createAppBackendRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateAppBackendResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateAppBackendResponse{}, err
	}
	return result, err
}

// beginCreateAppBackend creates the createAppBackend request.
func (client *ItemsClient) beginCreateAppBackend(ctx context.Context, workspaceID string, createAppBackendRequest CreateAppBackendRequest, options *ItemsClientBeginCreateAppBackendOptions) (*runtime.Poller[ItemsClientCreateAppBackendResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createAppBackend(ctx, workspaceID, createAppBackendRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateAppBackendResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateAppBackendResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateAppBackendResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateAppBackendResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListAppBackends - returns array of AppBackend from all pages.
// >  [!NOTE] The AppBackend item is currently in preview (learn more [/fabric/fundamentals/preview]).
//
// Lists AppBackends in the specified workspace.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListAppBackendsOptions contains the optional parameters for the ItemsClient.NewListAppBackendsPager method.
func (client *ItemsClient) ListAppBackends(ctx context.Context, workspaceID string, options *ItemsClientListAppBackendsOptions) ([]AppBackend, error) {
	pager := client.NewListAppBackendsPager(workspaceID, options)
	mapper := func(resp ItemsClientListAppBackendsResponse) []AppBackend {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []AppBackend{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []AppBackend{}, err
	}
	return list, nil
}
