// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package graphqueryset

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateGraphQuerySet - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create GraphQuerySet with a public definition, refer to GraphQuerySet [/rest/api/fabric/articles/item-management/definitions/graph-queryset]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
// LIMITATIONS
// * To create a GraphQuerySet the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types]
// .
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createGraphQuerySetRequest - Create item request payload.
//   - options - ItemsClientBeginCreateGraphQuerySetOptions contains the optional parameters for the ItemsClient.BeginCreateGraphQuerySet
//     method.
func (client *ItemsClient) BeginCreateGraphQuerySet(ctx context.Context, workspaceID string, createGraphQuerySetRequest CreateGraphQuerySetRequest, options *ItemsClientBeginCreateGraphQuerySetOptions) (*runtime.Poller[ItemsClientCreateGraphQuerySetResponse], error) {
	return client.beginCreateGraphQuerySet(ctx, workspaceID, createGraphQuerySetRequest, options)
}

// CreateGraphQuerySet - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// To create GraphQuerySet with a public definition, refer to GraphQuerySet [/rest/api/fabric/articles/item-management/definitions/graph-queryset]
// article.
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
// LIMITATIONS
// * To create a GraphQuerySet the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric
// license types [/fabric/enterprise/licenses#microsoft-fabric-license-types]
// .
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createGraphQuerySet(ctx context.Context, workspaceID string, createGraphQuerySetRequest CreateGraphQuerySetRequest, options *ItemsClientBeginCreateGraphQuerySetOptions) (*http.Response, error) {
	var err error
	const operationName = "graphqueryset.ItemsClient.BeginCreateGraphQuerySet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createGraphQuerySetCreateRequest(ctx, workspaceID, createGraphQuerySetRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createGraphQuerySetCreateRequest creates the CreateGraphQuerySet request.
func (client *ItemsClient) createGraphQuerySetCreateRequest(ctx context.Context, workspaceID string, createGraphQuerySetRequest CreateGraphQuerySetRequest, _ *ItemsClientBeginCreateGraphQuerySetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphQuerySets"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createGraphQuerySetRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteGraphQuerySet - PERMISSIONS The caller must have write permissions for the workspace.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphQuerySetID - The GraphQuerySet ID.
//   - options - ItemsClientDeleteGraphQuerySetOptions contains the optional parameters for the ItemsClient.DeleteGraphQuerySet
//     method.
func (client *ItemsClient) DeleteGraphQuerySet(ctx context.Context, workspaceID string, graphQuerySetID string, options *ItemsClientDeleteGraphQuerySetOptions) (ItemsClientDeleteGraphQuerySetResponse, error) {
	var err error
	const operationName = "graphqueryset.ItemsClient.DeleteGraphQuerySet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteGraphQuerySetCreateRequest(ctx, workspaceID, graphQuerySetID, options)
	if err != nil {
		return ItemsClientDeleteGraphQuerySetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteGraphQuerySetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteGraphQuerySetResponse{}, err
	}
	return ItemsClientDeleteGraphQuerySetResponse{}, nil
}

// deleteGraphQuerySetCreateRequest creates the DeleteGraphQuerySet request.
func (client *ItemsClient) deleteGraphQuerySetCreateRequest(ctx context.Context, workspaceID string, graphQuerySetID string, _ *ItemsClientDeleteGraphQuerySetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphQuerySets/{GraphQuerySetId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphQuerySetID == "" {
		return nil, errors.New("parameter graphQuerySetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphQuerySetId}", url.PathEscape(graphQuerySetID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetGraphQuerySet - PERMISSIONS The caller must have read permissions for the workspace.
// REQUIRED DELEGATED SCOPES GraphQuerySet.Read.All or GraphQuerySet.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphQuerySetID - The GraphQuerySet ID.
//   - options - ItemsClientGetGraphQuerySetOptions contains the optional parameters for the ItemsClient.GetGraphQuerySet method.
func (client *ItemsClient) GetGraphQuerySet(ctx context.Context, workspaceID string, graphQuerySetID string, options *ItemsClientGetGraphQuerySetOptions) (ItemsClientGetGraphQuerySetResponse, error) {
	var err error
	const operationName = "graphqueryset.ItemsClient.GetGraphQuerySet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getGraphQuerySetCreateRequest(ctx, workspaceID, graphQuerySetID, options)
	if err != nil {
		return ItemsClientGetGraphQuerySetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetGraphQuerySetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetGraphQuerySetResponse{}, err
	}
	resp, err := client.getGraphQuerySetHandleResponse(httpResp)
	return resp, err
}

// getGraphQuerySetCreateRequest creates the GetGraphQuerySet request.
func (client *ItemsClient) getGraphQuerySetCreateRequest(ctx context.Context, workspaceID string, graphQuerySetID string, _ *ItemsClientGetGraphQuerySetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphQuerySets/{GraphQuerySetId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphQuerySetID == "" {
		return nil, errors.New("parameter graphQuerySetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphQuerySetId}", url.PathEscape(graphQuerySetID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getGraphQuerySetHandleResponse handles the GetGraphQuerySet response.
func (client *ItemsClient) getGraphQuerySetHandleResponse(resp *http.Response) (ItemsClientGetGraphQuerySetResponse, error) {
	result := ItemsClientGetGraphQuerySetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GraphQuerySet); err != nil {
		return ItemsClientGetGraphQuerySetResponse{}, err
	}
	return result, nil
}

// BeginGetGraphQuerySetDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a GraphQuerySet's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the workspace.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphQuerySetID - The GraphQuerySet ID.
//   - options - ItemsClientBeginGetGraphQuerySetDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetGraphQuerySetDefinition
//     method.
func (client *ItemsClient) BeginGetGraphQuerySetDefinition(ctx context.Context, workspaceID string, graphQuerySetID string, options *ItemsClientBeginGetGraphQuerySetDefinitionOptions) (*runtime.Poller[ItemsClientGetGraphQuerySetDefinitionResponse], error) {
	return client.beginGetGraphQuerySetDefinition(ctx, workspaceID, graphQuerySetID, options)
}

// GetGraphQuerySetDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// When you get a GraphQuerySet's public definition, the sensitivity label is not a part of the definition.
// PERMISSIONS The caller must have read and write permissions for the workspace.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getGraphQuerySetDefinition(ctx context.Context, workspaceID string, graphQuerySetID string, options *ItemsClientBeginGetGraphQuerySetDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "graphqueryset.ItemsClient.BeginGetGraphQuerySetDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getGraphQuerySetDefinitionCreateRequest(ctx, workspaceID, graphQuerySetID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getGraphQuerySetDefinitionCreateRequest creates the GetGraphQuerySetDefinition request.
func (client *ItemsClient) getGraphQuerySetDefinitionCreateRequest(ctx context.Context, workspaceID string, graphQuerySetID string, options *ItemsClientBeginGetGraphQuerySetDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphQuerySets/{GraphQuerySetId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphQuerySetID == "" {
		return nil, errors.New("parameter graphQuerySetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphQuerySetId}", url.PathEscape(graphQuerySetID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Format != nil {
		reqQP.Set("format", *options.Format)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListGraphQuerySetsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListGraphQuerySetsOptions contains the optional parameters for the ItemsClient.NewListGraphQuerySetsPager
//     method.
func (client *ItemsClient) NewListGraphQuerySetsPager(workspaceID string, options *ItemsClientListGraphQuerySetsOptions) *runtime.Pager[ItemsClientListGraphQuerySetsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListGraphQuerySetsResponse]{
		More: func(page ItemsClientListGraphQuerySetsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListGraphQuerySetsResponse) (ItemsClientListGraphQuerySetsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "graphqueryset.ItemsClient.NewListGraphQuerySetsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listGraphQuerySetsCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListGraphQuerySetsResponse{}, err
			}
			return client.listGraphQuerySetsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listGraphQuerySetsCreateRequest creates the ListGraphQuerySets request.
func (client *ItemsClient) listGraphQuerySetsCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListGraphQuerySetsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphQuerySets"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listGraphQuerySetsHandleResponse handles the ListGraphQuerySets response.
func (client *ItemsClient) listGraphQuerySetsHandleResponse(resp *http.Response) (ItemsClientListGraphQuerySetsResponse, error) {
	result := ItemsClientListGraphQuerySetsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GraphQuerySets); err != nil {
		return ItemsClientListGraphQuerySetsResponse{}, err
	}
	return result, nil
}

// UpdateGraphQuerySet - PERMISSIONS The caller must have read and write permissions for the workspace.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphQuerySetID - The GraphQuerySet ID.
//   - updateGraphQuerySetRequest - Update GraphQuerySet request payload.
//   - options - ItemsClientUpdateGraphQuerySetOptions contains the optional parameters for the ItemsClient.UpdateGraphQuerySet
//     method.
func (client *ItemsClient) UpdateGraphQuerySet(ctx context.Context, workspaceID string, graphQuerySetID string, updateGraphQuerySetRequest UpdateGraphQuerySetRequest, options *ItemsClientUpdateGraphQuerySetOptions) (ItemsClientUpdateGraphQuerySetResponse, error) {
	var err error
	const operationName = "graphqueryset.ItemsClient.UpdateGraphQuerySet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateGraphQuerySetCreateRequest(ctx, workspaceID, graphQuerySetID, updateGraphQuerySetRequest, options)
	if err != nil {
		return ItemsClientUpdateGraphQuerySetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateGraphQuerySetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateGraphQuerySetResponse{}, err
	}
	resp, err := client.updateGraphQuerySetHandleResponse(httpResp)
	return resp, err
}

// updateGraphQuerySetCreateRequest creates the UpdateGraphQuerySet request.
func (client *ItemsClient) updateGraphQuerySetCreateRequest(ctx context.Context, workspaceID string, graphQuerySetID string, updateGraphQuerySetRequest UpdateGraphQuerySetRequest, _ *ItemsClientUpdateGraphQuerySetOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphQuerySets/{GraphQuerySetId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphQuerySetID == "" {
		return nil, errors.New("parameter graphQuerySetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphQuerySetId}", url.PathEscape(graphQuerySetID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateGraphQuerySetRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateGraphQuerySetHandleResponse handles the UpdateGraphQuerySet response.
func (client *ItemsClient) updateGraphQuerySetHandleResponse(resp *http.Response) (ItemsClientUpdateGraphQuerySetResponse, error) {
	result := ItemsClientUpdateGraphQuerySetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GraphQuerySet); err != nil {
		return ItemsClientUpdateGraphQuerySetResponse{}, err
	}
	return result, nil
}

// BeginUpdateGraphQuerySetDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the GraphQuerySet's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the workspace.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphQuerySetID - The GraphQuerySet ID.
//   - updateGraphQuerySetDefinitionRequest - Update GraphQuerySet definition request payload.
//   - options - ItemsClientBeginUpdateGraphQuerySetDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateGraphQuerySetDefinition
//     method.
func (client *ItemsClient) BeginUpdateGraphQuerySetDefinition(ctx context.Context, workspaceID string, graphQuerySetID string, updateGraphQuerySetDefinitionRequest UpdateGraphQuerySetDefinitionRequest, options *ItemsClientBeginUpdateGraphQuerySetDefinitionOptions) (*runtime.Poller[ItemsClientUpdateGraphQuerySetDefinitionResponse], error) {
	return client.beginUpdateGraphQuerySetDefinition(ctx, workspaceID, graphQuerySetID, updateGraphQuerySetDefinitionRequest, options)
}

// UpdateGraphQuerySetDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// Updating the GraphQuerySet's definition, does not affect its sensitivity label.
// PERMISSIONS The caller must have read and write permissions for the workspace.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateGraphQuerySetDefinition(ctx context.Context, workspaceID string, graphQuerySetID string, updateGraphQuerySetDefinitionRequest UpdateGraphQuerySetDefinitionRequest, options *ItemsClientBeginUpdateGraphQuerySetDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "graphqueryset.ItemsClient.BeginUpdateGraphQuerySetDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateGraphQuerySetDefinitionCreateRequest(ctx, workspaceID, graphQuerySetID, updateGraphQuerySetDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateGraphQuerySetDefinitionCreateRequest creates the UpdateGraphQuerySetDefinition request.
func (client *ItemsClient) updateGraphQuerySetDefinitionCreateRequest(ctx context.Context, workspaceID string, graphQuerySetID string, updateGraphQuerySetDefinitionRequest UpdateGraphQuerySetDefinitionRequest, options *ItemsClientBeginUpdateGraphQuerySetDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/GraphQuerySets/{GraphQuerySetId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if graphQuerySetID == "" {
		return nil, errors.New("parameter graphQuerySetID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{GraphQuerySetId}", url.PathEscape(graphQuerySetID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.UpdateMetadata != nil {
		reqQP.Set("updateMetadata", strconv.FormatBool(*options.UpdateMetadata))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateGraphQuerySetDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateGraphQuerySet - returns ItemsClientCreateGraphQuerySetResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// To create GraphQuerySet with a public definition, refer to GraphQuerySet [/rest/api/fabric/articles/item-management/definitions/graph-queryset] article.
//
// PERMISSIONS THE CALLER MUST HAVE A CONTRIBUTOR WORKSPACE ROLE.
// REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
//
// LIMITATIONS
//
//   - To create a GraphQuerySet the workspace must be on a supported Fabric capacity. For more information see: Microsoft Fabric license types [/fabric/enterprise/licenses#microsoft-fabric-license-types]
//     .
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createGraphQuerySetRequest - Create item request payload.
//   - options - ItemsClientBeginCreateGraphQuerySetOptions contains the optional parameters for the ItemsClient.BeginCreateGraphQuerySet method.
func (client *ItemsClient) CreateGraphQuerySet(ctx context.Context, workspaceID string, createGraphQuerySetRequest CreateGraphQuerySetRequest, options *ItemsClientBeginCreateGraphQuerySetOptions) (ItemsClientCreateGraphQuerySetResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateGraphQuerySet(ctx, workspaceID, createGraphQuerySetRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateGraphQuerySetResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateGraphQuerySetResponse{}, err
	}
	return result, err
}

// beginCreateGraphQuerySet creates the createGraphQuerySet request.
func (client *ItemsClient) beginCreateGraphQuerySet(ctx context.Context, workspaceID string, createGraphQuerySetRequest CreateGraphQuerySetRequest, options *ItemsClientBeginCreateGraphQuerySetOptions) (*runtime.Poller[ItemsClientCreateGraphQuerySetResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createGraphQuerySet(ctx, workspaceID, createGraphQuerySetRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateGraphQuerySetResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateGraphQuerySetResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateGraphQuerySetResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateGraphQuerySetResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetGraphQuerySetDefinition - returns ItemsClientGetGraphQuerySetDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// When you get a GraphQuerySet's public definition, the sensitivity label is not a part of the definition.
//
// PERMISSIONS The caller must have read and write permissions for the workspace.
//
// # REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphQuerySetID - The GraphQuerySet ID.
//   - options - ItemsClientBeginGetGraphQuerySetDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetGraphQuerySetDefinition method.
func (client *ItemsClient) GetGraphQuerySetDefinition(ctx context.Context, workspaceID string, graphQuerySetID string, options *ItemsClientBeginGetGraphQuerySetDefinitionOptions) (ItemsClientGetGraphQuerySetDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetGraphQuerySetDefinition(ctx, workspaceID, graphQuerySetID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetGraphQuerySetDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetGraphQuerySetDefinitionResponse{}, err
	}
	return result, err
}

// beginGetGraphQuerySetDefinition creates the getGraphQuerySetDefinition request.
func (client *ItemsClient) beginGetGraphQuerySetDefinition(ctx context.Context, workspaceID string, graphQuerySetID string, options *ItemsClientBeginGetGraphQuerySetDefinitionOptions) (*runtime.Poller[ItemsClientGetGraphQuerySetDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getGraphQuerySetDefinition(ctx, workspaceID, graphQuerySetID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetGraphQuerySetDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetGraphQuerySetDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetGraphQuerySetDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetGraphQuerySetDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateGraphQuerySetDefinition - returns ItemsClientUpdateGraphQuerySetDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// Updating the GraphQuerySet's definition, does not affect its sensitivity label.
//
// PERMISSIONS The caller must have read and write permissions for the workspace.
//
// # REQUIRED DELEGATED SCOPES GraphQuerySet.ReadWrite.All or Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - graphQuerySetID - The GraphQuerySet ID.
//   - updateGraphQuerySetDefinitionRequest - Update GraphQuerySet definition request payload.
//   - options - ItemsClientBeginUpdateGraphQuerySetDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateGraphQuerySetDefinition method.
func (client *ItemsClient) UpdateGraphQuerySetDefinition(ctx context.Context, workspaceID string, graphQuerySetID string, updateGraphQuerySetDefinitionRequest UpdateGraphQuerySetDefinitionRequest, options *ItemsClientBeginUpdateGraphQuerySetDefinitionOptions) (ItemsClientUpdateGraphQuerySetDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateGraphQuerySetDefinition(ctx, workspaceID, graphQuerySetID, updateGraphQuerySetDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateGraphQuerySetDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateGraphQuerySetDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateGraphQuerySetDefinition creates the updateGraphQuerySetDefinition request.
func (client *ItemsClient) beginUpdateGraphQuerySetDefinition(ctx context.Context, workspaceID string, graphQuerySetID string, updateGraphQuerySetDefinitionRequest UpdateGraphQuerySetDefinitionRequest, options *ItemsClientBeginUpdateGraphQuerySetDefinitionOptions) (*runtime.Poller[ItemsClientUpdateGraphQuerySetDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateGraphQuerySetDefinition(ctx, workspaceID, graphQuerySetID, updateGraphQuerySetDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateGraphQuerySetDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateGraphQuerySetDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateGraphQuerySetDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateGraphQuerySetDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListGraphQuerySets - returns array of GraphQuerySet from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListGraphQuerySetsOptions contains the optional parameters for the ItemsClient.NewListGraphQuerySetsPager method.
func (client *ItemsClient) ListGraphQuerySets(ctx context.Context, workspaceID string, options *ItemsClientListGraphQuerySetsOptions) ([]GraphQuerySet, error) {
	pager := client.NewListGraphQuerySetsPager(workspaceID, options)
	mapper := func(resp ItemsClientListGraphQuerySetsResponse) []GraphQuerySet {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []GraphQuerySet{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []GraphQuerySet{}, err
	}
	return list, nil
}
