// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package kqldatabase

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// TableShortcutsClient contains the methods for the TableShortcuts group.
// Don't use this type directly, use a constructor function instead.
type TableShortcutsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateShortcut - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS
// The caller must have read,write permissions for the KQL database.
// REQUIRED DELEGATED SCOPES KQLDatabase.ReadWrite.All and OneLake.ReadWrite.All
// or Item.ReadWrite.All and OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The ID of the workspace.
//   - kqlDatabaseID - The KQL database ID.
//   - createTableShortcutRequest - An object representing the properties of the shortcut to create.
//   - options - TableShortcutsClientBeginCreateShortcutOptions contains the optional parameters for the TableShortcutsClient.BeginCreateShortcut
//     method.
func (client *TableShortcutsClient) BeginCreateShortcut(ctx context.Context, workspaceID string, kqlDatabaseID string, createTableShortcutRequest CreateTableShortcutRequest, options *TableShortcutsClientBeginCreateShortcutOptions) (*runtime.Poller[TableShortcutsClientCreateShortcutResponse], error) {
	return client.beginCreateShortcut(ctx, workspaceID, kqlDatabaseID, createTableShortcutRequest, options)
}

// CreateShortcut - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS
// The caller must have read,write permissions for the KQL database.
// REQUIRED DELEGATED SCOPES KQLDatabase.ReadWrite.All and OneLake.ReadWrite.All
// or Item.ReadWrite.All and OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *TableShortcutsClient) createShortcut(ctx context.Context, workspaceID string, kqlDatabaseID string, createTableShortcutRequest CreateTableShortcutRequest, options *TableShortcutsClientBeginCreateShortcutOptions) (*http.Response, error) {
	var err error
	const operationName = "kqldatabase.TableShortcutsClient.BeginCreateShortcut"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createShortcutCreateRequest(ctx, workspaceID, kqlDatabaseID, createTableShortcutRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createShortcutCreateRequest creates the CreateShortcut request.
func (client *TableShortcutsClient) createShortcutCreateRequest(ctx context.Context, workspaceID string, kqlDatabaseID string, createTableShortcutRequest CreateTableShortcutRequest, _ *TableShortcutsClientBeginCreateShortcutOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/kqlDatabases/{kqlDatabaseId}/shortcuts"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if kqlDatabaseID == "" {
		return nil, errors.New("parameter kqlDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{kqlDatabaseId}", url.PathEscape(kqlDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createTableShortcutRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteShortcut - PERMISSIONS The caller must have read,write permissions for the KQL database.
// REQUIRED DELEGATED SCOPES
// KQLDatabase.ReadWrite.All and OneLake.ReadWrite.All
// or Item.ReadWrite.All and OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - kqlDatabaseID - The KQL database ID.
//   - shortcutName - The name of the shortcut
//   - options - TableShortcutsClientDeleteShortcutOptions contains the optional parameters for the TableShortcutsClient.DeleteShortcut
//     method.
func (client *TableShortcutsClient) DeleteShortcut(ctx context.Context, workspaceID string, kqlDatabaseID string, shortcutName string, options *TableShortcutsClientDeleteShortcutOptions) (TableShortcutsClientDeleteShortcutResponse, error) {
	var err error
	const operationName = "kqldatabase.TableShortcutsClient.DeleteShortcut"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteShortcutCreateRequest(ctx, workspaceID, kqlDatabaseID, shortcutName, options)
	if err != nil {
		return TableShortcutsClientDeleteShortcutResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TableShortcutsClientDeleteShortcutResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return TableShortcutsClientDeleteShortcutResponse{}, err
	}
	return TableShortcutsClientDeleteShortcutResponse{}, nil
}

// deleteShortcutCreateRequest creates the DeleteShortcut request.
func (client *TableShortcutsClient) deleteShortcutCreateRequest(ctx context.Context, workspaceID string, kqlDatabaseID string, shortcutName string, _ *TableShortcutsClientDeleteShortcutOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/kqlDatabases/{kqlDatabaseId}/shortcuts/{shortcutName}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if kqlDatabaseID == "" {
		return nil, errors.New("parameter kqlDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{kqlDatabaseId}", url.PathEscape(kqlDatabaseID))
	if shortcutName == "" {
		return nil, errors.New("parameter shortcutName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{shortcutName}", url.PathEscape(shortcutName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetShortcut - PERMISSIONS The caller must have read permissions for the KQL database.
// REQUIRED DELEGATED SCOPES All of the below scopes are required:
// * KQLDatabase.Read.All or KQLDatabase.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// * OneLake.Read.All or OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - kqlDatabaseID - The KQL database ID.
//   - shortcutName - The name of the shortcut
//   - options - TableShortcutsClientGetShortcutOptions contains the optional parameters for the TableShortcutsClient.GetShortcut
//     method.
func (client *TableShortcutsClient) GetShortcut(ctx context.Context, workspaceID string, kqlDatabaseID string, shortcutName string, options *TableShortcutsClientGetShortcutOptions) (TableShortcutsClientGetShortcutResponse, error) {
	var err error
	const operationName = "kqldatabase.TableShortcutsClient.GetShortcut"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getShortcutCreateRequest(ctx, workspaceID, kqlDatabaseID, shortcutName, options)
	if err != nil {
		return TableShortcutsClientGetShortcutResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TableShortcutsClientGetShortcutResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return TableShortcutsClientGetShortcutResponse{}, err
	}
	resp, err := client.getShortcutHandleResponse(httpResp)
	return resp, err
}

// getShortcutCreateRequest creates the GetShortcut request.
func (client *TableShortcutsClient) getShortcutCreateRequest(ctx context.Context, workspaceID string, kqlDatabaseID string, shortcutName string, _ *TableShortcutsClientGetShortcutOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/kqlDatabases/{kqlDatabaseId}/shortcuts/{shortcutName}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if kqlDatabaseID == "" {
		return nil, errors.New("parameter kqlDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{kqlDatabaseId}", url.PathEscape(kqlDatabaseID))
	if shortcutName == "" {
		return nil, errors.New("parameter shortcutName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{shortcutName}", url.PathEscape(shortcutName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getShortcutHandleResponse handles the GetShortcut response.
func (client *TableShortcutsClient) getShortcutHandleResponse(resp *http.Response) (TableShortcutsClientGetShortcutResponse, error) {
	result := TableShortcutsClientGetShortcutResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TableShortcut); err != nil {
		return TableShortcutsClientGetShortcutResponse{}, err
	}
	return result, nil
}

// NewListShortcutsPager - PERMISSIONS The caller must have read permissions for the KQL database.
// REQUIRED DELEGATED SCOPES All of the below scopes are required:
// * KQLDatabase.Read.All or KQLDatabase.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// * OneLake.Read.All or OneLake.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - kqlDatabaseID - The KQL database ID.
//   - options - TableShortcutsClientListShortcutsOptions contains the optional parameters for the TableShortcutsClient.NewListShortcutsPager
//     method.
func (client *TableShortcutsClient) NewListShortcutsPager(workspaceID string, kqlDatabaseID string, options *TableShortcutsClientListShortcutsOptions) *runtime.Pager[TableShortcutsClientListShortcutsResponse] {
	return runtime.NewPager(runtime.PagingHandler[TableShortcutsClientListShortcutsResponse]{
		More: func(page TableShortcutsClientListShortcutsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *TableShortcutsClientListShortcutsResponse) (TableShortcutsClientListShortcutsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "kqldatabase.TableShortcutsClient.NewListShortcutsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listShortcutsCreateRequest(ctx, workspaceID, kqlDatabaseID, options)
			}, nil)
			if err != nil {
				return TableShortcutsClientListShortcutsResponse{}, err
			}
			return client.listShortcutsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listShortcutsCreateRequest creates the ListShortcuts request.
func (client *TableShortcutsClient) listShortcutsCreateRequest(ctx context.Context, workspaceID string, kqlDatabaseID string, options *TableShortcutsClientListShortcutsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/kqlDatabases/{kqlDatabaseId}/shortcuts"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if kqlDatabaseID == "" {
		return nil, errors.New("parameter kqlDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{kqlDatabaseId}", url.PathEscape(kqlDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listShortcutsHandleResponse handles the ListShortcuts response.
func (client *TableShortcutsClient) listShortcutsHandleResponse(resp *http.Response) (TableShortcutsClientListShortcutsResponse, error) {
	result := TableShortcutsClientListShortcutsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TableShortcuts); err != nil {
		return TableShortcutsClientListShortcutsResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// CreateShortcut - returns TableShortcutsClientCreateShortcutResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS
// The caller must have read,write permissions for the KQL database.
//
// # REQUIRED DELEGATED SCOPES KQLDatabase.ReadWrite.All and OneLake.ReadWrite.All
//
// or Item.ReadWrite.All and OneLake.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The ID of the workspace.
//   - kqlDatabaseID - The KQL database ID.
//   - createTableShortcutRequest - An object representing the properties of the shortcut to create.
//   - options - TableShortcutsClientBeginCreateShortcutOptions contains the optional parameters for the TableShortcutsClient.BeginCreateShortcut method.
func (client *TableShortcutsClient) CreateShortcut(ctx context.Context, workspaceID string, kqlDatabaseID string, createTableShortcutRequest CreateTableShortcutRequest, options *TableShortcutsClientBeginCreateShortcutOptions) (TableShortcutsClientCreateShortcutResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateShortcut(ctx, workspaceID, kqlDatabaseID, createTableShortcutRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return TableShortcutsClientCreateShortcutResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return TableShortcutsClientCreateShortcutResponse{}, err
	}
	return result, err
}

// beginCreateShortcut creates the createShortcut request.
func (client *TableShortcutsClient) beginCreateShortcut(ctx context.Context, workspaceID string, kqlDatabaseID string, createTableShortcutRequest CreateTableShortcutRequest, options *TableShortcutsClientBeginCreateShortcutOptions) (*runtime.Poller[TableShortcutsClientCreateShortcutResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createShortcut(ctx, workspaceID, kqlDatabaseID, createTableShortcutRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[TableShortcutsClientCreateShortcutResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[TableShortcutsClientCreateShortcutResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[TableShortcutsClientCreateShortcutResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[TableShortcutsClientCreateShortcutResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListShortcuts - returns array of TableShortcut from all pages.
// PERMISSIONS The caller must have read permissions for the KQL database.
//
// REQUIRED DELEGATED SCOPES All of the below scopes are required:
//
//   - KQLDatabase.Read.All or KQLDatabase.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
//   - OneLake.Read.All or OneLake.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - kqlDatabaseID - The KQL database ID.
//   - options - TableShortcutsClientListShortcutsOptions contains the optional parameters for the TableShortcutsClient.NewListShortcutsPager method.
func (client *TableShortcutsClient) ListShortcuts(ctx context.Context, workspaceID string, kqlDatabaseID string, options *TableShortcutsClientListShortcutsOptions) ([]TableShortcut, error) {
	pager := client.NewListShortcutsPager(workspaceID, kqlDatabaseID, options)
	mapper := func(resp TableShortcutsClientListShortcutsResponse) []TableShortcut {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []TableShortcut{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []TableShortcut{}, err
	}
	return list, nil
}
