// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package spark

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// CapacitySettingsClient contains the methods for the CapacitySettings group.
// Don't use this type directly, use a constructor function instead.
type CapacitySettingsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetSparkSettingsBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use. When calling this
// API, callers must specify true as the value for the query parameter beta.
// PERMISSIONS The caller must be a capacity contributor or a capacity admin.
// REQUIRED DELEGATED SCOPES Capacity.Read.All or Capacity.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - capacityID - The capacity ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - CapacitySettingsClientGetSparkSettingsBetaOptions contains the optional parameters for the CapacitySettingsClient.GetSparkSettingsBeta
//     method.
func (client *CapacitySettingsClient) GetSparkSettingsBeta(ctx context.Context, capacityID string, beta bool, options *CapacitySettingsClientGetSparkSettingsBetaOptions) (CapacitySettingsClientGetSparkSettingsBetaResponse, error) {
	var err error
	const operationName = "spark.CapacitySettingsClient.GetSparkSettingsBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSparkSettingsBetaCreateRequest(ctx, capacityID, beta, options)
	if err != nil {
		return CapacitySettingsClientGetSparkSettingsBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CapacitySettingsClientGetSparkSettingsBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return CapacitySettingsClientGetSparkSettingsBetaResponse{}, err
	}
	resp, err := client.getSparkSettingsBetaHandleResponse(httpResp)
	return resp, err
}

// getSparkSettingsBetaCreateRequest creates the GetSparkSettingsBeta request.
func (client *CapacitySettingsClient) getSparkSettingsBetaCreateRequest(ctx context.Context, capacityID string, beta bool, _ *CapacitySettingsClientGetSparkSettingsBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/capacities/{capacityId}/spark/settings"
	if capacityID == "" {
		return nil, errors.New("parameter capacityID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{capacityId}", url.PathEscape(capacityID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSparkSettingsBetaHandleResponse handles the GetSparkSettingsBeta response.
func (client *CapacitySettingsClient) getSparkSettingsBetaHandleResponse(resp *http.Response) (CapacitySettingsClientGetSparkSettingsBetaResponse, error) {
	result := CapacitySettingsClientGetSparkSettingsBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CapacitySparkSettings); err != nil {
		return CapacitySettingsClientGetSparkSettingsBetaResponse{}, err
	}
	return result, nil
}

// UpdateSparkSettingsBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use. When calling this
// API, callers must specify true as the value for the query parameter beta.
// PERMISSIONS The caller must be a capacity admin.
// REQUIRED DELEGATED SCOPES Capacity.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - capacityID - The capacity ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - updateCapacitySettingsRequest - Update capacity Spark settings request payload.
//   - options - CapacitySettingsClientUpdateSparkSettingsBetaOptions contains the optional parameters for the CapacitySettingsClient.UpdateSparkSettingsBeta
//     method.
func (client *CapacitySettingsClient) UpdateSparkSettingsBeta(ctx context.Context, capacityID string, beta bool, updateCapacitySettingsRequest UpdateCapacitySparkSettingsRequest, options *CapacitySettingsClientUpdateSparkSettingsBetaOptions) (CapacitySettingsClientUpdateSparkSettingsBetaResponse, error) {
	var err error
	const operationName = "spark.CapacitySettingsClient.UpdateSparkSettingsBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateSparkSettingsBetaCreateRequest(ctx, capacityID, beta, updateCapacitySettingsRequest, options)
	if err != nil {
		return CapacitySettingsClientUpdateSparkSettingsBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CapacitySettingsClientUpdateSparkSettingsBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return CapacitySettingsClientUpdateSparkSettingsBetaResponse{}, err
	}
	resp, err := client.updateSparkSettingsBetaHandleResponse(httpResp)
	return resp, err
}

// updateSparkSettingsBetaCreateRequest creates the UpdateSparkSettingsBeta request.
func (client *CapacitySettingsClient) updateSparkSettingsBetaCreateRequest(ctx context.Context, capacityID string, beta bool, updateCapacitySettingsRequest UpdateCapacitySparkSettingsRequest, _ *CapacitySettingsClientUpdateSparkSettingsBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/capacities/{capacityId}/spark/settings"
	if capacityID == "" {
		return nil, errors.New("parameter capacityID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{capacityId}", url.PathEscape(capacityID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateCapacitySettingsRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateSparkSettingsBetaHandleResponse handles the UpdateSparkSettingsBeta response.
func (client *CapacitySettingsClient) updateSparkSettingsBetaHandleResponse(resp *http.Response) (CapacitySettingsClientUpdateSparkSettingsBetaResponse, error) {
	result := CapacitySettingsClientUpdateSparkSettingsBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CapacitySparkSettings); err != nil {
		return CapacitySettingsClientUpdateSparkSettingsBetaResponse{}, err
	}
	return result, nil
}

// Custom code starts below
