// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package dataflow

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// QueryExecutionClient contains the methods for the QueryExecution group.
// Don't use this type directly, use a constructor function instead.
type QueryExecutionClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginExecuteQuery - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use.
// Executes a specified query against a dataflow and streams the results in Apache Arrow format. Supports using custom mashup
// documents for advanced scenarios.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have execute permissions for the dataflow.
// REQUIRED DELEGATED SCOPES Dataflow.Execute.All or Item.Execute.All.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataflowID - The Dataflow ID.
//   - executeQueryRequest - Execute query request payload.
//   - options - QueryExecutionClientBeginExecuteQueryOptions contains the optional parameters for the QueryExecutionClient.BeginExecuteQuery
//     method.
func (client *QueryExecutionClient) BeginExecuteQuery(ctx context.Context, workspaceID string, dataflowID string, executeQueryRequest ExecuteQueryRequest, options *QueryExecutionClientBeginExecuteQueryOptions) (*runtime.Poller[QueryExecutionClientExecuteQueryResponse], error) {
	return client.beginExecuteQuery(ctx, workspaceID, dataflowID, executeQueryRequest, options)
}

// ExecuteQuery - > [!NOTE] This API is part of a Preview release and is provided for evaluation and development purposes
// only. It may change based on feedback and is not recommended for production use.
// Executes a specified query against a dataflow and streams the results in Apache Arrow format. Supports using custom mashup
// documents for advanced scenarios.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have execute permissions for the dataflow.
// REQUIRED DELEGATED SCOPES Dataflow.Execute.All or Item.Execute.All.
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *QueryExecutionClient) executeQuery(ctx context.Context, workspaceID string, dataflowID string, executeQueryRequest ExecuteQueryRequest, options *QueryExecutionClientBeginExecuteQueryOptions) (*http.Response, error) {
	var err error
	const operationName = "dataflow.QueryExecutionClient.BeginExecuteQuery"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.executeQueryCreateRequest(ctx, workspaceID, dataflowID, executeQueryRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// executeQueryCreateRequest creates the ExecuteQuery request.
func (client *QueryExecutionClient) executeQueryCreateRequest(ctx context.Context, workspaceID string, dataflowID string, executeQueryRequest ExecuteQueryRequest, _ *QueryExecutionClientBeginExecuteQueryOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/dataflows/{dataflowId}/executeQuery"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if dataflowID == "" {
		return nil, errors.New("parameter dataflowID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataflowId}", url.PathEscape(dataflowID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	runtime.SkipBodyDownload(req)
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, executeQueryRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// ExecuteQuery - returns QueryExecutionClientExecuteQueryResponse in sync mode.
// >  [!NOTE] This API is part of a Preview release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// Executes a specified query against a dataflow and streams the results in Apache Arrow format. Supports using custom mashup documents for advanced scenarios.
//
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have execute permissions for the dataflow.
//
// REQUIRED DELEGATED SCOPES Dataflow.Execute.All or Item.Execute.All.
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - dataflowID - The Dataflow ID.
//   - executeQueryRequest - Execute query request payload.
//   - options - QueryExecutionClientBeginExecuteQueryOptions contains the optional parameters for the QueryExecutionClient.BeginExecuteQuery method.
func (client *QueryExecutionClient) ExecuteQuery(ctx context.Context, workspaceID string, dataflowID string, executeQueryRequest ExecuteQueryRequest, options *QueryExecutionClientBeginExecuteQueryOptions) (QueryExecutionClientExecuteQueryResponse, error) {
	result, err := iruntime.NewLRO(client.BeginExecuteQuery(ctx, workspaceID, dataflowID, executeQueryRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return QueryExecutionClientExecuteQueryResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return QueryExecutionClientExecuteQueryResponse{}, err
	}
	return result, err
}

// beginExecuteQuery creates the executeQuery request.
func (client *QueryExecutionClient) beginExecuteQuery(ctx context.Context, workspaceID string, dataflowID string, executeQueryRequest ExecuteQueryRequest, options *QueryExecutionClientBeginExecuteQueryOptions) (*runtime.Poller[QueryExecutionClientExecuteQueryResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.executeQuery(ctx, workspaceID, dataflowID, executeQueryRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[QueryExecutionClientExecuteQueryResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[QueryExecutionClientExecuteQueryResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[QueryExecutionClientExecuteQueryResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[QueryExecutionClientExecuteQueryResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}
