// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package snowflakedatabase

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
	"github.com/microsoft/fabric-sdk-go/internal/pollers/locasync"
)

// ItemsClient contains the methods for the Items group.
// Don't use this type directly, use a constructor function instead.
type ItemsClient struct {
	internal *azcore.Client
	endpoint string
}

// BeginCreateSnowflakeDatabase - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createSnowflakeDatabaseRequest - Create item request payload.
//   - options - ItemsClientBeginCreateSnowflakeDatabaseOptions contains the optional parameters for the ItemsClient.BeginCreateSnowflakeDatabase
//     method.
func (client *ItemsClient) BeginCreateSnowflakeDatabase(ctx context.Context, workspaceID string, createSnowflakeDatabaseRequest CreateSnowflakeDatabaseRequest, options *ItemsClientBeginCreateSnowflakeDatabaseOptions) (*runtime.Poller[ItemsClientCreateSnowflakeDatabaseResponse], error) {
	return client.beginCreateSnowflakeDatabase(ctx, workspaceID, createSnowflakeDatabaseRequest, options)
}

// CreateSnowflakeDatabase - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have a contributor workspace role.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) createSnowflakeDatabase(ctx context.Context, workspaceID string, createSnowflakeDatabaseRequest CreateSnowflakeDatabaseRequest, options *ItemsClientBeginCreateSnowflakeDatabaseOptions) (*http.Response, error) {
	var err error
	const operationName = "snowflakedatabase.ItemsClient.BeginCreateSnowflakeDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createSnowflakeDatabaseCreateRequest(ctx, workspaceID, createSnowflakeDatabaseRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusCreated, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createSnowflakeDatabaseCreateRequest creates the CreateSnowflakeDatabase request.
func (client *ItemsClient) createSnowflakeDatabaseCreateRequest(ctx context.Context, workspaceID string, createSnowflakeDatabaseRequest CreateSnowflakeDatabaseRequest, _ *ItemsClientBeginCreateSnowflakeDatabaseOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/snowflakeDatabases"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createSnowflakeDatabaseRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// DeleteSnowflakeDatabase - PERMISSIONS The caller must have write permissions for the snowflake database.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - snowflakeDatabaseID - The Snowflake Database ID.
//   - options - ItemsClientDeleteSnowflakeDatabaseOptions contains the optional parameters for the ItemsClient.DeleteSnowflakeDatabase
//     method.
func (client *ItemsClient) DeleteSnowflakeDatabase(ctx context.Context, workspaceID string, snowflakeDatabaseID string, options *ItemsClientDeleteSnowflakeDatabaseOptions) (ItemsClientDeleteSnowflakeDatabaseResponse, error) {
	var err error
	const operationName = "snowflakedatabase.ItemsClient.DeleteSnowflakeDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteSnowflakeDatabaseCreateRequest(ctx, workspaceID, snowflakeDatabaseID, options)
	if err != nil {
		return ItemsClientDeleteSnowflakeDatabaseResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientDeleteSnowflakeDatabaseResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientDeleteSnowflakeDatabaseResponse{}, err
	}
	return ItemsClientDeleteSnowflakeDatabaseResponse{}, nil
}

// deleteSnowflakeDatabaseCreateRequest creates the DeleteSnowflakeDatabase request.
func (client *ItemsClient) deleteSnowflakeDatabaseCreateRequest(ctx context.Context, workspaceID string, snowflakeDatabaseID string, options *ItemsClientDeleteSnowflakeDatabaseOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/snowflakeDatabases/{snowflakeDatabaseId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if snowflakeDatabaseID == "" {
		return nil, errors.New("parameter snowflakeDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{snowflakeDatabaseId}", url.PathEscape(snowflakeDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.HardDelete != nil {
		reqQP.Set("hardDelete", strconv.FormatBool(*options.HardDelete))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// GetSnowflakeDatabase - PERMISSIONS The caller must have read permissions for the snowflake database.
// REQUIRED DELEGATED SCOPES Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - snowflakeDatabaseID - The Snowflake Database ID.
//   - options - ItemsClientGetSnowflakeDatabaseOptions contains the optional parameters for the ItemsClient.GetSnowflakeDatabase
//     method.
func (client *ItemsClient) GetSnowflakeDatabase(ctx context.Context, workspaceID string, snowflakeDatabaseID string, options *ItemsClientGetSnowflakeDatabaseOptions) (ItemsClientGetSnowflakeDatabaseResponse, error) {
	var err error
	const operationName = "snowflakedatabase.ItemsClient.GetSnowflakeDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSnowflakeDatabaseCreateRequest(ctx, workspaceID, snowflakeDatabaseID, options)
	if err != nil {
		return ItemsClientGetSnowflakeDatabaseResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientGetSnowflakeDatabaseResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientGetSnowflakeDatabaseResponse{}, err
	}
	resp, err := client.getSnowflakeDatabaseHandleResponse(httpResp)
	return resp, err
}

// getSnowflakeDatabaseCreateRequest creates the GetSnowflakeDatabase request.
func (client *ItemsClient) getSnowflakeDatabaseCreateRequest(ctx context.Context, workspaceID string, snowflakeDatabaseID string, _ *ItemsClientGetSnowflakeDatabaseOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/snowflakeDatabases/{snowflakeDatabaseId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if snowflakeDatabaseID == "" {
		return nil, errors.New("parameter snowflakeDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{snowflakeDatabaseId}", url.PathEscape(snowflakeDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSnowflakeDatabaseHandleResponse handles the GetSnowflakeDatabase response.
func (client *ItemsClient) getSnowflakeDatabaseHandleResponse(resp *http.Response) (ItemsClientGetSnowflakeDatabaseResponse, error) {
	result := ItemsClientGetSnowflakeDatabaseResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SnowflakeDatabase); err != nil {
		return ItemsClientGetSnowflakeDatabaseResponse{}, err
	}
	return result, nil
}

// BeginGetSnowflakeDatabaseDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have read and write permissions for the snowflake database.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - snowflakeDatabaseID - The Snowflake Database ID.
//   - options - ItemsClientBeginGetSnowflakeDatabaseDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetSnowflakeDatabaseDefinition
//     method.
func (client *ItemsClient) BeginGetSnowflakeDatabaseDefinition(ctx context.Context, workspaceID string, snowflakeDatabaseID string, options *ItemsClientBeginGetSnowflakeDatabaseDefinitionOptions) (*runtime.Poller[ItemsClientGetSnowflakeDatabaseDefinitionResponse], error) {
	return client.beginGetSnowflakeDatabaseDefinition(ctx, workspaceID, snowflakeDatabaseID, options)
}

// GetSnowflakeDatabaseDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have read and write permissions for the snowflake database.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) getSnowflakeDatabaseDefinition(ctx context.Context, workspaceID string, snowflakeDatabaseID string, options *ItemsClientBeginGetSnowflakeDatabaseDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "snowflakedatabase.ItemsClient.BeginGetSnowflakeDatabaseDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSnowflakeDatabaseDefinitionCreateRequest(ctx, workspaceID, snowflakeDatabaseID, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// getSnowflakeDatabaseDefinitionCreateRequest creates the GetSnowflakeDatabaseDefinition request.
func (client *ItemsClient) getSnowflakeDatabaseDefinitionCreateRequest(ctx context.Context, workspaceID string, snowflakeDatabaseID string, _ *ItemsClientBeginGetSnowflakeDatabaseDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/snowflakeDatabases/{snowflakeDatabaseId}/getDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if snowflakeDatabaseID == "" {
		return nil, errors.New("parameter snowflakeDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{snowflakeDatabaseId}", url.PathEscape(snowflakeDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListSnowflakeDatabasesPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have a viewer workspace role.
// REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListSnowflakeDatabasesOptions contains the optional parameters for the ItemsClient.NewListSnowflakeDatabasesPager
//     method.
func (client *ItemsClient) NewListSnowflakeDatabasesPager(workspaceID string, options *ItemsClientListSnowflakeDatabasesOptions) *runtime.Pager[ItemsClientListSnowflakeDatabasesResponse] {
	return runtime.NewPager(runtime.PagingHandler[ItemsClientListSnowflakeDatabasesResponse]{
		More: func(page ItemsClientListSnowflakeDatabasesResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *ItemsClientListSnowflakeDatabasesResponse) (ItemsClientListSnowflakeDatabasesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "snowflakedatabase.ItemsClient.NewListSnowflakeDatabasesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listSnowflakeDatabasesCreateRequest(ctx, workspaceID, options)
			}, nil)
			if err != nil {
				return ItemsClientListSnowflakeDatabasesResponse{}, err
			}
			return client.listSnowflakeDatabasesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listSnowflakeDatabasesCreateRequest creates the ListSnowflakeDatabases request.
func (client *ItemsClient) listSnowflakeDatabasesCreateRequest(ctx context.Context, workspaceID string, options *ItemsClientListSnowflakeDatabasesOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/snowflakeDatabases"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.Recursive != nil {
		reqQP.Set("recursive", strconv.FormatBool(*options.Recursive))
	}
	if options != nil && options.RootFolderID != nil {
		reqQP.Set("rootFolderId", *options.RootFolderID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listSnowflakeDatabasesHandleResponse handles the ListSnowflakeDatabases response.
func (client *ItemsClient) listSnowflakeDatabasesHandleResponse(resp *http.Response) (ItemsClientListSnowflakeDatabasesResponse, error) {
	result := ItemsClientListSnowflakeDatabasesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SnowflakeDatabases); err != nil {
		return ItemsClientListSnowflakeDatabasesResponse{}, err
	}
	return result, nil
}

// UpdateSnowflakeDatabase - PERMISSIONS The caller must have read and write permissions for the snowflake database.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - snowflakeDatabaseID - The Snowflake Database ID.
//   - updateSnowflakeDatabaseRequest - Update item payload.
//   - options - ItemsClientUpdateSnowflakeDatabaseOptions contains the optional parameters for the ItemsClient.UpdateSnowflakeDatabase
//     method.
func (client *ItemsClient) UpdateSnowflakeDatabase(ctx context.Context, workspaceID string, snowflakeDatabaseID string, updateSnowflakeDatabaseRequest UpdateSnowflakeDatabaseRequest, options *ItemsClientUpdateSnowflakeDatabaseOptions) (ItemsClientUpdateSnowflakeDatabaseResponse, error) {
	var err error
	const operationName = "snowflakedatabase.ItemsClient.UpdateSnowflakeDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateSnowflakeDatabaseCreateRequest(ctx, workspaceID, snowflakeDatabaseID, updateSnowflakeDatabaseRequest, options)
	if err != nil {
		return ItemsClientUpdateSnowflakeDatabaseResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ItemsClientUpdateSnowflakeDatabaseResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return ItemsClientUpdateSnowflakeDatabaseResponse{}, err
	}
	resp, err := client.updateSnowflakeDatabaseHandleResponse(httpResp)
	return resp, err
}

// updateSnowflakeDatabaseCreateRequest creates the UpdateSnowflakeDatabase request.
func (client *ItemsClient) updateSnowflakeDatabaseCreateRequest(ctx context.Context, workspaceID string, snowflakeDatabaseID string, updateSnowflakeDatabaseRequest UpdateSnowflakeDatabaseRequest, _ *ItemsClientUpdateSnowflakeDatabaseOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/snowflakeDatabases/{snowflakeDatabaseId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if snowflakeDatabaseID == "" {
		return nil, errors.New("parameter snowflakeDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{snowflakeDatabaseId}", url.PathEscape(snowflakeDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateSnowflakeDatabaseRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// updateSnowflakeDatabaseHandleResponse handles the UpdateSnowflakeDatabase response.
func (client *ItemsClient) updateSnowflakeDatabaseHandleResponse(resp *http.Response) (ItemsClientUpdateSnowflakeDatabaseResponse, error) {
	result := ItemsClientUpdateSnowflakeDatabaseResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SnowflakeDatabase); err != nil {
		return ItemsClientUpdateSnowflakeDatabaseResponse{}, err
	}
	return result, nil
}

// BeginUpdateSnowflakeDatabaseDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have read and write permissions for the snowflake database.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - snowflakeDatabaseID - The Snowflake Database ID.
//   - updateSnowflakeDatabaseDefinitionRequest - Update Snowflake Database definition request payload.
//   - options - ItemsClientBeginUpdateSnowflakeDatabaseDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateSnowflakeDatabaseDefinition
//     method.
func (client *ItemsClient) BeginUpdateSnowflakeDatabaseDefinition(ctx context.Context, workspaceID string, snowflakeDatabaseID string, updateSnowflakeDatabaseDefinitionRequest UpdateSnowflakeDatabaseDefinitionRequest, options *ItemsClientBeginUpdateSnowflakeDatabaseDefinitionOptions) (*runtime.Poller[ItemsClientUpdateSnowflakeDatabaseDefinitionResponse], error) {
	return client.beginUpdateSnowflakeDatabaseDefinition(ctx, workspaceID, snowflakeDatabaseID, updateSnowflakeDatabaseDefinitionRequest, options)
}

// UpdateSnowflakeDatabaseDefinition - This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
// PERMISSIONS The caller must have read and write permissions for the snowflake database.
// REQUIRED DELEGATED SCOPES Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
func (client *ItemsClient) updateSnowflakeDatabaseDefinition(ctx context.Context, workspaceID string, snowflakeDatabaseID string, updateSnowflakeDatabaseDefinitionRequest UpdateSnowflakeDatabaseDefinitionRequest, options *ItemsClientBeginUpdateSnowflakeDatabaseDefinitionOptions) (*http.Response, error) {
	var err error
	const operationName = "snowflakedatabase.ItemsClient.BeginUpdateSnowflakeDatabaseDefinition"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateSnowflakeDatabaseDefinitionCreateRequest(ctx, workspaceID, snowflakeDatabaseID, updateSnowflakeDatabaseDefinitionRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateSnowflakeDatabaseDefinitionCreateRequest creates the UpdateSnowflakeDatabaseDefinition request.
func (client *ItemsClient) updateSnowflakeDatabaseDefinitionCreateRequest(ctx context.Context, workspaceID string, snowflakeDatabaseID string, updateSnowflakeDatabaseDefinitionRequest UpdateSnowflakeDatabaseDefinitionRequest, _ *ItemsClientBeginUpdateSnowflakeDatabaseDefinitionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/snowflakeDatabases/{snowflakeDatabaseId}/updateDefinition"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if snowflakeDatabaseID == "" {
		return nil, errors.New("parameter snowflakeDatabaseID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{snowflakeDatabaseId}", url.PathEscape(snowflakeDatabaseID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateSnowflakeDatabaseDefinitionRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// Custom code starts below

// CreateSnowflakeDatabase - returns ItemsClientCreateSnowflakeDatabaseResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have a contributor workspace role.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - createSnowflakeDatabaseRequest - Create item request payload.
//   - options - ItemsClientBeginCreateSnowflakeDatabaseOptions contains the optional parameters for the ItemsClient.BeginCreateSnowflakeDatabase method.
func (client *ItemsClient) CreateSnowflakeDatabase(ctx context.Context, workspaceID string, createSnowflakeDatabaseRequest CreateSnowflakeDatabaseRequest, options *ItemsClientBeginCreateSnowflakeDatabaseOptions) (ItemsClientCreateSnowflakeDatabaseResponse, error) {
	result, err := iruntime.NewLRO(client.BeginCreateSnowflakeDatabase(ctx, workspaceID, createSnowflakeDatabaseRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientCreateSnowflakeDatabaseResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientCreateSnowflakeDatabaseResponse{}, err
	}
	return result, err
}

// beginCreateSnowflakeDatabase creates the createSnowflakeDatabase request.
func (client *ItemsClient) beginCreateSnowflakeDatabase(ctx context.Context, workspaceID string, createSnowflakeDatabaseRequest CreateSnowflakeDatabaseRequest, options *ItemsClientBeginCreateSnowflakeDatabaseOptions) (*runtime.Poller[ItemsClientCreateSnowflakeDatabaseResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createSnowflakeDatabase(ctx, workspaceID, createSnowflakeDatabaseRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientCreateSnowflakeDatabaseResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientCreateSnowflakeDatabaseResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientCreateSnowflakeDatabaseResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientCreateSnowflakeDatabaseResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// GetSnowflakeDatabaseDefinition - returns ItemsClientGetSnowflakeDatabaseDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have read and write permissions for the snowflake database.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - snowflakeDatabaseID - The Snowflake Database ID.
//   - options - ItemsClientBeginGetSnowflakeDatabaseDefinitionOptions contains the optional parameters for the ItemsClient.BeginGetSnowflakeDatabaseDefinition method.
func (client *ItemsClient) GetSnowflakeDatabaseDefinition(ctx context.Context, workspaceID string, snowflakeDatabaseID string, options *ItemsClientBeginGetSnowflakeDatabaseDefinitionOptions) (ItemsClientGetSnowflakeDatabaseDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginGetSnowflakeDatabaseDefinition(ctx, workspaceID, snowflakeDatabaseID, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientGetSnowflakeDatabaseDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientGetSnowflakeDatabaseDefinitionResponse{}, err
	}
	return result, err
}

// beginGetSnowflakeDatabaseDefinition creates the getSnowflakeDatabaseDefinition request.
func (client *ItemsClient) beginGetSnowflakeDatabaseDefinition(ctx context.Context, workspaceID string, snowflakeDatabaseID string, options *ItemsClientBeginGetSnowflakeDatabaseDefinitionOptions) (*runtime.Poller[ItemsClientGetSnowflakeDatabaseDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.getSnowflakeDatabaseDefinition(ctx, workspaceID, snowflakeDatabaseID, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientGetSnowflakeDatabaseDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientGetSnowflakeDatabaseDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientGetSnowflakeDatabaseDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientGetSnowflakeDatabaseDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// UpdateSnowflakeDatabaseDefinition - returns ItemsClientUpdateSnowflakeDatabaseDefinitionResponse in sync mode.
// This API supports long running operations (LRO) [/rest/api/fabric/articles/long-running-operation].
//
// PERMISSIONS The caller must have read and write permissions for the snowflake database.
//
// # REQUIRED DELEGATED SCOPES Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - snowflakeDatabaseID - The Snowflake Database ID.
//   - updateSnowflakeDatabaseDefinitionRequest - Update Snowflake Database definition request payload.
//   - options - ItemsClientBeginUpdateSnowflakeDatabaseDefinitionOptions contains the optional parameters for the ItemsClient.BeginUpdateSnowflakeDatabaseDefinition method.
func (client *ItemsClient) UpdateSnowflakeDatabaseDefinition(ctx context.Context, workspaceID string, snowflakeDatabaseID string, updateSnowflakeDatabaseDefinitionRequest UpdateSnowflakeDatabaseDefinitionRequest, options *ItemsClientBeginUpdateSnowflakeDatabaseDefinitionOptions) (ItemsClientUpdateSnowflakeDatabaseDefinitionResponse, error) {
	result, err := iruntime.NewLRO(client.BeginUpdateSnowflakeDatabaseDefinition(ctx, workspaceID, snowflakeDatabaseID, updateSnowflakeDatabaseDefinitionRequest, options)).Sync(ctx)
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return ItemsClientUpdateSnowflakeDatabaseDefinitionResponse{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return ItemsClientUpdateSnowflakeDatabaseDefinitionResponse{}, err
	}
	return result, err
}

// beginUpdateSnowflakeDatabaseDefinition creates the updateSnowflakeDatabaseDefinition request.
func (client *ItemsClient) beginUpdateSnowflakeDatabaseDefinition(ctx context.Context, workspaceID string, snowflakeDatabaseID string, updateSnowflakeDatabaseDefinitionRequest UpdateSnowflakeDatabaseDefinitionRequest, options *ItemsClientBeginUpdateSnowflakeDatabaseDefinitionOptions) (*runtime.Poller[ItemsClientUpdateSnowflakeDatabaseDefinitionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateSnowflakeDatabaseDefinition(ctx, workspaceID, snowflakeDatabaseID, updateSnowflakeDatabaseDefinitionRequest, options)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateSnowflakeDatabaseDefinitionResponse](client.internal.Pipeline(), resp, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ItemsClientUpdateSnowflakeDatabaseDefinitionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Handler:       handler,
			Tracer:        client.internal.Tracer(),
		})
	} else {
		handler, err := locasync.NewPollerHandler[ItemsClientUpdateSnowflakeDatabaseDefinitionResponse](client.internal.Pipeline(), nil, runtime.FinalStateViaAzureAsyncOp)
		if err != nil {
			var azcoreRespError *azcore.ResponseError
			if errors.As(err, &azcoreRespError) {
				return nil, core.NewResponseError(azcoreRespError.RawResponse)
			}
			return nil, err
		}
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ItemsClientUpdateSnowflakeDatabaseDefinitionResponse]{
			Handler: handler,
			Tracer:  client.internal.Tracer(),
		})
	}
}

// ListSnowflakeDatabases - returns array of SnowflakeDatabase from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have a viewer workspace role.
//
// # REQUIRED DELEGATED SCOPES Workspace.Read.All or Workspace.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - options - ItemsClientListSnowflakeDatabasesOptions contains the optional parameters for the ItemsClient.NewListSnowflakeDatabasesPager method.
func (client *ItemsClient) ListSnowflakeDatabases(ctx context.Context, workspaceID string, options *ItemsClientListSnowflakeDatabasesOptions) ([]SnowflakeDatabase, error) {
	pager := client.NewListSnowflakeDatabasesPager(workspaceID, options)
	mapper := func(resp ItemsClientListSnowflakeDatabasesResponse) []SnowflakeDatabase {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []SnowflakeDatabase{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []SnowflakeDatabase{}, err
	}
	return list, nil
}
