// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package notebook

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
)

// BackgroundJobsClient contains the methods for the BackgroundJobs group.
// Don't use this type directly, use a constructor function instead.
type BackgroundJobsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetNotebookJobInstanceBeta - > [!NOTE] This API is part of a Beta release and is provided for evaluation and development
// purposes only. It may change based on feedback and is not recommended for production use. When calling this
// API, callers must specify true as the value for the query parameter beta.
// REQUIRED DELEGATED SCOPES Notebook.Read.All or Notebook.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES
// This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - notebookID - The notebook ID.
//   - jobInstanceID - The job instance ID.
//   - beta - This required parameter must be set to true to access this API, which is currently in beta.
//   - options - BackgroundJobsClientGetNotebookJobInstanceBetaOptions contains the optional parameters for the BackgroundJobsClient.GetNotebookJobInstanceBeta
//     method.
func (client *BackgroundJobsClient) GetNotebookJobInstanceBeta(ctx context.Context, workspaceID string, notebookID string, jobInstanceID string, beta bool, options *BackgroundJobsClientGetNotebookJobInstanceBetaOptions) (BackgroundJobsClientGetNotebookJobInstanceBetaResponse, error) {
	var err error
	const operationName = "notebook.BackgroundJobsClient.GetNotebookJobInstanceBeta"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getNotebookJobInstanceBetaCreateRequest(ctx, workspaceID, notebookID, jobInstanceID, beta, options)
	if err != nil {
		return BackgroundJobsClientGetNotebookJobInstanceBetaResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackgroundJobsClientGetNotebookJobInstanceBetaResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return BackgroundJobsClientGetNotebookJobInstanceBetaResponse{}, err
	}
	resp, err := client.getNotebookJobInstanceBetaHandleResponse(httpResp)
	return resp, err
}

// getNotebookJobInstanceBetaCreateRequest creates the GetNotebookJobInstanceBeta request.
func (client *BackgroundJobsClient) getNotebookJobInstanceBetaCreateRequest(ctx context.Context, workspaceID string, notebookID string, jobInstanceID string, beta bool, _ *BackgroundJobsClientGetNotebookJobInstanceBetaOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/notebooks/{notebookId}/jobs/execute/instances/{jobInstanceId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if notebookID == "" {
		return nil, errors.New("parameter notebookID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{notebookId}", url.PathEscape(notebookID))
	if jobInstanceID == "" {
		return nil, errors.New("parameter jobInstanceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{jobInstanceId}", url.PathEscape(jobInstanceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getNotebookJobInstanceBetaHandleResponse handles the GetNotebookJobInstanceBeta response.
func (client *BackgroundJobsClient) getNotebookJobInstanceBetaHandleResponse(resp *http.Response) (BackgroundJobsClientGetNotebookJobInstanceBetaResponse, error) {
	result := BackgroundJobsClientGetNotebookJobInstanceBetaResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.JobInstance); err != nil {
		return BackgroundJobsClientGetNotebookJobInstanceBetaResponse{}, err
	}
	return result, nil
}

// RunOnDemandNotebook - > [!NOTE] This API is a release version of a beta version due to be deprecated on April 1, 2028.
// When calling this API - callers must set the query parameter beta to the value false.
// REQUIRED DELEGATED SCOPES Notebook.Execute.All or Item.Execute.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace ID.
//   - notebookID - The notebook item ID.
//   - beta - This parameter specifies which version of the API to use. Set to false to use the release version.
//   - options - BackgroundJobsClientRunOnDemandNotebookOptions contains the optional parameters for the BackgroundJobsClient.RunOnDemandNotebook
//     method.
func (client *BackgroundJobsClient) RunOnDemandNotebook(ctx context.Context, workspaceID string, notebookID string, beta bool, options *BackgroundJobsClientRunOnDemandNotebookOptions) (BackgroundJobsClientRunOnDemandNotebookResponse, error) {
	var err error
	const operationName = "notebook.BackgroundJobsClient.RunOnDemandNotebook"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.runOnDemandNotebookCreateRequest(ctx, workspaceID, notebookID, beta, options)
	if err != nil {
		return BackgroundJobsClientRunOnDemandNotebookResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackgroundJobsClientRunOnDemandNotebookResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted) {
		err = core.NewResponseError(httpResp)
		return BackgroundJobsClientRunOnDemandNotebookResponse{}, err
	}
	resp, err := client.runOnDemandNotebookHandleResponse(httpResp)
	return resp, err
}

// runOnDemandNotebookCreateRequest creates the RunOnDemandNotebook request.
func (client *BackgroundJobsClient) runOnDemandNotebookCreateRequest(ctx context.Context, workspaceID string, notebookID string, beta bool, options *BackgroundJobsClientRunOnDemandNotebookOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/notebooks/{notebookId}/jobs/execute/instances"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if notebookID == "" {
		return nil, errors.New("parameter notebookID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{notebookId}", url.PathEscape(notebookID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("beta", strconv.FormatBool(beta))
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.RunNotebookRequest != nil {
		if err := runtime.MarshalAsJSON(req, *options.RunNotebookRequest); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// runOnDemandNotebookHandleResponse handles the RunOnDemandNotebook response.
func (client *BackgroundJobsClient) runOnDemandNotebookHandleResponse(resp *http.Response) (BackgroundJobsClientRunOnDemandNotebookResponse, error) {
	result := BackgroundJobsClientRunOnDemandNotebookResponse{}
	if val := resp.Header.Get("Location"); val != "" {
		result.Location = &val
	}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return BackgroundJobsClientRunOnDemandNotebookResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	return result, nil
}

// Custom code starts below
