// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See LICENSE in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// SPDX-License-Identifier: MIT

package notebook

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strconv"
	"strings"
	"time"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"

	"github.com/microsoft/fabric-sdk-go/fabric/core"
	"github.com/microsoft/fabric-sdk-go/internal/iruntime"
)

// LivySessionsClient contains the methods for the LivySessions group.
// Don't use this type directly, use a constructor function instead.
type LivySessionsClient struct {
	internal *azcore.Client
	endpoint string
}

// GetLivySession - PERMISSIONS The caller must have read permissions for the notebook.
// REQUIRED DELEGATED SCOPES Notebook.Read.All or Notebook.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
// If the operation fails it returns an *core.ResponseError type.
//
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - notebookID - The notebook ID.
//   - livyID - The session identifier.
//   - options - LivySessionsClientGetLivySessionOptions contains the optional parameters for the LivySessionsClient.GetLivySession
//     method.
func (client *LivySessionsClient) GetLivySession(ctx context.Context, workspaceID string, notebookID string, livyID string, options *LivySessionsClientGetLivySessionOptions) (LivySessionsClientGetLivySessionResponse, error) {
	var err error
	const operationName = "notebook.LivySessionsClient.GetLivySession"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getLivySessionCreateRequest(ctx, workspaceID, notebookID, livyID, options)
	if err != nil {
		return LivySessionsClientGetLivySessionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return LivySessionsClientGetLivySessionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = core.NewResponseError(httpResp)
		return LivySessionsClientGetLivySessionResponse{}, err
	}
	resp, err := client.getLivySessionHandleResponse(httpResp)
	return resp, err
}

// getLivySessionCreateRequest creates the GetLivySession request.
func (client *LivySessionsClient) getLivySessionCreateRequest(ctx context.Context, workspaceID string, notebookID string, livyID string, _ *LivySessionsClientGetLivySessionOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/notebooks/{notebookId}/livySessions/{livyId}"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if notebookID == "" {
		return nil, errors.New("parameter notebookID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{notebookId}", url.PathEscape(notebookID))
	if livyID == "" {
		return nil, errors.New("parameter livyID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{livyId}", url.PathEscape(livyID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getLivySessionHandleResponse handles the GetLivySession response.
func (client *LivySessionsClient) getLivySessionHandleResponse(resp *http.Response) (LivySessionsClientGetLivySessionResponse, error) {
	result := LivySessionsClientGetLivySessionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.LivySession); err != nil {
		return LivySessionsClientGetLivySessionResponse{}, err
	}
	return result, nil
}

// NewListLivySessionsPager - This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the notebook.
// REQUIRED DELEGATED SCOPES Notebook.Read.All or Notebook.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - notebookID - The notebook ID.
//   - options - LivySessionsClientListLivySessionsOptions contains the optional parameters for the LivySessionsClient.NewListLivySessionsPager
//     method.
func (client *LivySessionsClient) NewListLivySessionsPager(workspaceID string, notebookID string, options *LivySessionsClientListLivySessionsOptions) *runtime.Pager[LivySessionsClientListLivySessionsResponse] {
	return runtime.NewPager(runtime.PagingHandler[LivySessionsClientListLivySessionsResponse]{
		More: func(page LivySessionsClientListLivySessionsResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *LivySessionsClientListLivySessionsResponse) (LivySessionsClientListLivySessionsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "notebook.LivySessionsClient.NewListLivySessionsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listLivySessionsCreateRequest(ctx, workspaceID, notebookID, options)
			}, nil)
			if err != nil {
				return LivySessionsClientListLivySessionsResponse{}, err
			}
			return client.listLivySessionsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listLivySessionsCreateRequest creates the ListLivySessions request.
func (client *LivySessionsClient) listLivySessionsCreateRequest(ctx context.Context, workspaceID string, notebookID string, options *LivySessionsClientListLivySessionsOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/notebooks/{notebookId}/livySessions"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if notebookID == "" {
		return nil, errors.New("parameter notebookID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{notebookId}", url.PathEscape(notebookID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listLivySessionsHandleResponse handles the ListLivySessions response.
func (client *LivySessionsClient) listLivySessionsHandleResponse(resp *http.Response) (LivySessionsClientListLivySessionsResponse, error) {
	result := LivySessionsClientListLivySessionsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.LivySessions); err != nil {
		return LivySessionsClientListLivySessionsResponse{}, err
	}
	return result, nil
}

// NewListLivySessionsPreviewPager - [!NOTE]
// > This API is part of a Preview release and is provided for evaluation and development purposes only. It may change based
// on feedback and is not recommended for production use.
// When calling this API, callers must specify true as the value for the query parameter preview.
// This API supports pagination [/rest/api/fabric/articles/pagination].
// PERMISSIONS The caller must have read permissions for the notebook.
// REQUIRED DELEGATED SCOPES Notebook.Read.All or Notebook.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support]
// listed in this section.
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object]
// and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
// INTERFACE
//
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - notebookID - The notebook ID.
//   - preview - This required parameter must be set to true to access this API, which is currently in preview.
//   - options - LivySessionsClientListLivySessionsPreviewOptions contains the optional parameters for the LivySessionsClient.NewListLivySessionsPreviewPager
//     method.
func (client *LivySessionsClient) NewListLivySessionsPreviewPager(workspaceID string, notebookID string, preview bool, options *LivySessionsClientListLivySessionsPreviewOptions) *runtime.Pager[LivySessionsClientListLivySessionsPreviewResponse] {
	return runtime.NewPager(runtime.PagingHandler[LivySessionsClientListLivySessionsPreviewResponse]{
		More: func(page LivySessionsClientListLivySessionsPreviewResponse) bool {
			return page.ContinuationURI != nil && len(*page.ContinuationURI) > 0
		},
		Fetcher: func(ctx context.Context, page *LivySessionsClientListLivySessionsPreviewResponse) (LivySessionsClientListLivySessionsPreviewResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "notebook.LivySessionsClient.NewListLivySessionsPreviewPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.ContinuationURI
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listLivySessionsPreviewCreateRequest(ctx, workspaceID, notebookID, preview, options)
			}, nil)
			if err != nil {
				return LivySessionsClientListLivySessionsPreviewResponse{}, err
			}
			return client.listLivySessionsPreviewHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listLivySessionsPreviewCreateRequest creates the ListLivySessionsPreview request.
func (client *LivySessionsClient) listLivySessionsPreviewCreateRequest(ctx context.Context, workspaceID string, notebookID string, preview bool, options *LivySessionsClientListLivySessionsPreviewOptions) (*policy.Request, error) {
	urlPath := "/v1/workspaces/{workspaceId}/notebooks/{notebookId}/livySessions"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	if notebookID == "" {
		return nil, errors.New("parameter notebookID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{notebookId}", url.PathEscape(notebookID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.EndDateTime != nil {
		reqQP.Set("endDateTime", options.EndDateTime.Format(time.RFC3339Nano))
	}
	reqQP.Set("preview", strconv.FormatBool(preview))
	if options != nil && options.State != nil {
		reqQP.Set("state", *options.State)
	}
	if options != nil && options.SubmittedDateTime != nil {
		reqQP.Set("submittedDateTime", options.SubmittedDateTime.Format(time.RFC3339Nano))
	}
	if options != nil && options.SubmitterID != nil {
		reqQP.Set("submitter.Id", *options.SubmitterID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listLivySessionsPreviewHandleResponse handles the ListLivySessionsPreview response.
func (client *LivySessionsClient) listLivySessionsPreviewHandleResponse(resp *http.Response) (LivySessionsClientListLivySessionsPreviewResponse, error) {
	result := LivySessionsClientListLivySessionsPreviewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.LivySessions); err != nil {
		return LivySessionsClientListLivySessionsPreviewResponse{}, err
	}
	return result, nil
}

// Custom code starts below

// ListLivySessions - returns array of LivySession from all pages.
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the notebook.
//
// # REQUIRED DELEGATED SCOPES Notebook.Read.All or Notebook.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - notebookID - The notebook ID.
//   - options - LivySessionsClientListLivySessionsOptions contains the optional parameters for the LivySessionsClient.NewListLivySessionsPager method.
func (client *LivySessionsClient) ListLivySessions(ctx context.Context, workspaceID string, notebookID string, options *LivySessionsClientListLivySessionsOptions) ([]LivySession, error) {
	pager := client.NewListLivySessionsPager(workspaceID, notebookID, options)
	mapper := func(resp LivySessionsClientListLivySessionsResponse) []LivySession {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []LivySession{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []LivySession{}, err
	}
	return list, nil
}

// ListLivySessionsPreview - returns array of LivySession from all pages.
// [!NOTE]
//
// >  This API is part of a Preview release and is provided for evaluation and development purposes only. It may change based on feedback and is not recommended for production use.
//
// When calling this API, callers must specify true as the value for the query parameter preview.
//
// This API supports pagination [/rest/api/fabric/articles/pagination].
//
// PERMISSIONS The caller must have read permissions for the notebook.
//
// # REQUIRED DELEGATED SCOPES Notebook.Read.All or Notebook.ReadWrite.All or Item.Read.All or Item.ReadWrite.All
//
// MICROSOFT ENTRA SUPPORTED IDENTITIES This API supports the Microsoft identities [/rest/api/fabric/articles/identity-support] listed in this section.
//
// | Identity | Support | |-|-| | User | Yes | | Service principal [/entra/identity-platform/app-objects-and-service-principals#service-principal-object] and Managed identities
// [/entra/identity/managed-identities-azure-resources/overview] | Yes |
//
// INTERFACE
// Generated from API version v1
//   - workspaceID - The workspace identifier.
//   - notebookID - The notebook ID.
//   - preview - This required parameter must be set to true to access this API, which is currently in preview.
//   - options - LivySessionsClientListLivySessionsPreviewOptions contains the optional parameters for the LivySessionsClient.NewListLivySessionsPreviewPager method.
func (client *LivySessionsClient) ListLivySessionsPreview(ctx context.Context, workspaceID string, notebookID string, preview bool, options *LivySessionsClientListLivySessionsPreviewOptions) ([]LivySession, error) {
	pager := client.NewListLivySessionsPreviewPager(workspaceID, notebookID, preview, options)
	mapper := func(resp LivySessionsClientListLivySessionsPreviewResponse) []LivySession {
		return resp.Value
	}
	list, err := iruntime.NewPageIterator(ctx, pager, mapper).Get()
	if err != nil {
		var azcoreRespError *azcore.ResponseError
		if errors.As(err, &azcoreRespError) {
			return []LivySession{}, core.NewResponseError(azcoreRespError.RawResponse)
		}
		return []LivySession{}, err
	}
	return list, nil
}
